<% provide(:head_title, t("devise.confirmations.new.head_title")) %>

<div class="center-block center-block-narrow">

  <h2><%=t "devise.confirmations.new.title" %></h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="form-group">
      <%= f.submit t("devise.confirmations.new.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>


<% if not resource.errors.empty? %>
<script>
(function () {
  var formErrors = {};

  <% resource.errors.each do |err, m| %>
  formErrors["<%= err %>"] = ("<%= m %>" == 'not found') ? ["Email not found"] : ["<%= m %>"];
  <% end %>

  $("form").render_form_errors("user", formErrors, false);
}());
</script>
<% end %>
