<div class="modal"
     id="new-office-file-modal"
     role="dialog"
     aria-labelledby="new-office-file-modal-label">
    <%= bootstrap_form_tag url: create_wopi_file_path(),
                          method: :post, remote: true do |f| %>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="new-office-file-modal-label">
              <%= t('assets.create_wopi_file.modal_title') %>
            </h4>
          </div>
          <div class="modal-body">
            <%# Will be filled by the create_file button %>
            <%= hidden_field_tag :element_id, '' %>
            <%= hidden_field_tag :element_type, '' %>

            <%= f.text_field :file_name,
                             label: t('assets.create_wopi_file.text_field_label'),
                             autofocus: true,
                             placeholder: t('assets.create_wopi_file.text_field_placeholder'),
                             id: 'new-wopi-file-name'%>

          <div class="btn-group btn-group-toggle btn-group-justified"
               data-toggle="buttons">
            <label class="btn btn-default active">
              <%= image_tag 'office/Excel-xlsx_20x20x32.png' %>
              <input type="radio" name="file_type" value='docx' checked> Active
            </label>
            <label class="btn btn-default">
              <input type="radio" name="file_type" value='xlsx'> Radio
            </label>
            <label class="btn btn-default">
              <input type="radio" name="file_type" value='pptx'> Radio
            </label>
          </div>

          <div class='form-group' id='other-wopi-errors'>
          </div>
          </div>
          <div class="modal-footer">
            <%= f.submit t('assets.create_wopi_file.create_document_button'),
                          class: 'btn btn-toggle' %>
          </div>
        </div>
      </div>
  <% end %>
</div>
