<div class="content-pane flexible my-module-content my-module-assigned-items with-grey-background" data-task-id="<%= @my_module.id %>">
  <%= render partial: 'my_modules/header' %>
  <%= render partial: 'my_modules/header_actions' %>

  <div id="assignedItems" data-e2e="e2e-CO-task-assignedItems">
      <assigned-items
        ref="assignedItems"
        avaialable-repositories-url="<%= my_module_repositories_dropdown_list_path(@my_module) %>"
        assigned-repositories-url="<%= my_module_repositories_list_path(@my_module) %>"
        my-module-id="<%= @my_module.id%>"
        :can-assign="<%= can_assign_my_module_repository_rows?(@my_module) %>"
      />
    </div>
</div>

<%= javascript_include_tag 'vue_my_module_assigned_items' %>
