(function() {
  'use strict';

  $(document).on(
    'focus',
    '[data-atwho-users-edit]',
    function() {
      if (_.isUndefined($(this).data('atwho'))) {
        $(this)
        .atwho({
          at: '@',
          callbacks: {
            remoteFilter: function(query, callback) {
              $.getJSON(
                '/organizations/1/atwho_users.json', // TODO
                {query: query},
                function(data) {
                  callback(data.users);
                }
              );
            },
            sorter: function(query, items, _searchKey) {
              // Sorting is already done on server-side
              return items;
            },
            tplEval: function(_tpl, map) {
              var res;
              try {
                res = '';
                res += '<li class="atwho-li atwho-li-user" ';
                res += 'data-id="' + map.id + '" ';
                res += 'data-full-name="' + map.full_name + '">';
                res += '<img src="' + map.img_url + '" class="avatar" />';
                res += '<span data-val="full-name">';
                res += map.full_name;
                res += '</span>';
                res += '<small>';
                res += '&nbsp;';
                res += '&#183;';
                res += '&nbsp;';
                res += '<span data-val="email">';
                res += map.email;
                res += '</span>';
                res += '</small>';
                res += '</li>';
              } catch (_error) {
                res = '';
              }
              return res;
            },
            highlighter: function(li, query) {
              if (!query) {
                return li;
              }

              var li2 = $(li);
              var re = new RegExp(query, 'gi');
              var prevVal =
                li2
                .find('[data-val=full-name]')
                .html();
              var newVal =
                prevVal
                .replace(re, '<strong>$&</strong>');
              li2.find('[data-val=full-name]').html(newVal);
              prevVal =
                li2
                .find('[data-val=email]')
                .html();
              newVal =
                prevVal
                .replace(re, '<strong>$&</strong>');
              li2.find('[data-val=email]').html(newVal);
              return li2[0].outerHTML;
            },
            beforeInsert: function(value, li) {
              var res = '';
              res += '[@' + li.attr('data-full-name');
              res += '~' + li.attr('data-id') + ']';
              return res;
            }
          },
          headerTpl:
            '<div class="atwho-header-user">' +
            '<div class="title"><%= I18n.t("atwho.users.title") %></div>' +
            '<div class="help">' +
            '<div>' +
            '<strong><%= I18n.t("atwho.users.navigate_1") %></strong> ' +
            '<%= I18n.t("atwho.users.navigate_2") %>' +
            '</div>' +
            '<div>' +
            '<strong><%= I18n.t("atwho.users.confirm_1") %></strong> ' +
            '<%= I18n.t("atwho.users.confirm_2") %>' +
            '</div>' +
            '<div>' +
            '<strong><%= I18n.t("atwho.users.dismiss_1") %></strong> ' +
            '<%= I18n.t("atwho.users.dismiss_2") %>' +
            '</div>' +
            '</div>' +
            '</div>',
          limit: <%= Constants::ATWHO_SEARCH_LIMIT %>,
          startsWithSpace: true,
          acceptSpaceBar: true
        });
      }
    });
})();
