<li data-id="<%= sample_type.id %>"
    data-delete="<%=
      team_sample_type_destroy_confirmation_path(team, sample_type)
    %>">
  <div class="row">
  <%= form_for [team, sample_type], html: { class: 'form-inline' }, remote: true do |f| %>
    <div class="col-xs-8">
      <div class="form-group">
        <%= f.text_field :name, value: sample_type.name , class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <button type="button"
              class="edit-confirm btn btn-primary"><%= t('general.save') %></button>
      <button type="button"
              class="abort btn btn-default"
              data-element="<%=
                team_sample_type_sample_type_element_path(team,
                                                          sample_type) %>">
            <%= t('general.cancel') %></button>
    </div>
  <% end %>
  </div>
</li>
