<%= form_with url: update_consumption_my_module_repository_path(@my_module, @repository, module_row_id: @module_repository_row), method: :post, remote: true do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('general.close') %>">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      <% if @module_repository_row.stock_consumption %>
        <%= t('my_modules.repository.stock_modal.title_edit', name: @repository_row.name)%>
      <% else %>
        <%= t('my_modules.repository.stock_modal.title', name: @repository_row.name)%>
      <% end %>
    </h4>
  </div>
  <div class="modal-body">
    <p><%= t('my_modules.repository.stock_modal.description') %></p>
    <div class="consumption-container">
      <div class="sci-input-container" data-error-text="<%= t('repository_stock_values.manage_modal.amount_error') %>">
        <%= f.label :stock_consumption, t('my_modules.repository.stock_modal.amount') %>
        <%= f.text_field :stock_consumption,
                         value: @module_repository_row.formated_stock_consumption,
                         tabindex: 1,
                         placeholder: t('my_modules.repository.stock_modal.consumed') ,
                         class: 'sci-input-field',
                         title: "stock consumption field for #{@repository_row.name}",
                         data: {initial_value: (@module_repository_row.stock_consumption || 0),
                                initial_stock: @stock_value.amount,
                                decimals: @stock_value.repository_cell.repository_column.metadata['decimals'] } %>
      </div>
      <span class="units"> <%= @stock_value.repository_stock_unit_item&.data %></span>
    </div>
    <div class="sci-input-container comments-container"  data-error-text="<%= t('repository_stock_values.manage_modal.comment_limit') %>">
      <%= f.label :comment, t('my_modules.repository.stock_modal.comment') %>
      <%= f.text_field :comment, placeholder: t('my_modules.repository.stock_modal.enter_comment'), tabindex: 1, class: 'sci-input-field', title: "consumption comment field for #{@repository_row.name}" %>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <div class="stock-update-view">
          <div class="stock-initial-container <%= 'negative' if @stock_value.amount < 0 %>">
            <span class="subtitle"><%= t('repository_stock_values.manage_modal.current_stock') %></span>
            <span class="value" title="current stock <%= 'negative' if @stock_value.amount < 0 %> value <%= @stock_value.formatted_value %>"><%= @stock_value.formatted_value %></span>
            <span class="units" title="current stock <%= 'negative' if @stock_value.amount < 0 %> unit <%= @stock_value.repository_stock_unit_item&.data %>"><%= @stock_value.repository_stock_unit_item&.data %></span>
          </div>
          <div class="stock-arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
          <div class="stock-final-container ">
            <span class="subtitle"><%= t('repository_stock_values.manage_modal.new_stock') %></span>
            <span class="value">-</span>
            <span class="units" title="final stock unit <%= @stock_value.repository_stock_unit_item&.data %>"><%= @stock_value.repository_stock_unit_item&.data %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            title="cancel stock consumption for <%= @repository_row.name %>"
            id="cancel"
            class="btn btn-default"
            tabindex="4"
            data-dismiss="modal"><%=t('general.cancel') %></button>
    <%= submit_tag t('general.save'), class: "btn btn-primary update-consumption-button", title: "save stock consumption for #{@repository_row.name}", disabled: @module_repository_row.stock_consumption.nil?, tabindex: 1 %>
  </div>
<% end %>
