<div class="repository-versions-header">
  <h4><%= t('my_modules.repository.snapshots.full_view.header') %>
    <a id="collapseVersionsSidebar" class="pull-right sidebar-collapse-button" href="#">
      <i class="fas fa-angle-double-right"></i>
    </a>
  </h4>
</div>
<div class="list-group repository-versions-list">
  <div class="list-group-item live-version-item" data-id="<%= @repository.id %>">
    <a id="selectLiveVersionButton" class="version-button" href="#" data-table-url="<%= full_view_table_my_module_repository_path(@my_module, @repository) %>">
      <h2 class="list-group-item-heading">
        <%= t('my_modules.repository.snapshots.full_view.live') %>
      </h2>
    </a>
    <p class="list-group-item-text">
      <%= t('my_modules.repository.snapshots.full_view.live_description') %>
    </p>
  </div>

  <div class="create-snapshot-item">
    <% if @repository_snapshots.blank? %>
      <p class="list-group-item-text">
        <%= t('my_modules.repository.snapshots.full_view.no_snapshots_label') %>
      </p>
    <% end %>

    <button id="createRepositorySnapshotButton" class="btn btn-default" data-action-path="<%= my_module_repository_snapshots_path(@my_module, @repository) %>">
      <i class="fas fa-camera"></i>
      <%= t('my_modules.repository.snapshots.full_view.create_button') %>
    </button>
  </div>

  <div class="repository-snapshots-container">
    <div class="snapshots-container-scrollbody">
      <%= render partial: 'my_modules/repositories/full_view_version', collection: @repository_snapshots, as: :repository_snapshot %>
    </div>
  </div>
</div>
