<table class="table"
       data-id="<%= @repository.id %>"
       data-type="live"
       data-source="<%= index_dt_my_module_repository_path(@my_module, @repository) %>"
       data-default-order="<%= @repository.default_table_order_as_js_array %>"
       data-default-table-columns="<%= @repository.default_table_columns %>"
       data-repository-name="<%= @repository.name %>"
       data-assigned-items-count="<%= @my_module.repository_rows_count(@repository) %>"
       data-load-state-url="<%= repository_load_table_state_path(@repository) %>"
       data-export-url="<%= export_repository_my_module_repository_path(@my_module ,@repository) %>"
       data-versions-sidebar-url="<%= full_view_sidebar_my_module_repository_snapshots_path(@my_module, @repository) %>"
       data-stock-management="<%= @repository.has_stock_management? %>"
       data-stock-consumption-column="<%= include_stock_consumption && @repository.has_stock_management? %>"
       data-stock-consumption-editable="<%= include_stock_consumption && can_update_my_module_stock_consumption?(@my_module) %>">
  <thead>
    <tr>
      <th id="checkbox">
        <div class="sci-checkbox-container">
          <input value="1" type="checkbox" title="assign from inventory checkbox selector" class="sci-checkbox select-all">
          <span class="sci-checkbox-label"></span>
        </div>
      </th>
      <th title="sort items by assigned" onclick="setTitle(this)" id="assigned"><%= t("repositories.table.assigned") %></th>
      <% if @repository.is_a?(LinkedRepository) %>
        <th id="row-external-id"><%= t('repositories.table.external_id') %></th>
      <% end %>
      <th id="row-id" onclick="setTitle(this)" title="sort items by row-id"><%= t("repositories.table.id") %></th>
      <th id="row-name" onclick="setTitle(this)" title="sort items by row-name"><%= t("repositories.table.row_name") %></th>
      <th id="added-on" onclick="setTitle(this)" title="sort items by added-on"><%= t("repositories.table.added_on") %></th>
      <th id="added-by" onclick="setTitle(this)" title="sort items by added-by"><%= t("repositories.table.added_by") %></th>
      <th id="archived-on" onclick="setTitle(this)" title="sort items by archived-on"><%= t("repositories.table.archived_on") %></th>
      <th id="archived-by" onclick="setTitle(this)" title="sort items by archived-by"><%= t("repositories.table.archived_by") %></th>
      <% @repository.repository_columns.order(:id).each do |column| %>
        <th
          class="repository-column <%= 'row-stock item-stock' if column.data_type == 'RepositoryStockValue' %>"
          id="<%= column.id %>"
          onclick="setTitle(this)"
          title="sort items by <%= column.name %>"
          data-type="<%= column.data_type %>"
          <% column.metadata.each do |k, v| %>
            <%= "data-metadata-#{k}=#{v}" %>
          <% end %>
        >
          <%= display_tooltip(column.name) %>
        </th>
      <% end %>
      <% if @repository.has_stock_management? && include_stock_consumption %>
        <th class="row-consumption" data-columns-visible="false"><%= t("repositories.table.row_consumption") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody></tbody>
</table>


<script>
  setTimeout(function() {
    const thElements = document.querySelectorAll('th');
    for (let i = 0; i < thElements.length; i++) {
      const th = thElements[i];
        if (th.title.includes(th.parentElement.parentElement.parentElement.parentElement.className) === false)
          th.title = th.title + " " + th.parentElement.parentElement.parentElement.parentElement.className;
    }
  }, 500)


  function setTitle(element) {
    if (element.title.includes(" sorted"))
      element.title = element.title.replace(" sorted", "")
    else
      element.title = element.title.concat(" sorted")
  }
</script>
