<% @repositories.each do |repository| %>
  <li class="repository"
      data-table-url="<%= full_view_table_my_module_repository_path(@my_module, repository) %>"
      data-assign-url-modal="<%= assign_modal_my_module_repository_path(@my_module, repository) %>"
      data-update-url-modal="<%= update_modal_my_module_repository_path(@my_module, repository)%>" data-repository-id="<%= repository.id %>"
      data-rows-count="<%= repository.rows_count %>" >
    <span class="!px-3 !py-2.5 rounded hover:!bg-sn-super-light-grey !text-sn-blue block cursor-pointer">
      <% if repository.shared_with?(current_team) %>
        <span class="shared-icon">
          <i class="sn-icon sn-icon sn-icon-users"></i>
        </span>
      <% end %>
      <span class="name" data-rows-count="<%= repository.rows_count %>"><%= repository.name %></span>
      <% if repository.rows_count.positive? %>
        <span class="assigned-items">
          <i class="fas fa-file-signature"></i>
          <%= repository.rows_count %>
        </span>
      <% end %>
    </span>
  </li>
<% end %>
