<% @assigned_repositories.each do |repository| %>
  <div class="assigned-repository panel">
    <a class="assigned-repository-caret collapsed"
       role="button"
       data-toggle="collapse"
       href="#assigned-repository-items-container-<%= repository.id %>"
       data-parent="#assigned-items-container"
    >
      <i class="fas fa-caret-right"></i>
      <span class="assigned-repository-title" data-rows-count="[<%= @my_module.repository_rows_count(repository) %>]">
        <%= repository.name %>
      </span>
      <div class="action-buttons">
        <i class="fas fa-expand full-screen"></i>
        <i class="fas fa-trash unassign-repository"></i>
      </div>
    </a>
    <div class="collapse assigned-repository-container"
         id="assigned-repository-items-container-<%= repository.id %>"
         data-repository-url="<%= my_module_my_module_repository_path(@my_module, repository) %>"
    >
    </div>
  </div>
<% end %>

<template id="my-module-repository-simple-template">
  <table class="table"
         data-default-table-columns="<%= default_table_columns %>"
  >
    <thead>
      <tr>
        <th class="never"></th>
        <th class="never"></th>
        <th class="never"></th>
        <th class="row-name"><%= t("repositories.table.row_name") %></th>
        <th class="never"></th>
        <th class="never"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</template>

<%= javascript_include_tag("my_modules/repositories") %>