<% @assigned_repositories.each do |repository| %>
  <div class="assigned-repository panel" data-repository-id="<%= repository.id %>">
    <a class="assigned-repository-caret collapsed"
       role="button"
       data-toggle="collapse"
       href="#assigned-repository-items-container-<%= repository.id %>"
       data-parent="#assigned-items-container"
    >
      <i class="sn-icon sn-icon-right"></i>
      <span class="assigned-repository-title" data-rows-count="<%= repository.assigned_rows_count %>">
        <%= repository.name %>
      </span>
      <% if repository.is_a?(RepositorySnapshot) %>
        <span class="snapshot-tag">
          <%= t('my_modules.repository.snapshots.simple_view.snapshot_tag') %>
        </span>
      <% end %>
      <div class="action-buttons">
        <button class="btn btn-light icon-btn full-screen" data-table-url="<%= assigned_repository_full_view_table_path(@my_module, repository) %><%= '?include_stock_consumption=true' if repository.has_stock_consumption? %>">
          <i class="sn-icon sn-icon-expand"></i>
        </button>
      </div>
    </a>
    <div class="collapse assigned-repository-container"
         id="assigned-repository-items-container-<%= repository.id %>"
         data-repository-url="<%= assigned_repository_simple_view_index_path(@my_module, repository) %>"
         data-footer-label="<%= assigned_repository_simple_view_footer_label(repository) %>"
         data-name-column-id="<%=  assigned_repository_simple_view_name_column_id(repository) %>"
    >
      <table class="table hidden repository-table repository-dataTable"
             data-stock-management="<%= repository.has_stock_management? && repository.has_stock_consumption? %>"
             data-stock-consumption-editable="<%= can_update_my_module_stock_consumption?(@my_module) && repository.has_stock_consumption? %>">
        <thead>
          <tr>
            <th class="row-name"><%= t("repositories.table.row_name") %></th>
            <% if repository.has_stock_management? && repository.has_stock_consumption? %>
              <th class="row-stock" data-columns-visible="false"><%= repository.repository_stock_column.name %></th>
              <th class="row-consumption" data-columns-visible="false"><%= t("repositories.table.row_consumption") %></th>
            <% end %>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <%= render 'shared/dialog',
               id: "snapshot-error-#{repository.id}",
               type: "error",
               shown: false,
               title: t("my_modules.modals.snapshot_error.title"),
               body:
                 t(
                   "my_modules.modals.snapshot_error.body_html",
                   repository: repository.name
                 )
    %>
  </div>
<% end %>
