<div class="modal fade" id="modal-create-sample-group" tabindex="-1" role="dialog" aria-labelledby="modal-create-sample-group-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t("samples.modal_add_new_sample_group.title_html", organization: @organization.name) %></h4>
      </div>
      <%= bootstrap_form_for SampleGroup.new, remote: true, url: organization_sample_groups_path(@organization) do |f| %>
      <div class="modal-body">
        <%= f.text_field :name, id: "name-input" %>
        <%= f.color_picker_btn_group :color, <%= Constants::TAG_COLORS %>, id: "color-input", class: "btn-group-sample-group-color", label: t("sample_groups.color_label")%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel")%></button>
        <input type="submit" class="btn btn-primary" value="<%= t("samples.modal_add_new_sample_group.create")%>"</input>
      </div>
      <% end %>
    </div>
  </div>
</div>
