<%= bootstrap_form_for @custom_field,
                       url: team_custom_field_path(@team,
                                                   @custom_field,
                                                   format: :json),
                       remote: :true,
                       method: :delete,
                       data: { role: "destroy-custom-field-form",
                               id: @custom_field.id } do |f| %>
  <%= f.hidden_field :column_index, value: column_index %>
  <p><%= t("samples.modal_delete_custom_field.message", cf: @custom_field.name) %></p>
  <div class="alert alert-danger" role="alert">
    <span class="fas fa-exclamation-circle"></span>
    &nbsp;
    <%= t("samples.modal_delete_custom_field.alert_heading") %>
    <ul>
      <li><%= t("samples.modal_delete_custom_field.alert_line_1", nr: @custom_field.sample_custom_fields.count) %></li>
      <li><%= t("samples.modal_delete_custom_field.alert_line_2") %></li>
    </ul>
  </div>
<% end %>
