<div class="modal fade" id="modal-import-samples" tabindex="-1" role="dialog" aria-labelledby="modal-import-samples-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('samples.modal_import.title') %></h4>
        <%= t("samples.modal_import.notice") %>
      </div>
      <%= bootstrap_form_tag url: parse_sheet_team_path(@team),
                             html: {'data-type' => 'json',
                                    id: 'form-samples-file'} do |f| %>
      <div class="modal-body">
          <%= f.file_field :file %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('general.cancel')%></button>
        <input type="submit" class="btn btn-primary" value="<%= t("samples.modal_import.upload") %>"</input>
      </div>
      <% end %>
    </div>
  </div>
</div>
