<% user= nil %>
<% step.comments.order(created_at: :asc).each do |comment| %>  
  <div class="comment-container" data-comment-id="<%= comment.id %>">
    <% unless user == comment.user%>
      <div class="comment-header">
        <%= image_tag avatar_path(comment.user, :icon_small), class: 'user-avatar' %>
        <div class="user-name">
          <%= comment.user.full_name %>
        </div>
      </div>
    <% end %>
    <div class="comment-body">
      <div class="comment-message">
        <%= custom_auto_link(comment.message, team: nil, simple_format: false) %>
      </div>
      <div class="comment-footer">
        <div class="comment-create-date">
          <%= I18n.l(comment.created_at, format: :full) %>
        </div>
      </div>
    </div>
  </div>
  <% user = comment.user %>
<% end %>
