<h5 class="designated-users-task-title"><%= t("experiments.canvas.popups.users_tab") %></h5>
<hr>
<ul class="no-style content-users">
  <% if @user_my_modules.size == 0 then %>
    <li><em><%= t "experiments.canvas.popups.no_users" %></em></li>
  <% else %>
    <% @user_my_modules.each_with_index do |user_my_module, i| %>
      <%  user = user_my_module.user %>
      <li>
        <% if i > 0 %><hr><% end %>
        <div class="row">
          <div class="col-xs-2">
            <span class='global-avatar-container'>
              <%= image_tag avatar_path(user, :icon_small), class: "img-circle pull-left" %>
            </span>
          </div>
          <div class="col-xs-10" style="line-height: 15px">
            <span><%= user.full_name %></span>
            <br>
            <span class="user-role">
              <small class="text-muted"><%= user_assignment_resource_role_name(user, user_my_module.my_module) %></small>
            </span>
          </div>
        </div>
      </li>
  <% end %>
</ul>
<% end %>
