<% user_my_modules = @my_module.user_my_modules %>
<% if can_manage_users_in_module?(@my_module) %>
  <a class="task-assigned-users manage-users-link"
     data-remote="true"
     href="<%= my_module_users_edit_path(@my_module, format: :json) %>"
     data-module-id="<%= @my_module.id %>"
     data-module-users-url="<%= my_module_user_my_modules_url(@my_module, format: :json) %>">
    <% user_my_modules.each do |user_my_module| %>
      <%  user = user_my_module.user %>
      <span class='global-avatar-container'>
        <%= image_tag avatar_path(user, :icon_small) %>
      </span>
    <% end %>
    <span class='global-avatar-container assign-new-user'>
      <i class="fas fa-plus"></i>
    </span>
  </a>
<% else %>
  <div class="task-assigned-users">
    <% user_my_modules.each do |user_my_module| %>
      <%  user = user_my_module.user %>
      <span class='global-avatar-container'>
        <%= image_tag avatar_path(user, :icon_small) %>
      </span>
    <% end %>
  </div>
<% end %>
