<% provide(:head_title, raw(t("user_my_modules.new.head_title", project: @my_module.project.name, module: @my_module.name))) %>
<h2><%=t "user_my_modules.new.title", module: @my_module.name %></h2>

<%= bootstrap_form_for [@my_module, @um] do |f| %>
  <% if @users.empty? then  %>
    <h4><%= t("user_my_modules.new.no_users_available") %></h4>
    <%= link_to t("user_my_modules.new.back_button"), :back %>
  <% else %>
    <%= collection_select(:user_my_module, :user_id, @users, :id, :full_name ) %>
    <br />
    <%= f.submit t("user_my_modules.new.assign_user"), style: "margin-top: 10px;" %>
  <% end %>
<% end %>
