<div class="modal fade" id="modal-create-custom-field" tabindex="-1" role="dialog" aria-labelledby="modal-create-custom-field-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"><%= t("samples.modal_add_custom_field.title_html", organization: @organization.name) %></h4>
			</div>
			<%= bootstrap_form_for CustomField.new, remote: true, url: organization_custom_fields_path(@organization), id: "new-custom-field" do |f| %>
			<div class="modal-body">
					<%= f.text_field :name, id: "name-input" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel")%></button>
				<input type="submit" class="btn btn-primary" value="<%= t("samples.modal_add_custom_field.create")%>"</input>
			</div>
			<% end %>
		</div>
	</div>
</div>
