<div
  class="assign-items-to-task-modal-container"
  data-assign-url="<%= my_module_repository_path(":module_id") %>"
  data-projects-url="<%= inventory_assigning_project_filter_projects_path %>"
  data-experiments-url="<%= inventory_assigning_experiment_filter_experiments_path %>"
  data-tasks-url="<%= inventory_assigning_my_module_filter_my_modules_path %>"
     >
  <assign-items-to-task-modal-container
    :visibility="visibility"
    :rows-to-assign="rowsToAssign"
    :urls="urls"
    @close="closeModal"
  />
</div>

<%= javascript_include_tag 'vue_repository_assign_items_to_task_modal' %>
