<div class="modal fade" id="modal-import-records" tabindex="-1" role="dialog" aria-labelledby="modal-import-records-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title"><%= t('repositories.modal_import.title') %></h4>

      </div>
      <div class="modal-description">
        <%= t("repositories.modal_import.notice") %>
      </div>
      <%= form_with url: parse_sheet_repository_path(repository),
                             html: {'data-type' => 'json',
                                    id: 'form-records-file'} do |f| %>
        <%= f.hidden_field :team_id, value: current_team.id %>
      <div class="modal-body">
          <%= f.file_field :file %>
          <div class="inline-alert alert-info" role="alert">
            <span class="sn-icon sn-icon-info alert-icon"></span>
            <span><%= t('repositories.modal_import.limit_description_html') %></span>
          </div>
          <div id="parse-sheet-loader" class="sci-loader mt-4 hidden"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-button" data-dismiss="modal"><%= t('general.cancel')%></button>
        <input type="submit" class="btn btn-success" value="<%= t("repositories.modal_import.upload") %>">
      </div>
      <% end %>
    </div>
  </div>
</div>
