<div id="repository-toolbar">
  <div class="dropdown text-right">
    <div class="btn btn-default btn-xs"
         type="button"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="true"
         <%= "disabled='disabled'" if !can_edit_and_destroy_repository @repository %>>
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </div>
    <% if can_edit_and_destroy_repository @repository %>
      <ul class="dropdown-menu pull-right">
        <li class="dropdown-header">
          <%= t("repositories.index.options_dropdown.header") %>
        </li>
        <li>
          <%= link_to t('repositories.index.options_dropdown.rename'),
                      team_repository_rename_modal_path(repository_id: @repository),
                      class: "rename-repo-option",
                      remote: true %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to t('repositories.index.modal_delete.delete'),
                      team_repository_destroy_modal_path(repository_id: @repository),
                      class: "delete-repo-option",
                      remote: true %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<%= render partial: 'repositories/repository.html.erb', locals: { repository: @repository } %>