<%= render partial: "repositories/delete_record_modal.html.erb" %>
<%= render partial: "repositories/delete_column_modal.html.erb" %>
<%= render partial: 'repositories/export_repository_modal.html.erb',
           locals: { repository: repository } %>

<div id="alert-container"></div>

<div id="repository-toolbar">

  <% if can_create_repository_rows?(repository.team) %>
    <button type="button" class="btn btn-default editAdd" id="addRepositoryRecord" onclick="onClickAddRecord()">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs"><%= t("repositories.add_new_record") %></span>
    </button>
    <button type="button" class="btn btn-default" id="importRecordsButton">
      <span class="glyphicon glyphicon-cloud-upload"></span>
      <span class="hidden-xs"><%= t('repositories.import_records.import') %></span>
    </button>
  <% end %>

  <% if can_read_team?(repository.team) %>
    <a href="#" class="btn btn-default" id="exportRepositoriesButton" data-turbolinks="false">
      <span class="glyphicon glyphicon-cloud-download"></span>
      <span class="hidden-xs"><%= t("my_modules.repository.export") %></span>
    </a>
  <% end %>

  <div class="repository-cog">
    <div class="dropdown">
      <div class="btn btn-default"
           type="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="true"
           <%= "disabled='disabled'" unless can_manage_repository?(repository) || can_create_repositories?(repository.team) %>>
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
      </div>
      <% if can_manage_repository?(repository) || can_create_repositories?(repository.team) %>
        <ul class="dropdown-menu pull-right">
          <li class="dropdown-header">
            <%= t("repositories.index.options_dropdown.header") %>
          </li>
          <% if can_manage_repository?(repository) %>
            <li>
              <%= link_to t('repositories.index.options_dropdown.rename'),
                          team_repository_rename_modal_path(repository_id: repository),
                          class: "rename-repo-option",
                          remote: true %>
            </li>
            <li>
              <%= link_to t('repositories.index.options_dropdown.manage_columns'),
                          repository_repository_columns_path(repository) %>
            </li>
          <% end %>
          <% if can_create_repositories?(repository.team) %>
            <li>
              <%= link_to t('repositories.index.options_dropdown.copy'),
                          team_repository_copy_modal_path(repository_id: repository),
                          class: "copy-repo-option",
                          remote: true %>
            </li>
          <% end %>
          <% if can_manage_repository?(repository) %>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to t('repositories.index.modal_delete.delete'),
                          team_repository_destroy_modal_path(repository_id: repository),
                          class: "delete-repo-option",
                          remote: true %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div id="datatables-buttons" style="display: inline;">
    <%= render partial: "columns_reorder_dropdown", formats: :html %>
  </div>
</div>

<div class="btn-group inline" id="saveCancel" data-toggle="buttons" style="display:none">
  <button type="button" class="btn btn-primary" id="saveRecord" onclick="onClickSave()">
    <span class="glyphicon glyphicon-save"></span>
    <%= t("repositories.save_record") %>
  </button>
  <button type="button" class="btn btn-default" id="cancelSave" onclick="onClickCancel()">
    <span class="glyphicon glyphicon-remove visible-xs-inline"></span>
    <span class="hidden-xs"><%= t("repositories.cancel_save") %></span>
  </button>
</div>

<!-- These buttons are appended to table in javascript, after table initialization -->
<div class="toolbarButtons" style="display:none">
  <button type="button" class="btn btn-default editAdd" id="editRepositoryRecord" onclick="onClickEdit()" disabled>
    <span class="glyphicon glyphicon-pencil"></span>
    <span class="hidden-xs-custom"><%= t("repositories.edit_record") %></span>
  </button>

  <% if can_manage_repository_rows?(repository.team) %>
    <button type="button" class="btn btn-default"
      id="deleteRepositoryRecordsButton" data-target="#deleteRepositoryRecord" data-toggle="modal" disabled>
      <span class="glyphicon glyphicon-trash"></span>
      <span class="hidden-xs-custom"><%= t'repositories.delete_record' %></span>
        <%= submit_tag I18n.t('repositories.delete_record'), :class => "hidden
        delete_repository_records_submit" %>
    </button>
  <% end %>
</div>

<%= render partial: "repositories/repository_table.html.erb",
           locals: {
             repository: repository,
             repository_index_link: repository_table_index_path(repository)
           }
%>
<%= render partial: 'repositories/import_repository_records_modal.html.erb',
                    locals: { repository: repository } %>
<%= javascript_include_tag 'repositories/edit', 'data-turbolinks-track' => true %>
