<ul class="sidebar-branch">
  <% repositories.each do |repository| %>
    <li class="sidebar-leaf" title="<%= repository.name %>">
      <%= link_to repository_path(repository),
          class: "sidebar-link repository-link #{ 'selected' if current_page?(repository_path(repository)) }",
          data: {type: 'repository', id: repository.id } do %>
        <% if repository.archived? %>
          <span><%= t('labels.archived')%></span>&nbsp;
        <% end %>
        <%= repository.name  %>
        <%= inventory_shared_status_icon(repository, current_team) %>
      <% end %>
    </li>
  <% end %>
</ul>
