 <%= content_for :sidebar do %>
  <div id="slide-panel" class="visible">
    <div id="repo-tree" class="tree">
      <ul>
        <% repositories.each do |repository| %>
          <li class="<%= 'active parent_li' if current_page?(repository_path(repository)) %>" >
            <span class="tree-link line-wrap no-indent">
              <% if current_page?(repository_path(repository)) %>
                <span title="<%= repository.name %>"><%= repository.name %></span>
              <% else %>
                <%= link_to repository.name,
                            repository_path(repository),
                            data: { 'no-turbolink' => 'true' } %>
              <% end %>

              <% if repository.shared_with?(current_team) %>
                <% if repository.team_repositories.where(team: current_team).take[:permission_level] == 'write' %>
                  <%= draw_custom_icon('shared-edit') %>
                <% elsif repository.team_repositories.where(team: current_team).take[:permission_level] == 'read' %>
                  <%= draw_custom_icon('shared-read') %>
                <% end %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<script>
  $('#wrapper').show();
</script>
