<template id="repositoryToolbar">
  <!-- LEFT TOOLBAR BLOCK -->
  <div class="toolbar-left-block">
    <% if @repository.active? %>
      <% if @repository.repository_snapshots.provisioning.any? %>
        <div class='repository-provisioning-notice auto-shrink-button'>
          <i class="fas fa-info-circle"></i>
          <span class="button-text"><%= t('repositories.index.snapshot_provisioning_in_progress') %></span>
        </div>
      <% end %>
      <% if can_create_repository_rows?(@repository) %>
        <button type="button" title="<%= t('repositories.show.button_tooltip.new') %>"
                class="btn btn-primary editAdd auto-shrink-button"
                id="addRepositoryRecord" data-view-mode="active">
          <span class="fas fa-plus"></span>
          <span class="button-text"><%= t("repositories.add_new_record") %></span>
        </button>
        <button type="button" title="<%= t('repositories.show.button_tooltip.import') %>"
                class="btn btn-light editImport auto-shrink-button"
                id="importRecordsButton" data-view-mode="active">
          <span class="fas fa-upload"></span>
          <span class="button-text"><%= t('repositories.index.options_dropdown.import_items') %></span>
        </button>
      <% end %>
      <%= render partial: 'repositories/toolbar/row_actions' %>
      <% if @repository.repository_rows.with_active_reminders(current_user).any? %>
        <button type="button" title="<%= t("repositories.hide_reminders") %>"
                class="btn btn-light auto-shrink-button"
                id="hideRepositoryReminders"
                data-view-mode="active"
                data-hide-reminders-url="<%= team_repository_hide_reminders_url(@current_team, @repository) %>">
          <span class="fas fa-bell-slash"></span>
          <span class="button-text"><%= t("repositories.hide_reminders") %></span>
        </button>
      <% end %>
    <% end %>
    <div class="archived-label" data-view-mode="archived">
      <%= render partial: 'repositories/toolbar/archive_label' %>
    </div>
    <% if can_manage_repository_filters?(@repository) %>
    <div class="toolbar-save-filters">
      <%= render partial: 'repositories/toolbar/save_filters' %>
    </div>
  <% end %>
  </div>

  <!-- RIGHT TOOLBAR BLOCK -->
  <div class="toolbar-right-block">
    <div class="toolbar-filters"></div>
    <% if @repository.is_a?(BmtRepository) %>
      <div class="toolbar-bmt-filters">
        <%= render partial: 'repositories/toolbar/bmt' %>
      </div>
    <% end %>
    <div class="toolbar-search"></div>
  </div>
</template>
