<template id="repositoryToolbar">
  <div class="repository-edit-overlay repository-edit-overlay--toolbar">
    <%= t('repositories.toolbar_edit_overlay_html') %>
  </div>
  <!-- LEFT TOOLBAR BLOCK -->
  <div class="toolbar-left-block">
    <% if @repository.active? %>
      <% if @repository.repository_snapshots.provisioning.any? %>
        <div class='repository-provisioning-notice auto-shrink-button'>
          <i class="fas fa-info-circle"></i>
          <span class="button-text"><%= t('repositories.index.snapshot_provisioning_in_progress') %></span>
        </div>
      <% end %>
      <% if can_create_repository_rows?(@repository) %>
        <button type="button" data-toggle="tooltip" data-placement="bottom" title="<%= t('repositories.show.button_tooltip.new') %>"
                class="btn btn-primary editAdd auto-shrink-button"
                id="addRepositoryRecord" data-view-mode="active">
          <span class="fas fa-plus"></span>
          <span class="button-text"><%= t("repositories.add_new_record") %></span>
        </button>
        <button type="button" data-toggle="tooltip" data-placement="bottom" title="<%= t('repositories.show.button_tooltip.import') %>"
                class="btn btn-light editImport auto-shrink-button"
                id="importRecordsButton" data-view-mode="active">
          <span class="fas fa-upload"></span>
          <span class="button-text"><%= t('repositories.index.options_dropdown.import_items') %></span>
        </button>
      <% end %>

      <span id="saveCancel" data-toggle="buttons" style="display:none">
        <button type="button" class="btn btn-success prevent-shrink" id="saveRecord" data-view-mode="active">
          <span class="fas fa-save"></span>
          <%= t("repositories.save_record") %>
        </button>
        <button type="button" class="btn btn-light prevent-shrink" id="cancelSave" data-view-mode="active">
          <span class="fas fa-times-circle"></span>
          <%= t("repositories.cancel_save") %>
        </button>
      </span>
    <% end %>
  </div>

  <div class="toolbar-middle-block">
    <% unless @repository.is_a?(BmtRepository) %>
      <%= render partial: 'shared/state_view_switch', locals: {
          disabled: @repository.archived?,
          switchable: true,
          archived: params[:archived] || @repository.archived?,
          active_url: repository_path(@repository),
          archived_url: repository_path(@repository, archived: true),
        } %>
    <% end %>
  </div>

  <!-- RIGHT TOOLBAR BLOCK -->
  <div class="toolbar-right-block">
    <div class="toolbar-search"></div>
    <% if RepositoryBase.stock_management_enabled? %>
      <div class="active-reminders-filter"
          title="<%= t('repositories.index.active_reminders.description') %>"
          data-checked-title="<%= t('repositories.index.active_reminders.checked_description')  =%>"
          data-unchecked-title="<%= t('repositories.index.active_reminders.description')  =%>"
      >
        <div class="sci-checkbox-container">
          <input id="only_reminders" type="checkbox" class="sci-checkbox" value="1">
          <span class="sci-checkbox-label"></span>
        </div>
        <span data-click-target="#only_reminders">
          <span class="active-reminders-label"><%= t('repositories.index.active_reminders.label') %></span>
          <span class="active-reminders-short-label"><%= t('repositories.index.active_reminders.short_label') %></span>
        </span>
      </div>
    <% end %>
    <div class="toolbar-filters"></div>
    <% if @repository.is_a?(BmtRepository) %>
      <div class="toolbar-bmt-filters">
        <%= render partial: 'repositories/toolbar/bmt' %>
      </div>
    <% end %>
    <div class="repo-datatables-buttons">
      <button class="btn btn-light manage-repo-column-index"
              data-modal-url="<%= repository_repository_columns_path(@repository) %>"
              data-action="new">
        <span class="fas fa-columns">
      </button>
    </div>
  </div>
</template>
