<div class="content-pane flexible <%= params[:archived] ? :archived : :active %> repositories-index"
      data-readonly="<%= !can_manage_team?(current_team) %>">
  <div class="content-header">
    <div class="title-row">
      <h1 data-view-mode="active"><%= t('libraries.index.head_title') %></h1>
      <h1 data-view-mode="archived"><i class="fas fa-archive"></i>&nbsp;<%= t('libraries.index.head_title_archived') %></h1>
      <%= render layout: "shared/view_switch", locals: { disabled: false, name: params[:archived] ? t('toolbar.archived_state') : t('toolbar.active_state') } do %>
        <li class="view-switch-active">
          <%= t('toolbar.active_state') %>
        </li>
        <li class="view-switch-archived">
          <%= t('toolbar.archived_state') %>
        </li>
      <% end %>
    </div>
  </div>
  <div class="content-body">
  </div>
</div>
