<% if @repositories.unscope(where: :archived).present? %>
    <%= render template: "repositories/index.html.erb" %>
<% else %>
  <% provide(:head_title, t('libraries.index.head_title')) %>
  <% provide(:container_class, 'no-second-nav-container') %>

  <% provide(:sidebar_url, sidebar_repositories_path) %>
  <% provide(:sidebar_title, t('sidebar.repositories.sidebar_title')) %>
  <%= content_for :sidebar do %>
    <div class="empty-sidebar-container">
      <ul class="repo-template">
        <li><%= t('repositories.index.sidebar_repo1') %></li>
        <li><%= t('repositories.index.sidebar_repo2') %><%= draw_custom_icon('i-shared') %></li>
        <li><%= t('repositories.index.sidebar_repo3') %></li>
      </ul>
      <div class="instructions">
        <%= t('repositories.index.sidebar_instructions') %>
      </div>
    </div>
  <% end %>

  <%= render "view_archived_btn" %>

  <div class="content-pane flexible empty-repositories" data-readonly="<%= !can_manage_team?(current_team) %>">
    <div class="content-body">
      <%= image_tag('/images/empty_inventory_state.png', class: 'empty-inventory-img') %>
      <h1>
        <%= t('repositories.index.empty_title') %>
      </h1>
      <% if can_create_repositories?(current_team) %>
        <div class="description"><%= t('repositories.index.empty_description_with_create') %></div>
        <a id="createRepoBtn" class="btn btn-primary create-new-repository" data-remote="true" href="<%= create_modal_team_repositories_path(current_team) %>">
          <span class="fas fa-plus"></span>
          <span class="hidden-xs"><%= t('libraries.index.no_libraries.create_new_button') %></span>
        </a>
      <% else %>
        <div class="description"><%= t('repositories.index.empty_description_no_create') %></div>
      <% end %>
    </div>
  </div>

  <%= javascript_include_tag 'repositories/index' %>
<% end %>
