<% provide(:head_title, t("libraries.index.head_title")) %>

<% if current_team %>
  <%= render partial: "sidebar", locals: { repositories: @repositories } %>
  <%
    # show only if no repositories present. If the team will have them we will
    # handle this in left side navigation bar
  %>
  <div class="jumbotron text-center" style="margin-top:25%">
    <strong><%=t 'libraries.index.no_libraries.text' %></strong>
    <h2><strong><%=t 'libraries.index.no_libraries.title' %><strong></h2>
    <br />
    <%= link_to t('libraries.index.no_libraries.create_new_button'),
                create_modal_team_repositories_path(current_team),
                class: "btn btn-info btn-lg",
                id: "create-new-repository",
                remote: true %>
  </div>
<% else %>
  <!-- If member of no teams -->
  <div class="jumbotron">
    <h2><%=t 'repositories.index.no_teams.title' %></h2>
    <p><%=t 'repositories.index.no_teams.text' %></p>
  </div>
<% end %>

<%= javascript_include_tag "repositories/index", "data-turbolinks-track" => true %>
