<% provide(:head_title, t("libraries.index.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<% if current_team %>
  <% provide(:sidebar_url, sidebar_repositories_path) %>
  <% provide(:sidebar_title, t('sidebar.repositories.sidebar_title')) %>
  <%= content_for :sidebar do %>
   <%= render partial: "sidebar", locals: { repositories: @repositories, archived: params[:archived] } %>
  <% end %>
  <%= render "view_archived_btn" %>
<% end %>

<!-- table template -->
<template id="RepositoriesListTable">
  <table id="repositoriesList" class="table"
         data-source="<%= team_repositories_path(current_team, format: :json) %>">
    <thead>
      <tr>
        <th>
          <div class="sci-checkbox-container">
            <input value="1" type="checkbox" class="sci-checkbox select-all-checkbox">
            <span class="sci-checkbox-label"></span>
          </div>
        </th>
        <th><%= t('libraries.index.table.name') %></th>
        <th><%= t('libraries.index.table.number_of_items') %></th>
        <th><%= t('libraries.index.table.shared') %></th>
        <th><%= t('libraries.index.table.ownership') %></th>
        <th><%= t('libraries.index.table.added_on') %></th>
        <th><%= t('libraries.index.table.added_by') %></th>
        <th><%= t('libraries.index.table.archived_on') %></th>
        <th><%= t('libraries.index.table.archived_by') %></th>
      </tr>
    </thead>
  </table>
</template>

<!-- Repositories action buttons -->
<template id="repositoriesListButtons">
<% if can_create_repositories?(current_team) %>
  <a id="createRepoBtn" class="btn btn-primary"
    data-remote="true"
    data-view-mode="active"
    href="<%= create_modal_team_repositories_path(current_team) %>">
    <span class="fas fa-plus"></span>
    <span class="hidden-xs"><%= t('libraries.index.no_libraries.create_new_button') %></span>
  </a>
<% end %>

<div class="content-header repo-view-switch">
  <%= render layout: "shared/view_switch", locals: { disabled: false, name: params[:archived] ? t('toolbar.archived_state') : t('toolbar.active_state') } do %>
    <li class="view-switch-active">
      <%= t('toolbar.active_state') %>
    </li>
    <li class="view-switch-archived">
      <%= t('toolbar.archived_state') %>
    </li>
  <% end %>
</div>

  <!--
  <a id="renameRepoBtn" class="btn btn-light disabled hidden" data-view-mode="active" href="#" data-action-mode="single" data-remote="true">
    <span class="fas fa-pencil-alt"></span>
    <%= t('libraries.index.buttons.edit') %>
  </a>
  <% if can_create_repositories?(current_team) %>
    <a id="copyRepoBtn" class="btn btn-light disabled hidden" data-view-mode="active" href="#" data-action-mode="single" data-remote="true">
      <span class="fas fa-copy"></span>
      <%= t('libraries.index.buttons.duplicate') %>
    </a>
  <% end %>
  <a id="archiveRepoBtn"
     class="btn btn-light disabled hidden"
     data-view-mode="active"
     data-action-mode="multiple"
     data-archive-repositories="<%= archive_team_repositories_path(current_team) %>">
    <span class="fas fa-archive"></span>
    <%= t('libraries.index.buttons.archive') %>
  </a>
  <a id="restoreRepoBtn"
     class="btn btn-light disabled hidden"
     data-view-mode="archived"
     data-action-mode="multiple"
     data-restore-repositories="<%= restore_team_repositories_path(current_team) %>">
    <span class="fas fa-undo"></span>
    <%= t('libraries.index.buttons.restore') %>
  </a>
  <a id="deleteRepoBtn" class="btn btn-light disabled hidden" data-view-mode="archived" href="#" data-action-mode="single" data-remote="true">
    <span class="fas fa-trash"></span>
    <%= t('libraries.index.buttons.delete') %>
  </a>
  -->
</template>

<%= javascript_include_tag "repositories/index" %>
<%= stylesheet_link_tag 'datatables' %>
