<% provide(:head_title, t("libraries.index.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<% if current_team %>
  <%= render partial: "sidebar", locals: { repositories: @repositories } %>
  <div class="content-pane flexible">
    <div class="content-header">
      <h1>Inventories</h1>
    </div>
    <div class="content-body">
    </div>
    <template id="activeRepositoriesListTable">
      <table id="repositoriesList" class="table"
             data-source="<%= team_repositories_path(current_team, format: :json) %>"
      >
        <thead>
          <tr>
            <th>
              <div class="sci-checkbox-container">
                <input value="1" type="checkbox" class="sci-checkbox">
                <span class="sci-checkbox-label"></span>
              </div>
            </th>
            <th>Name</th>
            <th>No. of items</th>
            <th>Shared</th>
            <th>Ownership</th>
            <th>Added on</th>
            <th>Added by</th>
          </tr>
        </thead>
      </table>
    </template>
    <template id="activeRepositoriesListButtons">
      <% if can_create_repositories?(current_team) %>
        <a class="btn btn-primary btn-lg create-new-repository"
               data-remote="true"
               href="<%= create_modal_team_repositories_path(current_team) %>">
          <span class="fas fa-plus"></span>
          <span class="hidden-xs"><%= t('libraries.index.no_libraries.create_new_button') %></span>
        </a>
      <% end %>
    </template>
  </div>
<% end %>

<%= javascript_include_tag "repositories/index" %>
<%= stylesheet_link_tag 'datatables' %>
