<% provide(:head_title, t("repositories.index.head_title")) %>

<% if current_team %>
  <%= render partial: "repositories/breadcrumbs.html.erb",
             locals: { teams: @teams, current_team: current_team, type: @type } %>

  <!-- Nav tabs -->
  <% if @repositories.present? %>
    <ul class="nav nav-tabs nav-settings" role="tablist" id="tabs">
      <% @repositories.each.with_index do |repo, i| %>
        <li role="presentation" class="<%= 'active' if i == 0 %>">
          <a class="repository-nav-tab"
             href="#custom_repo_<%= repo.id %>"
             data-toggle="tab"
             aria-controls="custom_repo_<%= repo.id %>"
             title="<%=repo.name%>"><%= truncate(repo.name, length: Constants::NAME_TRUNCATION_LENGTH) %></a>
        </li>
      <% end %>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% @repositories.each.with_index do |repo, i| %>
        <div class="tab-pane tab-pane-settings <%= 'active' if i == 0 %>" id="custom_repo_<%= repo.id %>">
          <!-- Tab Content -->

          <div id="repository-toolbar">
            <div class="dropdown text-right">
              <div class="btn btn-default btn-xs"
                   type="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="true"
                   <%= "disabled='disabled'" if !can_edit_repository repo %>>
                <span class="glyphicon glyphicon-cog"></span>
                <span class="caret"></span>
              </div>
              <% if can_edit_repository repo %>
                <ul class="dropdown-menu pull-right">
                  <li class="dropdown-header">
                    <%= t("repositories.index.options_dropdown.header") %>
                  </li>
                  <li>
                    <%= link_to t('repositories.index.options_dropdown.rename'),
                                team_repository_rename_modal_path(repository_id: repo),
                                class: "rename-repo-option",
                                remote: true %>
                  </li>
                  <li>
                    <!-- TODO -->
                    <a href="#">
                      <%= t("repositories.index.options_dropdown.copy") %>
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to t('repositories.index.modal_delete.delete'),
                                team_repository_destroy_modal_path(repository_id: repo),
                                class: "delete-repo-option",
                                remote: true %>
                  </li>
                </ul>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  <% else %>
    <p><em><%=t 'repositories.index.no_repositories' %></em></p>
  <% end %>

<% else %>
  <!-- If member of no teams -->
  <div class="jumbotron">
    <h2><%=t 'repositories.index.no_teams.title' %></h2>
    <p><%=t 'repositories.index.no_teams.text' %></p>
  </div>
<% end %>

<%= javascript_include_tag "repositories/index", "data-turbolinks-track" => true %>
