<% provide(:head_title, t("libraries.index.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<% if current_team %>
  <% provide(:sidebar_url, sidebar_repositories_path) %>
  <div class="content-pane flexible <%= params[:archived] ? :archived : :active %> repositories-index">
    <div class="content-header">
      <div class="title-row">
        <h1 data-view-mode="active"><%= t('libraries.index.head_title') %></h1>
        <h1 data-view-mode="archived"><span><%= t('labels.archived')%></span>&nbsp;<%= t('libraries.index.head_title_archived') %></h1>
      </div>
    </div>
    <div class="content-body" data-e2e="e2e-inventories-container">
      <div id="repositoriesTable" class="fixed-content-body">
        <repositories-table
          actions-url="<%= actions_toolbar_team_repositories_path(current_team) %>"
          data-source="<%= repositories_path(format: :json) %>"
          create-url="<%= repositories_path if can_create_repositories?(current_team) %>"
          active-page-url="<%= repositories_path %>"
          archived-page-url="<%= repositories_path(view_mode: :archived) %>"
          current-view-mode="<%= params[:view_mode] || :active %>"
        />
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'vue_repositories_table' %>
<% end %>
