<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
  <button class="btn icon-btn btn-light btn-black manage-repo-column-index back-to-column-modal"
          title="<%= t("libraries.manange_modal_column.button_tooltip") %>"
          data-modal-url="<%= repository_repository_columns_path(@repository) %>"
          data-action="new">
    <span class="sn-icon sn-icon-arrow-left"></span>
  </button>
  <h4 class="modal-title"><%= t("repositories.modal_delete_column.title") %></h4>
</div>
<div class="modal-body">
  <div class="delete-content">
    <p><%= t("repositories.modal_delete_column.message", column: @repository_column.name) %></p>
    <div class="alert alert-danger" role="alert">
      <span class="fas fa-exclamation-triangle"></span>
      &nbsp;
      <%= t("repositories.modal_delete_column.alert_heading") %>
      <ul>
        <li><%= t("repositories.modal_delete_column.alert_line_1", nr: @repository_column.repository_cells.count) %></li>
        <li><%= t("repositories.modal_delete_column.alert_line_2") %></li>
        <li><%= t("repositories.modal_delete_column.alert_line_3") %></li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer delete-footer">
  <button class="btn btn-secondary manage-repo-column-index back-to-column-modal"
          data-modal-url="<%= repository_repository_columns_path(@repository) %>"
          data-action="new">
    <%= t("general.cancel")%>
  </button>
  <button id="delete-repo-column-submit"
          type="button"
          class="btn btn-danger"
          data-action="delete"
          data-delete-url="<%= repository_repository_column_path(@repository, @repository_column) %>"
  >
    <%= t("repositories.modal_delete_column.delete") %>
  </button>
</div>
