<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    <% if @repository_column.new_record? %>
      <%= t("libraries.manange_modal_column.new.title") %>
    <% else %>
      <%= t("libraries.manange_modal_column.edit.title", name:  @repository_column.name) %>
    <% end %>
  </h4>
</div>
<div class="modal-body">
  <div class="form-horizontal"
       id="new-repository-column"
       data-edit-type="<%= @repository_column.data_type unless @repository_column.new_record? %>">
    <div class="form-group">
      <label class="control-label col-sm-3" for="repository-column-name">
        <%= t('libraries.manange_modal_column.name') %>
      </label>
      <div class="col-sm-9">
        <input placeholder="<%= t('libraries.manange_modal_column.name_placeholder') %>"
               class="form-control"
               type="text"
               name="repository_column[name]"
               id="repository-column-name" value="<%= @repository_column.name unless @repository_column.new_record? %>">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="repository-column-data-type">
        <%= t('libraries.manange_modal_column.colum_type') %>
      </label>
      <div class="col-sm-9">
        <select class="form-control" name="repository_column[data_type]" id="repository-column-data-type"
                <%= 'disabled' unless @repository_column.new_record? %>>
          <option data-create-url="<%= repository_repository_columns_text_columns_path(@repository) %>"
                  data-edit-url="<%= repository_repository_columns_text_column_path(@repository, @repository_column) unless @repository_column.new_record? %>"
                  value="RepositoryTextValue"
                  <%= 'selected' if @repository_column.RepositoryTextValue? %> >
            <%= t('libraries.manange_modal_column.select.repository_text_value') %>
          </option>
          <option data-create-url="<%= repository_repository_columns_status_columns_path(@repository) %>"
                  data-edit-url="<%= repository_repository_columns_status_column_path(@repository, @repository_column) unless @repository_column.new_record? %>"
                  value="RepositoryStatusValue"
                  <%= 'selected' if @repository_column.RepositoryStatusValue? %> >
            <%= t('libraries.manange_modal_column.select.repository_status_value') %>
          </option>
          <option data-create-url="<%= repository_repository_columns_list_columns_path(@repository) %>"
                  data-edit-url="<%= repository_repository_columns_list_column_path(@repository, @repository_column) unless @repository_column.new_record? %>"
                  value="RepositoryListValue"
                  <%= 'selected' if @repository_column.RepositoryListValue? %> >
            <%= t('libraries.manange_modal_column.select.repository_list_value') %>
          </option>
          <option data-create-url="<%= repository_repository_columns_asset_columns_path(@repository) %>"
                  data-edit-url="<%= repository_repository_columns_asset_column_path(@repository, @repository_column) unless @repository_column.new_record? %>"
                  value="RepositoryAssetValue"
                  <%= 'selected' if @repository_column.RepositoryAssetValue? %> >
            <%= t('libraries.manange_modal_column.select.repository_asset_value') %>
          </option>
        </select>
      </div>
    </div>

    <hr/>
    <span style="display: none" class="column-type text-column-type" data-column-type="RepositoryTextValue">
      <%= render partial: "repository_columns/manage_column_partials/text.html.erb" %>
    </span>
    <span style="display: none" class="column-type asset-column-type" data-column-type="RepositoryAssetValue">
      <%= render partial: "repository_columns/manage_column_partials/asset.html.erb" %>
    </span>
    <span style="display: none" class="column-type list-column-type" data-column-type="RepositoryListValue">
      <%= render partial: "repository_columns/manage_column_partials/list.html.erb", locals: { column: @repository_column } %>
    </span>
    <span style="display: none" class="column-type status-column-type" data-column-type="RepositoryStatusValue">
      <%= render partial: "repository_columns/manage_column_partials/status.html.erb", locals: { column: @repository_column } %>
    </span>
  </div>
</div>
<div class="modal-footer">
  <button id="new-repo-column-submit" class="btn btn-success column-save-btn" data-action="save" style="display: none;">
    <%= t("libraries.manange_modal_column.new.button") %>
  </button>
  <button id="update-repo-column-submit" class="btn btn-success column-save-btn" data-action="save"  style="display: none;">
    <%= t("libraries.manange_modal_column.edit.button") %>
  </button>
</div>
