<% if @repository.active? %>
  <%= t('repositories.show.archived_view_label.active', repository_name: @repository.name) %>
<% else %>
  <table>
    <tr>
      <td><%= t('repositories.show.archived_view_label.archived_on') %></td>
      <td><%= I18n.l(@repository.archived_on, format: :full) %></td>
    </tr>
    <tr>
      <td><%= t('repositories.show.archived_view_label.archived_by') %></td>
      <td><%= @repository.archived_by.full_name %></td>
    </tr>
  </table>
<% end %>
