<div class="dropdown" id="bmtFiltersDropdownButton">
  <button id="bmtFiltersDropdown"
          class="btn btn-secondary bmt-filters-button"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
  >
    <span class="fas fa-microscope"></span>
    <%= t('repositories.show.bmt_search.bmt_filter') %>
  </button>
  <div
    class="dropdown-menu bmt-filters-container"
    id="bmtFilterContainer"
    data-datatable-id="#repository-table-<%= @repository.id %>"
    data-saved-filters-url="<%= bmt_filters_url %>"
    data-can-manage-filters="<%= can_manage_bmt_filters?(current_team) %>"
    data-bmt-api-base-url="<%= bmt_request_url(path: 'api') %>"
  >
  <filter-container
    @filters:update="updateFilters"
    @filters:clear="clearFilters"
    @cids:update="updateExternalIds"
    @cids:error="handleSearchError"
    :can-manage-filters="canManageFilters"
    :bmt-api-base-url="bmtApiBaseUrl"
    :saved-filters.sync="savedFilters"
    :filters.sync="filters" />
  </div>
</div>
<% if can_manage_bmt_filters?(current_team) %>
  <button
      class="btn btn-light open-save-bmt-modal hidden"
      type="button"
      aria-haspopup="true"
  >
    <span class="fas fa-save"></span>
    <%= t('repositories.show.bmt_search.save_filters') %>
  </button>
<% end %>
