<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" title="close edit project modal">&times;</span></button>
  <h4 class="modal-title" id="edit-project-modal-label">
    <%= t('projects.index.modal_edit_project.modal_title', project: @project.name) %>
  </h4>
</div>
<%= bootstrap_form_for @project, url: project_path(@project ,format: :json), method: :put, remote: true do |f| %>
  <div class="modal-body" id="editProjectModalBody">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= f.text_field :name, label: t("projects.index.modal_new_project.name"), autofocus: true, placeholder: t("projects.index.modal_new_project.name_placeholder"), title: 'name field edit project modal' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="checkbox" id="allTeamsVisibility">
          <%= f.check_box :visibility,
                          { label: t('projects.index.modal_new_project.visibility_html'),
                            data: { action: 'toggle-visibility', target: 'role_select_wrapper' },
                            checked: f.object.visible?, title: 'project visibility checkbox in edit modal' },
                          :visible,
                          :hidden %>
        </div>
      </div>
    </div>
    <div class="row <%= f.object.hidden? ? 'hidden' : '' %>" id="role_select_wrapper">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= f.select :default_public_user_role_id,
                     options_for_select(user_roles_collection, selected: f.object.default_public_user_role_id),
                     { label: t('user_assignment.select_default_user_role') },
                     class: 'form-control selectpicker'%>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button title="cancel button in edit project modal" type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
    <button title="save button in edit project modal" class="btn btn-primary" type="submit"><%=t "projects.index.modal_edit_project.submit" %></button>
  </div>
<% end %>

<script>
  $("#editProjectModalBody").click(function() {
    var select = document.getElementsByClassName('dropdown-menu inner')[0]

    var length = select.getElementsByTagName('li').length

    for (var i = 0; i < length; i++) {
      var option = select.getElementsByTagName('li')[i]
      option.title = option.textContent
    }
  });
</script>
