<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">
    <%= t('projects.index.modal_move_folder.title', items: items_label) %>
  </h4>
</div>

<div class="modal-body">
  <%= t('projects.index.modal_move_folder.description', items: items_label) %>

  <div class="sci-input-container-v2 left-icon my-4 h-[2.25rem]">
    <input type="search" class="form-control sci-input-field" id="searchFolderTree" placeholder="Find a folder"/>
    <i class="sn-icon sn-icon-search"></i>
  </div>


  <div class="folders-tree-container">
    <div id="moveToFolders">
      <ul>
        <li class="jstree-open" id="root_folder" data-jstree='{"icon":"sn-icon sn-icon-projects root-folder"}'>
          <a class="jstree-clicked" href="#">Projects</a>
          <%= render partial: 'projects/index/modals/move_to_folders_tree',
                     locals: { records: sidebar_folders_tree(current_team, current_user, @current_sort, folders_only: true) } %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
  <%= button_to(t('projects.index.modal_move_folder.submit'),
                move_to_project_folders_url,
                class: 'btn btn-primary',
                method: :post,
                remote: true,
                form_class: 'button-to-inline-form') %>
</div>
