<div class="modal" id="new-project-folder-modal" tabindex="-1" role="dialog" aria-labelledby="new-project-folder-modal-label">
  <%= bootstrap_form_for @project_folder, remote: true do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="new-project-folder-modal-label">
            <%= t("projects.index.modal_new_project_folder.modal_title") %>
          </h4>
        </div>
        <div class="modal-body">
          <p><%= t("projects.index.modal_new_project_folder.description") %></p>
          <div class="form-group sci-input-container">
            <%= hidden_field :project_folder, :parent_folder_id, value: @current_folder.id if @current_folder %>
            <%= f.text_field :name,
                             autofocus: true,
                             label: t("projects.index.modal_new_project_folder.name"),
                             placeholder: t("projects.index.modal_new_project_folder.name_placeholder") %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
          <%= f.submit t("projects.index.modal_new_project_folder.create"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
