<div class="modal modal-project-folder-delete" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title"><%= t('projects.index.modal_delete_folders.title') %></h2>
      </div>
      <div class="modal-body">
        <p><%= t('projects.index.modal_delete_folders.description_1_html', number: project_folder_ids.size) %></p>
        <p><%= t('projects.index.modal_delete_folders.description_2') %></p>
      </div>
      <div class="modal-footer">
        <button type='button' class='btn btn-default' data-dismiss='modal'><%= t('general.cancel')%></button>
        <%= button_to t('projects.index.modal_delete_folders.confirm_button'),
                      destroy_project_folders_path,
                      class: 'btn btn-danger',
                      form_class: 'delete-folders-form',
                      params: { project_folder_ids: project_folder_ids },
                      remote: true %>
      </div>
    </div>
  </div>
</div>
