<div class="modal-header">
  <span class="file-name"><%= asset.file.metadata[:name] || asset.file_name %></span>
  <div class="sci-btn-group">
    <a class="btn btn-light file-download-link" href="<%= asset.file.url(disposition: 'attachment', expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes) %>" data-turbolinks="false">
      <span class="sn-icon sn-icon-export"></span> <%= t('Download')%>
    </a>
    <% if (asset.step || asset.result) && !preview %>
       <%= render partial: "shareable_links/my_modules/step_attachments/context_menu", locals: { asset: asset } %>
    <% end %>
    <button type="button" class="btn icon-btn btn-light" data-dismiss="modal"><span class="sn-icon sn-icon-close"></span></button>
  </div>
</div>
<div class="modal-body">
  <div class="file-preview-container">
    <% if asset.previewable? %>
      <% if wopi_enabled? && wopi_file?(asset) %>
        <iframe class="wopi-file-preview" src="<%= asset.get_action_url(current_user, 'embedview', false) %>"></iframe>
      <% elsif asset.pdf_previewable? %>
        <%= render partial: 'shared/pdf_viewer', locals: { asset: asset, report_document: false, shareable_document: true } %>
      <% else %>
        <%= image_tag asset.file.representation(resize_to_limit: Constants::LARGE_PIC_FORMAT).url(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes),
            class: 'asset-image',
            style: 'opacity: 0' %>
      <% end %>
    <% else %>
      <%= render partial: 'shared/file_preview/file_icon', locals: { asset: asset } %>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <% if gallery %>
    <div class="gallery">
      <% previous_asset = Asset.find_by(id: gallery.split(asset.id.to_s)[0]&.last) %>
      <% next_asset = Asset.find_by(id: gallery.split(asset.id.to_s)[1]&.first) %>
      <% if previous_asset %>
        <%= link_to shared_file_preview_url(previous_asset.signed_id(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes)),
          class: "previous-asset gallery-switcher",
          data: {id: previous_asset.id, gallery_elements: gallery} do %>
          <i class="sn-icon sn-icon-arrow-left"></i>
          <% if previous_asset.previewable? %>
            <%= image_tag previous_asset.file.representation(resize_to_limit: Constants::MEDIUM_PIC_FORMAT).url(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes),
                class: 'asset-image',
                style: 'opacity: 0' %>
          <% else %>
            <i class="fas <%= file_fa_icon_class(previous_asset) if previous_asset.file_name %>"></i>
          <% end %>
          <span class="file-name"><%= previous_asset.file_name %></span>
        <% end %>
      <% end %>
      <span class="file-counter">
        <%= gallery.split(asset.id.to_s)[0].length + 1 %> of <%= gallery.length %> attachments
      </span>
      <% if next_asset %>
        <%= link_to shared_file_preview_url(next_asset.signed_id(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes)),
          class: "next-asset gallery-switcher",
          data: {id: next_asset.id, gallery_elements: gallery} do %>
          <% if next_asset.previewable? %>
            <%= image_tag next_asset.file.representation(resize_to_limit: Constants::MEDIUM_PIC_FORMAT).url(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes),
                class: 'asset-image',
                style: 'opacity: 0' %>
          <% else %>
            <i class="fas <%= file_fa_icon_class(next_asset) if next_asset.file_name %>"></i>
          <% end %>
          <span class="file-name"><%= next_asset.file_name %></span>
          <i class="sn-icon sn-icon-arrow-right"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'shared/file_preview' %>
