<div class="list-attachment-container asset">
  <i class="fas asset-icon <%= file_fa_icon_class(asset) %>"></i>
  <%= link_to asset.file.url(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes),
    class: "file-preview-link file-name",
    id: "modal_link#{asset.id}",
    data: {
      no_turbolink: true,
      id: asset.id,
      gallery_view_id: step.id,
      preview_url: shared_file_preview_url(asset.signed_id(expires_in: Constants::URL_SHORT_EXPIRE_TIME.minutes))
    } do %>
    <span data-toggle="tooltip" 
          data-placement="bottom" 
          title="<%= escape_input(asset.render_file_name) %>">
      <%= escape_input(asset.render_file_name) %>
    </span>
  <% end %>
  <div class="file-metadata">
    <span><%= t('assets.placeholder.modified_label') %> <%= l(asset.updated_at, format: :full_date) if asset.updated_at %></span>
    <span><%= t('assets.placeholder.size_label', size: number_to_human_size(asset.file_size)) %></span>
  </div>
  <%= render partial: "shareable_links/my_modules/step_attachments/context_menu", locals: { asset: asset } %>
</div>
