<%= form_with(model: project, url: update_default_public_user_role_access_permissions_project_path(project), method: :put, remote: true, html: { class: 'row member-item', id: 'public_assignments', data: { action: 'replace-form autosave-form', object_type: :project } }) do |f| %>
  <div class="user-assignment-info">
    <div class="global-avatar-container">
      <%= image_tag "icon/team.png", class: 'img-circle pull-left' %>
    </div>
    <div>
      <%= t('access_permissions.everyone_else', team_name: project.team.name) %>
      <%= render 'access_permissions/partials/public_members_dropdown', team: project.team, assignable: project %>
      <br>
      <small class="text-muted">
        <%= project.default_public_user_role.name %>
        <span class="permission-object-tag" title="<%= t("access_permissions.partials.project_tooltip") %>"">
          <%= t("access_permissions.partials.project") %>
        </span>
      </small>
    </div>
  </div>
  <div class="user-assignment-controls">
    <div class="user-assignment-role">
      <% if editable %>
        <%= f.select :default_public_user_role_id, options_for_select(user_roles_collection, selected: project.default_public_user_role_id), {}, class: 'form-control selectpicker', title: t('user_assignment.change_project_role'), data: { 'selected-text-format' => 'static' } %>
      <% end %>
    </div>
  </div>
<% end %>
