<% # frozen_string_literal: true %>

<%
  my_module_member = MyModuleMember.new(current_user, my_module, experiment, project, user)
  item_id = dom_id(user, :my_module_member)
%>

<%= form_with(model: my_module_member, url: update_path, method: :put, remote: true, html: { class: 'row member-item', id: item_id, data: { action: 'replace-form autosave-form' } }) do |f| %>
  <%= f.hidden_field :user_id, value: f.object.user.id %>
  <div class="user-assignment-info">
    <div class="global-avatar-container">
      <%= image_tag avatar_path(user, :icon_small), title: current_assignee_name(user), class: 'img-circle pull-left' %>
    </div>
    <div title="<%= my_module.name %> assigned <%= current_assignee_name(user) %> <%= user_assignment_resource_role_name(user, my_module)[0...10] %>">
      <%= current_assignee_name(user) %>
      <br>
      <small class="text-muted" title="<%= user_assignment_resource_role_name(user, my_module)[0...10] %>"><%= user_assignment_resource_role_name(user, my_module) %></small>
    </div>
  </div>
  <% unless user == current_user %>
    <div class="user-assignment-controls">
      <div class="user-assignment-role" id="changeTaskUserRole" onclick="changeTaskRole(this)">
        <%= f.select :user_role_id, nil, {}, id: "my_module_member_#{my_module_member.user.id}_user_role_id", class: 'form-control selectpicker', title: t('user_assignment.change_my_module_role'), data: { 'selected-text-format' => 'static' } do %>
          <option data-content="<span title='<%= t('.reset_description') %>'><%= t('.reset') %></span>" value="reset"><%= t('.reset') %></option>
          <% user_roles_collection.each do |user_role| %>
            <option title="task access permission role: <%= user_role[0] %>" value="<%= user_role[1] %>"><%= user_role[0] %></option>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  setTimeout(function() {
    var buttons = document.getElementsByClassName('btn dropdown-toggle bs-placeholder btn-default')
    for (var i = 0; i < buttons.length; i++) {
      if (buttons[i].title.indexOf(` ${i}`) === -1)
        buttons[i].title = buttons[i].title + ` ${i}`
    }
  }, 500);

  function changeTaskRole(select) {
    var select = select.getElementsByClassName('dropdown-menu inner')[0]

    var length = select.getElementsByTagName('li').length

    for (var i = 0; i < length; i++) {
      var option = select.getElementsByTagName('li')[i]
      option.title = option.textContent
    }
  }
</script>
