<% # frozen_string_literal: true %>

<%
  my_module_member = MyModuleMember.new(current_user, my_module, experiment, project, user)
  item_id = dom_id(user, :my_module_member)
%>

<%= form_with(model: my_module_member, url: update_path, method: :put, remote: true, html: { class: 'row member-item', id: item_id, data: { action: 'replace-form autosave-form' } }) do |f| %>
  <%= f.hidden_field :user_id, value: f.object.user.id %>
  <div class="user-assignment-info">
    <div class="global-avatar-container">
      <%= image_tag avatar_path(user, :icon_small), title: current_assignee_name(user), class: 'img-circle pull-left' %>
    </div>
    <div>
      <%= current_assignee_name(user) %>
      <br>
      <small class="text-muted"><%= user_assignment_resource_role_name(my_module_member, user, my_module) %></small>
    </div>
  </div>
  <% unless user == current_user %>
    <div class="user-assignment-controls">
      <div class="user-assignment-role">
        <%= f.select :user_role_id, options_for_select(user_roles_collection, selected: f.object.user_role.id), {}, class: 'form-control selectpicker', title: t('user_assignment.change_my_module_role'), data: { 'selected-text-format' => 'static' } %>
      </div>
    </div>
  <% end %>
<% end %>
