<% # frozen_string_literal: true %>

<div class="modal-content" id="user_assignments_modal" data-action="modal-close" data-target="<%= projects_path %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
      <%= link_to resource_path, remote: true, class: 'pull-left spacer', data: { action: 'swap-remote-container', target: '#user_assignments_modal' } do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <%= t '.title', resource_name: resource.name %>
    </h4>
  </div>
  <%= form_with(model: form_object, url: create_path, method: :post, remote: true, html: { id: 'new-user-assignment-to-project-form', data: { action: 'modal-close' } }) do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <%= text_field_tag :search_users, '', placeholder: t('.find_people_html'), class: 'form-control', data: { action: 'filter-list', target: 'new-user-assignment-to-project-form' } %>
      </div>
      <% f.object.resource_members.each do |member| %>
        <%= f.fields_for :resource_members, member do |member_form| %>
          <%= render 'access_permissions/partials/user_assignment_field.html.erb', f: member_form  %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= f.submit t('.submit'), class: "btn btn-primary", disabled: true, data: { 'label-default' =>  t('.submit'),  'label-singular' => t('.submit_singular'), 'label-plural' => t('.submit_plural') }%>
    </div>
  <% end %>
</div>
