<%= form_with(model: protocol, url: update_default_public_user_role_access_permissions_protocol_path(protocol), method: :put, remote: true, html: { class: 'row member-item', id: 'public_assignments', data: { action: 'replace-form autosave-form', object_type: :protocol } }) do |f| %>
  <div class="user-assignment-info">
    <div class="global-avatar-container">
      <%= image_tag "icon/team.png", class: 'img-circle pull-left' %>
    </div>
    <div>
      <%= t('access_permissions.everyone_else', team_name: protocol.team.name) %>
      <%= render 'access_permissions/partials/public_members_dropdown', team: protocol.team, protocol: protocol %>
    </div>
  </div>
  <div class="user-assignment-controls">
    <div class="user-assignment-role">
      <% if editable %>
        <%= f.select :default_public_user_role_id, options_for_select(user_roles_collection) {}, class: 'form-control selectpicker', title: t('user_assignment.change_protocol_role'), data: { 'selected-text-format' => 'static' } %>
      <% end %>
    </div>
    <div class="user-assignment-remove">
    </div>
  </div>
<% end %>
