<% # frozen_string_literal: true %>

<%
  project_member = ProjectMember.new(user, project)
  item_id = dom_id(user, :project_member)
%>
<%= form_with(model: project_member, url: update_path, method: :put, remote: true, html: { class: 'row member-item', id: item_id, data: { action: 'replace-form autosave-form', object_type: :project } }) do |f| %>
  <%= f.hidden_field :user_id, value: f.object.user.id %>
    <div class="user-assignment-info">
      <div class="global-avatar-container">
        <%= image_tag avatar_path(user, :icon_small), title: current_assignee_name(user), class: 'img-circle pull-left' %>
      </div>
      <div title="<%= project.name %> assigned <%= current_assignee_name(user) %> <%= user_assignment_resource_role_name(user, project)[0..10] %>">
        <%= current_assignee_name(user) %>
        <br>
        <small class="text-muted" title="<%= user_assignment_resource_role_name(user, project)[0..10] %>"><%= user_assignment_resource_role_name(user, project) %></small>
      </div>
    </div>
    <div class="user-assignment-controls" onclick="addTitlesToOptions(this.getElementsByClassName('dropdown-menu inner')[0])">
      <div class="user-assignment-role">
        <%= f.select :user_role_id, options_for_select(user_roles_collection, selected: f.object.user_role.id), {}, class: 'form-control selectpicker', title: t('user_assignment.change_project_role'), data: { 'selected-text-format' => 'static' } %>
      </div>
      <div class="user-assignment-remove">
        <% unless project_member.last_project_owner? %>
          <%= link_to access_permissions_project_path(project, user_id: user), remote: true, method: :delete, class: 'btn btn-secondary', data: { action: 'remote-destroy', target: "##{item_id}" }, title: "remove user #{user.email}" do %>
            <span class="fas fa-times"></span>
            <%= t 'general.remove' %>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>


<script>
  setTimeout(function() {
    var buttons = document.getElementsByClassName('btn dropdown-toggle btn-default')
    for (var i = 0; i < buttons.length; i++) {
      if (buttons[i].title.indexOf(` ${i}`) === -1)
        buttons[i].title = buttons[i].title + ` ${i}`
    }
  }, 500);
</script>
