<% # frozen_string_literal: true %>

<%
  user = user_form.object.user
  id = dom_id(user, :new_protocol_member)
%>

<div class="member-item new-member-item" data-filter-item="<%= user.full_name %>">
  <%= user_form.hidden_field :user_id, value: user.id, name:"access_permissions_new_user_form[resource_members][#{user.id}][user_id]"  %>
  <div class="user-assignment-info">
    <div class="sci-checkbox-container">
      <%= user_form.check_box :assign,
                        name: "access_permissions_new_user_form[resource_members][#{user.id}][assign]",
                        data: { action: 'toggle-visibility', target: id },
                        class: "sci-checkbox"
        %>
      <span class="sci-checkbox-label"></span>
    </div>
    <div class="global-avatar-container">
      <%= image_tag avatar_path(user, :icon_small), title: current_assignee_name(user), class: 'img-circle pull-left' %>
    </div>
    <div>
      <%= current_assignee_name(user) %>
    </div>
  </div>
  <div class="user-assignment-controls">
    <div class="user-assignment-role hidden" id="<%= id %>">
      <%= user_form.select :user_role_id,
                options_for_select(user_roles_collection(assignable)),
                {},
                name: "access_permissions_new_user_form[resource_members][#{user.id}][user_role_id]",
                class: 'form-control selectpicker pull-right',
                title: t('user_assignment.select_role')  %>
    </div>
  </div>
</div>
