<% provide(:head_title, t("system_notifications.index.whats_new")) %>

<div class="content-pane" id="system-notifications-index">
  <h3 class="title-container">
    <strong><%= t("system_notifications.index.whats_new") %></strong>
    <%= link_to t("system_notifications.index.settings"), preferences_path %>
  </h3>
  <%= form_tag system_notifications_path, method: :get, id: "search-bar-notifications", class: "navbar-form navbar-left", role: "search" do %>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" type="text" name="search_queue" placeholder="<%= t("nav.label.search") %>" value="<%= params[:search_queue] %>" />
      <span class="input-group-btn">
        <button id="search-button" class="btn btn-default" type="submit">
          <span class="fas fa-search"></span>
        </button>
      </span>
    </div>
  </div>
  <% end %>
  <div class="system-notifications-container">
    <%= render partial: "list", locals: { notifications: @system_notifications[:notifications] } %>
  </div>
  <div class="text-center">
  <% if @system_notifications[:more_notifications_url] && @system_notifications[:notifications].present? %>
      <a class="btn btn-default btn-more-system-notifications"
          href="<%= @system_notifications[:more_notifications_url] %>"
          data-remote="true">
          <%= t("system_notifications.index.more_notifications") %></a>
  <% else %>
      <span class="no-notification-message"><%= t("system_notifications.index.no_notifications") %></span>
  <% end %>
  </div>
</div>

<%= javascript_include_tag("system_notifications/index") %>
