<% provide(:head_title, "What's new") %>



<div class="content-pane" id="system-notifications-index">
	<h3 class="title-container"><strong><%= t('system_notifications.index.whats_new') %></strong></h3>
	<%= form_tag system_notifications_path, method: :get, id: 'search-bar-notifications', class: 'navbar-form navbar-left', role: 'search' do %>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" type="text" name="q" placeholder="<%= t('nav.label.search') %>" value="<%= params[:q] %>" >
      <span class="input-group-btn">
        <button id="search-button" class="btn btn-default" type="submit">
          <span class="fas fa-search"></span>
        </button>
      </span>
    </div>
  </div>
<% end %>

	<div class="notifications-container">
		<% @system_notifications[:notifications].each_with_index do |notification, index| %>
			<%= render partial: "notification", locals: { notification: notification } %>
		<% end %> 
	</div>
		<% if @system_notifications[:more_notifications_url] %>
			<div class="text-center">
				<a class="btn btn-default btn-more-notifications"
					href="<%= @system_notifications[:more_notifications_url] %>"
					data-remote="true">
					<%= t('system_notifications.index.more_notifications') %></a>
			</div>
 		<% elsif @system_notifications[:notifications].count == 0 %>
 			<div class="text-center">
 				<span class="no_notification_meessage"><%= t('system_notifications.index.no_notifications') %></span>
 			</div>
 		<% end %>
 	
</div>

<%= javascript_include_tag 'system_notifications/index.js' %>