<h5 class="text-center"><%= t('my_modules.results.comments_tab') %></h5>
<hr>
<ul class="no-style double-line content-comments">
  <% if @comments.size == 0 then %>
    <li class="no-comments"><em><%= t 'general.no_comments' %></em></li>
  <% else %>
    <%= render 'result_comments/list.html.erb', comments: @comments %>
  <% end %>
  <% if @comments.length == @per_page %>
    <li class="comment-more text-center">
      <a class="btn btn-default btn-more-comments" href="<%= more_comments_url %>" data-remote="true">
        <%=t "general.more_comments" %>
      </a>
    </li>
  <% end %>
</ul>
<% if can_add_result_comment_in_module(@my_module) then %>
  <ul class="no-style double-line">
    <li>
      <hr>
      <%= bootstrap_form_for :comment, url: { format: :json }, method: :post, remote: true do |f| %>
        <%= f.text_field :message, hide_label: true, placeholder: t("general.comment_placeholder"), append: f.submit("+", onclick: "processResult(event, ResultTypeEnum.COMMENT, false);"), help: '.' %>
      <% end %>
    </li>
  </ul>
<% end %>
