<h1>Button</h1>
<div class="buttons">
  <div class="primary">
    <br>
    <label>Primary, large</label>
    <br>
    <button type="button" class="btn btn-primary btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary, medium</label>
    <br>
    <button type="button" class="btn btn-primary">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary, small</label>
    <br>
    <button type="button" class="btn btn-primary btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary, x-small</label>
    <br>
    <button type="button" class="btn btn-primary btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="secondary">
    <br>
    <label>Secondary, large</label>
    <br>
    <button type="button" class="btn btn-secondary btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary, medium</label>
    <br>
    <button type="button" class="btn btn-secondary">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary, small</label>
    <br>
    <button type="button" class="btn btn-secondary btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary, x-small</label>
    <br>
    <button type="button" class="btn btn-secondary btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="tertiary">
    <br>
    <label>Tertiary, large</label>
    <br>
    <button type="button" class="btn btn-tertiary btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary, medium</label>
    <br>
    <button type="button" class="btn btn-tertiary">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary, small</label>
    <br>
    <button type="button" class="btn btn-tertiary btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary, x-small</label>
    <br>
    <button type="button" class="btn btn-tertiary btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="delete">
    <br>
    <label>Delete, large</label>
    <br>
    <button type="button" class="btn btn-danger btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete, medium</label>
    <br>
    <button type="button" class="btn btn-danger ">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete, small</label>
    <br>
    <button type="button" class="btn btn-danger btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete, x-small</label>
    <br>
    <button type="button" class="btn btn-danger btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="primary-disabled">
    <br>
    <label>Primary, disabled large</label>
    <br>
    <button type="button" class="disabled btn btn-primary btn-lg" disabled>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary, disabled medium</label>
    <br>
    <button type="button" class="disabled btn btn-primary">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary, disabled small</label>
    <br>
    <button type="button" class="disabled btn btn-primary btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary, disabled x-small</label>
    <br>
    <button type="button" class="disabled btn btn-primary btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="secondary-disabled">
    <br>
    <label>Secondary, disabled large</label>
    <br>
    <button type="button" class="disabled btn btn-secondary btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary, disabled medium</label>
    <br>
    <button type="button" class="disabled btn btn-secondary">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary, disabled small</label>
    <br>
    <button type="button" class="disabled btn btn-secondary btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary, disabled x-small</label>
    <br>
    <button type="button" class="disabled btn btn-secondary btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="tertiary">
    <br>
    <label>Tertiary, disabled large</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary, disabled medium</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary ">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary, disabled small</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary, disabled x-small</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="delete-disabled">
    <br>
    <label>Delete, disabled large</label>
    <br>
    <button type="button" class="disabled btn btn-danger btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete, disabled medium</label>
    <br>
    <button type="button" class="disabled btn btn-danger">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete, disabled small</label>
    <br>
    <button type="button" class="disabled btn btn-danger btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete, disabled x-small</label>
    <br>
    <button type="button" class="disabled btn btn-danger btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
      <span><%= 'Button' %><span>
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="primary-icon">
    <br>
    <label>Primary icon, large</label>
    <br>
    <button type="button" class="btn btn-primary icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary icon, medium</label>
    <br>
    <button type="button" class="btn btn-primary icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary icon, small</label>
    <br>
    <button type="button" class="btn btn-primary icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary icon, x-small</label>
    <br>
    <button type="button" class="btn btn-primary icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="secondary-icon">
    <br>
    <label>Secondary icon, large</label>
    <br>
    <button type="button" class="btn btn-secondary icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary icon, medium</label>
    <br>
    <button type="button" class="btn btn-secondary icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary icon, small</label>
    <br>
    <button type="button" class="btn btn-secondary icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary icon, x-small</label>
    <br>
    <button type="button" class="btn btn-secondary icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="tertiary-icon">
    <br>
    <label>Tertiary icon, large</label>
    <br>
    <button type="button" class="btn btn-tertiary icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary icon, medium</label>
    <br>
    <button type="button" class="btn btn-tertiary icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary icon, small</label>
    <br>
    <button type="button" class="btn btn-tertiary icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary icon, x-small</label>
    <br>
    <button type="button" class="btn btn-tertiary icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="primary-icon-disabled">
    <br>
    <label>Primary icon disabled, large</label>
    <br>
    <button type="button" class="disabled btn btn-primary icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary icon disabled, medium</label>
    <br>
    <button type="button" class="disabled btn btn-primary icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary icon disabled, small</label>
    <br>
    <button type="button" class="disabled btn btn-primary icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Primary icon disabled, x-small</label>
    <br>
    <button type="button" class="disabled btn btn-primary icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="secondary-icon-disabled">
    <br>
    <label>Secondary icon disabled, large</label>
    <br>
    <button type="button" class="disabled btn btn-secondary icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary icon disabled, medium</label>
    <br>
    <button type="button" class="disabled btn btn-secondary icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary icon disabled, small</label>
    <br>
    <button type="button" class="disabled btn btn-secondary icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Secondary icon disabled, x-small</label>
    <br>
    <button type="button" class="disabled btn btn-secondary icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="tertiary-icon-disabled">
    <br>
    <label>Tertiary icon disabled, large</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary icon disabled, medium</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary icon disabled, small</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Tertiary icon disabled, x-small</label>
    <br>
    <button type="button" class="disabled btn btn-tertiary icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="delete-icon-disabled">
    <br>
    <label>Delete icon disabled, large</label>
    <br>
    <button type="button" class="disabled btn btn-danger icon-btn btn-lg">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete icon disabled, medium</label>
    <br>
    <button type="button" class="disabled btn btn-danger icon-btn">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete icon disabled, small</label>
    <br>
    <button type="button" class="disabled btn btn-danger icon-btn btn-sm">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
    <br>
    <label>Delete icon disabled, x-small</label>
    <br>
    <button type="button" class="disabled btn btn-danger icon-btn btn-xs">
      <span class="sn-icon sn-icon-new-task" aria-hidden="true"></span>
    </button>
    <br>
  </div>
  <div class="text-buttons">
    <button class="btn btn-light icon-btn sn-science-blue has-unseen">
      All
    </button>
  </div>
</div>

<style>
.buttons {
  display: flex;
  flex-wrap: wrap;
}

.buttons > div {
  margin: 0 10px;
  box-sizing: border-box;
}

.has-unseen {
  &::after {
    align-items: center;
    background-color: var(--sn-science-blue);
    border-radius: .5rem;
    color: var(--sn-white);
    content: attr(data-unseen);
    display: flex;
    font-size: 10px;
    height: 1rem;
    justify-content: center;
    left: 1.25rem;
    min-width: 1rem;
    padding: 0 .25rem;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
}
</style>