<template id="protocolActionToolbar">
  <button id="protocolVersions" class="btn btn-light single-object-action hidden only-active">
    <%= image_tag 'icon/versions.svg' %>
    <span class="button-text"><%= t("protocols.index.action_toolbar.versions") %></span>
  </button>
  <button id="manageProtocolAccess" class="btn btn-light single-object-action hidden only-active">
    <i class="fas fa-door-open"></i>
    <span class="button-text"><%= t("protocols.index.action_toolbar.access") %></span>
  </button>
  <button id="duplicateProtocol" class="btn btn-light multiple-object-action hidden only-active" data-for="copyable">
    <i class="fas fa-copy"></i>
    <span class="button-text"><%= t("protocols.index.action_toolbar.duplicate") %></span>
  </button>
  <button id="moveTask" class="btn btn-light multiple-object-action hidden only-active">
    <i class="fas fa-download"></i>
    <span class="button-text"><%= t("protocols.index.action_toolbar.export") %></span>
  </button>
  <button id="archiveProtocol" class="btn btn-light multiple-object-action hidden only-active" data-url="<%= archive_protocols_path %>" data-for="archivable">
    <i class="fas fa-archive"></i>
    <span class="button-text"><%= t("protocols.index.action_toolbar.archive") %></span>
  </button>
  <button id="restoreProtocol" class="btn btn-light multiple-object-action hidden only-archive" data-url="<%= restore_protocols_path %>" data-for="restorable">
    <i class="fas fa-undo"></i>
    <span class="button-text"><%= t("protocols.index.action_toolbar.restore") %></span>
  </button>
</template>
