<div class='external-protocols-tab'>
  <div class='row'>
    <%= form_tag team_list_external_protocol_path(@current_team.id),
      method: :get,
      class: 'protocols-search-bar',
      remote: true do %>
      <div class='col-md-5 protocols-search-bar-panel'>
        <div class='service-provider'>
          <%= image_tag 'external_protocols/protocolsio_logo.png',
            class: 'protocolsio-logo' %>
          <span class='protocolsio-title'><%= t('protocols.index.external_protocols.protocolsio_title') %></span>
          <%= hidden_field_tag 'protocol_source', 'protocolsio/v3' %>
        </div>

        <div class='input-group'>
          <input class='form-control'
          type='text'
          name='key'
          placeholder="<%= t('protocols.index.external_protocols.search_bar_placeholder') %>" >
          </input>

          <span class='input-group-addon'><i class='fas fa-search '></i></span>
        </div>
      </div>

      <div class='col-md-7'>
        <div class='protocol-sort'>
          <span><%= t('protocols.index.external_protocols.sort_by.title') %></span>
          <div class='btn-group' data-toggle='buttons'>
            <label class='btn btn-link active'>
              <input type='radio' name='sort_by' id='alphabetically' value='alpha' checked>
              <%= t('protocols.index.external_protocols.sort_by.alphabetically') %>
            </label>
            <label class='btn btn-link'>
              <input type='radio' name='sort_by' id='newest' value='newest'>
              <%= t('protocols.index.external_protocols.sort_by.newest') %>
            </label>
            <label class='btn btn-link'>
              <input type='radio' name='sort_by' id='oldest' value='oldest'>
              <%= t('protocols.index.external_protocols.sort_by.oldest') %>
            </label>
          </label>
        </div>
      </div>
    </div>

  <% end %>
  </div>

  <div class='row main-protocol-panel'>
    <div class='col-md-5 protocol-list-side-panel'>

      <div class='row empty-text'>
        <%= t('protocols.index.external_protocols.list_panel.empty_text') %>
      </div>

      <div class='list-wrapper'></div>
    </div>

    <div class='col-md-7 protocol-preview-panel'>
      <div class='empty-preview-panel'>

        <div class='row'>
          <div class='text-rows protocol-preview-text'>
            <%= t('protocols.index.external_protocols.preview_panel.empty_title') %>
          </div>
        </div>

        <div class='row'>
          <div class='text-separator'> <hr> </div>
        </div>

        <div class='row'>
          <div class='text-rows protocol-preview-subtext'>
            <%= t('protocols.index.external_protocols.preview_panel.empty_subtext') %>
          </div>
        </div>
      </div>

      <div class='full-preview-panel' style='display: none;'>
        <div class='row preview-banner'>
          <div class='col-md-6 txt-holder'>
            <span>
              <%= t('protocols.index.external_protocols.preview_panel.banner_text') %>
            </span>
          </div>
          <div class='col-md-6 btn-holder'>
          </div>
        </div>
        <div class='preview-holder'>
          <iframe class='preview-iframe'></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%= javascript_include_tag "protocols/external_protocols_tab.js" %>
