<template id="protocolGeneralToolbar">
  <div class="left-general-toolbar">
    <% if can_create_protocols_in_repository?(@current_team) %>
      <button data-toggle="modal"
              data-target="#newProtocolModal"
              class="btn btn-primary only-active"
      >
        <span class="fas fa-plus"></span>
        <span class="hidden-xs"><%= t("protocols.index.create_new") %></span>
      </button>

      <div id="protocol-import-group" class="sci-btn-group  only-active" role="group">
        <button class="btn btn-light btn-open-file"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <span class="fas fa-upload"></span><span class="hidden-xs"><%= t("protocols.index.import") %></span>
        </button>

        <ul class="dropdown-menu">
          <li>
            <a class="btn-link-alt btn-default-link btn-open-file" <%= can_create_protocols_in_repository?(@current_team) ? 'data-action="import"' : 'disabled="disabled"' %>>
              <span><%= t("protocols.index.import_alt") %></span>
              <input type="file" value="" accept=".eln" data-role="import-file-input"
              data-team-id="<%= @current_team.id %>" data-import-url="<%= import_protocols_path %>">
            </a>
          </li>
          <li class="import-protocols-io">
            <%= link_to t("protocols.index.import_protocols_io"), '', data: { target: '#protocolsioModal', toggle: 'modal' } %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <%= render partial: 'shared/state_view_switch', locals: {
        disabled: false,
        switchable: true,
        archived: templates_view_mode_archived?(type: @type),
        active_url: protocols_path(type: :active),
        archived_url: protocols_path(type: :archived),
      } %>
</template>
