<div class="modal" id="import-results-modal" tabindex="-1" role="dialog" aria-labelledby="import-results-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="import-results-modal-label">
          <%= t("protocols.index.import_results.title") %>
        </h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t "general.close" %></button>
      </div>
    </div>
  </div>
</div>

<!-- Bunch of templates for rendering import results -->
<!-- (THIS IS UGLY) -->
<div data-template="import-result-message-error" style="display: none;">
  <div class="alert alert-danger" style="margin-bottom: 15px;" role="alert">
    <span class="fas fa-exclamation-triangle"></span>
    <span data-val="message"></span>
  </div>
</div>

<div data-template="import-result-message-success" style="display: none;">
  <div data-val="message">
  </div>
</div>

<div data-template="import-result-list" style="display: none;">
  <div class="well well-sm well-protocols-results">
    <ul data-hold="items">
    </ul>
  </div>
</div>

<div data-template="import-result-unchanged-item" style="display: none;">
  <li>
    <span class="label label-success"><%= t("protocols.index.import_results.row_success") %></span>
    <span data-val="message"></span>
  </li>
</div>

<div data-template="import-result-renamed-item" style="display: none;">
  <li>
    <span class="label label-warning"><%= t("protocols.index.import_results.row_renamed") %></span>
    <span data-val="message"></span>
  </li>
</div>

<div data-template="import-result-failed-item" style="display: none;">
  <li>
    <span class="label label-danger"><%= t("protocols.index.import_results.row_failed") %></span>
    <span data-val="message"></span>
    &nbsp;
    <span data-val="message2"></span>
  </li>
</div>
