<div class="row protocol-info">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="badge-icon">
      <span class="fas fa-calendar-alt"></span>
    </div>
    <div class="well well-sm">
      <span class="hidden-xs hidden-sm hidden-md"><%=t "protocols.header.created_at" %>:</span>
      <strong><%= l(@protocol.created_at, format: :full) %></strong>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="badge-icon">
      <span class="fas fa-calendar-alt"></span>
    </div>
    <div class="well well-sm">
      <span class="hidden-xs hidden-sm hidden-md"><%=t "protocols.header.updated_at" %>:</span>
      <strong data-role="updated-at-refresh"><%= render partial: "protocols/header/updated_at_label.html.erb" %></strong>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="badge-icon">
      <span class="fas fa-user"></span>
    </div>
    <div class="well well-sm">
      <span class="hidden-xs hidden-sm hidden-md"><%=t "protocols.header.added_by" %>:</span>
      <strong><%= @protocol.added_by.full_name %></strong>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8">
    <div class="badge-icon">
      <span class="fas fa-font"></span>
    </div>
    <div class="well well-sm">
      <span class="hidden-xs hidden-sm hidden-md"><%=t "protocols.header.keywords" %>:</span>
        <%= render partial: "protocols/header/keywords_label.html.erb" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="badge-icon">
      <span class="fas fa-graduation-cap"></span>
    </div>
    <div class="well well-sm">
      <span class="hidden-xs hidden-sm hidden-md"><%=t "protocols.header.authors" %>:</span>
        <%= render partial: "protocols/header/authors_label.html.erb" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 protocol-description">
    <div class="well well-sm">
        <%= render partial: "protocols/header/description_label.html.erb", locals: {edit_mode: false} %>
    </div>
  </div>
</div>

<div data-role="steps-container">
  <div class="row">
    <div class="col-xs-8">
      <h2><%= t("protocols.steps.subtitle") %></h2>
    </div>
  </div>
  <div id="steps">
    <% protocol.steps.order(:position).each do |step| %>
     <%= render partial: "steps/step.html.erb", locals: { step: step, preview: true } %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "handsontable.full.min" %>
<%= javascript_include_tag "lodash" %>
<%= javascript_include_tag "numeral" %>
<%= javascript_include_tag "numeric" %>
<%= javascript_include_tag "md5" %>
<%= javascript_include_tag "jstat" %>
<%= javascript_include_tag "formula" %>
<%= javascript_include_tag "parser" %>
<%= javascript_include_tag "ruleJS" %>
<%= javascript_include_tag "handsontable.formula" %>
<%= javascript_include_tag "big.min" %>
<%= stylesheet_link_tag "handsontable.formula" %>

<%= javascript_include_tag "protocols/steps" %>
