<%= render partial: "protocols/header.html.erb", locals: {preview: true} %>

<div data-role="steps-container">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= t("protocols.steps.subtitle") %></h4>
    </div>
  </div>
  <div id="steps">
    <% protocol.steps.order(:position).each do |step| %>
     <%= render partial: "steps/step.html.erb", locals: { step: step, preview: true } %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "handsontable.full.min" %>
<%= javascript_include_tag "lodash" %>
<%= javascript_include_tag "numeral" %>
<%= javascript_include_tag "numeric" %>
<%= javascript_include_tag "md5" %>
<%= javascript_include_tag "jstat" %>
<%= javascript_include_tag "formula" %>
<%= javascript_include_tag "parser" %>
<%= javascript_include_tag "ruleJS" %>
<%= javascript_include_tag "handsontable.formula" %>
<%= javascript_include_tag "big.min" %>
<%= stylesheet_link_tag "handsontable.formula" %>

<%= javascript_include_tag "protocols/steps" %>
