<template id="protocolFilters">
  <%= render layout: 'shared/filter_dropdown', locals: {
    container_class: 'protocols-filters',
    dropdown_title: 'Filters',
    search_field_history_key: 'protocols_filters_per_team'
  } do %>
    <%= render partial: 'shared/filter_dropdown/text_search', locals: {container_class: '', label_text: t('filters_modal.text.label_name_and_keywords')} %>
    <%= render partial: 'shared/filter_dropdown/datetime_search', locals: {container_class: 'published-on-filter', label: 'Published on', view_mode: nil } %>
    <%= render partial: 'shared/filter_dropdown/datetime_search', locals: {container_class: 'modified-on-filter', label: 'Modified on', view_mode: nil } %>
    <%= render partial: 'shared/filter_dropdown/datetime_search', locals: {container_class: 'archived-on-filter', label: 'Archived on', view_mode: 'archived' } %>
    <div class="select-block">
      <label>Published by</label>
      <select class="published-by-filter"
              data-ajax-url="<%= users_filter_projects_path %>"
              data-placeholder="Select a publisher">
      </select>
    </div>
    <div class="select-block">
      <label>Access</label>
      <select class="access-by-filter"
              data-ajax-url="<%= users_filter_projects_path %>"
              data-placeholder="Select who has access">
      </select>
    </div>
    <div class="select-block folders">
      <span class="sci-checkbox-container">
        <%= check_box_tag :has_draft, 'accepted', false, {class: "sci-checkbox"} %>
        <span class="sci-checkbox-label"></span>
      </span>
      <span class="folder-search-label">Has draft</span>
    </div>
  <% end %>
</template>
