<div class="modal fade" id="modal-destroy-organization" tabindex="-1" role="dialog" aria-labelledby="modal-destroy-organization-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-destroy-organization-label"><%= t("users.settings.organizations.edit.modal_destroy_organization.title") %></h4>
      </div>
      <div class="modal-body">
        <%= t("users.settings.organizations.edit.modal_destroy_organization.message", org: org.name) %>
      </div>
      <div class="modal-footer">
        <%= bootstrap_form_tag url: destroy_organization_path(org), method: :delete do |f| %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>
          <%= f.submit t("users.settings.organizations.edit.modal_destroy_organization.confirm"), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>