<%= render partial: "global_activities/references/project.html.erb",
           locals: { subject: subject&.project, breadcrumbs: breadcrumbs  } %>
<div class="ga-breadcrumb">
  <%= image_tag 'icon_small/experiment.svg' %>
  <% if subject&.navigable? %>
    <% path = subject.archived? ? experiment_archive_project_path(subject.project) : canvas_experiment_path(subject) %>
    <%= link_to path, title: subject.name do %>
      <%= subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    <% end %>
  <% else %>
    <% name = subject&.name || breadcrumbs[:experiment] %>
    <span title="<%= name %>">
      <%= name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
