<%= render partial: "global_activities/references/experiment",
           locals: { team: team, subject: subject&.experiment, breadcrumbs: breadcrumbs, values: values, type_of: type_of  } %>
<div class="ga-breadcrumb">
  <%= image_tag 'icon_small/task.svg' %>
  <% if subject&.navigable? %>
    <% if subject.archived?
        path = my_modules_experiment_path(subject.experiment, view_mode: :archived)
      else
        path = protocols_my_module_path(subject)
      end %>
    <%= route_to_other_team(path,
                            team,
                            subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH),
                            title: subject.name) %>
  <% else %>
    <% name = subject&.name || breadcrumbs['my_module'] %>
    <span title="<%= name %>">
      <%= name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
