<%= render partial: "global_activities/references/team.html.erb",
           locals: { subject: subject&.team, breadcrumbs: breadcrumbs  } %>
<div class="ga-breadcrumb">
  <%= image_tag 'icon_small/project.svg' %>
  <% if subject %>
    <% path = subject.archived? ? projects_path : project_path(subject) %>
    <%= link_to path, title: subject.name do %>
      <%= subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    <% end %>
  <% else %>
    <span title="<%= breadcrumbs[:project] %>">
      <%= breadcrumbs[:project]&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
