<%= render partial: "global_activities/references/my_module.html.erb",
           locals: { subject: subject&.my_module, breadcrumbs: breadcrumbs  } %>
<div class="ga-breadcrumb">

  <span class="<%=result_icon_class(subject)%>"></span>
  <% if subject %>
    <%= link_to results_my_module_path(subject.my_module), title: subject.name do %>
      <%= subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    <% end %>
  <% else %>
    <span title="<%= breadcrumbs[:result] %>">
      <%= breadcrumbs[:result]&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
