<%= render partial: "global_activities/references/my_module.html.erb",
           locals: { subject: subject&.my_module, breadcrumbs: breadcrumbs  } %>
<div class="ga-breadcrumb">

  <span class="<%=result_icon_class(subject)%>"></span>
  <% if subject&.navigable? %>
    <% path = subject.archived? ? archive_my_module_path(subject.my_module) : results_my_module_path(subject.my_module) %>
    <%= link_to path, title: subject.name do %>
      <%= subject.name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    <% end %>
  <% else %>
    <% name = subject&.name || breadcrumbs[:result] %>
    <span title="<%= name %>">
      <%= name&.truncate(Constants::NAME_TRUNCATION_LENGTH) %>
    </span>
  <% end %>
</div>
