<% if login_disclaimer %>
  <div class="modal" id="loginDisclaimerModal" tabindex="-1" role="dialog" aria-labelledby="confirm-archive-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
          <h4 class="modal-title" id="confirm-archive-modal-label">
            <%= login_disclaimer["title"]&.html_safe %>
          </h4>
        </div>
        <div class="modal-body">
          <%= login_disclaimer["body"]&.html_safe  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("general.cancel") %></button>
          <button type="button" class="btn btn-primary" data-action="submit"><%= login_disclaimer["action"]  %></button>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "users/login_disclaimer" %>
<% end %>
