<div class="modal session-modal" id="session-expire" tabindex="-1" role="dialog"
    aria-labelledby="session-expire" data-role="session-expire-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title expiring"></h4>
      </div>
      <div class="modal-body">
        <ul>
          <li><%= t('devise.sessions.expire_modal.session_end_in.description') %></li>
          <li>
            <a class="collapse-row">
              <div class="row-title">
                <div class="instruction-session-collapse collapsed" data-toggle="collapse" href="#InstructionsSection" aria-expanded="false">
                  <%= t('devise.sessions.expire_modal.why_see_this') %>
                  <i class="fas fa-angle-up"></i>
                </div>
              </div>
            </a>
            <ul class="collapse" id="InstructionsSection">
                <li><%= t('devise.sessions.expire_modal.session_end_in.paragraph1') %></li>
                <li><%= t('devise.sessions.expire_modal.session_end_in.paragraph2') %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('devise.sessions.expire_modal.session_end_in.revive_session' ) %></button>
      </div>
    </div>
  </div>
</div>
