<% provide(:head_title, t("devise.sessions.new.head_title")) %>
<% content_for(:body_class, 'sign-in-layout') %>
<div class="sign-in-container">
  <div class="sign-in-form-wrapper">
    <div class="center-block center-block-narrow">
      <h1 class="log-in-title"><%= t "devise.sessions.2fa.title" %></h1>
      <%= form_with url: users_authenticate_with_two_factor_url, local: true  do %>
        <%= hidden_field_tag :initial_page, @initial_page %>
        <p><%= t "devise.sessions.2fa.description" %></p>
        <p class="input-group sci-input-container">
          <%= label :otp, t("devise.sessions.2fa.field") %>
          <%= text_field_tag(:otp, '', { class: "form-control sci-input-field", autofocus: true})%>
        </p>

        <p class="actions">
          <%= button_tag t("devise.sessions.2fa.enter"), type: :submit, class: "btn btn-primary" %>
        </p>

        <%= link_to t("devise.sessions.2fa.bypass_code_link"), users_two_factor_recovery_path %>
    <% end %>
    </div>
  </div>
</div>
