<% provide(:head_title, t("devise.sessions.new.head_title")) %>
<% content_for(:body_class, 'sign-in-layout') %>
<div class="sign-in-container">
  <div class="sign-in-form-wrapper">
    <div class="center-block center-block-narrow">
      <h1 class="log-in-title"><%=t "devise.sessions.2fa.title" %></h1>
      <%= form_with url: users_authenticate_with_two_factor_url, local: true  do %>
        <div class="input-group sci-input-container">
          <%= label :otp, t("devise.sessions.2fa.field") %>
          <%= text_field_tag(:otp, '', { class: "form-control sci-input-field", placeholder: t("devise.sessions.2fa.placeholder") })%>
        </div>

        <div class="actions" style="margin-top: 10px; margin-bottom: 10px;">
          <%= button_tag t("devise.sessions.new.submit"), type: :submit, class: "btn btn-primary log-in-button" %>
        </div>
    <% end %>
    </div>
  </div>
</div>
