<ul class="sidebar-branch">
  <li class="sidebar-leaf">
    <% unless archived && !@project.archived? %>
      <%= link_to t('sidebar.experiments.back_button'), projects_path, class: 'sidebar-link back-button' %>
    <% else %>
      <%= link_to t('sidebar.experiments.back_active_experiments'), project_url(@project), class: 'sidebar-link back-button' %>
    <% end %>
  </li>
  <% project.sorted_experiments(@current_sort, archived).each do |experiment| %>
    <li class="sidebar-leaf">
      <%= link_to experiment.name, canvas_experiment_path(experiment), class: 'sidebar-link' %>
    </li>
  <% end %>
  <% unless archived %>
    <li class="sidebar-leaf">
      <%= link_to experiment_archive_project_url(@project), class: 'sidebar-link' do %>
        <i class="fas fa-archive"></i>
        <%= t('sidebar.experiments.archived_experiments') %>
      <% end %>
    </li>
  <% end %>
</ul>
