<ul class="sidebar-branch">
  <li class="sidebar-leaf">
    <% if @project.archived? %>
      <%= link_to t('sidebar.experiments.back_archived_projects'), projects_path(view_mode: :archived), class: 'sidebar-link back-button' %>
    <% elsif view_mode == 'archived' %>
      <%= link_to t('sidebar.experiments.back_active_experiments'), project_url(@project), class: 'sidebar-link back-button' %>
    <% else %>
      <%= link_to t('sidebar.experiments.back_button'), projects_path, class: 'sidebar-link back-button' %>
    <% end %>
  </li>
  <% project.sorted_experiments(current_user, @current_sort, view_mode == 'archived').each do |experiment| %>
    <li class="sidebar-leaf">
      <% if view_mode == 'archived'  %>
        <%= link_to experiment.name, my_modules_experiment_path(experiment, view_mode: :archived), title: experiment.name, class: 'sidebar-link' %>
      <% else %>
        <%= link_to experiment.name, my_modules_experiment_path(experiment), title: experiment.name, class: 'sidebar-link' %>
      <% end %>
    </li>
  <% end %>
  <% if view_mode == 'active' %>
    <li class="sidebar-leaf">
      <%= link_to project_path(@project, view_mode: 'archived'), class: 'sidebar-link' do %>
        <i class="sn-icon sn-icon-archive"></i>
        <%= t('sidebar.experiments.archived_experiments') %>
      <% end %>
    </li>
  <% end %>
</ul>
