<ul>
  <% if project.active_experiments.present? then %>
    <% project.active_experiments.each do |experiment| %>
      <% if experiment_page? && experiment == @experiment %>
        <li class="active">
          <span class="tree-link line-wrap">
            <i></i>
            <span title="<%= @experiment.name %>"><%= @experiment.name %></span>
          </span>
          <%= render partial: 'shared/sidebar/my_modules', locals: { experiment: @experiment } %>
        </li>
      <% else %>
        <li data-parent="candidate">
          <span class="tree-link line-wrap">
            <i></i>
            <% if can_view_experiment(experiment) %>
              <%= link_to experiment.name,
                          experiment_action_to_link_to(experiment),
                          title: experiment.name,
                          class: 'overview_exp_label'
                          %>
            <% else %>
              <%= experiment.name %>
            <% end %>
          </span>
          <%= render partial: 'shared/sidebar/my_modules', locals: { experiment: experiment } %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
