<ul>
  <% if project.active_experiments.present? then %>
    <% project.active_experiments.each do |experiment| %>
      <li class="<%= "active" if experiment_page? %>">
        <span class="tree-link line-wrap">
          <i></i>
          <% if !experiment_page? %>
            <%= link_to experiment.name, experiment_action_to_link_to(experiment), title: experiment.name %>
          <% else %>
            <span title="<%= experiment.name %>"><%= experiment.name %></span>
          <% end %>
        </span>
        <%= render partial: 'shared/sidebar/my_modules', locals: { experiment: experiment } %>
      </li>
    <% end %>
  <% end %>
</ul>
