<%= content_for :sidebar do %>
  <div id="slide-panel" class="visible">
    <div class="tree perfect-scrollbar" data-scroll="<%= params[:scroll] %>">
      <% cache [action_name, current_user, current_team] do %>
        <ul class="sidebar-root" data-sidebar-url="<%= team_sidebar_path(team) %>">
          <% team.projects.each do |project| %>
            <% cache [action_name, current_user, project] do %>
              <li data-parent="candidate"
                  class="branch" >
                <span class="tree-link no-indent" title="<%= project.name %>">
                  <% if project.active_experiments.any? %>
                    <i class="fas fa-caret-right tree-toggle"></i>
                  <% end %>
                    <%= link_to project.name,
                                project_action_to_link_to(project),
                                title: project.name,
                                class: 'line-wrap',
                                data: { type: 'project', id: project.id } %>
                </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
