<ul>
  <% if @projects_tree.present? then %>
    <% @projects_tree.each do |project| %>
      <% if project_page? && project == @project %>
        <li class="active" data-parent="candidate">
          <span class="tree-link line-wrap no-indent">
            <i class="no-arrow"></i>
            <span data-project-id="<%= @project.id %>"
                  title="<%= @project.name %>"><%= @project.name %></span>
          </span>
          <%= render partial: 'shared/sidebar/experiments',
                    locals: { project: project } %>
        </li>
      <% else %>
        <li data-parent="candidate">
          <span class="tree-link line-wrap no-indent">
            <i class="no-arrow"></i>
              <%= link_to project.name,
                          project_action_to_link_to(project),
                          title: project.name,
                          data: { project_id: project.id } %>
          </span>
          <%= render partial: 'shared/sidebar/experiments',
                    locals: { project: project } %>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
