<div class="inline-attachment-container step-asset" style="order: -1" data-asset-id="<%= asset.id %>">
  <div class="header">
    <div class="file-info">
      <div class="file-name">
        <%= asset.file_name %>
      </div>
      <div class="file-metadata">
        <span><%= t('assets.placeholder.modified_label') %> <%= l(asset.updated_at, format: :full_date) if asset.updated_at %></span>
        <span><%= number_to_human_size(asset.file_size) %></span>
      </div>
    </div>
    <div class="show-as-thumbnail change-preview-type"
         data-preview-type="show_as_thumbnail"
         data-asset-id="<%= asset.id %>" >
      <i class="fas fa-compress"></i>
    </div>
  </div>
  <div class="iframe-placeholder" data-iframe-url="<%= asset.get_action_url(current_user, 'embedview') || 'https://ya.ru' %>"></div>

</div>
