<div class="sign-in-up-links">
  <% unless Rails.application.config.x.disable_local_passwords %>
    <%- if controller_name != 'sessions' %>
      <% login = t("devise.links.login") %>
      <% login = t("devise.links.login_with_provider") if action_name.in? %w(new_with_provider create_with_provider) %>
      <%= link_to login, new_session_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to t("devise.links.forgot"), new_password_path(resource_name), class: 'forgot-password-link' %><br />
    <% end -%>

    <%- if devise_mapping.registerable? && Rails.configuration.x.enable_user_registration && controller_name != 'registrations' %>
      <%= link_to t("devise.links.signup"), new_registration_path(resource_name), class: 'signup-link' %><br />
    <% end -%>

    <%- if Rails.configuration.x.enable_email_confirmations && devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to t("devise.links.not_receive_confirmation"), new_confirmation_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' && flash[:alert] == t('devise.failure.locked') %>
      <%= link_to t("devise.links.not_receive_unlock"), new_unlock_path(resource_name) %><br />
    <% end -%>
<% end %>

  <%- if devise_mapping.omniauthable? && resource_class.omniauth_providers.any? %>
    <div data-hook="omniauth-sign-in-links"></div>
  <% end -%>

  <% if controller_name != 'passwords'%>
    <%- if sso_enabled? && okta_configured? %>
      <div class="okta-sign-in-actions">
        <%= form_tag user_okta_omniauth_authorize_path, method: :post, id: 'oktaForm' do %>
          <%= submit_tag t('devise.okta.sign_in_label'), class: 'btn btn-okta' %>
        <% end %>
      </div>
    <% end %>

    <%- unless defined?(linkedin_skip) %>
      <%- if Rails.configuration.x.enable_user_registration && Rails.configuration.x.linkedin_signin_enabled && @oauth_authorize != true %>
        <%= render partial: "users/shared/linkedin_sign_in_links", locals: { resource_name: resource_name } %>
      <% end -%>
    <% end -%>

    <% if sso_enabled? && azure_ad_configured? %>
      <div class="azure-sign-in-actions">
        <%= render partial: "users/shared/azure_sign_in_links", locals: { resource_name: resource_name } %>
      </div>
    <% end %>
  <% end %>
</div>
