<% step_undefined = !defined? step or step.blank? %>

<div>
  <em>
    <%= t("projects.reports.elements.modals.step_contents_inner.instructions") %>
  </em>
</div>

<%= form.check_box :step_all, label: t("general.check_all"), class: "step-check-all" %>
<%= form.label t("projects.reports.elements.modals.step_contents_inner.header") %>
<% if step_undefined or step.checklists.count > 0 %>
  <%= form.check_box :step_checklists, label: t("projects.reports.elements.modals.step_contents_inner.checklists") %>
<% else %>
  <div>
    <em>
      <%= t("projects.reports.elements.modals.step_contents_inner.no_checklists") %>
    </em>
  </div>
<% end %>
<% if step_undefined or step.assets.count > 0 %>
  <%= form.check_box :step_assets, label: t("projects.reports.elements.modals.step_contents_inner.assets") %>
<% else %>
  <div>
    <em>
      <%= t("projects.reports.elements.modals.step_contents_inner.no_assets") %>
    </em>
  </div>
<% end %>
<% if step_undefined or step.tables.count > 0 %>
  <%= form.check_box :step_tables, label: t("projects.reports.elements.modals.step_contents_inner.tables") %>
<% else %>
  <div>
    <em>
      <%= t("projects.reports.elements.modals.step_contents_inner.no_tables") %>
    </em>
  </div>
<% end %>
<%= form.check_box :step_comments, label: t("projects.reports.elements.modals.step_contents_inner.comments") %>