<% report = false unless defined?(report) %>
<% readonly = false unless defined?(readonly) %>
<% edit_mode = (!readonly && comment_editable?(comment)) %>
  <div
    class="comment-container <%= edit_mode ? 'inline-init-handler' : '' %> <%= report ? 'report' : '' %>"
    data-field-to-update="message"
    data-params-group="comment"
    data-path-to-update="<%= comment_action_url(comment) %>"
    data-original-name="<%= comment.message %>"
    data-response-field="comment"
    data-smart-annotation="true"
    data-edit-mode="0"
  >
    <div class="avatar-placehodler">
      <span class='global-avatar-container'>
        <% if report %>
          <% base64_encoded = defined?(export_all) && export_all %>
          <%= image_tag user_avatar_absolute_url(comment.user, :icon_small, base64_encoded), class: 'avatar' %>
        <% else %>
          <%= image_tag avatar_path(comment.user, :icon_small), class: 'avatar' %>
        <% end %>
      </span>
    </div>
    <div class="content-placeholder">
      <div class="comment-name"><%= comment.user.full_name %></div>
      <div class="comment-right">
        <div class="comment-datetime"><%= l(comment.created_at, format: :full) %></div>
        <% if edit_mode %>
          <div class="comment-actions">
            <div class="edit-buttons">
              <span class="save-button"><i class="fas fa-save"></i><%= t('general.save') %></span>
              <span class="cancel-button"><i class="fas fa-times"></i></span>
            </div>
            <div class="view-buttons">
              <span class="edit-button"><i class="fas fa-pen"></i><%= t('general.edit') %></span>
              <a href="#"
                class="delete-button"
                data-url="<%= comment_action_url(comment) %>"
                data-confirm-message="<%= t('comments.delete_confirm') %>"
                data-turbolinks="false">
                <span class="fas fa-trash action-icon-delete"></span>
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="comment-message">
           <div class="view-mode"><%= custom_auto_link(comment.message, team: current_team, simple_format: true).html_safe %></div>
            <% if edit_mode %>
              <%= text_area_tag 'message', comment.message, disabled: true, class: 'smart-text-area hidden' %>
            <% end %>
      </div>
      <div class="error-block"></div>
    </div>
  </div>
