<% if @member_of == 0 %>
  <div class="row">
    <span class="col-xs-12"><em><%=t 'users.settings.preferences.tutorial.no_teams' %></em></span>
  </div>
<% else %>
  <div class="row">
    <span class="col-xs-12"><%=t 'users.settings.preferences.tutorial.select_team_instruction' %></span>
  </div>
  <hr>
  <div class="row">
    <%= bootstrap_form_tag url: reset_tutorial_path, method: :post do |f| %>
      <div class="col-xs-12 col-sm-4">
        <%= collection_select(:team, :id, @teams, :id, :name, {}, { class: 'selectpicker' }) %>
      </div>
      <div class="visible-xs">&nbsp;</div>
      <div class="col-xs-4 col-sm-2">
       <%= f.button t('users.settings.preferences.tutorial.repeat_tutorial'), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
