<%= content_for :sidebar_title, t('sidebar.settings.sidebar_title') %>
<%= content_for :sidebar do %>
<ul class="sidebar-branch" data-hook="user-settings-navigation-html">
  <li class="sidebar-leaf" >
    <%= link_to t("users.settings.sidebar.account_nav.profile"),
                edit_user_registration_path,
                class: "sidebar-link #{'selected' if on_settings_account_profile_page?}"
    %>
  </li>
  <li class="sidebar-leaf" >
    <%= link_to t("users.settings.sidebar.account_nav.preferences"),
                preferences_path,
                class: "sidebar-link #{'selected' if on_settings_account_preferences_page?}"
    %>
  </li>
  <li class="sidebar-leaf" >
    <%= link_to t("users.settings.sidebar.account_nav.addons"),
                addons_path,
                class: "sidebar-link #{'selected' if on_settings_account_addons_page?}"
    %>
  </li>
  <li class="sidebar-leaf" >
    <%= link_to t("users.settings.sidebar.account_nav.connected_accounts"),
                connected_accounts_path,
                class: "sidebar-link #{'selected' if on_settings_account_connected_accounts_page?}"
    %>
  </li>
  <li class="delimiter"></li>
  <li class="sidebar-leaf teams-link" >
    <%= link_to t("users.settings.sidebar.teams"),
                teams_path,
                class: "sidebar-link #{'selected' if on_settings_team_page?}"
    %>
  </li>

  <% if can_create_acitivity_filters? %>
    <li class="sidebar-leaf" >
      <%= link_to t("users.settings.sidebar.webhooks"),
                  users_settings_webhooks_path,
                  class: "sidebar-link #{'selected' if on_settings_webhook_page?}"
      %>
    </li>
  <% end %>
</ul>
<% end %>
