<% provide(:head_title, t("users.settings.organizations.head_title")) %>

<%= render partial: "users/settings/navigation.html.erb" %>
<div class="tab-content">
  <div class="tab-pane tab-pane-settings" role="tabpanel"></div>
  <div class="tab-pane tab-pane-settings active" role="tabpanel">

    <%= render partial: "users/settings/organizations/breadcrumbs.html.erb" %>

    <%= bootstrap_form_for @new_org, url: create_organization_path do |f| %>
      <div class="form-group" style="max-width: 500px;">
        <%= f.text_field :name, label: t("users.settings.organizations.new.name_label"), autofocus: true, placeholder: t("users.settings.organizations.new.name_placeholder") %>
        <small>
          <%= t("users.settings.organizations.new.name_sublabel") %>
        </small>
      </div>

      <div class="form-group" style="max-width: 500px;">
        <%= f.text_area :description, label: t("users.settings.organizations.new.description_label") %>
        <small>
          <%= t("users.settings.organizations.new.description_sublabel") %>
        </small>
      </div>

      <%= link_to t("general.cancel"), organizations_path, class: "btn btn-default" %>
      <%= f.submit t("users.settings.organizations.new.create"), class: "btn btn-primary" %>

    <% end %>


  </div>
</div>