<div id="table-form" class="well">
	<%= form_with(model: @result, url: result_table_path(format: :json),
																	data: { remote: true, 'name-max-length': Constants::NAME_MAX_LENGTH }) do |f| %>
		<%= f.text_field :name, style: "margin-top: 10px;" %><br />
		<div class="editable-table">
			<%= f.fields_for :table do |ff| %>
				<%= ff.hidden_field(:contents, value: ff.object.contents_utf_8, class: "hot-contents" ) %>
				<%= ff.hidden_field(:metadata, value: ff.object.metadata, class: "hot-metadata" ) %>
				<div class="hot">
				</div>
			<% end %>
		</div>
    <hr>
		<div class="align-right edit-result-tables-buttons">
			<button type="button" class="btn btn-secondary cancel-edit">
				<%= t("general.cancel")%>
			</button>
			<%= f.button t("general.save"),
									 class: 'btn btn-primary save-result' %>
			<%= javascript_include_tag 'results/result_tables/edit' %>
		</div>
	<% end %>
</div>
