<div id="table-form" class="well">
	<%= bootstrap_form_for(@result, url: my_module_result_tables_path(format: :json),
																			 data: { 'name-max-length': Constants::NAME_MAX_LENGTH },
																			 remote: true) do |f| %>
		<%= f.text_field :name, style: "margin-top: 10px;" %><br />
		<div class="editable-table" style="margin-bottom: 25px;">
			<%= f.fields_for :table do |ff| %>
				<%= ff.hidden_field(:contents, value: ff.object.contents, class: "hot-contents" ) %>
				<div class="hot">
				</div>
			<% end %>
		</div>
		<div class="align-right">
			<button type="button" class="btn btn-secondary cancel-new">
				<%= t("general.cancel")%>
			</button>
			<%= f.submit t("result_tables.new.create"),
									 class: 'btn btn-primary save-result',
									 onclick: "Results.processResult(event, Results.ResultTypeEnum.TABLE);" %>
    </div>
	<% end %>
</div>
