<div id="table-form" class="well">
	<%= bootstrap_form_for(@result, url: my_module_result_tables_path(format: :json, page: params[:page], order: params[:order]),
																			 data: { 'name-max-length': Constants::NAME_MAX_LENGTH },
																			 remote: true) do |f| %>
		<%= f.text_field :name, style: "margin-top: 10px;" %><br />
		<div class="editable-table" style="margin-bottom: 25px;">
			<%= f.fields_for :table do |ff| %>
				<%= ff.hidden_field(:contents, value: ff.object.contents, class: "hot-contents" ) %>
				<%= ff.hidden_field(:metadata, value: ff.object.metadata, class: "hot-metadata" ) %>
				<div class="hot">
				</div>
			<% end %>
		</div>
		<div class="align-right new-result-tables-buttons">
			<button type="button" class="btn btn-secondary cancel-new">
				<%= t("general.cancel")%>
			</button>
			<%= f.button t("result_tables.new.create"),
									 class: 'btn btn-primary save-result' %>
			<%= javascript_include_tag 'results/result_tables/new', nonce: true %>
    </div>
	<% end %>
</div>
