<div class="panel panel-default module-large
  <%= get_task_alert_color(my_module) %>"
  id="<%= my_module.id %>"
  data-module-id="<%= my_module.id %>"
  data-module-name="<%= my_module.name %>"
  <% if my_module.my_module_group.present? %>
  data-module-group="<%= my_module.my_module_group.id %>"
  <% end %>
  data-module-x="<%= my_module.x %>"
  data-module-y="<%= my_module.y %>"
  data-module-conns="<%= construct_module_connections(my_module) %>"
  data-module-users-tab-url="<%= my_module_user_my_modules_url(my_module_id: my_module.id, format: :json) %>"
  data-module-tags-url="<%= my_module_tags_experiment_path(my_module.experiment, format: :json) %>">

  <% if can_manage_module?(my_module) %>
    <a class="edit-tags-link pull-right" data-remote="true" href="<%= my_module_tags_edit_url(my_module, format: :json) %>">
      <%= render partial: "canvas/tags.html.erb", locals: { my_module: my_module } %>
    </a>
  <% else %>
    <span class="edit-tags-link pull-right">
      <%= render partial: "canvas/tags.html.erb", locals: { my_module: my_module } %>
    </span>
  <% end %>

  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to_if can_read_experiment?(my_module.experiment), my_module.name, protocols_my_module_path(my_module) %>
    </h3>
  </div>

  <div class="panel-body">
    <% if can_manage_module?(my_module) %>
      <%= link_to due_date_my_module_path(my_module, format: :json), remote: true,
                  class: "due-date-link due-date-refresh help_tooltips",
                  data: {
                    tooltiplink: I18n.t('tooltips.link.task.due_date'),
                    tooltipcontent: I18n.t('tooltips.text.task.due_date')
                  } do %>
        <%= render partial: "my_modules/due_date_label.html.erb", locals: { my_module: my_module } %>
      <% end %>
    <% else %>
      <%= render partial: "my_modules/due_date_label.html.erb", locals: { my_module: my_module } %>
    <% end %>
  </div>

  <div class="panel-footer panel-footer-scinote buttons-container">
    <ul class="nav nav-tabs nav-tabs-less" role="tablist">
      <% if can_read_experiment?(my_module.experiment) %>
        <li role="presentation">
          <a class="btn btn-link task-card-view-users" href="<%= my_module_user_my_modules_url(my_module_id: my_module.id, format: :json) %>" aria-controls="<%= my_module.id %>_users" role="tab" data-remote="true">
            <span class="fas fa-users" aria-hidden="true"></span>
            <span class="badge badge-indicator users-badge-indicator <%= 'hidden' unless my_module.users.count.positive? %>"
                  data-linked-id="<%= my_module.id %>">
              <%= my_module.users.count %>
            </span>
          </a>
        </li>
        <li role="presentation">
          <a class="btn btn-link task-card-view-activities" href="<%= activities_my_module_url(id: my_module.id) %>" aria-controls="<%= my_module.id %>_activities" role="tab">
            <span class="fas fa-list" aria-hidden="true"></span>
          </a>
        </li>
        <li role="presentation">
          <a class="btn btn-link task-card-view-comments" href="<%= my_module_my_module_comments_url(my_module_id: my_module.id, format: :json) %>" aria-controls="<%= my_module.id %>_comments" role="tab" data-remote="true">
            <span class="fas fa-comment" aria-hidden="true"></span>
            <span id="comment-counter-<%= my_module.id %>" class="badge badge-indicator comments-badge-indicator <%= 'hidden' unless my_module.task_comments.count.positive? %>"
                  data-linked-id="<%= my_module.id %>">
              <%= my_module.task_comments.count %>
            </span>
          </a>
        </li>
      <% end %>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <% if can_read_experiment?(my_module.experiment) %>
        <div role="tabpanel" class="tab-pane" id="<%= my_module.id %>_info" data-contents="info"></div>
        <div role="tabpanel" class="tab-pane" id="<%= my_module.id %>_users" data-contents="users"></div>
        <div role="tabpanel" class="tab-pane" id="<%= my_module.id %>_activities" data-contents="activities"></div>
        <div role="tabpanel" class="tab-pane" id="<%= my_module.id %>_comments" data-contents="comments"></div>
      <% end %>
    </div>
  </div>
</div>
