<% task_date = current_task_date(task) %>
<a class="current-task-item" href="<%= protocols_my_module_path(task.id) %>">
  <div class="current-task-breadcrumbs"><%= task.experiment.project.name %>
    <span class="slash">/</span>
    <%= task.experiment.name %>
    <span class="slash">/</span>
    <%= task.code %>
  </div>
  <div class="task-name row-border">
    <%= task.name %>
  </div>
  <div class="task-due-date row-border <%= task_date[:span_class]%>">
    <% if task_date[:date] %>
      <i class="fas fa-calendar-day"></i>
      <%= t("dashboard.current_tasks.#{task_date[:translation_key]}", date: l(task_date[:date], format: :full_date)) %>
    <% end %>
  </div>
  <div class="task-status-container row-border">
    <span class="task-status" style="background:<%= task.status_color %>"><%= task.status_name %></span>
  </div>
</a>
