<div class="panel panel-default panel-archive">

  <div class="panel-heading">

    <div class="dropdown pull-right">
      <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <% experiment_form = nil %>
      <%= form_for experiment, method: :patch, format: :html do |f| %>
        <% experiment_form = f %>
        <%= f.hidden_field :archived, value: false %>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li class="dropdown-header"><%=t "projects.index.options_header" %></li>
        <% if can_restore_experiment?(experiment) %>
          <li><a href="#" class="form-submit-link" data-turbolinks="false" data-submit-form="<%= experiment_form.options[:html][:id] %>"><%= t "projects.experiment_archive.restore_option" %></a></li>
        <% end %>
      </ul>
    </div>

    <h3 class="panel-title"><%= experiment.name %></h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <%=t "projects.experiment_archive.archived_on" %>
      </div>
      <div class="col-xs-8">
        <span title="<%=t "projects.experiment_archive.archived_on_title", date: l(experiment.archived_on, format: :full_date), time: l(experiment.archived_on, format: :time) %>">
          <span class="fas fa-calendar-alt" aria-hidden="true"></span>
          <%=l experiment.archived_on, format: :full_date %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%=t "projects.experiment_archive.created_on" %>
      </div>
      <div class="col-xs-8">
        <span title="<%=t "projects.experiment_archive.created_on_title", date: l(experiment.created_at, format: :full_date), time: l(experiment.created_at, format: :time) %>">
          <span class="fas fa-calendar-alt" aria-hidden="true"></span>
          <%=l experiment.created_at, format: :full_date %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%=t "projects.experiment_archive.last_modified_on" %>
      </div>
      <div class="col-xs-8">
        <span title="<%=t "projects.experiment_archive.created_on_title", date: l(experiment.updated_at, format: :full_date), time: l(experiment.updated_at, format: :time) %>">
          <span class="fas fa-calendar-alt" aria-hidden="true"></span>
          <%=l experiment.updated_at, format: :full_date %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= custom_auto_link(experiment.description, team: current_team) %>
      </div>
    </div>
  </div>

</div>
