<li data-id="<%= sample_group.id %>"
    data-edit="<%=
      edit_team_sample_group_path(team, sample_group) %>"
    data-delete="<%=
      team_sample_group_destroy_confirmation_path(team, sample_group) %>"
    data-color="<%= sample_group.color %>">
  <span class="sample-type-group-name"><%= sample_group.name %></span>
  <span class="form-group">
    <input class="text-edit" style="display: none;" />
    <span class="pull-right sample-group-controls">
      <span class="color-picker">
        <%= bootstrap_form_for [team, sample_group], remote: true do |f| %>
          <%= f.color_picker_select :color,
                                    Constants::TAG_COLORS,
                                    class: 'edit-sample-group-color' %>
        <% end %>
      </span>
      <span class="edit-sample-group fas fa-pencil-alt"></span>
      <span class="delete fas fa-trash-alt"></span>
    </span>
  </span>
</li>
