<div class="well">
  <%= bootstrap_form_for(@result, url: result_text_path(format: :json), remote: :true) do |f| %>
    <%= f.text_field :name, style: "margin-top: 10px;" %><br />
    <%= f.fields_for :result_text do |ff| %>
      <%= ff.text_area :text, style: "margin-top: 10px;" %><br />
    <% end %>
    <hr>
    <%= f.submit t("result_texts.edit.update"), class: 'btn btn-primary', onclick: "processResult(event, ResultTypeEnum.TEXT, true);" %>
    <button type="button" class="btn btn-default cancel-edit">
      <%= t("general.cancel")%>
    </button>
  <% end %>
</div>
