<div class="well edit-text-result">
  <%= form_with(model: @result, url: my_module_result_texts_path(format: :json, page: params[:page], order: params[:order]),
                                  builder: SciFormHelper::SciFormBuilder,
                                  data: { remote: true, 'name-max-length': Constants::NAME_MAX_LENGTH, 'rich-text-max-length': Constants::RICH_TEXT_MAX_LENGTH }) do |f| %>
    <div class="sci-input-container mb-4">
      <%= f.text_field :name, style: "margin-top: 10px;", class: "sci-input-field" %><br />
    </div>
    <%= f.fields_for :result_text do |ff| %>
      <%= ff.tiny_mce_editor(:text,
                             id: :result_text_attributes_textarea,
                             autocomplete: 'off',
                             data: { object_type: 'result_text',
                                     object_id: @result.result_text.id,
                                     my_module_id: @result.my_module_id,
                                     last_updated: @result.updated_at.to_i * 1000 }) %>
    <% end %><br />
    <div class="align-right new-result-texts-buttons'">
      <button type="button" class="btn btn-secondary cancel-new">
        <%= t("general.cancel")%>
      </button>
      <%= f.submit t("result_texts.new.create"), class: 'btn btn-primary save-result' %>
    </div>
  <% end %>
</div>
