<% provide(:head_title, t("devise.unlocks.new.head_title")) %>

<div class="center-block center-block-narrow">
  <h2><%=t "devise.unlocks.new.title" %></h2>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <% if not resource.errors.empty? %>
    <div class="alert alert-danger">
    <%= devise_error_messages! %>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit t("devise.unlocks.new.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
