<li>
  <a
    class="new-marvinjs-upload-button"
    data-object-id="<%= element_id %>"
    data-object-type="<%= element_type %>"
    data-marvin-url="<%= marvin_js_assets_path %>"
    data-sketch-container="<%= sketch_container %>"
  >
    <span class="new-marvinjs-upload-icon">
      <%= image_tag 'icon_small/marvinjs.svg' %>
    </span>
    <%= t('marvinjs.new_li_button') %>
  </a>
</li>
