<% # frozen_string_literal: true %>

<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="user_assignments_modal">
      <%= form_with(model: resource, url: update_path, remote: true, html: { data: { action: 'autosave-form' } }) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t '.title', resource_name: resource.name %></h4>
        </div>
        <div class="modal-body">
          <%= f.nested_fields_for :user_assignments, resource.user_assignments, wrapper_options: { class: 'row' } do |user_assignment_form| %>
            <%= render('access_permissions/partials/user_assignment_field.html.erb', f: user_assignment_form) if user_assignment_form.object.persisted? %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= link_to new_resource_path, class: 'btn btn-default pull-left', data: { action: 'swap-remote-container', target: '#user_assignments_modal' } do %>
            <i class="fas fa-plus"></i>
            <%= t '.new_resource_assignments', resource: resource.model_name.human.downcase %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
