<% if BioEddieService.enabled?(current_user) %>
  <div id="bioEddieModal"
       class="modal modal-bio-eddie"
       role="dialog"
       aria-labelledby="bioEddieModal"
       aria-hidden="true"
       data-create-url="<%= bio_eddie_assets_path %>"
       data-backdrop="static"
       data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="file-name">
            <div class="sci-input-container ">
              <%= text_field_tag :molecule_name, '', placeholder: t('bio_eddie.molecule_name_placeholder'), class: 'sci-input-field' %>
            </div>
          </span>
          <button class="file-save-link btn btn-light">
            <i class="fas fa-save"></i>
            <%= t('SaveClose')%>
          </button>
          <button class="file-save-link btn btn-light" data-schedule-for-registration="true">
            <%= image_tag 'chemaxon-logo.svg' %>
            <%= t('bio_eddie.save_and_register')%>
          </button>
          <button class="preview-close btn btn-light icon-btn" data-dismiss="modal">
            <i class="sn-icon sn-icon-close-remove"></i>
          </button>
        </div>
        <div class="modal-body">
          <iframe id="bioEddieIframe" data-src="<%= BioEddieService.url %>/index.html" frameBorder="0" ></iframe>
        </div>
      </div>
    </div>
  </div>
<% end %>

