<div class="filter-container dropdown <%= container_class + '-dropdown' %>">
      <button class="btn btn-light icon-btn filter-button" data-toggle="dropdown"><i class="sn-icon sn-icon-filter"></i></button>
      <div class="dropdown-menu dropdown-menu-right filter-dropdown <%= container_class %>" role="menu" data-team-id="<%= current_team.id %>" data-search-field-history-key="<%= search_field_history_key %>">
        <div class="header">
          <div class="title"><%= dropdown_title %></div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="body">
          <%= yield %>
        </div>
        <div class="footer">
          <div class="buttons">
            <div class="btn btn-secondary clear-button">
              <%= t("filters_modal.clear_btn") %>
            </div>
            <div class="btn btn-primary apply-filters">
              <%= t("filters_modal.show_btn.one") %>
            </div>
          </div>
        </div>
      </div>
    </div>
