<div id="left-menu-bar" class="menu-bar">
  <ul class="nav">
    <li class="<%= "active" if projects_are_selected? %>">
      <%= link_to projects_path, id: "projects-link", class: "toggle-sidebar-link", title: t('left_menu_bar.projects') do %>
        <span class="glyphicon glyphicon-home"></span>
        <span><%= t('left_menu_bar.projects') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if repositories_are_selected? %>">
      <%= link_to team_repositories_path(current_team), id: "repositories-link", title: t('left_menu_bar.repositories') do %>
        <span class="fa fa-cubes" aria-hidden="true"></span>
        <span><%= t('left_menu_bar.repositories') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if templates_are_selected? %>">
      <%= link_to protocols_path, id: "templates-link", title: t('left_menu_bar.templates') do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        <span><%= t('left_menu_bar.templates') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if reports_are_selected? %>">
      <%= link_to "#", id: "reports-link", title: t('left_menu_bar.reports') do %>
        <span class="glyphicon glyphicon-indent-left"></span>
        <span><%= t('left_menu_bar.reports') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if settings_are_selected? %>">
      <%= link_to edit_user_registration_path, id: "settings-link", title: t('left_menu_bar.settings') do %>
        <span class="glyphicon glyphicon-cog"></span>
        <span><%= t('left_menu_bar.settings') %></span>
      <% end %>
    </li>
  </ul>
  <ul class="nav nav-bottom">
    <li class="<%= "active" if activities_are_selected? %>">
      <%= link_to activities_path, id: "activities-link", title: t('left_menu_bar.activities') do %>
        <span class="glyphicon glyphicon-equalizer"></span>
        <span><%= t('left_menu_bar.activities') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if help_is_selected? %>">
      <a id="activities-link" title="<%= t('left_menu_bar.help') %>" href="#">
        <span class="glyphicon glyphicon-paperclip"></span>
        <span><%= t('left_menu_bar.help') %></span>
      </a>
    </li>
  </ul>
</div>
