<div id="left-menu-bar" class="menu-bar">
  <ul class="nav">
    <li class="text-center">
      <span id="sideBarLeft"
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
            onclick="SideBarToggle.hide()"
            ></span>
      <span id="sideBarRight"
            class="glyphicon glyphicon-chevron-right"
            aria-hidden="true"
            onclick="SideBarToggle.show()"
            style="display:none;"
            ></span>
    </li>
    <li class="<%= "active" if projects_are_selected? %>">
      <%= link_to projects_path, id: "projects-link", title: t('left_menu_bar.projects') do %>
        <span class="glyphicon glyphicon-home"></span>
        <span><%= t('left_menu_bar.projects') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if repositories_are_selected? %>">
      <%= link_to repositories_path, id: "repositories-link", title: t('left_menu_bar.repositories') do %>
        <span class="fas fa-cubes" aria-hidden="true"></span>
        <span><%= t('left_menu_bar.repositories') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if templates_are_selected? %>">
      <%= link_to protocols_path, id: "templates-link", title: t('left_menu_bar.templates') do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        <span><%= t('left_menu_bar.templates') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if reports_are_selected? %>">
      <%= link_to "#", id: "reports-link", title: t('left_menu_bar.reports') do %>
        <span class="glyphicon glyphicon-indent-left"></span>
        <span><%= t('left_menu_bar.reports') %></span>
      <% end %>
    </li>
    <li class="<%= "active" if settings_are_selected? %>">
      <%= link_to edit_user_registration_path, id: "settings-link", title: t('left_menu_bar.settings') do %>
        <span class="glyphicon glyphicon-cog"></span>
        <span><%= t('left_menu_bar.settings') %></span>
      <% end %>
    </li>
  </ul>
  <ul class="nav nav-bottom">
    <li class="<%= "active" if activities_are_selected? %>">
      <%= link_to activities_path, id: "activities-link", title: t('left_menu_bar.activities') do %>
        <span class="glyphicon glyphicon-equalizer"></span>
        <span><%= t('left_menu_bar.activities') %></span>
      <% end %>
    </li>
    <!-- support -->
    <li class="dropup">
      <a href="#"
         id="support-link"
         class="dropdown-toggle"
         title="<%= t('left_menu_bar.support') %>"
         data-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false">
        <span class="glyphicon glyphicon-paperclip"></span>
        <span><%= t('left_menu_bar.support') %></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to t('left_menu_bar.support_links.support'),
                          Constants::SUPPORT_URL,
                          target: "_blank" %></li>
        <li><%= link_to t('left_menu_bar.support_links.tutorials'),
                          Constants::TUTORIALS_URL,
                          target: "_blank" %></li>
        <li><%= link_to t('left_menu_bar.support_links.webinars'),
                          Constants::WEBINARS_URL,
                          target: "_blank" %></li>
      </ul>
    </li>
  </ul>
</div>

<%= javascript_include_tag("sidebar_toggle") %>
