<div id="left-menu-bar" class="menu-bar">
  <div class="scroll-wrapper">
    <ul class="nav">
      <% if current_user.teams.blank? %>
      <li class="disabled">
          <span>
            <span class="fas fa-thumbtack"></span>
            <span><%= t('left_menu_bar.dashboard') %></span>
          </span>
        </li>
        <li class="disabled">
          <span>
            <span class="fas fa-folder"></span>
            <span><%= t('left_menu_bar.projects') %></span>
          </span>
        </li>
        <li class="disabled">
          <span>
            <span class="fas fa-list-alt" aria-hidden="true"></span>
            <span><%= t('left_menu_bar.repositories') %></span>
          </span>
        </li>
        <li class="disabled">
          <span>
            <span class="fas fa-edit"></span>
            <span><%= t('left_menu_bar.templates') %></span>
          </span>
        </li>
        <li class="disabled">
          <span>
            <span class="fas fa-clipboard-check"></span>
            <span><%= t('left_menu_bar.reports') %></span>
          </span>
        </li>
      <% else %>
        <li class="<%= "active" if dashboard_are_selected? %>">
          <%= link_to dashboard_path, id: "dashboard-link", title: t('left_menu_bar.dashboard') do %>
            <span class="fas fa-thumbtack"></span>
            <span><%= t('left_menu_bar.dashboard') %></span>
          <% end %>
        </li>
        <li class="<%= "active" if projects_are_selected? %>">
          <%= link_to projects_path, id: "projects-link", title: 'Project' do %>
            <span class="fas fa-folder"></span>
            <span><%= t('left_menu_bar.projects') %></span>
          <% end %>
        </li>
        <li class="<%= "active" if repositories_are_selected? %>">
          <%= link_to repositories_path, id: "repositories-link", title: t('left_menu_bar.repositories') do %>
            <span class="fas fa-list-alt" aria-hidden="true"></span>
            <span><%= t('left_menu_bar.repositories') %></span>
          <% end %>
        </li>
        <li class="<%= "active" if templates_are_selected? %>">
          <%= link_to protocols_path, id: "templates-link", title: 'Template' do %>
            <span class="fas fa-edit"></span>
            <span><%= t('left_menu_bar.templates') %></span>
          <% end %>
        </li>
        <li class="<%= "active" if reports_are_selected? %>">
          <%= link_to reports_path, id: "reports-link", title: t('left_menu_bar.reports') do %>
            <span class="fas fa-clipboard-check"></span>
            <span><%= t('left_menu_bar.reports') %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="nav nav-bottom">
      <li class="<%= "active" if activities_are_selected? %>">
        <%= link_to global_activities_path, id: "activities-link", title: t('left_menu_bar.activities') do %>
          <span class="fas fa-list"></span>
          <span><%= t('left_menu_bar.activities') %></span>
        <% end %>
      </li>
      <!-- settings -->
      <li class="<%= "active" if settings_are_selected? %>">
        <%= link_to edit_user_registration_path, id: "settings-link", title: t('left_menu_bar.settings') do %>
          <span class="fas fa-cog"></span>
          <span><%= t('left_menu_bar.settings') %></span>
        <% end %>
      </li>
      <!-- support -->
      <li class="dropup">
        <a href="#"
          id="support-link"
          class="dropdown-toggle"
          title="<%= t('left_menu_bar.support') %>"
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false">
          <span class="fas fa-question-circle"></span>
          <span><%= t('left_menu_bar.support') %></span>
        </a>
        <ul class="dropdown-menu" data-hook="support-dropdown">
          <li>
            <%= link_to  Constants::SUPPORT_URL, target: "_blank", id: "knowledge-center-link" do %>
             <i class="fas fa-question-circle"></i>
              <%= t('left_menu_bar.support_links.support') %>
            <% end %>
          </li>
          <li><%= link_to t('left_menu_bar.support_links.tutorials'),
                            Constants::TUTORIALS_URL,
                            target: "_blank" %></li>
          <li role="separator" class="divider" data-hook="support-dropdown-separator">
          <li>
            <%= link_to '#', class: "about-scinote", data: { toggle: 'modal', target: '#aboutModal' } do %>
              <span class="core-version"><%= t('left_menu_bar.support_links.core_version', version: Scinote::Application::VERSION ) %></span>
              <%= t('left_menu_bar.support_links.about') %>
            <% end %>
          </li>
        </ul>
      </li>
      <!-- academy -->
      <li>
        <%= link_to Constants::ACADEMY_BL_LINK,
          id: "academy-link",
          class: "academy-color",
          title: I18n.t('nav.academy_tooltip'),
          target: :_blank do
        %>
          <span class="fas fa-graduation-cap"></span>
          <span><%= t('left_menu_bar.academy') %></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%= javascript_include_tag("sidebar_toggle") %>
