<div class="my-modules-list-partial">
  <% task_groups.each do |task_group| %>
  <div class="task-group">
    <div class="header">
      <span class="project" title="<%= task_group[:project_name] %>"><%= escape_input(task_group[:project_name]) %></span>
      <span class="slash">/</span>
      <span class="experiment" title="<%= task_group[:experiment_name] %>"><%= escape_input(task_group[:experiment_name]) %></span>
    </div>
    <div class="tasks">
      <% task_group[:tasks].each do |task| %>
      <div class="task">
        <%= draw_custom_icon('task-icon') %>
        <% if can_read_experiment?(current_user, task.experiment) %>
          <%= link_to(escape_input(task.name), protocols_my_module_path(task.id), {class: "task-link", title: task.name}) %>
        <% else %>
          <%= escape_input(task.name) %>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
