<% reminders.each_with_index do |reminder, index| %>
  <li class="row-reminders-notification">
    <% if reminder.value_type == 'RepositoryStockValue' %>
      <div class="row-reminders-title"><strong><%= t('repository_row.reminder.low_stock_title') %></strong></div>
      <div class="row-reminders-body">
        <% if reminder.value.amount <= 0 %>
          <%= t('repository_row.reminder.stock_empty') %>
        <% else %>
          <%= t('repository_row.reminder.stock_low', stock_formated: reminder.value.formatted ).html_safe %>
        <% end %>
      </div>
    <% elsif reminder.value_type == 'RepositoryDateTimeValueBase' %>
      <div class="row-reminders-title"><strong><%= t('repository_row.reminder.date_reminder') %></strong></div>
      <div class="row-reminders-body">
      <%if reminder.value.data < Time.now.utc %>
        <%= t('repository_row.reminder.item_expired') %>
      <% else %>
          <%= t('repository_row.reminder.date_expiration', date_expiration: 
          ((reminder.value.data - Time.now.utc)/1.day).ceil.to_s + 
          (((reminder.value.data - Time.now.utc)/1.day).ceil > 1 ? ' days' : ' day')).html_safe %>
      <% end %>
      <% if reminder.repository_column.metadata["reminder_message"] != ""%>
        <span> <%= reminder.repository_column.metadata["reminder_message"] %> </span>
      <% end %>
         
      </div>
    <% end %>
    <div class="row-reminders-footer" data-row-hide-reminders-url="
      <%= repository_repository_row_repository_cell_hide_reminder_url(reminder.repository_row.repository, 
                                                                      reminder.repository_row, 
                                                                      reminder) %> ">
      <i class="fas fa-times"></i>
      <%= t('repository_row.reminder.clear') %>
    </div>
    <%if index + 1 < reminders.length %>
        <hr>
    <%end%>
  </li>
<% end %>

