<% reminders.each_with_index do |reminder, index| %>
  <li class="row-reminders-notification">
    <% if reminder.value_type == 'RepositoryStockValue' %>
      <%= render partial: 'shared/reminder/stock_reminder', locals: { reminder: reminder } %>
    <% elsif reminder.value_type == 'RepositoryDateTimeValueBase' %>
      <%= render partial: 'shared/reminder/date_reminder', locals: { reminder: reminder } %>
    <% end %>
    <button class="row-reminders-footer btn btn-light" data-row-hide-reminders-url="
      <%= repository_repository_row_repository_cell_hide_reminder_url(reminder.repository_row.repository,
                                                                      reminder.repository_row,
                                                                      reminder) %> " tabindex="<%= index + 1 %>">
      <i class="sn-icon sn-icon-close"></i>
      <%= t('repository_row.reminder.clear') %>
    </button>
    <%if index + 1 < reminders.length %>
        <hr>
    <%end%>
  </li>
<% end %>

