<%= render partial: "custom_fields/new_modal" %>
<%= render partial: "samples/import_samples_modal" %>
<%= render partial: "samples/delete_samples_modal" %>
<%= render partial: "samples/create_sample_group_modal" %>
<!-- Modal for parsing sample sheets should be empty at first -->
<div class="modal fade" id="modal-parse-samples" tabindex="-1" role="dialog" aria-labelledby=="modal-parse-samples-label"></div>

<div id="alert-container"></div>

<% if can_view_samples(@organization) %>
  <%= bootstrap_form_tag(url: export_samples_organization_path(@organization, format: :csv), html: {id: "form-export", class: "hidden"}) do |f| %>
  <% end %>
<% end %>

<%= form_for :sample, url: form_submit_link, html: {id: "form-samples"} do |f|%>

<div id="samples-toolbar"
  <% if @my_module %>
    data-module-id="<%= @my_module.id %>"
    data-samples-step-text="<%=t 'tutorial.samples_html' %>"
    data-breadcrumbs-step-text="<%=t 'tutorial.breadcrumbs_html' %>"
  <% end %>>

  <% if can_create_samples(@organization) %>
    <button type="button" class="btn btn-default editAdd" id="addSample" onclick="onClickAddSample()">
      <span class="glyphicon glyphicon-plus"></span>
      <span class="hidden-xs"><%= t("samples.add_new_sample") %></span>
    </button>
    <button type="button" class="btn btn-default" id="importSamplesButton" data-toggle="modal" data-target="#modal-import-samples">
      <span class="glyphicon glyphicon-cloud-upload"></span>
      <span class="hidden-xs"><%= t("samples.import") %></span>
      </button>
  <% end %>

  <% if can_view_samples(@organization) %>
    <a href="#" class="btn btn-default" id="exportSamplesButton">
      <span class="glyphicon glyphicon-cloud-download"></span>
      <span class="hidden-xs"><%= t("samples.export") %></span>
    </a>
  <% end %>

  <div id="datatables-buttons" style="display: inline;">
    <div id="samples-columns-dropdown" class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%= t("samples.columns") %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right smart-dropdown" id="samples-columns-list">
        <li style="padding: 5px;">
          <div id="new-column-form" class="form-group" data-action="<%= organization_custom_fields_path(@organization) %>">
            <div class="input-group">
              <input class="form-control" id="new-column-name" placeholder="<%= t("samples.column_new_text") %>">
              <span class="input-group-btn">
                <a id="add-new-column-button" class="btn btn-primary">
                  <%= t("samples.column_create") %>
                </a>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="dropdown pull-right" style="display: inline;">
    <%= link_to_if(can_add_sample_related_things_to_organization,
                   t('samples.types_and_groups'),
                   organization_sample_types_path(@organization),
                   class: 'btn btn-default' ) %>
  </div>
</div>

<div class="btn-group" id="saveCancel" data-toggle="buttons" style="display:none">
  <button type="button" class="btn btn-primary" id="saveSample" onclick="onClickSave()">
    <span class="glyphicon glyphicon-save"></span>
    <%= t("samples.save_sample") %>
  </button>
  <button type="button" class="btn btn-default" id="cancelSave" onclick="onClickCancel()">
    <span class="glyphicon glyphicon-remove visible-xs-inline"></span>
    <span class="hidden-xs"><%= t("samples.cancel_save") %></span>
  </button>
</div>

<!-- These buttons are appended to table in javascript, after table initialization. -->
<div class="toolbarButtons" style="display:none">
  <button type="button" class="btn btn-default editAdd" id="editSample" onclick="onClickEdit()" disabled>
    <span class="glyphicon glyphicon-pencil"></span>
    <span class="hidden-xs-custom"><%= t("samples.edit_sample") %></span>
  </button>

  <% if can_delete_samples(@organization) %>
    <button type="button" class="btn btn-default"
      id="deleteSamplesButton" data-target="#deleteSamples" data-toggle="modal" disabled>
      <span class="glyphicon glyphicon-trash"></span>
      <span class="hidden-xs-custom"><%= t'samples.delete_samples' %></span>
        <%= submit_tag MyModulesController::DELETE_SAMPLES, :class => "hidden delete_samples_submit" %>
    </button>
  <% end %>

  <% if can_add_samples %>
    <button type="button" class="btn btn-default"
      id="assignSamples" onclick="$(this).next().click();" disabled>
      <span class="glyphicon glyphicon-ok-circle"></span>
      <span class="hidden-xs-custom"><%= t'samples.assign_samples_to_module' %></span>
    </button>
    <%= submit_tag MyModulesController::ASSIGN_SAMPLES, :class => "hidden" %>
  <% end %>
  <% if can_remove_samples %>
    <button type="button" class="btn btn-default"
      id="unassignSamples" onclick="$(this).next().click();" disabled>
      <span class="glyphicon glyphicon-ban-circle"></span>
      <span class="hidden-xs-custom"><%= t'samples.unassign_samples_to_module' %></span>
    </button>
    <%= submit_tag MyModulesController::UNASSIGN_SAMPLES, :class => "hidden" %>
  <% end %>
</div>

<div class="samples-table">
  <table id="samples" class="table"
    data-organization-id="<%= @project.organization.id %>"
    data-source="<%= @samples_index_link %>"
    data-num-columns="<%= num_of_columns %>"
    data-new-sample="<%= new_organization_sample_path(organization_id: @organization) %>"
    data-create-sample="<%= organization_samples_path(organization_id: @organization) %>"
    >
    <thead>
      <tr>
        <th id="checkbox"><input name="select_all" value="1" type="checkbox"></th>
        <th id="assigned"><%= t("samples.table.assigned") %></th>
        <th id="sample-name"><%= t("samples.table.sample_name") %></th>
        <th id="sample-type"><%= t("samples.table.sample_type") %></th>
        <th id="sample-group"><%= t("samples.table.sample_group") %></th>
        <th id="added-on"><%= t("samples.table.added_on") %></th>
        <th id="added-by"><%= t("samples.table.added_by") %></th>
        <% all_custom_fields.each do |cf| %>
        <th class="custom-field" id="<%= cf.id %>"><%= cf.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<% end %>
<%= stylesheet_link_tag 'datatables' %>
<%= javascript_include_tag("samples/samples") %>
<%= javascript_include_tag("samples/sample_datatable") %>
