<td>
</td>
<% if assigned %>
  <td data-sort="1">
    <span class="fas fa-check" aria-hidden="true"></span>
  <% else %>
    <td data-sort="0">
      <span class="fas fa-times" aria-hidden="true"></span>
    <% end %>
  </td>
  <td><%= sample.name %></td>
  <% if sample.sample_type %>
    <td><%= sample.sample_type.name %></td>
  <% else %>
    <td><%= t("samples.table.no_type")%></td>
  <% end %>
  <% if sample.sample_group %>
    <td> <font color="<%= sample.sample_group.color %>"><%= sample.sample_group.name %></font></td>
  <% else %>
    <td><%= t("samples.table.no_group")%></td>
  <% end %>
  <td><%= l(sample.created_at, format: :full) %></td>
  <td><%= sample.user.full_name %></td>
