<% content_for :secondary_navigation do %>
<nav class="navbar navbar-default navbar-secondary">
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- Small devices dropdown button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Breadcrumbs, displayed on small screens -->
      <ul class="breadcrumb hidden-sm hidden-md hidden-lg">
        <li>
          <% if can_view_projects(@project.organization) %>
            <a href="<%= projects_path :organization => @project.organization.id %>">
          <% end %>
          <span class="glyphicon glyphicon-folder-open"></span>
          <% if can_view_projects(@project.organization) %>
            </a>
          <% end %>
        </li>
        <% if project_page? %>
          <li class="active">
            <span class="glyphicon glyphicon-blackboard"></span>
          </li>
        <% else %>
          <li>
           <% if can_view_project(@project) %>
              <a href="<%= project_url(@project) %>">
            <% end %>
            <span class="glyphicon glyphicon-blackboard"></span>
            <% if can_view_project(@project) %>
              </a>
            <% end %>
          </li>
        <% end %>
        <% if experiment_page? || module_page? %>
          <% if !module_page? %>
            <li class="active">
              <%= fa_icon 'fa-flask' %>
            </li>
          <% else %>
            <li>
              <% if can_view_experiment(@experiment) %>
                <%= link_to canvas_experiment_path(@experiment) do %>
                  <%= fa_icon 'fa-flask' %>
                <% end %>
              <% else %>
                <%= fa_icon 'fa-flask' %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% if module_page? %>
          <li class="active">
            <span class="glyphicon glyphicon-credit-card"></span>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- buttons -->
    <div class="collapse navbar-collapse" id="secondary-menu">

      <!-- True secondary navigation (buttons on the right side) -->
      <% if project_page? %>
        <ul class="nav navbar-nav navbar-right" style="vertical-align: bottom" data-hook="project-nav-tabs">
          <% if can_view_project(@project) then %>
            <li id="canvas-nav-tab" class="<%= "active" if project_show? %>">
              <a href="<%= project_url(@project) %>" title="<%=t "nav2.projects.show" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.show" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-blackboard"></span>
              </a>
            </li>
          <% end %>
          <% if can_view_project_samples(@project) then %>
            <li id="project-samples-nav-tab" class="<%= "active" if project_samples? %>">
              <a href="<%= samples_project_url(@project) %>" title="<%=t "nav2.projects.samples" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.samples" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-tint"></span>
              </a>
            </li>
          <% end %>
          <% if can_view_project_archive(@project) then %>
            <li id="project-archive-nav-tab" class="<%= "active" if project_archive? %>">
              <a href="<%= experiment_archive_project_url(@project) %>"><span class="glyphicon glyphicon-briefcase"></span></a>
            </li>
          <% end %>
        </ul>
      <% elsif experiment_page? %>
        <ul class="nav navbar-nav navbar-right" style="vertical-align: bottom" data-hook="project-nav-tabs">
          <% if can_view_experiment(@experiment) then %>
              <li id="canvas-nav-tab" class="<%= "active" if experiment_canvas? %>">
                <a href="<%= canvas_experiment_url(@experiment) %>" title="<%=t "nav2.experiments.canvas" %>">
                  <span class="hidden-sm hidden-md"><%=t "nav2.experiments.canvas" %></span>
                  <span class="hidden-xs hidden-lg glyphicon glyphicon-blackboard"></span>
                </a>
              </li>
          <% end %>
          <% if can_view_experiment_samples(@experiment) then %>
            <li id="experiment-samples-nav-tab" class="<%= "active" if experiment_samples? %>">
              <a href="<%= samples_experiment_url(@experiment) %>" title="<%=t "nav2.projects.samples" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.samples" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-tint"></span>
              </a>
            </li>
          <% end %>
          <% if can_view_experiment_archive(@experiment) then %>
            <li id="project-archive-nav-tab" class="<%= "active" if experiment_archive? %>">
              <a href="<%= module_archive_experiment_url(@experiment) %>"><span class="glyphicon glyphicon-briefcase"></span></a>
            </li>
          <% end %>
        </ul>
      <% elsif module_page? %>
        <ul class="nav navbar-nav navbar-right" style="vertical-align: bottom">
          <li id="overview-nav-tab" class="<%= "active" if module_overview? %>">
            <a href="<%= my_module_path(@my_module) %>" title="<%= t('nav2.modules.overview') %>">
              <span class="hidden-sm hidden-md"><%= t('nav2.modules.overview') %></span>
              <span class="hidden-xs hidden-lg glyphicon glyphicon-blackboard"></span>
            </a>
          </li>
          <% if can_view_module_protocols(@my_module) %>
            <%= my_module_tab_li(
                  @my_module,
                  'protocols',
                  protocols_my_module_path(@my_module),
                  module_protocols?,
                  'glyphicon-circle-arrow-right',
                  { id: 'steps-nav-tab' }
                )
            %>
          <% end %>
          <% if can_view_results_in_module(@my_module) %>
            <%= my_module_tab_li(
                  @my_module,
                  'results',
                  results_my_module_path(@my_module),
                  module_results?,
                  'glyphicon-th',
                  { id: 'results-nav-tab' }
                )
            %>
          <% end %>
          <% if can_view_module_activities(@my_module) %>
            <%= my_module_tab_li(
                  @my_module,
                  'activity',
                  activities_my_module_path(@my_module),
                  module_activities?,
                  'glyphicon-equalizer',
                  { id: 'activities-nav-tab' }
                )
            %>
          <% end %>
          <% if can_view_module_samples(@my_module) %>
            <%= my_module_tab_li(
                  @my_module,
                  'samples',
                  samples_my_module_path(@my_module),
                  module_samples?,
                  'glyphicon-tint',
                  { id: 'module-samples-nav-tab' }
                )
            %>
          <% end %>
          <!-- Deface hook to inject additional tabs after this one-->
          <li data-hook="module-nav-tabs"></li>
          <% if can_edit_module_tabs(@my_module) %>
            <li class="dropdown" data-role="module-tab-selector" data-url="<%= toggle_tab_my_module_path(@my_module) %>">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-module-tab-selector">
                <li class="disabled">
                  <a href="#">
                    <input type="checkbox" checked="checked">
                    <%= t('nav2.modules.overview') %>
                  </a>
                </li>
                <%= my_module_tab_selector_tab_li(@my_module, 'protocols', @my_module.protocols.count == 0) %>
                <%= my_module_tab_selector_tab_li(@my_module, 'results', @my_module.results.count == 0) %>
                <%= my_module_tab_selector_tab_li(@my_module, 'activity') %>
                <%= my_module_tab_selector_tab_li(@my_module, 'samples', @my_module.samples.count == 0) %>
                <li style="display: none;" data-hook="module-tab-selector"></li>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>

      <!-- Breadcrumbs, displayed on large screens -->
      <ul class="breadcrumb hidden-xs">
        <li>
          <% if can_view_projects(@project.organization) %>
            <a href="<%= projects_path :organization => @project.organization.id %>">
          <% end %>
          <%= truncate(@project.organization.name,
                       length: Constants::NAME_TRUNCATION_LENGTH) %>
          <% if can_view_projects(@project.organization) %>
            </a>
          <% end %>
        </li>
        <% if project_page? %>
          <li class="active">
            <%= truncate(@project.name,
                         length: Constants::NAME_TRUNCATION_LENGTH) %>
          </li>
        <% else %>
          <li>
            <% if can_view_project(@project) %>
              <a href="<%= project_url(@project) %>">
            <% end %>
            <%= truncate(@project.name,
                         length: Constants::NAME_TRUNCATION_LENGTH) %>
            <% if can_view_project(@project) %>
              </a>
            <% end %>
          </li>
        <% end %>
        <% if experiment_page? || module_page? %>
          <% if !module_page? %>
            <li class="active">
              <%= truncate(@experiment.name,
                           length: Constants::NAME_TRUNCATION_LENGTH) %>
            </li>
          <% else %>
            <li>
            <% if can_view_experiment(@experiment) %>
              <%= link_to truncate(@experiment.name,
                                   length: Constants::NAME_TRUNCATION_LENGTH),
                          canvas_experiment_path(@experiment) %>
            <% else %>
              <%= truncate(@experiment.name,
                           length: Constants::NAME_TRUNCATION_LENGTH) %>
            <% end %>
            </li>
          <% end %>
        <% end %>
        <% if module_page? %>
          <li class="active">
            <%= truncate(@my_module.name,
                         length: Constants::NAME_TRUNCATION_LENGTH) %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
<% end %>

<%= javascript_include_tag("secondary_navigation") %>