<% content_for :secondary_navigation do %>
<nav class="navbar navbar-default navbar-secondary">
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- Small devices dropdown button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- buttons -->
    <div class="collapse navbar-collapse" id="secondary-menu">

      <!-- True secondary navigation (buttons on the right side) -->
      <ul class="nav navbar-nav navbar-right" style="vertical-align: bottom">
        <% if project_page? ||
              sample_types_page_project? ||
              sample_groups_page_project? %>
          <% if can_read_project?(@project) then %>
            <li id="canvas-nav-tab" class="<%= "active" if is_project_show? %>">
              <a href="<%= project_url(@project) %>" title="<%=t "nav2.projects.show" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.show" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-blackboard"></span>
              </a>
            </li>
            <li id="project-samples-nav-tab" class="<%= "active" if is_project_samples? ||
                                                                    sample_types_page_project? ||
                                                                    sample_groups_page_project? %>">
              <a href="<%= samples_project_url(@project) %>" title="<%=t "nav2.projects.samples" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.samples" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-tint"></span>
              </a>
            </li>
            <li id="reports-nav-tab" class="<%= "active" if is_project_reports? %>">
              <a href="<%= project_reports_url(@project) %>" title="<%=t "nav2.projects.reports" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.reports" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-list-alt"></span>
              </a>
            </li>
            <li id="project-archive-nav-tab" data-turbolinks="false" class="<%= "active" if is_project_archive? %>">
              <a href="<%= experiment_archive_project_url(@project) %>" title="<%=t "nav2.projects.archive" %>">
                <span class="glyphicon glyphicon-briefcase"></span>
              </a>
            </li>
          <% end %>

        <% elsif experiment_page? ||
                 sample_groups_page_experiment? ||
                 sample_types_page_expermient? %>
          <% if can_read_experiment?(@experiment) %>
            <li id="canvas-nav-tab" class="<%= "active" if is_experiment_canvas? %>">
              <a href="<%= canvas_experiment_url(@experiment) %>" title="<%=t "nav2.experiments.canvas" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.experiments.canvas" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-blackboard"></span>
              </a>
            </li>
            <li id="experiment-samples-nav-tab" class="<%= "active" if is_experiment_samples? ||
                                                                       sample_groups_page_experiment? ||
                                                                       sample_types_page_expermient? %>">
              <a href="<%= samples_experiment_url(@experiment) %>" title="<%=t "nav2.projects.samples" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.samples" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-tint"></span>
              </a>
            </li>
          <% end %>
          <% if can_read_project?(@experiment.project) then %>
              <li id="reports-nav-tab" class="<%= "active" if is_project_reports? %>">
                <a href="<%= project_reports_url(@experiment.project) %>" title="<%=t "nav2.projects.reports" %>">
                  <span class="hidden-sm hidden-md"><%=t "nav2.projects.reports" %></span>
                  <span class="hidden-xs hidden-lg glyphicon glyphicon-list-alt"></span>
                </a>
              </li>
              <li id="project-archive-nav-tab" data-turbolinks="false" class="<%= "active" if is_experiment_archive? %>">
                <a href="<%= module_archive_experiment_url(@experiment) %>" title="<%=t "nav2.projects.archive" %>">
                  <span class="glyphicon glyphicon-briefcase"></span>
                </a>
              </li>
          <% end %>

        <% elsif module_page? ||
                 sample_types_page_my_module? ||
                 sample_groups_page_my_module? %>
          <% if can_read_experiment?(@my_module.experiment) %>
            <li id="steps-nav-tab" class="<%= "active" if is_module_protocols? %>">
              <a href="<%= protocols_my_module_url(@my_module) %>" title="<%=t "nav2.modules.steps" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.modules.steps" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-circle-arrow-right"></span>
              </a>
            </li>
            <li id="results-nav-tab" class="<%= "active" if is_module_results? %>">
              <a href="<%= results_my_module_url(@my_module) %>" title="<%=t "nav2.modules.results" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.modules.results" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-th"></span>
              </a>
            </li>
            <li id="activities-nav-tab" class="<%= "active" if is_module_activities? %>">
              <a href="<%= activities_my_module_url(@my_module) %>" title="<%=t "nav2.modules.activities" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.modules.activities" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-equalizer"></span>
              </a>
            </li>
          <% end %>

          <li data-hook="secondary-navigation-tabs"></li>

          <% if can_read_experiment?(@my_module.experiment) %>
            <li id="module-samples-nav-tab" class="<%= "active" if is_module_samples? ||
                                                                   sample_types_page_my_module? ||
                                                                   sample_groups_page_my_module? %>">
              <a href="<%= samples_my_module_url(@my_module) %>" title="<%=t "nav2.modules.samples" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.modules.samples" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-tint"></span>
              </a>
            </li>
          <% end %>
          <% if can_read_project?(@my_module.experiment.project) then %>
            <li id="reports-nav-tab" >
              <a href="<%= project_reports_url(@my_module.experiment.project) %>" title="<%=t "nav2.projects.reports" %>">
                <span class="hidden-sm hidden-md"><%=t "nav2.projects.reports" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-list-alt"></span>
              </a>
            </li>
          <% end %>
          <% if can_read_team?(@my_module.experiment.project.team) &&
                @my_module.experiment.project.team.repositories.exists? %>
            <li id="repositories-nav-tab" class="<%= "active" if module_repository_page? %>">
              <a href="#" id="repositoriesDropdownMenuLink" title="<%=t "nav2.modules.repositories" %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="hidden-sm hidden-md"><%=t "nav2.modules.repositories" %></span>
                <span class="hidden-xs hidden-lg glyphicon glyphicon-list"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu repositories-dropdown-menu" aria-labelledby="repositoriesDropdownMenuLink">
                <% @my_module.experiment.project.team.repositories.order(created_at: :asc).each do |repository| %>
                  <li>
                    <a class="dropdown-item"
                       href="<%= repository_my_module_url(id: @my_module, repository_id: repository) %>"
                       title="<%= repository.name %>"
                       data-no-turbolink="true">
                      <%= truncate(repository.name) %>
                    </a>
                  </li>
                  <% unless @my_module.experiment.project.team.repositories.last == repository %>
                    <li class="divider"></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
          <% if can_read_experiment?(@my_module.experiment) then %>
            <li id="archive-nav-tab" data-turbolinks="false" class="<%= "active" if is_module_archive? %>">
              <a href="<%= archive_my_module_url(@my_module) %>">
                <span class="glyphicon glyphicon-briefcase" title="<%= t'nav2.modules.archive' %>"></span></a>
            </li>
          <% end %>

        <% end %>
      </ul>

      <!-- Secondary navigation title -->
      <% if project_page? %>
        <% title_element = @project %>
      <% elsif experiment_page? %>
        <% title_element = @experiment %>
      <% elsif module_page? %>
        <% title_element = @my_module %>
      <% end %>

      <div class="nav-name">
        <%= truncate(title_element.name,
                     length: Constants::NAME_TRUNCATION_LENGTH) %>
      </div>

    </div>
  </div>
</nav>
<% end %>
