<% content_for :sidebar do %>
  <div id="slide-panel" class="visible">

    <div class="sidebar-header">
      <div class="sidebar-header-title">
        <h5><%=t "sidebar.title" %></h5>
      </div>
    </div>
    <div class="sidebar-header-toggle">
      <a href="" id="toggle-sidebar-link">
        <span class="glyphicon glyphicon-play-circle"></span>
      </a>
    </div>

    <div class="tree">
      <ul>
        <li class="<%= "active" if not is_module_page? %>">
          <span class="tree-link line-wrap">
            <i></i>
            <% if is_module_page? %>
              <%= link_to @project.name, project_action_to_link_to(@project), title: @project.name %>
            <% else %>
              <span title="<%= @project.name %>"><%= @project.name %></span>
            <% end %>
          </span>
          <ul>
            <li class="<%= 'active' if not is_module_page? %>" >
              <span class="tree-link line-wrap">
                <i></i>
                  <span title="<%= @experiment.name %>"><%= @experiment.name %></span>
              </span>
            <%= render 'shared/sidebar_elements' %>
          </ul>
        </li>
        <li>
          <a href="#"><span class="glyphicon glyphicon-plus"></span> <i>New experiment...</i></a>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= javascript_include_tag("sidebar") %>
