<%= content_for :sidebar do %>
  <div id="slide-panel" class="visible">

    <div class="sidebar-header">
      <div class="sidebar-header-title">
        <h5><%=t "sidebar.title" %></h5>
      </div>
    </div>
    <div class="sidebar-header-toggle">
      <a href="" id="toggle-sidebar-link">
        <span class="glyphicon glyphicon-play-circle"></span>
      </a>
    </div>

    <div class="tree">
      <ul>
        <li class="<%= "active" if (project_page? || project_activities_page?) %>">
          <span class="tree-link line-wrap">
            <i></i>
            <% if !project_page? && !project_activities_page? %>
              <%= link_to @project.name, project_action_to_link_to(@project), title: @project.name %>
            <% else %>
              <span title="<%= @project.name %>"><%= @project.name %></span>
            <% end %>
          </span>
          <%= render 'shared/sidebar_elements' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= javascript_include_tag("sidebar") %>
