<%= content_for :sidebar do %>
  <% current_task ||= current_task || nil %>
  <% current_experiment ||= current_experiment || current_task&.experiment || nil %>
  <% current_project ||= current_experiment&.project || current_task&.experiment&.project || nil %>

  <div id="slide-panel"
       class="visible"
       data-page="<%= page %>"
       data-current-project="<%= current_project&.id %>"
       data-current-experiment="<%= current_experiment&.id %>"
       data-current-task="<%= current_task&.id %>">
    <div class="tree perfect-scrollbar" data-scroll="<%= params[:scroll] %>">
      <ul>
        <% cache [action_name, current_user, current_team] do %>
          <%= render partial: 'shared/sidebar/projects' %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= javascript_include_tag("sidebar") %>
