<div class="dropdown view-switch" >
  <a href="#" class="btn btn-light view-switch-button <%= "disabled" if disabled %>" id="viewSwitchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span><%= t('general.view') %></span>
    <span class="caret pull-right"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="viewSwitchButton">
<<<<<<< HEAD
<<<<<<< HEAD
    <li class="divider-label"><%= t("general.set_view_type") %></li>
=======
>>>>>>> Pulled latest release
=======
    <li class="divider-label"><%= t("general.set_view_type") %></li>
>>>>>>> Latest 1.22.0 release from biosistemika. All previous EPA changes revoked. Need to add in template.
    <%= yield %>
  </ul>
</div>
