<% provide(:head_title, @storage_location.name) %>
<% provide(:container_class, "no-second-nav-container") %>

<% if current_team %>
  <div class="content-pane flexible with-grey-background">
    <div class="content-header">
      <div class="title-row">
        <h1 class="storage-location-title">
          <% if can_manage_storage_location?(@storage_location)%>
            <%= render partial: "shared/inline_editing",
                       locals: {
                         initial_value: @storage_location.name,
                         config: @inline_editable_title_config
                       } %>
          <% else %>
            <%= @storage_location.name %>
          <% end %>
        </h1>
      </div>
    </div>
    <div class="content-body" data-e2e="e2e-CO-storageLocations-box">
      <div id="StorageLocationsContainer" class="fixed-content-body">
        <storage-locations-container
          ref="container"
          actions-url="<%= actions_toolbar_storage_location_storage_location_repository_rows_path(@storage_location) %>"
          data-source="<%= storage_location_storage_location_repository_rows_path(@storage_location)  %>"
          :can-manage="<%= can_manage_storage_location_repository_rows?(@storage_location) %>"
          :with-grid="<%= @storage_location.with_grid? %>"
          :grid-size="<%= @storage_location.grid_size.to_json %>"
          :container-id="<%= @storage_location.id %>"
        />
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'vue_storage_locations_container' %>
<% end %>
