<% if can_view_or_download_result_assets(result.my_module) %>
  <% if result.asset.file.processing? %>
    <span data-status='asset-loading'
          data-present-url='<%= file_present_asset_path(result.asset) %>'>
      <%= image_tag 'medium/processing.gif' %>
    </span>
  <% else %>
    <%= link_to download_asset_path(result.asset),
      class: 'image-preview-link',
      id: "modal_link#{result.asset.id}",
      data: {no_turbolink: true, description: "#{result.name}"} do %>
      <%= image_tag(preview_asset_path result.asset) if result.asset.is_image? %>
      <p><%= truncate(result.asset.file_file_name,
                      length: Constants::FILENAME_TRUNCATION_LENGTH) %></p>
    <% end %>
  <% end %>
<% else %>
  <% if result.asset.file.processing? %>
    <span data-status='asset-loading'
          data-present-url='<%= file_present_asset_path(result.asset) %>'>
      <%= image_tag 'medium/processing.gif' %>
    </span>
  <% else %>
    <%= image_tag(preview_asset_path result.asset) if result.asset.is_image? %>
    <p><%= result.asset.file_file_name %></p>
  <% end %>
<% end %>
