<div class="navbar-report">
  <div class="center-block" id="report-menu">

    <div class="dropdown" id="sort-report">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fas fa-sort visible-xs-inline"></span>
        <span class="hidden-xs"><%= t'projects.reports.new.nav_sort_by' %></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" data-sort="desc" data-turbolinks="false"><%= t('projects.reports.new.nav_sort_desc') %></a></li>
        <li><a href="#" data-sort="asc" data-turbolinks="false"><%= t('projects.reports.new.nav_sort_asc') %></a></li>
      </ul>
    </div>

    <%= link_to "", class: "btn btn-secondary", remote: true, id: "print-report" do %>
      <span class="fas fa-print"></span>
      <span class="hidden-xs"><%=t "projects.reports.new.nav_print" %></span>
    <% end %>


    <div class="dropdown" id="download-report">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fas fa-download"></span>
        <span class="hidden-xs"><%= t("projects.reports.new.nav_download") %><span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to t("projects.reports.new.nav_pdf"), generate_project_reports_path(@project, format: :pdf), id: "get-report-pdf" %></li>
        <li><%= link_to t("projects.reports.new.nav_docx"), generate_project_reports_path(@project, format: :docx), id: "get-report-docx" %></li>
      </ul>
    </div>

    <button
      onclick="$('#savePDFtoInventory').modal('show')"
      class="btn btn-secondary">
      <span class="fas fa-save">
      </span>
      <%=t 'projects.reports.new.save_PDF_to_inventory'%>
    </button>

    <div class="pull-right">
      <%= link_to reports_path, data: { no_turbolink: false }, id: "cancel-report-link", class: "btn btn-secondary" do %>
        <span class="hidden-xs"><%=t "projects.reports.new.nav_close" %></span>
      <% end %>
      <%= link_to "", class: "btn btn-primary", remote: true, id: "save-report-link" do %>
        <span class="hidden-xs"><%=t "projects.reports.new.nav_save" %></span>
      <% end %>
    </div>

  </div>
</div>
