<div class="project-contents-container">
  <div class="header">
    <div class="title">
      <%= t("projects.reports.wizard.second_step.select_project_content") %>
    </div>
    <div class="collapse-buttons sci-btn-group">
       <button class="btn btn-light collapse-all">
          <i class="sn-icon sn-icon-up"></i>
          <%= t("projects.reports.wizard.second_step.collapse_all") %>
       </button>
       <button class="btn btn-light expand-all">
          <i class="sn-icon sn-icon-down"></i>
          <%= t("projects.reports.wizard.second_step.expand_all") %>
       </button>
    </div>
  </div>
  <div class="hide-unchecked">
    <span class="sci-checkbox-container">
      <input type="checkbox" class="sci-checkbox hide-unchecked-checkbox" />
      <span class="sci-checkbox-label"></span>
    </span>
    <%= t("projects.reports.wizard.second_step.hide_unchecked") %>
  </div>
  <div class="select-all-my-modules">
    <span class="sci-checkbox-container">
      <input type="checkbox" class="sci-checkbox select-all-my-modules-checkbox" <%= 'checked' if report.settings.dig(:all_tasks) %>/>
      <span class="sci-checkbox-label"></span>
    </span>
    <%= t("projects.reports.wizard.second_step.select_all_tasks") %>
  </div>
  <div class="divider"></div>
  <div class="project-contents" data-project-id="<%= report.project&.id %>" data-project-content-url="<%= project_contents_reports_path %>">
    <% if report.id %>
      <%= render partial: 'reports/wizard/project_contents',
        locals: { project: report.project, report: report } %>
    <% end %>
  </div>
</div>
