<div class="card folder-card"
     data-id="<%= folder.id %>"
     data-edit-url="<%= edit_project_folder_path(folder) %>"
     data-editable="<%= can_update_team?(current_team) %>"
     data-archivable="<%= folder.active? && can_update_team?(current_team) %>"
     data-restorable="<%= folder.archived? && can_update_team?(current_team) %>">
  <div class="checkbox-cell">
    <div class="sci-checkbox-container">
      <input value="1" type="checkbox" class="sci-checkbox folder-card-selector">
      <span class="sci-checkbox-label"></span>
    </div>
  </div>
  <div class="icon-folder">
    <i class="fas fa-folder"></i>
  </div>
  <div class="name" title="<%= folder.name %>">
    <%= link_to(folder.name,
                project_folder_path(folder),
                class: 'project-folder-link',
                data: { projects_cards_url: project_folder_cards_url(folder),
                        sidebar_url: sidebar_team_path(current_team, project_folder_id: folder.id),
                      }) %>
  </div>
  <div class="description">
    <%= t('projects.index.folder.description', projects_count: folder.projects_count, folders_count: folder.folders_count) %>
  </div>
</div>
