<div class="card folder-card"
     data-id="<%= folder.id %>"
     data-edit-url="<%= edit_project_folder_path(folder) %>"
     data-editable="<%= can_manage_team?(current_team) %>"
     data-moveable="<%= can_manage_team?(current_team) %>"
     data-archivable="false"
     data-restorable="false"
     data-deletable="<%= can_delete_project_folder?(folder) && can_manage_team?(current_team) %>">
  <div class="checkbox-cell table-cell">
    <div class="sci-checkbox-container">
      <input value="1" type="checkbox" class="sci-checkbox folder-card-selector" title="folder <%= folder.name %> checkbox">
      <span class="sci-checkbox-label"></span>
    </div>
  </div>
  <%= link_to project_folder_path(folder),
              class: 'project-folder-link',
              data: {
                projects_cards_url: project_folder_cards_url(folder),
                sidebar_url: sidebar_team_path(current_team, project_folder_id: folder.id)
              } do %>
    <div class="icon-folder">
      <i class="fas fa-folder"></i>
    </div>
    <div class="name table-cell" title="<%= folder.name %>">
      <%= folder.name %>
    </div>
  <% end %>
  <div class="description">
    <%= t('projects.index.folder.description', projects_count: folder.projects_count, folders_count: folder.folders_count) %>
  </div>
</div>
