<div id="projectsToolbar" class="projects-toolbar">
  <div class="form-inline">
    <div class="project-actions">
      <!-- new project button -->
      <% if current_team && can_create_projects?(current_team) %>
        <%= link_to new_project_path(project_folder_id: @current_folder),
                    class: 'btn btn-primary new-project-btn',
                    data: { view_mode: 'active' },
                    remote: true do %>
          <span class="fas fa-plus" aria-hidden="true"></span>
          <span class="hidden-xs"><%= t('projects.index.new') %></span>
        <% end %>
      <% end %>
      <!-- new project folder button -->
      <% if current_team && can_create_project_folders?(current_team) %>
        <%= link_to new_project_folder_path(project_folder_id: @current_folder, view_mode: projects_view_mode),
                    class: 'btn btn-light new-project-folder-btn',
                    data: { view_mode: 'active' },
                    remote: true do %>
          <span class="fas fa-folder" aria-hidden="true"></span>
          <span class="hidden-xs"><%= t('projects.index.new_folder') %></span>
        <% end %>
      <% end %>
      <a href="#" class="btn btn-secondary edit-btn single-object-action hidden" data-for="editable" data-view-mode="active">
        <span class="fas fa-folder" aria-hidden="true"></span>
        <span class="hidden-xs"><%= t('projects.index.edit_button') %></span>
      </a>
      <a href="#" class="btn btn-light move-projects-btn multiple-object-action hidden" data-for="editable" data-url="<%= move_to_modal_project_folders_url %>">
        <span class="fas fa-arrow-right" aria-hidden="true"></span>
        <span class="hidden-xs"><%= t('projects.index.move_button') %></span>
      </a>
      <%= button_to archive_group_projects_path,
                    class: 'btn btn-light archive-projects-btn multiple-object-action project-only-action hidden',
                    form_class: 'archive-projects-form',
                    data: { for: :archivable, view_mode: 'active' },
                    remote: true,
                    method: :post do %>
        <span class="fas fa-archive" aria-hidden="true"></span>
        <span class="hidden-xs"><%= t('projects.index.archive_button') %></span>
      <% end %>
      <%= button_to restore_group_projects_path,
                    class: 'btn btn-light restore-projects-btn multiple-object-action project-only-action hidden',
                    form_class: 'restore-projects-form',
                    data: { for: :restorable, view_mode: 'archived' },
                    remote: true,
                    method: :post do %>
        <span class="fas fa-undo" aria-hidden="true"></span>
        <span class="hidden-xs"><%= t('projects.index.restore_button') %></span>
      <% end %>
      <!-- export projects button -->
      <a href="#" class="btn btn-light export-projects-btn multiple-object-action hidden"
                  data-export-projects-modal-url="<%= export_projects_modal_team_path(current_team) %>">
        <span class="fas fa-file-export"></span>
        <span class="hidden-xs-custom"><%= t('projects.export_projects.export_button') %></span>
      </a>
    </div>
  </div>
</div>
