<div id="projectsToolbar">

  <form class="form-inline" action="<%= projects_path %>">

    <div class="form-group">

      <div class="new-project-actions pull-left">
        <% if current_team && can_create_projects?(current_team) %>
        <!-- new project button -->
          <a href="#" class="btn btn-primary new-project-btn">
            <span class="fas fa-plus" aria-hidden="true"></span>
            <span class="hidden-xs"><%= t('projects.index.new') %></span>
          </a>
          <!-- new project folder button -->
          <a href="#" class="btn btn-secondary new-project-folder-btn">
            <span class="fas fa-folder" aria-hidden="true"></span>
            <span class="hidden-xs"><%= t('projects.index.new_folder') %></span>
          </a>
        <% end %>
      </div>

      <div class="project-actions pull-left">
        <a href="#" class="btn btn-secondary edit-project-btn single-project-action hidden">
          <span class="fas fa-folder" aria-hidden="true"></span>
          <span class="hidden-xs"><%= t('projects.index.edit_button') %></span>
        </a>
        <a href="#" class="btn btn-secondary move-projects-btn multiple-projects-action hidden">
          <span class="fas fa-arrow-right" aria-hidden="true"></span>
          <span class="hidden-xs"><%= t('projects.index.move_button') %></span>
        </a>
        <a href="#" class="btn btn-secondary archive-projects-btn multiple-projects-action project-only-action hidden">
          <span class="fas fa-archive" aria-hidden="true"></span>
          <span class="hidden-xs"><%= t('projects.index.archive_button') %></span>
        </a>
        <!-- export projects button -->
        <a href="#" class="btn btn-secondary export-projects-btn multiple-projects-action project-only-action hidden"
                    data-export-projects-modal-url="<%= export_projects_modal_team_path(current_team) %>">
          <span class="fas fa-file-export"></span>
          <span class="hidden-xs-custom"><%= t('projects.export_projects.export_button') %></span>
        </a>
      </div>

      <div class="pull-right">
        <!-- project search -->
        <a class="projects-search-btn">
          <i class="fas fa-search"></i>
        </a>
        <!-- project filter -->
        <a class="projects-filter-btn">
          <i class="fas fa-filter"></i>
        </a>
        <!-- project sort -->
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><%= t("general.sort.#{@current_sort}_html") %></span>
            <span class="caret"></span>
          </button>
          <ul id="sortMenuDropdown" class="dropdown-menu" aria-labelledby="sortMenu">
          <% ["new", "old", "atoz", "ztoa"].each do |sort| %>
            <li>
              <% if @current_sort != sort %>
                <a href="#" data-sort="<%= sort %>"><%= t("general.sort.#{sort}_html") %></a>
              <% else %>
                <a class="disabled" href="#" data-sort="<%= sort %>"><%= t("general.sort.#{sort}_html") %></a>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
