<%= form_with model: user_assignment,
              url: destroy_user_team_path(user_assignment, format: :json),
              data: { remote: true, id: 'destroy-user-team-form' },
              method: :delete do |f| %>
  <p><%= t("users.settings.user_teams.destroy_uo_message",
           user: user_assignment.user.full_name,
           team: user_assignment.assignable.name) %></p>
  <% if user_assignment.user.confirmed? %>
    <div class="alert alert-danger" role="alert">
      <span class="fas fa-exclamation-triangle"></span>
      &nbsp;
      <%= t("users.settings.user_teams.destroy_uo_alert_heading") %>
      <ul>
        <li><%= t("users.settings.user_teams.destroy_uo_alert_line_1") %></li>
        <li><%= t("users.settings.user_teams.destroy_uo_alert_line_2").html_safe %></li>
        <li><%= t("users.settings.user_teams.destroy_uo_alert_line_3") %></li>
        <li><%= t("users.settings.user_teams.destroy_uo_alert_line_4") %></li>
      </ul>
    </div>
  <% end %>
<% end %>
