<%= form_with model: @user_assignment,
              url: destroy_user_team_path(@user_assignment, format: :json),
              data: { remote: true },
              method: :delete,
              data: { id: 'leave-user-team-form' } do |f| %>
  <%= hidden_field_tag :leave, true %>
  <div class='flex flex-col gap-6'>
    <div><%= t("users.settings.user_teams.leave_message") %></div>
    <div><%= t("users.settings.user_teams.message_owner") %></div>
    <div><%= t("users.settings.user_teams.message_alert") %></div>
  </div>
<% end %>
