<ul>
  <li class="zebra-settings-collapse">
    <div class="collapse-row">
      <i class="fas fa-caret-down" data-toggle="collapse" href="#InstructionsSection" aria-expanded="false"></i>
      <div class="row-title"><%= t("users.settings.account.label_printer.instructions") %></div>
    </div>
    <ul class="collapse in" id="InstructionsSection">
      <li>
        <%= t("users.settings.account.label_printer.zebra_instruction.p1") %>
      </li>
      <li class='indented_row'>
        <%= t("users.settings.account.label_printer.zebra_instruction.p2_html", link: Constants::SCINOTE_ZEBRA_URL) %>
      </li>
      <li class='indented_row'>
        <%= t("users.settings.account.label_printer.zebra_instruction.p3") %>
      </li>
      <li class='indented_row'>
        <%= t("users.settings.account.label_printer.zebra_instruction.p4") %>
      </li>
      <li>
        <%= t("users.settings.account.label_printer.zebra_instruction.p5") %>
      </li>
    </ul>
  </li>

  <li class="zebra-settings-collapse">
    <div class="collapse-row">
      <i class="fas fa-caret-down" data-toggle="collapse" href="#PrintersSection" aria-expanded="false"></i>
      <div class="row-title">Printers</div>
        <div class="update-printers">
          <%= button_tag type: 'submit', class: "btn btn-light zebra-printer-refresh" do %>
            <i class="fas fa-sync"></i>
            <%= t("users.settings.account.label_printer.update_printers") %>
          <% end %>
        </div>
    </div>
    <ul class="collapse in zebra-printers" id="PrintersSection"></ul>
  </li>
</ul>

<%= javascript_include_tag "label_printers/zebra_settings" %>
