<% provide(:head_title, t('users.settings.account.addons.head_title')) %>
<% provide(:container_class, "no-second-nav-container") %>

<%= render partial: 'users/settings/sidebar' %>

<div class="content-pane flexible label-printer-show">
  <div class="content-header">
    <div class="title-row">
      <h1 class="printer-title">
        <% if @printer_type == 'fluics' %>
          <%= t("users.settings.account.label_printer.fluics_printer") %>
        <% elsif @printer_type == 'zebra' %>
          <%= t("users.settings.account.label_printer.zebra_printer") %>
        <% end %>
      </h1>
    </div>
  </div>

  <% if @printer_type == 'fluics' %>
    <%= render "fluics_settings" %>
  <% elsif @printer_type == 'zebra' %>
     <%= render "zebra_settings" %>
  <% end %>
</div>
<%= javascript_include_tag "label_printers/index" %>
