<ul class="no-style project-users-list">
  <% if @user_projects.blank? %>
    <li>
      <em><%= t('projects.index.modal_view_users.no_users') %></em>
    </li>
  <% else %>
    <% @user_projects.each do |user_project| %>
      <li>
        <div class="row">
          <div class="col-xs-1">
            <span class='global-avatar-container'>
              <%= image_tag avatar_path(user_project.user, :icon_small), class: 'img-circle pull-left' %>
            </span>
          </div>
          <div class="col-xs-11">
            <span><%= user_project.user.full_name %></span>
            <% if user_project.user == current_user %>
              <%= t('projects.index.modal_view_users.current_user_label') %>
            <% end %>
            <br>
            <small class="text-muted"><%= t('user_projects.enums.role.'<< user_project.role) %></small>
          </div>
        </div>
        <hr>
      </li>
    <% end %>
  <% end %>
</ul>
