<h5 class="text-center"><%= t("projects.index.users_tab") %></h5>
<hr>
<ul class="no-style content-users" data-hook="project-users-tab-list">
  <% if @users.size == 0 then %>
    <li><em><%= t 'projects.index.no_users' %></em></li>
  <% else %>
    <% @users.each_with_index do |user_proj, i| user = user_proj.user %>
      <li>
        <% if i > 0 %><hr><% end %>
        <div class="row">
          <div class="col-xs-2">
            <span class='global-avatar-container'>
              <%= image_tag avatar_path(user, :icon_small), class: 'img-circle pull-left' %>
            </span>
          </div>
          <div class="col-xs-10" style="line-height: 15px">
            <span><%= user.full_name %></span>
            <br><span class="text-muted"><%= t('user_projects.enums.role.'<< user_proj.role.to_s) %></span>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<% if can_manage_project?(@project) %>
  <p>
    <hr>
    <%= link_to t("projects.index.manage_users"), project_users_edit_path(@project, format: :json), class: "manage-users-link", remote: true %>
  </p>
<% end %>
