<% provide(:head_title, raw(t("user_projects.new.head_title", project: @project.name))) %>
<h2><%=t "user_projects.new.title", project: @project.name %></h2>

<%= bootstrap_form_for [@project, @up] do |f| %>
  <%= collection_select(:user_project, :user_id, @users, :id, :full_name ) %>
  <br />
  <%= f.label t("user_projects.new.role"), style: "margin-top: 10px;" %><br />
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
      <%= f.radio_button_without_bootstrap :role, :owner %>
      <%=t "user_projects.enums.role.owner" %>
    </label>
    <label class="btn btn-primary active">
      <%= f.radio_button_without_bootstrap :role, :normal_user, :checked => true %>
      <%=t "user_projects.enums.role.normal_user" %>
    </label>
    <label class="btn btn-primary">
      <%= f.radio_button_without_bootstrap :role, :technician %>
      <%=t "user_projects.enums.role.technician" %>
    </label>
    <label class="btn btn-primary">
      <%= f.radio_button_without_bootstrap :role, :viewer %>
      <%=t "user_projects.enums.role.viewer" %>
    </label>
  </div>
  <br />
  <%= f.submit t("user_projects.new.create"), style: "margin-top: 10px;" %>
<% end %>
