<%= bootstrap_form_for @project, url: project_path(@project ,format: :json), method: :put, remote: true do |f| %>
  
  <%- if Rails.configuration.x.epa_rap_enabled %>
  
    <div id="rapProgramLevelSelectEdit" class="form-group">
      <!-- opt_rap_programs dropdown -->
      <label class="control-label" for="rap_program_level">RAP Program Level</label>
      <select id="rapProgramLevelSelector" class="form-control" onchange="selectRapProgramLevel(this, 'Edit')" required>
        <%= opt_rap_programs.each do |program| %>
          <% if program.id == sel_rap_ids[0] %>
            <option value="<%= program.id %>" selected><%= program.name %></option>
          <% else %>
            <option value="<%= program.id %>"><%= program.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div id="rapTopicLevelSelectEdit" class="form-group">
      <!-- opt_rap_topics dropdown -->
      <label class="control-label" for="rap_topic_level">RAP Topic Level</label>
      <select id="rapTopicLevelSelector" class="form-control" onchange="selectRapTopicLevel(this, 'Edit')" required>
        <%= opt_rap_topics.each do |topic| %>
          <% if topic.id == sel_rap_ids[1] %>
            <option value="<%= topic.id %>" selected><%= topic.name %></option>
          <% else %>
            <option value="<%= topic.id %>"><%= topic.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div id="rapProjectLevelSelectEdit" class="form-group">
      <!-- opt_rap_projects dropdown -->
      <label class="control-label" for="rap_project_level">RAP Project Level</label>
      <select id="rapProjectLevelSelector" class="form-control" onchange="selectRapProjectLevel(this, 'Edit')" required>
        <%= opt_rap_projects.each do |project| %>
          <% if project.id == sel_rap_ids[2] %>
            <option value="<%= project.id %>" selected><%= project.name %></option>
          <% else %>
            <option value="<%= project.id %>"><%= project.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  
    <div id="rapTaskLevelSelectEdit" class="form-group">
      <!-- opt_rap_tasks dropdown -->
      <label class="control-label" for="rap_task_level">RAP Task Level</label>
      <select id="rapTaskLevelSelector" class="form-control" onchange="selectRapTaskLevel(this, 'Edit')" required>
        <%= opt_rap_tasks.each do |task| %>
          <% if task.id == sel_rap_ids[3] %>
            <option value="<%= task.id %>" selected><%= task.name %></option>
          <% else %>
            <option value="<%= task.id %>"><%= task.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  
  <% end -%>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= f.text_field :name, label: t("projects.index.modal_new_project.name"), autofocus: true, placeholder: t("projects.index.modal_new_project.name_placeholder") %>
    </div>
  </div>

  <%= f.enum_btn_group :visibility, label: t("projects.index.modal_new_project.visibility"), btn_names: { hidden: t("projects.index.modal_new_project.visibility_hidden"), visible: t("projects.index.modal_new_project.visibility_visible") } %>
<% end %>