<div class="title text-bold"><b><%= t("projects.index.notifications_tab") %></b></div>
<hr>
<ul class="no-style double-line content-notifications">
  <% nr_of_notifications = 0 %>
  <% @modules.each do |mod| %>
    <% if mod.is_overdue? && !mod.completed? %>
      <% nr_of_notifications += 1 %>
      <% days = t("projects.index.module_overdue_days", count: mod.overdue_for_days) %>
      <li class="notification alert-red">
        <div class="date-time">
          <span class="fas fa-exclamation-triangle"></span>
          <span><%= l(mod.due_date, format: :full) %></span>
        </div>
        <%=t "projects.index.module_overdue_html", module: mod.name, days: days %>
      </li>
    <% elsif mod.is_one_day_prior? && !mod.completed? %>
      <% nr_of_notifications += 1 %>
      <li class="notification alert-yellow">
        <div class="date-time">
          <span class="fas fa-exclamation-triangle"></span>
          <span><%= l(mod.due_date, format: :full) %></span>
        </div>
        <%=t "projects.index.module_one_day_due_html", module: mod.name %>
      </li>
    <% end %>
  <% end %>
  <% if nr_of_notifications == 0 %>
    <li><%= t 'projects.index.no_notifications' %></li>
  <% end %>
</ul>
