<% provide(:head_title, t("projects.experiment_archive.head_title", project: h(@project.name)).html_safe) %>
<% provide(:sidebar_title, t("sidebar.experiments.sidebar_title_archived")) %>
<% provide(:sidebar_url, project_sidebar_path(@project)) %>
<% provide(:container_class, 'no-second-nav-container') %>
<%= content_for :sidebar do %>
  <%= render partial: 'shared/sidebar/experiments.html.erb', locals: { project: @project, archived: true } %>
<% end %>


<div class="content-pane flexible" id="project-show-archive">
  <%= render partial: 'projects/show/header' %>
  <% if @project.archived_experiments.count > 0 %>
    <div class="row" style="margin-top: 10px;">
      <% @project.sorted_experiments(@current_sort, true).each_with_index do |experiment, i| %>
          <%= render partial: "projects/show/experiment.html.erb", locals: { experiment: experiment} %>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <em><%=t "projects.experiment_archive.no_archived_experiments" %></em>
      </div>
    </div>
  <% end %>
</div>
