<% provide(:head_title, t("projects.index.head_title")) %>

<% if current_team %>
  <%= render partial: "shared/sidebar", locals: { page: 'project' } %>
  <%= render partial: "shared/secondary_navigation" %>

  <span style="display: none;" data-hook="projects-index-html"></span>

  <%= render partial: 'projects/index/modals/new' %>
  <%= render partial: 'projects/index/modals/edit' %>
  <%= render partial: 'projects/index/modals/manage_users' %>
  <%= render partial: 'projects/index/modals/export_projects' %>

  <div class="projects-container">
    <div class="cards-wrapper" id="cards-wrapper" data-projects-cards-url="<%= cards_projects_url %>">
      <div class="table-header">
        <div class="table-header-cell select-all-checkboxes">
          <div class="sci-checkbox-container">
            <input value="1" type="checkbox" class="sci-checkbox select-all">
            <span class="sci-checkbox-label"></span>
          </div>
        </div>
        <div class="table-header-cell"><%= t('.card.name') %></div>
        <div class="table-header-cell"><%= t('.card.start_date') %></div>
        <div class="table-header-cell"><%= t('.card.visibility') %></div>
        <div class="table-header-cell"><%= t('.card.users') %></div>
        <div class="table-header-cell"></div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "projects/index" %>
