<% provide(:sidebar_title, t("projects.index.navigation_title")) %>
<% provide(:sidebar_url, sidebar_team_path(current_team, project_folder_id: current_folder&.id)) %>
<% provide(:container_class, 'no-second-nav-container') %>

<div id="projectsWrapper" class="content-pane flexible projects-index <%= projects_view_mode %>" data-view-mode="<%= projects_view_mode %>" data-e2e="e2e-projects-container">
  <%= render partial: 'projects/header', locals: { current_folder: current_folder} %>

  <div id="ProjectsList" class="fixed-content-body">
    <projects-list
      actions-url="<%= actions_toolbar_projects_path %>"
      users-filter-url="<%= users_filter_projects_path %>"
      data-source="<%= projects_path(project_folder_id: current_folder&.id, format: :json) %>"
      active-page-url="<%= projects_path(roject_folder_id: current_folder&.id, view_mode: :active) %>"
      archived-page-url="<%= projects_path(roject_folder_id: current_folder&.id, view_mode: :archived) %>"
      current-view-mode="<%= params[:view_mode] || :active %>"
      current-folder-id="<%= current_folder&.id %>"
      create-url="<%= projects_path if can_create_projects?(current_team) %>"
      create-folder-url="<%= project_folders_path if can_create_project_folders?(current_team)  %>"
      user-roles-url="<%= user_roles_projects_path %>"
      folders-tree-url="<%= tree_project_folders_path(view_mode: params[:view_mode]) %>"
      move-to-url="<%= move_to_project_folders_path %>"
    />
  </div>
  <%= javascript_include_tag 'vue_projects_list' %>
</div>


