<% provide(:head_title, t("projects.index.head_title")) %>

<% if current_team %>
  <%= render partial: "shared/sidebar", locals: {page: 'project'} %>
  <%= render partial: "shared/secondary_navigation" %>

  <span style="display: none;" data-hook="projects-index-html"></span>

  <%= render partial: 'projects/index/modals/new' %>
  <%= render partial: 'projects/index/modals/edit' %>
  <%= render partial: 'projects/index/modals/manage_users' %>
  <%= render partial: 'projects/index/modals/export_projects' %>

  <div class="content-pane" id="projects-index">
    <div id="projects-absent" style="display:none">
      <div class="jumbotron text-center" style="margin-top:12%">
        <strong><%= t 'projects.index.no_projects.text' %></strong>
        <% if can_create_projects?(current_team) %>
          <h2><strong><%= t 'projects.index.no_projects.title' %></strong></h2>
          <br/>
          <a class="btn btn-primary new-project-btn">
            <span class="fas fa-plus"></span>
            <span class="hidden-xs"><%= t('projects.index.no_projects.create_new_button') %></span>
          </a>
        <% else %>
          <p><strong><%= t 'projects.index.no_projects.no_permission_title' %></strong></p>
        <% end %>
      </div>
    </div>

    <div id="projects-present" style="display:none">
      <%= render partial: 'projects/index/toolbar' %>

      <div class="tab-content">
        <div class="tab-pane active"
             id="projects-cards-view"
             data-projects-url="<%= projects_path %>"
             data-projects-sidebar-url="<%= projects_sidebar_path %>">
        </div>

        <div class="tab-pane" id="projects-table-view">
          <%= render partial: "projects/index/team_projects_table" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "projects/index" %>
