<% provide(:head_title, raw(t("projects.show.head_title", project: @project.name))) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div class="row">
  <div class="col-sm-12"
       id="data-holder"
       data-project-id="<%= @project.id %>">
      <% if can_create_experiment(@project) %>
      <div class="row">
        <div class="col-sm-12">
          <%= link_to new_project_experiment_url(@project),
                        remote: true,
                        type: "button",
                        id: 'new-experiment',
                        class: 'btn btn-primary pull-right',
                        data: {
                            intro: t('tutorial.create_experiment_html'),
                            step: '4',
                            position: 'left'
                            }   do %>
            <span class="glyphicon glyphicon-plus"></span>
            <span class="hidden-xs"><%=t 'experiments.new.create' %></span>
          <% end %>
        </div>
      </div>
      <% end %>
    <div class="row">
      <div class="col-sm-6">
        <h2><%= t'projects.show.page_title' %></h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% @project.active_experiments.each_with_index do |experiment, index| %>
    <%= render partial: 'projects/show/experiment',
               locals: { experiment: experiment } %>

    <%= content_tag(:div, '', class: 'clearfix visible-lg-block') if (index + 1) % 2 == 0 %>
  <% end %>
  <% if can_create_experiment(@project) %>
    <%= render 'projects/show/new_experiment' %>
  <% end %>
</div>
<%= javascript_include_tag("experiments/dropdown_actions") %>
<%= javascript_include_tag("projects/show") %>
