<!-- Clone experiment modal -->
<div class="modal"
     id="clone-experiment-modal-<%= @experiment.id %>"
     tabindex="-1"
     role="dialog"
     aria-labelledby="clone-experiment-modal-label">
     <%= bootstrap_form_for @experiment, url: clone_experiment_path(),
                            method: :post do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="clone-experiment-modal-label"><%= t("experiments.clone.modal_title", experiment: @experiment.name ) %></h5>
        </div>
        <div class="modal-body">
          <%= f.select :project_id,
                       options_for_select(
                         @projects.collect do |p|
                           if p == @experiment.project
                             [ "#{p.name} #{t('experiments.clone.current_project')}", p.id ]
                           else
                             [ p.name, p.id ]
                           end
                         end,
                         @project.id ),
                       {}, {class: "form-control selectpicker", "data-role" => "clear"} %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
          <%= f.submit t("experiments.clone.modal_submit"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
