<ul class="dropdown-menu dropdown-experiment-actions"
  aria-labelledby="exActionsMenu-<%= experiment.id %>"
  data-id="<%= experiment.id %>">

  <% if can_manage_experiment?(experiment) %>
  <li><%= link_to t('experiments.edit.label_title'),
                edit_project_experiment_url(project, experiment),
                remote: true,
                type: 'button',
                data: { id: experiment.id },
                class: 'edit-experiment' %></li>
  <% end %>
  <li data-hook="experiment-actions-second-child"></li>
  <% if can_clone_experiment?(experiment) %>
    <li><%= link_to t('experiments.clone.label_title'),
                    clone_modal_experiment_url(experiment),
                    remote: true, type: 'button',
                    class: 'clone-experiment help_tooltips',
                    data: {
                      tooltiplink: I18n.t('tooltips.link.experiment.copy'),
                      tooltipcontent: I18n.t('tooltips.text.experiment.copy')
                    } %></li>
  <% end %>
  <% if can_move_experiment?(experiment) %>
    <li><%= link_to t('experiments.move.label_title'),
                    move_modal_experiment_url(experiment),
                    remote: true, type: 'button',
                    class: 'move-experiment help_tooltips',
                    data: {
                      tooltiplink: I18n.t('tooltips.link.experiment.move'),
                      tooltipcontent: I18n.t('tooltips.text.experiment.move')
                    } %></li>
  <% end %>
  <% if can_archive_experiment?(experiment) %>
  <li><%= link_to t('experiments.archive.label_title'),
                archive_experiment_url(experiment),
                type: 'button',
                data: { confirm: t('experiments.canvas.archive_confirm') } %></li>
  <% end %>
</ul>
