<% archived = params[:view_mode] == 'archived' || action_name == 'module_archive' %>
<ul class="dropdown-menu dropdown-menu-right dropdown-experiment-actions"
  aria-labelledby="exActionsMenu-<%= experiment.id %>"
  data-id="<%= experiment.id %>">

  <div class="divider-label">
    <%= t('experiments.experiment_actions') %>
  </div>

  <% if can_manage_experiment?(experiment) && !archived %>
    <li>
      <%= link_to edit_experiment_url(experiment),
                  remote: true,
                  type: 'button',
                  data: { id: experiment.id },
                  class: 'edit-experiment' do %>
        <i class="sn-icon sn-icon-edit"></i>
        <span><%= t('experiments.edit.label_title') %></span>
      <% end %>
    </li>
  <% end %>

  <% if can_clone_experiment?(experiment) && !archived %>
    <li>
      <%= link_to clone_modal_experiment_url(experiment),
                  remote: true, type: 'button',
                  class: 'clone-experiment' do %>
        <i class="sn-icon sn-icon-duplicate"></i>
        <span><%= t('experiments.clone.label_title') %></span>
      <% end %>
    </li>
  <% end %>
  <% if can_move_experiment?(experiment) && !archived %>
    <li>
      <%= link_to move_modal_experiments_path(ids: experiment.id),
                  remote: true, type: 'button',
                  class: 'move-experiment' do %>
        <i class="sn-icon sn-icon-move"></i>
        <span><%= t('experiments.move.label_title') %></span>
      <% end %>
    </li>
  <% end %>
  <!-- Set or view user experiment assignments -->
  <% if can_manage_experiment_users?(experiment) %>
    <li>
      <%= link_to edit_access_permissions_experiment_path(experiment), data: { action: 'remote-modal'} do %>
        <i class="sn-icon sn-icon-project-member-access"></i>
        <span><%= t('experiments.index.experiment_access') %></span>
      <% end %>
    </li>
  <% else %>
    <li>
      <%= link_to access_permissions_experiment_path(experiment), data: { action: 'remote-modal'} do %>
        <i class="sn-icon sn-icon-project-member-access"></i>
        <span><%= t('experiments.index.experiment_access') %></span>
      <% end %>
    </li>
  <% end %>
  <% if can_archive_experiment?(experiment) && !archived %>
    <li>
      <%= link_to archive_experiment_url(experiment),
                  type: 'button',
                  method: :post,
                  data: { confirm: t('experiments.canvas.archive_confirm') } do %>
        <i class="sn-icon sn-icon-archive"></i>
        <span><%= t('experiments.archive.label_title') %></span>
      <% end %>
    </li>
  <% end %>
  <% if can_restore_experiment?(experiment) %>
    <% experiment_form = nil %>
    <%= form_for experiment, method: :patch, format: :html do |f| %>
      <% experiment_form = f %>
      <%= f.hidden_field :archived, value: false %>
    <% end %>
    <li><a href="#" class="form-submit-link" data-turbolinks="false" data-submit-form="<%= experiment_form.options[:html][:id] %>">
          <i class="sn-icon sn-icon-restore"></i><%= t "projects.experiment_archive.restore_option" %></a></li>
  <% end %>

  <div class="divider-label footer">
    <%= t('experiments.experiment_id') %>: <strong><%= experiment.code %></strong>
  </div>
</ul>
