<!-- New experiment modal -->
<div class="modal" id="new-experiment-modal" tabindex="-1" role="dialog" aria-labelledby="new-experiment-modal-label">
  <%= bootstrap_form_for [@project, @experiment], remote: true do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="new-eperiment-modal-label"><%= t("experiments.new.modal_title") %></h4>
        </div>
        <div class="modal-body">
          <%= render partial: "form.html.erb", locals: { form: f } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
          <%= f.submit t("experiments.new.modal_create"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
