<div class="toolbar-row">
  <div class="toolbar-left-block">
    <% if can_manage_experiment?(@experiment) %>
      <%= link_to modules_new_experiment_path(@experiment, view_mode:'table'),
                    class: 'btn btn-primary new-my-module-button only-active',
                    id: 'createTask',
                    data: { view_mode: 'active' },
                    remote: true do %>
                <span class="fas fa-plus"></span>
                <span class="hidden-xs"><%= t('experiments.table.toolbar.new') %></span>
        <% end %>
    <% end %>
    <button id="editTask" class="btn btn-light single-object-action hidden only-active" data-for="editable" >
      <i class="fas fa-pen"></i>
      <span class="button-text"><%= t("experiments.table.toolbar.edit") %></span>
    </button>
    <% if can_manage_experiment?(@experiment) %>
      <button id="duplicateTasks" class="btn btn-light multiple-object-action hidden only-active" data-url="<%= batch_clone_my_modules_experiment_path(@experiment) %>">
        <i class="fas fa-copy"></i>
        <span class="button-text"><%= t("experiments.table.toolbar.duplicate") %></span>
      </button>
    <% end %>
    <button id="moveTask" class="btn btn-light multiple-object-action hidden" data-for="moveable">
      <i class="fas fa-arrow-right"></i>
      <span class="button-text"><%= t("experiments.table.toolbar.move") %></span>
    </button>
    <button id="archiveTask" class="btn btn-light multiple-object-action hidden only-active" data-url="<%= archive_my_modules_experiment_path(@experiment) %>"  data-for="archivable">
      <i class="fas fa-archive"></i>
      <span class="button-text"><%= t("experiments.table.toolbar.archive") %></span>
    </button>
    <button id="restoreTask" class="btn btn-light multiple-object-action hidden only-archive" data-url="<%= restore_my_modules_experiment_path(@experiment) %>"  data-for="restorable">
      <i class="fas fa-undo"></i>
      <span class="button-text"><%= t("experiments.table.toolbar.restore") %></span>
    </button>
  </div>
  <div class="toolbar-right-block">
    <button id="taskDataDisplay" class="btn btn-light" data-toggle="modal" data-target="#tableDisplayModal">
      <i class="fas fa-eye"></i>
      <span class="button-text"><%= t("experiments.table.toolbar.task_data") %></span>
    </button>
  </div>
</div>

<%= javascript_include_tag("experiments/show") %>
