
<span class="middle">
  <div id='taskCanvasDropdowns' data-behaviour="vue" class="flex items-center gap-2">
    <task-canvas-menu-dropdowns
      view-mode="<%= params[:view_mode] == 'archived' || params[:action] == "module_archive" ? 'archived' : 'active' %>"
      view-type="<%= action_name.in?(['canvas', 'module_archive']) ? 'canvas' : 'table' %>"
      view-type-path="<%= view_type_experiment_path(@experiment) %>"
      active-path="<%= my_modules_experiment_path(@experiment) %>"
      archived-path="<%= my_modules_experiment_path(@experiment, params: { view_mode: 'archived' }) %>">
    </task-canvas-menu-dropdowns>
  </div>
</span>

<%= javascript_include_tag('vue_legacy_task_canvas_menu_dropdowns') %>
