<% provide(:head_title, t("experiments.table.head_title", experiment: h(@experiment.name)).html_safe) %>
<% provide(:sidebar_title, t("sidebar.my_modules.sidebar_title")) %>
<% provide(:sidebar_url, sidebar_experiment_path(@experiment)) %>
<% provide(:container_class, 'no-second-nav-container') %>

<%= content_for :sidebar do %>
  <%= render partial: 'shared/sidebar/my_modules.html.erb', locals: { experiment: @experiment, my_modules: @active_modules } %>
<% end %>

<div class="content-pane flexible" id="experimentTable">
  <%= render partial: 'experiments/show_header' %>

  <div class="experiment-table-container">
    <div class="experiment-table"
         style="--columns-count: <%= Experiments::TableViewService::COLUMNS.length%>"
         data-my-modules-url= <%= load_table_experiment_path(@experiment) %>
    >
      <div class="table-header">
        <div class="table-header-cell select-all-checkboxes">
          <div class="sci-checkbox-container">
            <input type="checkbox" class="sci-checkbox">
            <span class="sci-checkbox-label"></span>
          </div>
        </div>
        <% Experiments::TableViewService::COLUMNS.each do |col| %>
          <div class="table-header-cell">
            <%= t("experiments.table.column.#{col}_html") %>
          </div>
        <% end %>
        <div class="table-header-cell"></div>
      </div>
      <div class="table-body"></div>
    </div>
  </div>
</div>

<%= render partial: "my_modules/modals/manage_module_tags_modal", locals: { my_module: nil } %>

<%= javascript_include_tag("my_modules/tags") %>
<%= javascript_include_tag("experiments/table") %>
