<% @recent_notifications.each do |notification| %>
<li class="notification <%= 'unseen' unless notification.already_seen(current_user) %>">
  <div class="row">
    <div class="col-xs-2">
      <%= render partial: "user_notifications/icons/#{notification.type_of}",
                 locals: { notification: notification },
                 formats: [:html] %>
    </div>

    <div class="col-xs-10">
      <strong><%= sanitize_input(notification.title) %></strong> <br>
      <% if notification.deliver? %>
      <%= I18n.t('notifications.deliver.download_text') %></br>
      <% end %>
      <%= l(notification.created_at, format: :full) %> | <%= sanitize_input(notification.message) %>
    </div>
  </div>
<li>
<% end %>
