<% provide(:head_title, sanitize_input(t("notifications.title"))) %>

<div class="content-pane">
  <div class="notifications-container">
    <div class="notifications-header">
      <span><%= t('notifications.title') %></span><span class="pull-right"><%= link_to t('nav.user.settings'), preferences_path %></span>
    </div>
    <div class="notifications-body">
      <ul class="notifications-list">
        <% if @notifications.count > 0 %>
          <%= render 'list', notifications: @notifications %>
        <% else %>
          <li class="notification no-notifications">
            <em><%= t('notifications.no_notifications') %></em>
          </li>
        <% end %>
      </ul>
    </div>
      <% if @overflown %>
        <div class="text-center">
          <a class="btn btn-default btn-more-notifications" href="<%= @more_notifications_url %>" data-remote="true">
            <span><%= t('notifications.show_more') %></span>
          </a>
        </div>
      <% end %>
  </div>
</div>

<%= javascript_include_tag("notifications") %>
