<div class="activity-card">
  <div class="row">
    <div class="col-xs-12">
      <% if activity.old_activity?  %>
              <%= activity.message.html_safe %>
      <% else %>
              <% if activity.owner.present? %>
                <%= popover_for_user_name(activity.owner, activity.team, false, true) %>
              <% else %>
                <strong><%= activity.owner_id %></strong>
              <% end %>
              <%= generate_activity_content(activity) %>
      <% end %>
    </div>
  </div>
  <div class="pull-left activity-timestamp">
    <%= activity.created_at.strftime('%H:%M') %>
  </div>
  <div class="row navigational-breadcrumbs">
  <% unless activity.old_activity? %>
    <% if activity.subject_type.present? %>
      <%= render partial: "global_activities/references/#{activity.subject_type.underscore}.html.erb",
                 locals: { subject: activity.subject, breadcrumbs: activity.values[:breadcrumbs] } %>
    <% else %>
      <%= render partial: "global_activities/references/result.html.erb",
                 locals: { subject: activity.subject, breadcrumbs: activity.values[:breadcrumbs] } %>
    <% end %>
  <% end %>
  </div>
</div>
