<div class="datetime-picker-container"
     id="<%= id %>"
     data-id="<%= id %>"
     data-use-current="<%= use_current %>">
  <% if label %>
    <label class="control-label required" for="calendar-<%= id %>"><%= label %></label>
  <% end %>
  <span class="sn-icon sn-icon-calendar"></span>
  <input type="datetime" class="form-control calendar-input" name="calendar[<%= id %>]" id="calendar-<%= id %>" readonly="" data-ts="" placeholder="<%= placeholder %>" value="<%= defined?(setDate) ? setDate : '' %>"/>

  <%= javascript_include_tag 'global_activities/date_picker', nonce: true %>

</div>
