<div class="datetime-picker-container">
  <div  id="date-time-picker-<%= id %>" class="vue-date-time-picker w-full">
    <% selected_date = '' %>
    <% selected_date = setDate if defined?(setDate) %>
    <% selected_date = use_current %>
    <% if label %>
      <label class="sci-label" for="calendar-<%= id %>"><%= label %></label>
    <% end %>
    <input ref="input" type="hidden" class="calendar-input" id="calendar-<%= id %>" v-model="date" name="calendar[<%= id %>]" data-default="<%= defined?(setDate) ? setDate : '' %>" />
    <date-time-picker class="w-full" @cleared="clearDate" ref="vueDateTime" placeholder="<%= placeholder %>" @change="updateDate" mode="date"></date-time-picker>
  </div>
</div>
