<div class="team-selector filter-block small-left">
  <h4 class="title"><%= t('global_activities.index.teams') %></h4>
  <h6 class="clear"><%= t('global_activities.index.clear') %></h6>
  <div class="select-container">
    <select name="team"
      data-select-all-button= "<%= t('global_activities.index.all_teams_btn') %>"
      data-dropdown-position = 'left'
      data-placeholder = "<%= t('global_activities.index.select_teams') %>"
      data-select-all = "false"
      data-ajax-url = "<%= team_filter_global_activities_path %>"
    ></select>
    </div>
</div>


<div class="date-selector filter-block small-right"
     data-period-label="<%= t('global_activities.index.period_label') %>"
     data-period-select="">
  <h4 class="title"><%= t('global_activities.index.activity') %></h4>

  <div class="date-selector">
    <div class="hot-buttons">
      <div class="hot-button btn btn-default" data-period="today"><%= t('global_activities.index.today') %></div>
      <div class="hot-button btn btn-default" data-period="yesterday"><%= t('global_activities.index.yesterday') %></div>
      <div class="hot-button btn btn-default" data-period="this_week"><%= t('global_activities.index.this_week') %></div>
      <div class="hot-button btn btn-default" data-period="last_week"><%= t('global_activities.index.last_week') %></div>
      <div class="hot-button btn btn-default" data-period="this_month"><%= t('global_activities.index.this_month') %></div>
      <div class="hot-button btn btn-default" data-period="last_month"><%= t('global_activities.index.last_month') %></div>
    </div>
    <h4 class="title">
      <%= t('global_activities.index.custom_dates_label') %>
    </h4>
    <div class="to">
      <%= render partial: "date_picker", locals: { id: 'to-date', use_current: 'false', placeholder: t('global_activities.index.to_label'), label: nil } %>
    </div>
    <div class="separator"></div>
    <div class="from">
      <%= render partial: "date_picker", locals: { id: 'from-date', use_current: 'true', placeholder: t('global_activities.index.from_label'), label: nil } %>
    </div>
  </div>
</div>

<div class="activity-selector filter-block small-left">
  <h4 class="title"><%= t('global_activities.index.activity_type') %></h4>
  <h6 class="clear"><%= t('global_activities.index.clear') %></h6>
  <div class="select-container">
    <%= select_tag "activity", grouped_options_for_select(@activity_types),{
      'data-select-all-button': t('global_activities.index.all_activities_btn'),
      'data-select-all': 'true',
      'data-select-multiple-name': t('global_activities.index.l_activities'),
      'data-select-multiple-all-selected': t('global_activities.index.all_activities'),
      'data-dropdown-position': 'left',
      'data-select-by-group': 'true',
      'data-placeholder': t('global_activities.index.select_activity_types')
    } %>
  </div>
</div>

<div class="user-selector filter-block small-left">
  <h4 class="title"><%= t('global_activities.index.user') %></h4>
  <h6 class="clear"><%= t('global_activities.index.clear') %></h6>
  <div class="select-container">
    <select name="user"
      data-select-all-button= "<%= t('global_activities.index.all_users_btn') %>"
      data-dropdown-position = 'left'
      data-placeholder = "<%= t('global_activities.index.select_users') %>"
      data-select-all = "false"
      data-ajax-url = "<%= user_filter_global_activities_path %>"
    ></select>
  </div>
</div>

<div class="subject-selector filter-block small-left">
  <h4 class="title"><%= t('global_activities.index.object') %></h4>
  <h6 class="clear"><%= t('global_activities.index.clear') %></h6>
  <div class="select-container">
    <select name="subject" data-select-all="false" data-dropdown-position="left"  data-placeholder="<%= t('global_activities.index.select_objects') %>"
      data-select-all-button= "<%= t('global_activities.index.deselect_all_objects') %>"
    ></select>
  </div>
</div>
