<h1 class="ga-title">
  <%= t('activities.index.global_activities_title') %>
</h1>
<div class="ga-actions">
  <div class="sci-btn-group">
    <a id="global-activities-expand-all" class="hide-actions btn btn-light" href="#" data-turbolinks="false">
      <i class="sn-icon sn-icon-down"></i><%= t('activities.index.expand_all') %>
    </a>
    <a id="global-activities-colapse-all" class="hide-actions btn btn-light" href="#" data-turbolinks="false">
      <i class="sn-icon sn-icon-up"></i><%= t('activities.index.collapse_all') %>
    </a>
  </div>
  <div class="ga-search-container">
    <input type="text" class="search-field" placeholder="Search..." aria-describedby="basic-addon1">
    <i class="sn-icon sn-icon-search"></i>
  </div>
</div>
<div class="ga-tags-container">
  <div class="ga-tags perfect-scrollbar"></div>
  <% if can_create_acitivity_filters? %>
     <div class="btn btn-light save-filter" data-toggle="modal" data-target="#saveFilterModal">
      <i class="fas fa-save"></i><%= t('global_activities.index.save_filter') %>
    </div>
  <% end %>
  <div class="btn btn-light clear-container">
    <i class="sn-icon sn-icon-close"></i><%= t('global_activities.index.clear_filters') %>
  </div>
</div>
