<% provide :head_title, t('nav.label.activities') %>

<div class="global-activities-container container-flex">
  <div class="row">
    <div class="ga-top col-md-12">
      <%= render partial: "top_pane" %>
    </div>

    <div class="ga-side col-lg-3 col-md-12 col-xl-2 perfect-scrollbar">
      <%= render partial: "side_filters" %>
    </div>

    <div class="ga-main col-lg-9 col-md-12 col-xl-10 perfect-scrollbar">
      <div class="no-activities-message text-center <%= 'hidden' if @grouped_activities.keys.any? %>">
        <p><%= t('activities.index.no_activities_message') %></p>
      </div>
      <div class="ga-activities-list" data-activities-url="<%= global_activities_path %>">
        <%= render partial: "activity_list.html.erb" %>
      </div>
      <div class="text-center">
        <a class="btn btn-default btn-more-activities <%= 'hidden' unless @more_activities %>"
           data-next-date="<%= @next_date %>">
          <%= t'activities.index.more_activities' %>
        </a>
      </div>
    </div>

  </div>
</div>

<script>
  var gaUrlQueryParams= <%= raw @filters.to_json %> 
</script>
<%= javascript_include_tag 'global_activities/index.js' %>
<%= javascript_include_tag 'global_activities/side_pane.js' %>
