<% provide :head_title, t('nav.label.activities') %>

<div class="global-activities-container" data-e2e="e2e-CO-activities">
  <div id="filters" data-filters='<%= @filters.to_json %>' ></div>
  <div class="ga-top">
    <%= render partial: "top_pane" %>
  </div>
  <div class="ga-bottom">
    <div class="ga-main">
      <div class="activities-container perfect-scrollbar">
        <div class="no-activities-message text-center <%= 'hidden' if @grouped_activities.keys.any? %>">
          <p><%= t('activities.index.no_activities_message') %></p>
        </div>
        <div class="ga-activities-list" data-activities-url="<%= global_activities_path %>">
          <%= render partial: "activity_list" %>
        </div>
        <div class="text-center">
          <a class="btn btn-secondary btn-more-activities <%= 'hidden' unless @next_page %>"
             data-next-page="<%= @next_page %>">
            <%= t'activities.index.more_activities' %>
          </a>
        </div>
        <div id="ga-more-activities-placeholder" class="hidden"></div>
      </div>
    </div>
    <div class="ga-side">
      <div class="filters-container perfect-scrollbar">
        <%= render partial: "side_filters" %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'save_filter_modal' %>

<%= javascript_include_tag 'global_activities/index.js' %>
