<% provide :head_title, t('nav.label.activities') %>

<div class="global-activities__container">
  <br>
  <div class="global-activities__top">
    <h2 class="global-activiteis__title">Global activities</h2>
  </div>

  <div class="global-activities__main">
        <div class="global-activities__top-actions">
          <a id="global-activities-expand-all" href="#" data-turbolinks="false">
            <i class="fas fa-caret-square-down"></i>
            <%= t('activities.index.expand_all') %>
          </a>
          &nbsp;&nbsp;
          <a id="global-activities-colapse-all" href="#" data-turbolinks="false">
            <i class="fas fa-caret-square-up"></i>
            <%= t('activities.index.collapse_all') %>
          </a>
        </div>
        <div class="global-activities__search-container">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon1">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>
    <div class="global-activities_activities-list" data-activities-url="<%= global_activities_path %>">
      <%= render partial: "activity_list.html.erb" %>
    </div>
    <div class="text-center">
      <a class="btn btn-default btn-more-activities <%= 'hidden' unless @more_activities %>"
         data-next-date="<%= @next_date %>">
        <%= t'activities.index.more_activities' %>
      </a>
    </div>
  </div>

  <div class="global-activities__side">
    <%= render "team_selection" %>
  </div>

</div>

<%= javascript_include_tag 'global_activities/index.js' %>
