<div class="well">
  <%= form_with(model: @result, url: result_asset_path(format: :json), data: { remote: true }, html: { class: 'edit-result-asset' }) do |f| %>
    <div class="sci-input-container mb-4">
			<label><%= t('result_assets.edit.label.name') %></label>
			<%= f.text_field :name, class: 'sci-input-field' %>
		</div>
    <%= f.fields_for :asset do |ff| %>
      <span><strong><%=t "result_assets.edit.uploaded_asset" %></strong></span>
      <p style="margin: 10px;">
        <%= file_extension_icon(ff.object) %>
        <%= ff.object.file_name %>
      </p>
      <%= ff.file_field :file, direct_upload: true %>
    <% end %>
    <hr>
    <div class="align-right edit-result-assets-buttons">
      <button type="button" class="btn btn-secondary cancel-edit">
        <%= t("general.cancel")%>
      </button>
      <%= f.submit t("general.save"), class: 'btn btn-primary save-result' %>
    </div>
  <% end %>
</div>
