<div class="well">
  <%= bootstrap_form_for(@result, url: result_asset_path(format: :json), remote: true, multipart: true, data: { type: :json }) do |f| %>
    <%= f.text_field :name, style: "margin-top: 10px;" %><br />
    <%= f.fields_for :asset do |ff| %>
      <span><strong><%=t "result_assets.edit.uploaded_asset" %></strong></span>
      <p style="margin: 10px;"><%= ff.object.file_file_name %></p>
      <%= ff.file_field :file %>
    <% end %>
    <hr>
    <%= f.submit t("result_assets.edit.update"), class: 'btn btn-primary', onclick: "processResult(event, ResultTypeEnum.FILE, true, #{direct_upload});" %>
    <button type="button" class="btn btn-default cancel-edit">
      <%= t("general.cancel")%>
    </button>
  <% end %>
</div>
