<div class="well">
  <div id="new-result-assets-select" class="text-center new-asset-box">
    <span class="help_tooltips"
          data-tooltiplink="<%= I18n.t('tooltips.link.protocol.step_add_files') %>"
          data-tooltipcontent="<%= I18n.t('tooltips.text.protocol.step_add_files') %>">
    <%=t 'assets.drag_n_drop.label_html' %>
    <label>
      <span class="btn btn-primary">
        <span class="fas fa-plus"></span>
        <%=t 'assets.drag_n_drop.browse_label' %>
      </span>
      <input type="file"
             onchange="DragNDropResults.init(this.files, 'select')"
             id="drag-n-drop-assets"
             style="display: none" multiple>
    </label>
    </span>
  </div>
  <br />
  <div class="align-right">
    <button type="button"
            class="btn btn-default cancel-new"
            onClick="DragNDropResults.destroyAll()">
      <%= t("general.cancel")%>
    </button>
    <button type="button"
            class="btn btn-success save-result"
            disabled="true"
            data-href="<%= my_module_result_assets_path(format: :json) %>"
            onClick="DragNDropResults.processResult(this)"><%=t 'result_assets.new.create' %></button>
  </div>
</div>
