<%= form_tag update_repository_stock_repository_repository_row_path(@repository, @repository_row), method: :post, remote: true, novalidate: true do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('general.close') %>">
      <i class="sn-icon sn-icon-close"></i>
    </button>
    <h4 class="modal-title" id="modal-delete-module-label">
      <% if repository_stock_value.new_record? %>
        <%= t('repository_stock_values.manage_modal.title', item: repository_row.name) %>
      <% else %>
        <%= t('repository_stock_values.manage_modal.edit_title', item: repository_row.name) %>
      <% end %>
    </h4>
  </div>
  <div class="modal-body">
    <%= hidden_field_tag 'repository_stock_value[amount]', repository_stock_value.amount %>
    <%= hidden_field_tag 'initial_units', repository_stock_value.repository_stock_unit_item_id %>
    <%= hidden_field_tag 'change_amount' %>
    <%= hidden_field_tag 'operator', 'set' %>
    <p><%= t('repository_stock_values.manage_modal.enter_amount') %></p>
    <div class="row">
      <div class="col-sm-5 !pr-0">
        <label><%= t('repository_stock_values.manage_modal.operation') %></label>
        <% if repository_stock_value.id %>
          <div class="btn-group" role="group" aria-label="Operator group">
            <button type="button" data-operator="set" class="btn btn-primary stock-operator-option"><%= t('repository_stock_values.manage_modal.set') %></button>
            <button type="button" data-operator="add" class="btn btn-secondary stock-operator-option"><%= t('repository_stock_values.manage_modal.add') %></button>
            <button type="button" data-operator="remove" class="btn btn-secondary stock-operator-option"><%= t('repository_stock_values.manage_modal.remove') %></button>
          </div>
        <% else %>
          <div class="btn-group" role="group" aria-label="Operator group">
            <button type="button" data-operator="set" class="btn btn-primary"><%= t('repository_stock_values.manage_modal.set') %></button>
            <button type="button" data-operator="add" class="btn btn-secondary disabled"><%= t('repository_stock_values.manage_modal.add') %></button>
            <button type="button" data-operator="remove" class="btn btn-secondary disabled"><%= t('repository_stock_values.manage_modal.remove') %></button>
          </div>
        <% end %>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6">
            <div class="sci-input-container" data-error-text="<%= t('repository_stock_values.manage_modal.amount_error') %>">
              <label><%= t('repository_stock_values.manage_modal.amount') %></label>
              <input id="stock-input-amount"
                     class="sci-input-field"
                     type="text"
                     autocomplete="off"
                     name="input-amount"
                     data-operator="set"
                     tabindex="1"
                     data-current-amount="<%= repository_stock_value.amount %>"
                     data-decimals="<%= repository_stock_column.metadata['decimals'] %>"
                     value="<%= repository_stock_value.formatted_value %>"
                     placeholder="<%= t("repository_stock_values.manage_modal.amount_placeholder_new") %>"
                     required />
            </div>
          </div>
          <div class="col-sm-6">
            <label><%= t('repository_stock_values.manage_modal.unit') %></label>
            <select class="form-control" name="repository_stock_value[unit_item_id]" id="repository-stock-value-units" required>
              <option valus=""><%= t('repository_stock_values.manage_modal.unit_prompt') %></option>
              <% unit_items.each do |unit_item| %>
                <option value="<%= unit_item.id %>" <%= 'selected' if repository_stock_value.repository_stock_unit_item == unit_item || unit_items.one?%>>
                  <%= unit_item.data %>
                </option>
              <% end %>
            </select>
            <div class="input-error-message">
                <%= t('repository_stock_values.manage_modal.unit_error') %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="stock-comment-field sci-input-container" data-error-text="<%= t('repository_stock_values.manage_modal.comment_limit') %>">
            <label><%= t('repository_stock_values.manage_modal.comment') %></label>
            <input class="sci-input-field"
            type="text"
            tabindex="3"
            name="repository_stock_value[comment]"
            id="repository-stock-value-comment"
            placeholder="<%= t('repository_stock_values.manage_modal.comment_placeholder') %>">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="repository-stock-reminder-selector">
          <div class="sci-checkbox-container">
            <input type="checkbox" name="reminder-enabled" tabindex="4" class="sci-checkbox" id="reminder-selector-checkbox" <%= "checked" if repository_stock_value.low_stock_threshold.present? %>/>
            <span class="sci-checkbox-label"></span>
          </div>
          <%= t('repository_stock_values.manage_modal.create_reminder') %>
        </div>
        <div class="repository-stock-reminder-value <%= "hidden" if repository_stock_value.low_stock_threshold.blank? %>">
          <span><%= t('repository_stock_values.manage_modal.reminder_at') %></span>
          <div class="sci-input-container" data-error-text="<%= t('repository_stock_values.manage_modal.enter_ammount') %>">
            <input type="text"
                   autocomplete="off"
                   id="low_stock_threshold"
                   name="repository_stock_value[low_stock_threshold]"
                   value="<%= repository_stock_value.formatted_treshold %>"
                   data-decimals="<%= repository_stock_column.metadata['decimals'] %>"
                   class="sci-input-field"
                   tabindex="5"
                   placeholder="Enter amount"/>
          </div>
          <span class="units">
          </span>
        </div>
      </div>
    </div>
    <% unless repository_stock_value.new_record? %>
      <div class="row">
        <div class="col-sm-12">
          <div class="stock-update-view">
            <div class="stock-initial-container <%= 'negative' if repository_stock_value.amount.negative? %>">
              <span class="subtitle"><%= t('repository_stock_values.manage_modal.current_stock') %></span>
              <span class="value"><%= repository_stock_value.formatted_value %></span>
              <span class="units"><%= repository_stock_value.repository_stock_unit_item&.data %></span>
            </div>
            <div class="stock-arrow">
              <i class="sn-icon sn-icon-arrow-right"></i>
            </div>
            <div class="stock-final-container <%= 'negative' if repository_stock_value.amount.negative? %> ">
              <span class="subtitle"><%= t('repository_stock_values.manage_modal.new_stock') %></span>
              <span class="value"><%= repository_stock_value.formatted_value %></span>
              <span class="units"><%= repository_stock_value.repository_stock_unit_item&.data %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button"
            id="cancel"
            class="btn btn-secondary"
            tabindex="7"
            data-dismiss="modal"><%=t 'general.cancel' %></button>
    <%= submit_tag t('repository_stock_values.manage_modal.save_stock'), class: "btn btn-primary update-repository-stock", tabindex: "6" %>
  </div>
<% end %>
