<div class="modal fade"
     id="modal-destroy-team"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-destroy-team-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title" id="modal-destroy-team-label"><%= t("users.settings.teams.edit.modal_destroy_team.title") %></h4>
      </div>
      <div class="modal-body">
        <%= t("users.settings.teams.edit.modal_destroy_team.message", team: team.name) %>
      </div>
      <div class="modal-footer">
        <%= form_with url: destroy_team_path(team), method: :delete do |f| %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('general.cancel') %></button>
          <%= f.submit t("users.settings.teams.edit.modal_destroy_team.confirm"), class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
