<div class="content-header">
  <div class="title-row">
    <h1 id="team-name" class="settings-team-name" data-current-team="<%= current_team == @team %>">
      <% if can_manage_team?(@team) %>
        <%= render partial: "shared/inline_editing",
                    locals: {
                      initial_value: @team.name,
                      config: {
                        field_to_udpate: 'name',
                        params_group: 'team',
                        path_to_update: update_team_path(@team, format: :json)
                      }
                    } %>
      <% else %>
        <span class="view-mode"><%= @team.name %></span>
      <% end %>
    </h1>
  </div>
</div>
<div class="flex items-center gap-4 p-2 mb-4 bg-white rounded-lg">
  <%= link_to t("users.settings.teams.navigation.details"), team_path(@team), class: "p-2.5 hover:no-underline #{ 'disabled' unless can_read_team?(@team) } #{ @active_tab == :details ? "text-sn-blue" : "text-sn-grey" }"%>
  <%= link_to t("users.settings.teams.navigation.members"), members_users_settings_team_path(@team), class: "p-2.5 hover:no-underline #{ @active_tab == :members ? "text-sn-blue" : "text-sn-grey" }"%>
  <%= link_to t("users.settings.teams.navigation.groups"), users_settings_team_user_groups_path(@team), class: "p-2.5 hover:no-underline  #{ 'disabled' unless can_manage_team?(@team) } #{ @active_tab == :user_groups ? "text-sn-blue" : "text-sn-grey" }"%>
  <%= link_to t("users.settings.teams.navigation.tags"), users_settings_team_tags_path(@team), class: "p-2.5 hover:no-underline #{ 'disabled' unless can_read_team?(@team) } #{ @active_tab == :tags ? "text-sn-blue" : "text-sn-grey" }"%>
</div>
