<div class="content-header">
  <div class="title-row">
    <h1 id="team-name" class="settings-team-name" data-current-team="<%= current_team == @team %>">
      <% if can_manage_team?(@team) %>
        <%= render partial: "shared/inline_editing",
                    locals: {
                      initial_value: @team.name,
                      config: {
                        field_to_udpate: 'name',
                        params_group: 'team',
                        path_to_update: update_team_path(@team, format: :json)
                      }
                    } %>
      <% else %>
        <span class="view-mode"><%= @team.name %></span>
      <% end %>
    </h1>
  </div>
</div>
<div class="tab-group mb-4">
  <%= link_to t("users.settings.teams.navigation.details"), team_path(@team), class: "tab-item #{ 'active' if @active_tab == :details } #{ 'disabled' unless can_read_team?(@team) }"%>
  <%= link_to t("users.settings.teams.navigation.members"), members_users_settings_team_path(@team), class: "tab-item #{ 'active' if @active_tab == :members }"%>
  <%= link_to t("users.settings.teams.navigation.groups"), users_settings_team_user_groups_path(@team), class: "tab-item #{ 'active' if @active_tab == :user_groups } #{ 'disabled' unless can_manage_team?(@team) }"%>
  <%= link_to t("users.settings.sidebar.account_nav.automations"), automations_team_path(@team), class: "tab-item #{ 'active' if @active_tab == :automations } #{ 'disabled' unless can_manage_team?(@team) }"%>
  <%= link_to t("users.settings.teams.navigation.tags"), users_settings_team_tags_path(@team), class: "tab-item #{ 'active' if @active_tab == :tags } #{ 'disabled' unless can_delete_tags?(@team) }"%>
</div>
