<% if user_assignment.user == user %>
  <button class="btn btn-light btn-xs icon-btn" type="button" disabled="disabled">
    <span class="sn-icon sn-icon-down"></span>
  </button>
<% else %>
  <% id = "user-#{user_assignment.user.id}-dropdown" %>
  <div class="dropdown dropdown-teams-user">
    <button class="btn btn-light icon-btn btn-xs"
         type="button"
         id="<%= id %>"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="true">
      <span class="sn-icon sn-icon-down"></span>
    </button>
    <ul class="dropdown-menu custom-dropdown-menu dropdown-menu-right" aria-labelledby="<%= id %>">
      <li class="dropdown-header">
        <%= t("users.settings.teams.edit.user_dropdown.role_label") %>
      </li>
      <%= form_with model: user_assignment,
                    url: update_role_path,
                    method: :put,
                    data: { remote: true, id: 'update-role-form' } do |f| %>
        <input type="hidden" name="user_assignment[user_role_id]" data-field="role" value="" %>
      <% end %>
      <% team_user_roles_collection.each do |user_role| %>
        <% same_role = user_assignment.user_role_id == user_role.id %>
        <li class="user-team-role <%= 'disabled' if same_role %>">
          <% if same_role %>
            <span class="sn-icon sn-icon-check"></span>
            <%= user_role.name %>
          <% else %>
            <a href="#" data-action="submit-role" data-value="<%= user_role.id %>">
              <span class="sn-icon sn-icon-check invisible"></span>
              <%= user_role.name %>
            </a>
          <% end %>
        </li>
      <% end %>
      <li role="separator" class="divider"></li>
      <li>
        <%= destroy_uo_link %>
      </li>
    </ul>
  </div>
<% end %>
