
<% provide(:head_title, t("users.settings.teams.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<% content_for :head do %>
  <meta id="cache-directive" name="turbolinks-cache-control" content="no-cache">
<% end %>

<%= render partial: "users/settings/sidebar" %>
<div class="tab-content">
  <div class="tab-pane content-pane" role="tabpanel"></div>
  <div class="tab-pane content-pane active" role="tabpanel">
    <div>
      <% if @member_of > 0 %>
        <%= t("users.settings.teams.index.description_label") %>
        <br><br>
        <%= t("users.settings.teams.index.member_of", count: @member_of) %>
      <% else %>
        <%= t("users.settings.teams.index.description_label") %>
        <br><br>
        <em><%= t("users.settings.teams.index.no_teams") %></em>
      <% end %>
      <% if can_create_teams? %>
        <span id="new-team-button">
          <%= link_to new_team_path, class: "btn btn-primary", style: "margin-left: 30px;" do %>
            <span class="sn-icon sn-icon-new-task"></span>
            <span class="hidden-xs">
              <%= t("users.settings.teams.index.new_team") %>
            </span>
          <% end %>
        </span>
      <% end %>
    </div>

    <% if @member_of > 0 %>
      <div class="teams-datatable">
        <table id="teams-table" class="table" data-source="<%= teams_datatable_path(format: :json) %>" style="width:100%">
          <thead>
            <tr>
              <th id="team-name"><%= t("users.settings.teams.index.thead_name") %></th>
              <th id="team-role"><%= t("users.settings.teams.index.thead_role") %></th>
              <th id="team-members"><%= t("users.settings.teams.index.thead_members") %></th>
              <th id="leave-team">&nbsp;</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    <% else %>
      <br />
    <% end %>
  </div>
</div>

<%= render partial: "users/settings/user_teams/leave_user_team_modal" %>
<%= stylesheet_link_tag 'datatables' %>
<%= javascript_include_tag "users/settings/teams/index" %>
<%= javascript_include_tag "users/settings/teams/datatable" %>
