<% provide(:head_title, t("users.settings.teams.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<%= render partial: "users/settings/sidebar.html.erb" %>
<div class="tab-content">
  <div class="tab-pane content-pane" role="tabpanel"></div>
  <div class="tab-pane content-pane active" role="tabpanel">

    <%= render partial: "users/settings/teams/breadcrumbs.html.erb" %>

    <%= bootstrap_form_for @new_team, url: create_team_path do |f| %>
      <div class="form-group" style="max-width: 500px;">
        <%= f.text_field :name,
                         label: t('users.settings.teams.new.name_label'),
                         autofocus: true,
                         placeholder: t('users.settings.teams.new.name_placeholder') %>
        <small>
          <%=t 'users.settings.teams.new.name_sublabel' %>
        </small>
      </div>

      <div class="form-group" style="max-width: 500px;">
        <%= f.text_area :description, label: t('users.settings.teams.new.description_label') %>
        <small>
          <%=t 'users.settings.teams.new.description_sublabel' %>
        </small>
      </div>

      <%= link_to t('general.cancel'), teams_path, class: 'btn btn-default' %>
      <%= f.submit t('users.settings.teams.new.create'), class: 'btn btn-success' %>

    <% end %>
  </div>
</div>
