<% provide(:head_title, t("users.settings.teams.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<%= render partial: "users/settings/sidebar" %>
<div class="tab-content">
  <div class="tab-pane content-pane" role="tabpanel"></div>
  <div class="tab-pane content-pane active" role="tabpanel">
    <%= form_with model: @new_team, url: create_team_path do |f| %>
      <div class="sci-input-container mb-4 max-w-lg" style="display: block !important">
        <label><%= t('users.settings.teams.new.name_label') %></label>
        <%= f.text_field :name,
                         autofocus: true,
                         class: 'sci-input-field',
                         placeholder: t('users.settings.teams.new.name_placeholder') %>
        <br>
        <small>
          <%=t 'users.settings.teams.new.name_sublabel' %>
        </small>
      </div>

      <div class="sci-input-container mb-4 max-w-lg" style="display: block !important">
        <%= f.text_area :description, class: "sci-input-field textarea", label: t('users.settings.teams.new.description_label') %>
        <br>
        <small>
          <%=t 'users.settings.teams.new.description_sublabel' %>
        </small>
      </div>

      <%= link_to t('general.cancel'), teams_path, class: 'btn btn-secondary' %>
      <%= f.submit t('users.settings.teams.new.create'), class: 'btn btn-success' %>

    <% end %>
  </div>
</div>
