<%
  delimiters = defined_delimiters_options
  selected_delimiter = column.delimiter || 'return'
  selected_delimiter_char = Constants::REPOSITORY_LIST_ITEMS_DELIMITERS_MAP[selected_delimiter.to_sym]
%>

<%= hidden_field_tag 'dropdown_options' %>
<div class="form-group">
  <label class="control-label col-sm-3" for="repository-column-data-type">
    <%= t('libraries.manange_modal_column.list_type.delimiter_label') %>
  </label>
  <div class="col-sm-9">
    <%= select_tag('delimiter', options_for_select(delimiters, selected_delimiter), class: 'form-control') %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-3" for="repository-column-data-type">
    <%= t('libraries.manange_modal_column.list_type.dropdown_items_label') %>
  </label>
  <div class="col-sm-9">
    <%= text_area_tag 'list-items-textarea', column.repository_list_items.pluck(:data).join(selected_delimiter_char), rows: 10, class: 'form-control' %>
  </div>
</div>
<div class="dropdown-preview">
  <span class="field-name">Preview</span>
  <div class="preview-block">
    <div class="preview-label"><%= column.name %></div>
    <select class="form-control">
    </select>
    <div class="limit-counter-container">
      <span class="list-items-count"></span>
      <span class="list-items-limit">/<%= Constants::REPOSITORY_LIST_ITEMS_PER_COLUMN %> </span>
      <span class="items-label"></span></div>
  </div>
</div>
