<% provide(:head_title, t('users.settings.account.addons.head_title')) %>
<% provide(:container_class, "no-second-nav-container") %>

<%= render partial: 'users/settings/sidebar.html.erb' %>
<div class="tab-content user-account-addons">
  <div class="tab-pane content-pane active" role="tabpanel">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1 class="addons-title"><%= t('users.settings.account.addons.title') %></h1>
        <div data-hook="settings-addons-container">
          <em data-hook="settings-addons-no-addons">
            <%= t('users.settings.account.addons.no_addons') %>
          </em>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1 class="addons-title"><%= t('users.settings.account.addons.label_printers') %></h1>
        <% @label_printers.each do |label_printer| %>
          <div class="printers-container">
            <div class="printer">
              <div class="header">
                <div class="title">
                  <%= t('users.settings.account.addons.fluics_printer.title') %>
                </div>
                <div class="status" data-ready="<%= label_printer.ready? %>">
                  <% if label_printer.ready? %>
                    <%= t('users.settings.account.addons.printers.ready') %>
                  <% else %>
                    <%= t('users.settings.account.addons.printers.not_ready') %>
                  <% end %>
                </div>
                <div class="control">
                  <%= t('users.settings.account.addons.printers.enabled') %>
                  <i class="fas fa-check"></i>
                </div>
              </div>
              <div class="description">
                <%= t('users.settings.account.addons.fluics_printer.description') %>
              </div>
              <%= link_to t('users.settings.account.addons.printers.printer_details'), edit_label_printer_path(label_printer), class: 'printer-details' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane tab-pane-settings" role="tabpanel"></div>
</div>
