<% provide(:head_title, raw(t("my_module_tags.new.head_title", project: @my_module.project.name, module: @my_module.name))) %>
<h2><%=t "my_module_tags.new.title", module: @my_module.name %></h2>

<%= bootstrap_form_for [@my_module, @mt], url: my_module_my_module_tags_path do |f| %>
  <%= collection_select(:my_module_tag, :tag_id, @tags, :id, :name ) %>
  <br />
  <%= f.submit t("my_module_tags.new.create"), style: "margin-top: 10px;" %>
<% end %>
<br />
<%= link_to t("my_module_tags.new.new_tag"), new_tag_path, type: "button", class: "btn btn-default" %>
