<% if content_for?(:sidebar_title) %>
  <div id="sidebar-wrapper" class="sidebar-container <%= yield :sidebar_wrapper_class %>" data-sidebar-url="<%= yield :sidebar_url %>">
    <div class="sidebar-header">
      <div class="sidebar-title">
        <%= yield :sidebar_title %>
      </div>
      <i class="fas fa-times close-sidebar"></i>
    </div>
    <div class="fas fa-angle-double-right show-sidebar"></div>
    <div class="sidebar-body">
      <%= yield :sidebar %>
    </div>
    <div class="sidebar-footer">
      <%= yield :sidebar_footer %>
    </div>
  </div>
<% end %>
