<div class="list-attachment-container asset"
  data-asset-id="<%= asset.id %>"
  data-asset-file-name="<%= asset.file_name %>"
  data-asset-updated-at="<%= asset.updated_at.to_i %>"
  data-asset-order="1"
>
  <%= file_extension_icon_html(asset) %>
  <%= link_to rails_blob_path(asset.file, disposition: 'attachment'),
    class: "file-preview-link file-name",
    id: "modal_link#{asset.id}",
    data: {
      no_turbolink: true,
      id: asset.id,
      gallery_view_id: gallery_view_id,
      preview_url: asset_file_preview_path(asset)
    } do %>
    <%= asset.render_file_name %>
  <% end %>
  <div class="file-metadata">
    <span><%= t('assets.placeholder.modified_label') %> <%= l(asset.updated_at, format: :full_date) if asset.updated_at %></span>
    <span><%= t('assets.placeholder.size_label', size: number_to_human_size(asset.file_size)) %></span>
  </div>
  <%= render partial: 'assets/asset_context_menu', locals: { asset: asset, deletable: deletable, editable: editable } %>
</div>
