<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Enable IE Standards mode -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= t('assets.head_title.view', file_name: @asset.file_name) %></title>
    <meta name="description" content="">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href='<%= @favicon_url %>' />

    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        overflow:hidden;
        -ms-content-zooming: none;
      }
      #office_frame {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        border: none;
        display: block;
      }
    </style>
  </head>
  <body>
    <form id='office_form' name='office_form' target='office_frame'
        action='<%= @action_url %>' method='post'>
      <input name='access_token' value='<%= @token %>' type='hidden'/>
      <input name='access_token_ttl' value='<%= @ttl %>' type='hidden'/>
    </form>

    <span id="frameholder"></span>

    <%= javascript_include_tag 'assets/office_form' %>

  </body>
</html>
