<div class="well">
  <%= bootstrap_form_for(@step, url: step_path(id: @step.id, format: :json), remote: true, authenticity_token: true, multipart: true, data: { role: "edit-step-form", type: :json }) do |f| %>
    <h4><%= t("protocols.steps.edit.edit_step_title") %></h4>
    <hr>
    <%= render partial: "empty_step.html.erb", locals: {step: @step, f: f} %>
    <hr>
    <%= f.submit t("protocols.steps.edit.edit_step"), class: 'btn btn-primary', onclick: "stepValidator(event, true, #{direct_upload});" %>
    <a type="button" data-action="cancel-edit" class="btn btn-default" href="<%= step_path(id: @step, format: :json) %>"  data-remote="true">
      <%= t("general.cancel")%>
    </a>
  <% end %>
</div>
