<div class="well">
  <%= bootstrap_form_for(@step, url: step_path(id: @step.id, format: :json), remote: true, authenticity_token: true, multipart: true, data: { role: "edit-step-form", type: :json }) do |f| %>
    <h4><%= t("protocols.steps.edit.edit_step_title") %></h4>
    <%= render partial: "empty_step.html.erb", locals: {step: @step, f: f} %>
    <div class="align-right">
      <a type="button" data-action="cancel-edit" class="btn btn-secondary" href="<%= step_path(id: @step, format: :json) %>"  data-remote="true">
        <%= t("general.cancel")%>
      </a>
      <%= f.submit t("protocols.steps.edit.edit_step"), class: 'btn btn-primary step-save', onclick: "processStep(event, true);" %>
    </div>
  <% end %>
</div>
