<ul class="nav nav-tabs">
  <li role="presentation" id="new-step-main-tab" class="active">
    <a href="#new-step-main" data-toggle="tab">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </li>
  <li role="presentation" id="new-step-checklists-tab">
    <a href="#new-step-checklists" data-toggle="tab">
      <span class="glyphicon glyphicon-list"></span>
      <%= t("protocols.steps.new.tab_checklists") %>
    </a>
  </li>
  <li role="presentation"
      id="new-step-assets-tab"
      onClick="dragNdropAssetsInit()">
    <a href="#new-step-assets" data-toggle="tab">
      <span class="glyphicon glyphicon-file"></span>
      <%= t("protocols.steps.new.tab_assets") %>
    </a>
  </li>
  <li role="presentation" id="new-step-tables-tab">
    <a href="#new-step-tables" data-toggle="tab">
      <span class="glyphicon glyphicon-th"></span>
      <%= t("protocols.steps.new.tab_tables") %>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" role="tabpanel" id="new-step-main">
    <%= f.text_field :name, label: t("protocols.steps.new.name"), placeholder: t("protocols.steps.new.name_placeholder") %>
    <div class="form-group">
      <%= f.tiny_mce_editor(:description, data: { object_type: 'step', object_id: @step.id }) %>
    </div>
  </div>
  <div class="tab-pane" role="tabpanel" id="new-step-checklists">
    <%= f.nested_fields_for :checklists do |ff| %>
      <%= render "form_checklists.html.erb", ff: ff %>
    <% end %>
    <%= f.add_nested_fields_link :checklists do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t("protocols.steps.new.add_checklist") %>
    <% end %>
  </div>
  <div class="tab-pane" role="tabpanel" id="new-step-assets">
    <div class="text-center new-asset-box">
      Drag &amp; drop files here or <label><span class="btn btn-primary">Browse to add</span>
        <input type="file"
               onchange="DroppedFiles.init(this.files, 'select')"
               id="drag-n-drop-assets"
               style="display: none" multiple>
      </label>
    </div>
    <%= f.nested_fields_for :assets do |ff| %>
      <%= render "form_assets.html.erb", ff: ff, step: step %>
    <% end %>
  </div>
  <div class="tab-pane" role="tabpanel" id="new-step-tables">
    <%= f.nested_fields_for :tables do |ff| %>
      <%= render "form_tables.html.erb", ff: ff %>
    <% end %>
    <%= f.add_nested_fields_link :tables, id: "add-table" do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t("protocols.steps.new.add_table") %>
    <% end %>
  </div>
  </div>
