<div class="panel panel-default panel-step-attachment">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-file"></span>
    <%= t("protocols.steps.new.asset_panel_title") %>
    <div class="pull-right">
      <%= ff.remove_nested_fields_link do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <% if ff.object.file.exists? %>
      <% if can_view_or_download_step_assets(@protocol) %>
        <% if ff.object.is_image? %>
          <%= link_to download_asset_path(ff.object),
            class: 'image-preview-link',
            id: "modal_link#{ff.object.id}",
            data: {no_turbolink: true, id: true, status: "asset-present",
              description: "#{step.position + 1}. #{truncate(step.name, length: Constants::FILENAME_TRUNCATION_LENGTH)}"} do %>
            <%= image_tag ff.object.url(:medium), data: {'preview-url': large_image_url_asset_path(ff.object)} %>
            <p><%= truncate(ff.object.file_file_name,
                            length: Constants::FILENAME_TRUNCATION_LENGTH) %></p>
          <% end %>
        <% else %>
          <%= link_to download_asset_path(ff.object), data: {no_turbolink: true} do %>
            <%= image_tag ff.object.url(:medium) if ff.object.is_image? %>
            <p><%= truncate(ff.object.file_file_name,
                            length: Constants::FILENAME_TRUNCATION_LENGTH) %></p>
          <% end %>
        <% end %>
      <% else %>
        <%= image_tag image_tag ff.object.url(:medium) if ff.object.is_image? %>
        <p><%= ff.object.file_file_name %></p>
      <% end %>
    <% else %>
      <%= ff.file_field :file %>
    <% end %>
  </div>
</div>
