<div class="well">
  <%= bootstrap_form_for(@step, url: protocol_steps_path(@protocol, format: :json), remote: true, authenticity_token: true, multipart: true, data: { role: "new-step-form", type: :json }) do |f| %>
    <h4><%= t("protocols.steps.new.add_step_title") %></h4>
    <hr>
    <%= render partial: "empty_step.html.erb", locals: {step: @step, f: f} %>
    <hr>
    <% if direct_upload %>
      <%= f.submit t("protocols.steps.new.add_step"), class: 'btn btn-primary', onclick: 'animateSpinner(); startFileUpload(event, this);' %>
    <% else %>
      <%= f.submit t("protocols.steps.new.add_step"), id: "create-step", class: 'btn btn-primary', onclick: 'animateSpinner(); stepValidator(event);' %>
    <% end %>
    <button type="button" data-action="cancel-new" class="btn btn-default">
      <%= t("general.cancel")%>
    </button>
  <% end %>
</div>
