<%= link_to download_asset_path(asset),
            data: { no_turbolink: true,
                    id: true,
                    status: 'asset-present' } do %>
  <%= image_tag preview_asset_path(asset) if asset.is_image? %>

  <% if wopi_file?(asset) %>
    <%= wopi_asset_file_name(asset) %>
  <% else %>
    <p><%= truncate(asset.file_file_name,
                    length: Constants::FILENAME_TRUNCATION_LENGTH) %></p>
  <% end %>
<% end %>
<%= wopi_asset_view_button(asset) %>
<% view_only ||= false %>
<% if !view_only %>
  <% if @protocol.in_module? && can_edit_step_in_protocol(@protocol) ||
     @protocol.in_repository? && can_update_protocol_in_repository?(@protocol) %>
    <%= wopi_asset_edit_button(asset) %>
  <% end %>
<% end %>
