<div class="modal fade"
     tabindex="-1"
     role="dialog"
     data-url="<%= complete_my_module_my_module_path(@my_module) %>"
     id="completed-task-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%=t 'my_modules.buttons.complete' %></h4>
      </div>
      <div class="modal-body">
        <p><%=t 'my_modules.complete_modal.description' %></p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal"><%=t 'my_modules.complete_modal.leave_uncompleted' %></button>
        <button type="button"
                class="btn btn-success"
                data-action="complete"><%=t 'my_modules.buttons.complete' %></button>
      </div>
    </div>
  </div>
</div>
