<span class="due-date-label <%= get_task_alert_color(my_module) %>">
  <% if my_module.completed? %>
    <%= t('my_modules.states.completed') %>
      <%= l(my_module.completed_on, format: :full) %>
      <span class="fas fa-check"></span>
  <% elsif my_module.is_one_day_prior? %>
    <%= t('my_modules.states.due_soon') %>
      <%= l(my_module.due_date, format: :full) %>
      <span class="fas fa-exclamation-triangle"></span>
  <% elsif my_module.is_overdue? %>
    <%= t('my_modules.states.overdue') %>
      <%= l(my_module.due_date, format: :full) %>
      <span class="fas fa-exclamation-triangle"></span>
  <% elsif my_module.due_date %>
      <%= l(my_module.due_date, format: :full) %>
  <% else %>
    <em><%= t('experiments.canvas.full_zoom.no_due_date') %></em>
  <% end %>
</span>
