<div id="taskSecondaryMenu" class="sticky-header-element bg-sn-white border-b border-solid border-0 border-sn-sleepy-grey rounded-t px-4 py-2 pb-[16px] top-0 sticky flex items-center flex-wrap z-[106]">
  <div class="flex items-center gap-4 mr-auto">
    <% if can_read_experiment?(@my_module.experiment) %>
      <a class="p-3 border-b-4 border-transparent hover:no-underline uppercase text-bold capitalize <%= is_module_protocols? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= protocols_my_module_url(@my_module) %>"
          title="<%= t("nav2.modules.steps") %>"
      >
        <%=t "nav2.modules.steps" %>
      </a>
      <a class="p-3 border-b-4 border-transparent hover:no-underline uppercase text-bold capitalize <%= is_module_results? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= my_module_results_path(@my_module) %>"
          title="<%= t("nav2.modules.results") %>"
      >
        <%= t("nav2.modules.results") %>
      </a>
      <a class="p-3 border-b-4 border-transparent hover:no-underline uppercase text-bold capitalize <%= is_module_activities? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= activities_my_module_url(@my_module, view_mode: params[:view_mode]) %>"
          title="<%= t("nav2.modules.activities") %>"
      >
        <%= t("nav2.modules.activities") %>
      </a>
    <% end %>

    <div data-hook="secondary-navigation-tabs"></div>
  </div>
  <div>
    <%= render partial: '/my_modules/task_flow_and_sharing' %>
  </div>
</div>

<!-- Status flow modal -->
<% if @my_module.my_module_status_flow %>
  <%= render partial: 'my_modules/modals/status_flow_modal' %>
<% end %>
