<div class="header-actions">
  <div class="flex items-center uppercase text-bold">
    <% if can_read_experiment?(@my_module.experiment) %>
      <a class="p-4 border-b-4 border-transparent hover:no-underline capitalize <%= is_module_protocols? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= protocols_my_module_url(@my_module) %>"
          title="<%= t("nav2.modules.steps") %>"
      >
        <%=t "nav2.modules.steps" %>
      </a>
      <a class="p-4 border-b-4 border-transparent hover:no-underline capitalize <%= is_module_results? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= my_module_results_path(@my_module) %>"
          title="<%= t("nav2.modules.results") %>"
      >
        <%= t("nav2.modules.results") %>
        <% @active_results_size = @my_module.results.where(archived:false).size %>
        <% if @active_results_size.positive? %>
          <sup class="navigation-results-counter"><%= @my_module.archived_branch? ? @my_module.results.size : @active_results_size %></sup>
        <% end %>
      </a>
      <a class="p-4 border-b-4 border-transparent hover:no-underline capitalize <%= is_module_activities? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= activities_my_module_url(@my_module, view_mode: params[:view_mode]) %>"
          title="<%= t("nav2.modules.activities") %>"
      >
        <%= t("nav2.modules.activities") %>
      </a>
    <% end %>

    <div data-hook="secondary-navigation-tabs"></div>
    <% if can_read_experiment?(@my_module.experiment) && !@my_module.archived_branch? %>
      <a class="p-4 border-b-4 border-transparent hover:no-underline capitalize <%= is_module_archive? ? "text-sn-blue" : "text-sn-grey" %>"
          href="<%= archive_my_module_url(@my_module) %>"
          title="<%= t'nav2.modules.archive' %>"
      >
        <%= t("nav2.modules.archive") %>
        <% @archived_results_size = @my_module.results.where(archived:true).size %>
        <% if @archived_results_size.positive? %>
          <sup class="navigation-results-counter"><%= @archived_results_size %></sup>
        <% end %>
      </a>
    <% end %>
  </div>
</div>
