<div class="task-details-popover">
  <div class="row row-v-margin">
    <div class="col-xs-3 task-details-value">
      <%= t('my_modules.details.info_popover.project_label') %>
    </div>
    <div class="col-xs-9">
        <%= @my_module.experiment.project.name.truncate(Constants::MAX_NAME_TRUNCATION) %>
    </div>
  </div>
  <div class="row row-v-margin">
    <div class="col-xs-3 task-details-value">
      <%= t('my_modules.details.info_popover.experiment_label') %>
    </div>
    <div class="col-xs-9">
        <%= @my_module.experiment.name.truncate(Constants::MAX_NAME_TRUNCATION) %>
    </div>
  </div>
  <div class="row row-v-margin">
    <div class="col-xs-3 task-details-value">
      <%= t('my_modules.details.info_popover.creator_label') %>
    </div>
    <div class="col-xs-9">
      <%= @my_module.created_by&.full_name&.truncate(Constants::MAX_NAME_TRUNCATION) %>
      <%= t('my_modules.details.info_popover.creator_same_user_label') if current_user == @my_module.created_by %>
    </div>
  </div>
  <div class="row row-v-margin">
    <div class="col-xs-3 task-details-value">
      <%= t('my_modules.details.info_popover.created_label') %>
    </div>
    <div class="col-xs-9">
        <%= l(@my_module.created_at, format: :full_date) %>
    </div>
  </div>
  <div class="row row-v-margin">
    <div class="col-xs-3 task-details-value">
      <%= t('my_modules.details.info_popover.modified_label') %>
    </div>
    <div class="col-xs-9">
        <% if @my_module.last_modified_by.present? %>
          <%= t('my_modules.details.info_popover.modified_value',
                date: l(@my_module.updated_at, format: :full_date),
                full_name: @my_module.last_modified_by.full_name.truncate(Constants::MAX_NAME_TRUNCATION)) %>
        <% else %>
          <%= t('my_modules.details.info_popover.modified_value_without_user',
                date: l(@my_module.updated_at, format: :full_date)) %>
        <% end %>
    </div>
  </div>
  <div class="row row-v-margin">
    <div class="col-xs-12">
       <%= link_to t('my_modules.details.info_popover.view_task_access'), nil, id: "openAccessModal" %>
    </div>
  </div>
</div>
