<% start_date_editable = can_update_my_module_start_date?(my_module) %>

<span class="date-text" data-editable="<%= start_date_editable %>">
  <span id="startDateLabelContainer" class="view-block">
    <%= render partial: "start_date_label.html.erb" , locals: { my_module: my_module, start_date_editable: start_date_editable } %>
  </span>
  <% if start_date_editable %>
    <div class="datetime-picker-container" id="start-date">
      <span class="sn-icon sn-icon-calendar"></span>
      <input id="calendarStartDate"
             type="datetime"
             data-toggle='date-time-picker'
             class="form-control calendar-input"
             readonly
             placeholder="<%= t('my_modules.details.no_start_date_placeholder') %>"
             data-date-format="<%= datetime_picker_format_full %>"
             data-date-locale="<%= I18n.locale %>"
             data-date-use-current="false"
             value="<%= my_module.started_on ? l(my_module.started_on, format: :full) : '' %>"/>
    </div>
    <span class="sn-icon sn-icon-close-remove clear-date" data-toggle='clear-date-time-picker' data-target='calendarStartDate'></span>
  <% end %>
</span>
