<% my_module_editable = can_manage_my_module?(@my_module) %>

<div class="flex-block date-block">
  <div class="flex-block-label">
    <span class="sn-icon block-icon sn-icon-calendar mr-2.5"></span>
    <span class="hidden-xs hidden-sm hidden-md"><%= t('my_modules.details.start_date') %></span>
  </div>
  <div id="startDateContainer" class="datetime-container" data-update-url="<%= my_module_path(@my_module, format: :json) %>">
    <%= render partial: "module_header_start_date", locals: { my_module: @my_module } %>
  </div>
</div>

<div class="flex-block date-block" >
  <div class="flex-block-label">
    <span class="sn-icon block-icon sn-icon-calendar mr-2.5"></span>
    <span class="hidden-xs hidden-sm  hidden-md"><%= t('my_modules.details.due_date') %></span>
  </div>
  <div id="dueDateContainer" class="datetime-container" data-update-url="<%= my_module_path(@my_module, format: :json) %>">
    <%= render partial: "module_header_due_date", locals: { my_module: @my_module } %>
  </div>
</div>

<% if @my_module.completed? %>
  <div class="flex-block date-block" >
    <div class="flex-block-label">
      <span class="sn-icon sn-icon-calendar mr-2.5"></span>
      <span class="hidden-xs hidden-sm  hidden-md"><%= t('my_modules.details.completed_date') %></span>
    </div>
    <div class="datetime-container">
      <span class="date-text">
        <%= l(@my_module.completed_on, format: :full) %>
      </span>
    </div>
  </div>
<% end %>

<div class="module-tags">
  <div class="tags-wrapper">
    <span class="sn-icon block-icon sn-icon-users mr-2.5"></span>
    <span class="hidden-xs hidden-sm mr-1"><%= t('my_modules.details.assigned_users') %></span>
    <%= render partial: "user_my_modules/index", locals: { my_module: @my_module } %>
  </div>
</div>

<div class="module-tags">
  <div class="tags-wrapper" id="module-tags" data-module-tags-url="<%= my_module_my_module_tags_url(@my_module, format: :json) %>">
    <span class="sn-icon block-icon sn-icon-tag mr-2.5"></span>
    <span class="hidden-xs hidden-sm tags-title"><%=t "my_modules.details.tags" %></span>
    <%= render partial: "my_modules/tags", locals: { my_module: @my_module, editable: my_module_editable } %>
  </div>
</div>

<!-- Manage tags modal -->
<%= render partial: "my_modules/modals/manage_module_tags_modal", locals: { my_module: @my_module } %>
