<div class="open-mobile-app-container">
  <div class="open-mobile-app-text">
    <h1><%= t('my_modules.open_mobile_app.title') %></h1>
    <span><%= t('my_modules.open_mobile_app.description') %></span>
  </div>
  <div class="open-mobile-app-buttons">
    <a type="button"
       class="btn btn-dark-background btn-large"
       href="<%= pwa_mobile_app_url(@current_team.id, @project.id, @experiment.id, @my_module.id, @protocol.id, @protocol.first_step_id, request.host) %>">
      <i class="fas fa-mobile-alt"></i>
      <%= t('my_modules.open_mobile_app.open_mobile_app') %>
    </a>
    <a type="button" class="dismiss-mobile-app-container">
      <i class="fas fa-times"></i>
      <%= t('my_modules.open_mobile_app.dismiss') %>
    </a>
  </div>
</div>
