<% @my_module.experiment.project.team.repositories.order(created_at: :asc).each do |repository| %>
  <li>
    <a class="dropdown-item <%= "active-item" if @repository == repository %> help_tooltips"
       data-tooltiplink="<%= I18n.t('tooltips.link.protocol.inventories') %>"
       data-tooltipcontent="<%= I18n.t('tooltips.text.protocol.inventories') %>"
       href="<%= repository_my_module_url(id: @my_module, repository_id: repository) %>"
       title="<%= repository.name %>">
      <% cache [current_user, repository] do %>
        <%= truncate(repository.name) + " (#{@my_module.repository_rows_count(repository)})" %>
      <% end %>
    </a>
  </li>
  <% unless @my_module.experiment.project.team.repositories.last == repository %>
    <li class="divider"></li>
  <% end %>
<% end %>
