<div class="result">
  <div class="badge-num">
    <span class="badge icon">
    <% if result.is_text %>
    <span class="fas fa-font"></span>
    <% elsif result.is_table %>
    <span class="fas fa-table"></span>
    <% elsif result.is_asset %>
    <span class="fas fa-paperclip"></span>
    <% end %>
    </span>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-options pull-right">
        <% if result.editable? && can_manage_module?(result.my_module) %>
          <a class="btn btn-link edit-result-button <%= edit_result_button_class(result) %>" id="<%= result.id %>_edit" href="<%= edit_result_link(result) %>" data-remote="true" title="<%= t'my_modules.results.options.edit_title' %>">
            <span class="fas fa-pencil-alt"></span>
          </a>
        <% end %>
        <% if can_manage_result?(result) %>
          <a href="#"
             class="btn btn-link form-submit-link"
             data-form-id="result-archive-form-<%= result.id %>"
             data-confirm-text="<%= t('my_modules.results.archive_confirm') %>"
             title="<%= t'my_modules.results.options.archive_title' %>"
             onclick="Results.archive(event, this);">
            <span class="fas fa-briefcase"></span>
          </a>
          <%= form_for :result, url: result_path_of_type(result), method: :patch, html: {id: 'result-archive-form-' + result.id.to_s } do |f| %>
            <%= f.hidden_field :archived, value: true %>
          <% end %>
        <% end %>
      </div>
      <a class="result-panel-collapse-link" href="#result-panel-<%= result.id %>" data-toggle="collapse" data-remote="true">
        <span class="fas fa-caret-square-down collapse-result-icon"></span>
        <strong><%= result.name %></strong> |
        <span><%= t('my_modules.results.published_on', timestamp: l(result.created_at, format: :full), user: h(result.user.full_name)).html_safe %></span>
      </a>
    </div>
    <div class="panel-collapse collapse" id="result-panel-<%= result.id %>" role="tabpanel">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12" data-hook="result-content">
            <%= render partial: 'my_modules/result_user_generated.html.erb',
                       locals: { result: result } %>
          </div>
        </div>
        <% if can_read_experiment?(@my_module.experiment) %>
          <div class="row">
            <div class="result-comment"
                 id="result-comments-<%= result.id %>"
                 data-href="<%= result_result_comments_url(result) %>">
              <%= render partial: "result_comments/index.html.erb",
                         locals: { result: result, comments: result.last_comments, per_page: Constants::COMMENTS_SEARCH_LIMIT } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
