<div class ="step <%= step.completed? ? "completed" : "not-completed" %>">
  <div class="badge-num">
    <span class="badge bg-primary size-digit-<%= (step.position + 1).to_s.length %>"><%= step.position + 1 %></span>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-options pull-right">
        <% if can_reorder_step_in_module(@my_module) %>
          <a class="btn btn-link" href="<%= move_up_step_path(step) %>" title="<%= t'my_modules.steps.options.up_arrow_title' %>">
              <span class="glyphicon glyphicon-arrow-up"></span></a>
          <a class="btn btn-link" href="<%= move_down_step_path(step) %>" title="<%= t'my_modules.steps.options.down_arrow_title' %>">
            <span class="glyphicon glyphicon-arrow-down"></a>
        <% end %>
        <% if can_edit_step_in_module(@my_module) %>
          <a class="btn btn-link edit-step edit-step-button" title = "<%= t'my_modules.steps.options.edit_title' %>" href="<%= edit_step_path(step, format: :json) %>" data-remote="true">
            <span class="glyphicon glyphicon-edit">
          </a>
        <% end %>
        <% if can_delete_step_in_module(@my_module) %>
          <%= link_to(step_path(step), title: t("my_modules.steps.options.delete_title"), method: "delete", class: "btn btn-link delete-step",
            data: {confirm: t("my_modules.steps.destroy.confirm", step: step.name)}) do %>
            <span class="glyphicon glyphicon-trash
            ">
          <% end %>
        <% end %>
      </div>
      <a class="step-panel-collapse-link" href="#step-panel-<%= step.id %>" data-toggle="collapse" data-remote="true">
        <span class="glyphicon glyphicon-collapse-down collapse-step-icon"></span>
        <strong><%= step.name %></strong> |
        <span><%= raw t'my_modules.steps.published_on', timestamp: l(step.created_at, format: :full), user: step.user.full_name %></span>
      </a>
    </div>
    <div class="panel-collapse collapse" id="step-panel-<%= step.id %>" role="tabpanel">
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a class="step-info-tab" href="#step-info-<%= step.id %>" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span>
              <%= t'my_modules.steps.info_tab' %></a>
          </li>
          <% if can_view_step_comments(@my_module) %>
          <li role="presentation">
            <a class="comment-tab-link" href="<%= url_for step_step_comments_path(step_id: step.id, format: :json) %>" aria-controls="step-comments-<%= step.id %>" data-remote="true">
              <span class="glyphicon glyphicon-comment"></span>
              <%= t'my_modules.steps.comments_tab' %></a>
          </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="step-info-<%= step.id %>">
            <%= step.description %>
            <hr>
            <div class="row">
              <% unless step.tables.blank? then %>
                <div class="col-xs-12">
                  <strong><%= t'my_modules.steps.tables' %></strong>
                    <% step.tables.each do |table| %>
                      <div class="hot_table">
                        <%= hidden_field(table, :contents, value: table.contents_utf_8, class: "hot-contents") %>
                        <div class="step-result-hot-table"></div>
                      </div>
                    <% end %>
                </div>
              <% end %>
              <% assets = ordered_assets(step) %>
              <% unless assets.blank? then %>
                <div class="col-xs-12">
                  <strong><%= t'my_modules.steps.files' %></strong>
                  <ul id="files">
                    <% assets.each do |asset| %>
                      <li>
                        <% if can_download_step_assets(@my_module) %>
                          <%= link_to download_asset_path(asset), data: {no_turbolink: true} do %>
                            <%= image_tag preview_asset_path(asset) if asset.is_image? %>
                            <%= raw '<br>' if asset.is_image? %>
                            <span><%= asset.file_file_name %></span>
                          <% end %>
                        <% else %>
                          <%= image_tag preview_asset_path(asset) if asset.is_image? %>
                          <%= raw '<br>' if asset.is_image? %>
                          <span><%= asset.file_file_name %></span>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <% unless step.checklists.blank? then %>
                <div class="col-xs-12">
                  <% step.checklists.each do |checklist| %>
                    <strong><%= checklist.name %></strong>
                    <% if checklist.checklist_items.empty? %>
                      </br>
                      <%= t("my_modules.steps.empty_checklist") %>
                      </br>
                    <% else %>
                      <% ordered_checklist_items(checklist).each do |checklist_item| %>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="" data-link-url="<%=checklistitem_state_step_path (step) %>" data-id="<%= checklist_item.id %>" <%= "checked" if checklist_item.checked? %> />
                            <%= checklist_item.text %>
                          </label>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <% if !step.completed? and can_complete_step_in_module(@my_module) %>
              <div class="complete-step pull-right" data-link-url="<%= toggle_step_state_step_path(step)%>">
                <button class="btn btn-primary"><%= t'my_modules.steps.options.complete_title' %></button>
              </div>
            <% elsif step.completed? and can_uncomplete_step_in_module(@my_module) %>
              <div class="uncomplete-step pull-right" data-link-url="<%= toggle_step_state_step_path(step)%>">
                <button class="btn btn-default"><%= t'my_modules.steps.options.uncomplete_title' %></button>
              </div>
            <% end %>
          </div>
          <div class="tab-pane" role="tabpanel" id="step-comments-<%= step.id %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
