<% provide(:head_title, t("my_modules.activities.head_title", project: h(@my_module.experiment.project.name), module: h(@my_module.name)).html_safe) %>
<%= render partial: "shared/sidebar" %>
<%= render partial: "shared/secondary_navigation" %>

<div class="content-pane">
  <div class="row">
    <% if @activities.length == 0 %>
      <div class="col-xs-12">
        <em><%= t 'my_modules.activities.no_activities' %></em>
      </div>
    <% else %>
      <div class="col-xs-12">
        <%= render partial: "my_modules/activities/list_activities.html.erb" %>
        <!-- Load more activities -->
        <% if @overflown %>
          <div class="col-sm-8 fluid-content text-center">
            <a class="btn btn-default btn-more-activities" href="<%= @more_activities_url %>" data-remote="true">
              <%= t('my_modules.activities.more_activities') %></a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= javascript_include_tag("my_modules/activities") %>
