<% provide(:head_title, t("my_modules.activities.head_title", project: h(@my_module.experiment.project.name), module: h(@my_module.name))) %>
<% provide(:sidebar_title, t("sidebar.my_module.sidebar_title")) %>

<%= content_for :sidebar do %>
  <%= render partial: "shared/sidebar/#{@my_module.archived_branch? ? 'archived_my_module' : 'my_module'}",
    locals: {
      my_modules: @experiment_my_modules,
      experiment: @my_module.experiment,
      current_my_module: @my_module
    }
  %>
<% end %>
<% provide(:container_class, 'no-second-nav-container') %>
<div class="content-pane flexible with-grey-background">
  <%= render partial: 'my_modules/header' %>
  <!-- Header Actions -->
  <%= render partial: 'my_modules/header_actions' %>
  <div class="global-activities-container container-flex task-activities">
      <div class="ga-top ">
        <%= render partial: "my_modules/activities/top_pane" %>
      </div>

      <div class="ga-bottom">

        <div class="ga-main">
          <div class="activities-container perfect-scrollbar">
            <div class="no-activities-message text-center <%= 'hidden' if @grouped_activities.keys.any? %>">
              <p><%= t('activities.index.no_activities_task_message') %></p>
            </div>
            <div class="ga-activities-list" data-activities-url="<%= activities_my_module_path(@my_module) %>">
              <%= render partial: "global_activities/activity_list" %>
            </div>
            <div class="text-center">
              <a class="btn btn-secondary btn-more-activities <%= 'hidden' unless @next_page %>"
                data-next-page="<%= @next_page %>">
                <%= t'activities.index.more_activities' %>
              </a>
            </div>
            <div id="ga-more-activities-placeholder" class="hidden"></div>
          </div>
        </div>

        <div class="ga-side">
          <div class="filters-container perfect-scrollbar">
            <%= render partial: "my_modules/activities/side_filters" %>
          </div>
        </div>
      </div>
  </div>
</div>

<%= javascript_include_tag 'global_activities/index.js' %>
