<% provide(:head_title, t("my_modules.module_archive.head_title", project: h(@my_module.experiment.project.name), module: h(@my_module.name)).html_safe) %>
<% provide(:sidebar_title, t("sidebar.my_module.sidebar_title")) %>

<%= content_for :sidebar do %>
  <%= render partial: 'shared/sidebar/my_module',
    locals: {
      my_modules: @experiment_my_modules,
      experiment: @experiment,
      current_my_module: @my_module
    }
  %>
<% end %>

<% provide(:container_class, 'no-second-nav-container') %>
<div class="content-pane flexible">
  <%= render partial: 'my_modules/header' %>
  <!-- Header Actions -->
  <%= render partial: 'my_modules/header_actions' %>
  <div class="row mt-5">
    <% if @archived_results.any? %>
      <% @archived_results.each do |result| %>
        <div class="col-xs-3">
          <%= render partial: "my_modules/archive/result", locals: { result: result } %>
        </div>
      <% end %>
    <% else %>
      <div class="col-xs-12">
        <em><%=t "my_modules.module_archive.no_archived_results" %></em>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'pdf_js' %>
<%= stylesheet_link_tag 'pdf_js_styles' %>
