<% provide(:head_title, t("my_modules.edit.head_title", project: @my_module.project.name, module: @my_module.name)) %>
<h2><%=t "my_modules.edit.title", module: @my_module.name %></h2>

<%= bootstrap_form_for @my_module, url: my_module_path do |f| %>
  <%= f.text_field :name, label: t("my_modules.edit.name") %>
  <%= f.text_area :description, style: "margin-top: 10px;" %>
  <%= f.datetime_picker :due_date, label: t("my_modules.edit.due_date"), clear: true %>
  <%= f.submit t("my_modules.edit.save"), style: "margin-top: 10px;" %>
<% end %>