<% provide(:head_title, t("my_modules.protocols.head_title", project: h(@project.name), module: h(@my_module.name)).html_safe) %>

<%= render partial: 'shared/drag_n_drop_overlay' %>
<%= render partial: "shared/sidebar", locals: { current_task: @my_module, page: 'task' } %>
<%= render partial: "shared/secondary_navigation" %>

<div class="content-pane my-modules-protocols-index">
  <!-- Details -->
  <div class="task-section">
    <div class="task-section-header">
      <span id="taskDetailsLabel" class="task-section-title">
        <h2>
          <%= t('my_modules.details.title') %>
          <span class="fas block-icon fa-info-circle"></span>
        </h2>
      </span>
      <div id="taskDetailsContent" class="hidden">
        <%= render partial: "module_header_details_popover.html.erb" %>
      </div>
      <div class="actions-block">
        <%= render partial: "my_modules/state_buttons.html.erb" %>
      </div>
    </div>
    <div class="task-details">
      <%= render partial: "my_module_details" %>
    </div>
  </div>
  <!-- Notes -->
  <div class="task-section">
    <div class="task-section-header">
      <a class="task-section-caret" role="button" data-toggle="collapse" href="#notes-container" aria-expanded="true" aria-controls="notes-container">
        <i class="fas fa-caret-right"></i>
        <span class="task-section-title">
          <h2><%= t('my_modules.notes.title') %></h2>
        </span>
      </a>
    </div>
    <div class="collapse in" id="notes-container" aria-expanded="true">
      <%= render partial: "my_module_notes" %>
    </div>
  </div>
  <!-- Assigned items -->
  <div class="task-section">
    <div class="task-section-header">
      <a class="task-section-caret collapsed" role="button" data-toggle="collapse" href="#assigned-items-container" aria-expanded="false" aria-controls="assigned-items-container">
        <i class="fas fa-caret-right"></i>
        <span class="task-section-title">
          <h2><%= t('my_modules.assigned_items.title') %></h2>
        </span>
      </a>
      <div class="actions-block">
        <div class="dropdown repositories-assign-container" data-repositories-url="<%= repositories_dropdown_list_my_module_repositories_path(@my_module) %>">
          <a href="#" id="repositories-assign-button" class="btn btn-secondary btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fas fa-file-signature"></span>
            <span><%= t('my_modules.assigned_items.assign_from') %></span>
            <span class="caret pull-right"></span>
          </a>
          <ul class="dropdown-menu repositories-dropdown-menu" aria-labelledby="repositories-assign-button">
          </ul>
        </div>
      </div>
    </div>
    <div class="collapse panel-group" id="assigned-items-container"
         data-repositories-list-url="<%= repositories_list_html_my_module_repositories_path(@my_module) %>">
      <%= render partial: "my_modules/repositories/repositories_list" %>
    </div>
    <%= render partial: "my_modules/repositories/full_view_modal" %>
    <%= render partial: "my_modules/modals/update_repository_records_modal" %>
  </div>
  <!-- Protocol -->
  <div class="task-section">
    <div class="task-section-header">
      <a class="task-section-caret collapsed" role="button" data-toggle="collapse" href="#protocol-container" aria-expanded="false" aria-controls="protocol-container">
        <i class="fas fa-caret-right"></i>
        <div class="task-section-title">
          <h2><%= t('my_modules.protocol.title') %></h2>
        </div>
      </a>
    </div>
    <div class="collapse" id="protocol-container">
      <%= render partial: "my_module_protocol" %>
    </div>
  </div>
</div>

<!-- URL for status bar refreshing -->
<div class="hidden" data-role="protocol-status-bar-url" data-url="<%= protocol_status_bar_protocol_path(@protocol) %>"></div>

<!-- Confirm link update modal -->
<%= render partial: "my_modules/protocols/confirm_link_update_modal.html.erb" %>

<!-- Load from repository modal -->
<%= render partial: "my_modules/protocols/load_from_repository_modal.html.erb" %>

<!-- Copy to repository protocol modal -->
<%= render partial: "my_modules/protocols/copy_to_repository_modal.html.erb" %>

<!-- Import protocol elements -->
<%= render partial: "protocols/import_export/import_elements.html.erb" %>

<!-- Complete task modal -->
<%= render partial: 'my_modules/complete_task_modal.html.erb' %>

<!-- Create new office file modal -->
<%= render partial: 'assets/wopi/create_wopi_file_modal.html.erb' %>

<%= stylesheet_link_tag 'datatables' %>
<%= javascript_include_tag("my_modules/protocols") %>
<%= javascript_pack_tag 'emoji_button' %>
<%= javascript_include_tag("my_modules/repositories") %>
