<% provide(:head_title, t("my_modules.results.head_title", project: h(@project.name), module: h(@my_module.name)).html_safe) %>
<%= render partial: "shared/sidebar", locals: { current_task: @my_module, page: 'task' } %>
<%= render partial: "shared/secondary_navigation" %>
<%= render partial: 'shared/drag_n_drop_overlay' %>
<%= render partial: 'assets/wopi/create_wopi_file_modal' %>

<div class="content-pane">
  <div id="results-toolbar">
    <div class="pull-right sci-btn-group">
      <button class="btn btn-secondary" id="results-collapse-btn">
        <span class="fas fa-caret-square-up"></span>
        <span class="hidden-xs-custom"><%= t'my_modules.results.collapse_label' %></button></span>
      <button class="btn btn-secondary" id="results-expand-btn">
        <span class="fas fa-caret-square-down"></span>
        <span class="hidden-xs-custom"><%= t'my_modules.results.expand_label' %></button></span>
    </div>

    <% if can_manage_module?(@my_module) %>
      <div class="help_tooltips"
           data-tooltiplink="<%= I18n.t('tooltips.link.task.results') %>"
           data-tooltipcontent="<%= I18n.t('tooltips.text.task.results') %>">
      <span class="hidden-xs add-result-text"><%= t'my_modules.results.add_label' %></span>
      <div class="sci-btn-group">
        <a class="btn btn-primary"
           id="new-result-text"
           data-href="<%= new_my_module_result_text_path(my_module_id: @my_module.id) %>"
           href="#">
          <span class="fas fa-font"></span>
          <span class="hidden-xs"><%= t("my_modules.results.new_text_result") %></span>
        </a>
        <a class="btn btn-primary"
           id="new-result-table"
           data-href="<%= new_my_module_result_table_path(my_module_id: @my_module.id) %>"
           href="#">
          <span class="fas fa-table"></span>
          <span class="hidden-xs"><%= t("my_modules.results.new_table_result") %></span>
        </a>
        <a class="btn btn-primary"
           id="new-result-asset"
           data-href="<%= new_my_module_result_asset_path(my_module_id: @my_module.id) %>"
           href="#">
          <span class="fas fa-paperclip"></span>
          <span class="hidden-xs"><%= t("my_modules.results.new_asset_result") %></span>
        </a>
        <%= render partial: '/assets/marvinjs/create_marvin_sketch_button.html.erb',
                     locals: {  element_id: @my_module.id, element_type: 'Result',  sketch_container: "#results[data-module-id=#{@my_module.id}]" } %>
        <%= render partial: "assets/wopi/create_wopi_file_button",
                   locals: {  element_id: @my_module.id, element_type: 'Result' } %>
      </div>
    </div>
    <% end %>
  </div>

  <div style="height: 15px;"></div>

  <div id="results" data-module-id="<%= @my_module.id %>">
  <% ordered_result_of(@my_module).each do |result| %>
    <%= render partial: "result", locals: { result: result } %>
  <% end %>
  </div>
</div>

<%= javascript_include_tag "handsontable.full.min" %>

<!-- Libraries for formulas -->
<%= render partial: "shared/formulas_libraries.html.erb" %>

<%= javascript_include_tag("canvas-to-blob.min") %>
<%= javascript_include_tag "assets/wopi/create_wopi_file" %>
<%= javascript_include_tag "my_modules/results" %>
<%= javascript_include_tag "results/result_texts" %>
<%= javascript_include_tag "results/result_tables" %>
<%= javascript_include_tag "results/result_assets" %>
