<%  whitelist_simple=['1','6','17'] %>
<%  whitelist_complex=['8','9','15','18','19','20']%>
<% json_object['steps'].each_with_index do |step,counter_orig| %>
<% counter = counter_orig + 1 %>
<div style="display: block;">
  <hr>
  <td>
    <div class="badge-num">
      <span class="badge-preview bg-primary size-digit-1">
        <b data-val="position"><%= (counter+1) %></b>
      </span>
      &nbsp; &nbsp;
      <span class="step-panel-collapse-link" data-toggle="collapse">
        <span class="glyphicon collapse-step-icon glyphicon-collapse-up"></span>

        <% title = nil %>
        <% step['components'].each do |key1,value1| #finding section (title of step) %>
          <% key1 = value1 if value1.class == Hash %>
          <%  if(key1['component_type_id']=='6') %>
            <% title = sanitize_input(key1['data']) if key1['data'].present? %>
            <% end %>
        <% end %>
        <% title ||=t('protocols.protocols_io_import.comp_append.missing_step') %>
        <strong data-val="name"><%= title %></strong>
      </span>
    </div>
    <br>
    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel">
        <div data-val="description" class="ql-editor">
        <% step['components'].each do |key,value|  %>
        <%#here i made an if to distinguish the first step from the
          others, because the first step #sometimes has index values as keys instead of
          hashes, you might see this elsewhere %>
          <% key = value if value.class == Hash %>
          <% if whitelist_simple.include?(key['component_type_id']) &&
            key['data'].present? %>
            <br>
            <% case key['component_type_id']
            when '1' %>
              <br><strong><%= t('protocols.protocols_io_import.preview.strng_s_desc') %></strong>
              <%=sanitize_input(key['data'].html_safe)%><br>
            <% when '17' %>
              <br><strong><%= t('protocols.protocols_io_import.preview.s_exp_res') %></strong>
              <%=sanitize_input(key['data'].html_safe)%>
              <br>
            <% end %>
          <% elsif key && whitelist_complex.include?(key['component_type_id']) %>
            <% case key['component_type_id']
            when '8'%>
              <br>
              <strong><%= key['name']+': ' %></strong>
              <%= sanitize_input(key['source_data']['name'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.dev') %>
              <%= sanitize_input(key['source_data']['developer'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.vers') %>
              <%= sanitize_input(key['source_data']['version'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.s_link') %>
              <%= sanitize_input(key['source_data']['link'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.repo') %>
              <%= sanitize_input(key['source_data']['repository'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.os') %>
              <%= sanitize_input(key['source_data']['os_name'].html_safe)+
              ' , '+sanitize_input(key['source_data']['os_version'].html_safe) %>
            <% when '9'%>
              <br>
              <strong><%= key['name']+': ' %></strong>
              <%= sanitize_input(key['source_data']['name'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.s_link') %>
              <%= sanitize_input(key['source_data']['link'].html_safe) %>
            <% when '15'%>
              <br>
              <strong><%= key['name']+': ' %></strong>
              <%=  sanitize_input(key['source_data']['name'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.s_desc') %>
              <%= sanitize_input(key['source_data']['description'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.os') %>
              <%= sanitize_input(key['source_data']['os_name'].html_safe)+
              ' , '+sanitize_input(key['source_data']['os_version'].html_safe) %>
            <% when '18'%>
              <br><strong><%= t('protocols.protocols_io_import.preview.sub_prot') %></strong>
              <%= sanitize_input(key['source_data']['protocol_name'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.auth') %>
              <%= sanitize_input(key['source_data']['full_name'].html_safe) %>
              <br>
              <% if key['source_data']['link'].present? %>
                <%= t('protocols.protocols_io_import.preview.s_nobr_link') %>
                <%= sanitize_input(key['source_data']['link'].html_safe) %>
              <% end %>
            <% when '19'%>
              <br>
              <strong><%= key['name']+': ' %></strong>
              <%= sanitize_input(key['source_data']['body'].html_safe) %>
              <br><%= t('protocols.protocols_io_import.preview.s_link') %>
              <%= sanitize_input(key['source_data']['link'].html_safe) %>
            <% when '20'%>
            <% else %>
            <% end #case if%>
          <% end #inner if%>
        <% end #step component loop %>
        </div>
      </div>
    </div>
  </div>
  <% end  #step loop%>
  <br>
