<%= form_for(@protocol, :url => url_for(:controller => 'protocols', :action => 'protocolsio_import_save'),method: :post,format: :json,remote: true) do |f| %>
  <%#= fields_for :steps do |g| %>
  <% #json_string= JSON.parse(json_string)%>
  <% #json_string = JSON.generate(json_string['steps'])
#json_object['steps'][0]['components'][0]['data']
#Sanitize, sanitize_input, CGI.escape ,
  #byebug
  #kaj dela: .remove("\"") na stringih, sanitize_input ampak pokvari stran
   %>

  <%= hidden_field_tag :banana, (@json_object['steps']) %>


  <%# end %>
<div id="modal-import-json-protocol-preview" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" data-role="header-import-into-protocol_protocols_io"><%= t("protocols.import_export.import_modal.title_import_into_protocol_protocols_io") %></h4>
      </div>
      <div class="modal-body">
        <!-- Warning message -->
        <div data-role="import-message" style="margin-bottom: 15px;">
          <b><%= t("protocols.import_export.import_modal.import_into_protocol_message") %></b>
          <br />
        </div>


        <!-- General protocol info -->
        <div class="form-group">

          <label><%= t("protocols.import_export.import_modal.name_label") %></label>

       <%= f.text_field :name, :value => @json_object['protocol_name'], class: "form-control"  %>
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-user"></span>&nbsp;<%= t("protocols.import_export.import_modal.authors_label") %>
          </label>
          <%= f.text_field :authors, :value => @json_object['full_name'], class: "form-control"  %>


        </div>
        <div class="form-group">
          <label><%= t("protocols.import_export.import_modal.description_label") %></label>

      <%= f.text_area :description, :value => @json_object['description'], class: "form-control"  %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-4">
              <label><%= t("protocols.import_export.import_modal.created_at_label") %></label>

          <% display_created_at=Time.at(@json_object['created_on'].to_i) %>
            <%= f.text_field :doesnt_exist, :value => display_created_at.to_s+" (Protocols.io value)", class: "form-control"  %>
            </div>
            <div class="col-xs-4">
              <label><%= t("protocols.import_export.import_modal.updated_at_label") %></label>

              <% display_last_modified=Time.at(@json_object['last_modified'].to_i) %>
            <%= f.text_field :doesnt_exist, :value => display_last_modified.to_s+" (Protocols.io value)", class: "form-control"  %>
            </div>
          </div>
        </div>

        <!-- Preview title -->
        <div>
          <h2 style="display: inline;"><%= t("protocols.import_export.import_modal.preview_title") %></h2>
          <h3 style="display: none;" data-role="title-position"></h3>
        </div>

        <!-- Preview scroller -->

        <div>
          <div class="import-protocols-modal-preview-container-json" data-role="preview-container">
            <table>

              <% if @json_object["before_start"]&&@json_object["before_start"]!="" %>

                <tr>
                  <td>
                    <h2>Before starting protocol information</h2>
                    <%= strip_tags(@json_object["before_start"].remove("\"")) %>

                </td>
              </tr>

                <% end %>
              <% if @json_object["warning"]&&@json_object["warning"]!="" %>

                <tr>
                  <td>
                    <h2>Protocol warning</h2>
                    <%= strip_tags(@json_object["warning"].remove("\"")) %>

                </td>
              </tr>


              <% end %>


              <% if @json_object["guidelines"]&&@json_object["guidelines"]!="" %>

                <tr>
                  <td>
                    <h2>Guidelines</h2>
                    <%= strip_tags(@json_object["guidelines"].remove("\"")) %>

                </td>
              </tr>

              <% end %>
              <tr><td><br><br><div style="border-bottom-style:solid">
              </div></td></tr>

                  <% counter=0
                  whitelist_simple=["1","6","17"]
                  whitelist_complex=["8","9","15","18","19","20"]%>

            <% @json_object["steps"].each do |step| %>

                  <tr>
                    <td> <h3>Step <%= (counter+=1).to_s %> </h3><br>
                       Step guid (Protocols.io) :<%= step["guid"] %>
                      <% #byebug %>
                      <% if counter>1 %>
                      <br>Guid of previous step (Protocols.io) :<%= step["previous_guid"] %>
                       <% end  #counter, prvi step nima previous guid%>
              <% step["components"].each do |key,value|  %>
                      <% #byebug %>

                  <% if counter>1 #here i made an if to distinguish the first step from the others, because the first step
                    #sometimes has weird nesting that makes the below outputs not work
                      %>
                     <% #if false %>

                      <% if whitelist_simple.include?(key["component_type_id"]) && key["data"]!="" && key["name"] && key["data"]%>
                      <br>
                      <%= strip_tags(key["name"].remove("\""))+" : "+ strip_tags(key["data"].remove("\"")) %>
                      <% #byebug
                      #debug
                      #comp[counter];counter;@json.file_contents["steps"][3]["components"][0]["name"]
                      #@json.file_contents["steps"][0]["components"]
                      %>

                      <% #end %>
                      <% elsif key && whitelist_complex.include?(key["component_type_id"]) %>
                      <% case key["component_type_id"]%>
                      <% when "8"%>
                      <br>
                      <%= "-"+strip_tags(key["name"].remove("\""))+" : "+strip_tags(key["source_data"]["name"].remove("\"")) %>
                      <br>
                      Developer : <%= strip_tags(key["source_data"]["developer"].remove("\"")) %>
                      <br>
                      Version : <%= strip_tags(key["source_data"]["version"].remove("\"")) %>
                      <br>
                      Link : <%= strip_tags(key["source_data"]["link"].remove("\"")) %>
                      <br>
                      Repository : <%= strip_tags(key["source_data"]["repository"].remove("\"")) %>
                      <br>
                      OS name , OS version : <%= strip_tags(key["source_data"]["os_name"].remove("\""))+" , "+strip_tags(key["source_data"]["os_version"].remove("\"")) %>

                      <% when "9"%>
                      <br>
                      <%= "-"+strip_tags(key["name"].remove("\""))+" : "+strip_tags(key["source_data"]["name"].remove("\"")) %>
                      <br>
                      Link : <%= strip_tags(key["source_data"]["link"].remove("\"")) %>


                      <% when "15"%>
                      <br>
                      <%= "-"+strip_tags(key["name"].remove("\""))+" : "+strip_tags(key["source_data"]["name"].remove("\"")) %>
                      <br>
                      Description : <%= strip_tags(key["source_data"]["description"].remove("\"")) %>
                      <br>
                      OS name , OS version : <%= strip_tags(key["source_data"]["os_name"].remove("\""))+" , "+strip_tags(key["source_data"]["os_version"].remove("\"")) %>

                      <% when "18"%>
                      <br>
                      -This protocol also contains an attached sub-protocol: <%= strip_tags(key["source_data"]["protocol_name"].remove("\"")) %>
                      <br>
                      Author: <%= strip_tags(key["source_data"]["full_name"].remove("\"")) %>
                      <br>
                      <% if key["source_data"]["link"]&&key["source_data"]["link"]!="" %>
                      Link: <%= strip_tags(key["source_data"]["link"].remove("\"")) %>
                      <% end %>
                      <% when "19"%>
                      <br>
                      <%= "-"+strip_tags(key["name"].remove("\""))+" : "+strip_tags(key["source_data"]["body"].remove("\"")) %>
                      <br>
                      Link : <%= strip_tags(key["source_data"]["link"].remove("\"")) %>


                      <% when "20"%>

                      <% else %>

                      <% end %>



                      <% end #notranji if št 1%>


                  <% else #če ni prvi korak %>

                    <% unless value %>
                    <% value=key #json format ima random arraye namest hashov, ta problem je opisan pri if counter > 1 stavku %>
                    <% end %>

                      <% if whitelist_simple.include?(value["component_type_id"])&& value["data"]!="" && value["name"] && value["data"]  %>
                      <br>
                      <%= strip_tags(value["name"].remove("\""))+" : "+strip_tags(value["data"].remove("\"")) %>
                      <%
                      #debug
                      #comp[counter];counter;@json.file_contents["steps"][3]["components"][0]["name"]
                      #@json.file_contents["steps"][0]["components"]
                      %>

                      <% elsif value && whitelist_complex.include?(value["component_type_id"]) %>
                      <% case value["component_type_id"]%>
                      <% when "8"%>
                      <br>
                      <%= "-"+strip_tags(value["name"].remove("\""))+" : "+strip_tags(value["source_data"]["name"].remove("\"")) %>
                      <br>
                      Developer : <%= strip_tags(value["source_data"]["developer"].remove("\"")) %>
                      <br>
                      Version : <%= strip_tags(value["source_data"]["version"].remove("\"")) %>
                      <br>
                      Link : <%= strip_tags(value["source_data"]["link"].remove("\"")) %>
                      <br>
                      Repository : <%= strip_tags(value["source_data"]["repository"].remove("\"")) %>
                      <br>
                      OS name , OS version : <%= strip_tags(value["source_data"]["os_name"].remove("\""))+" , "+strip_tags(value["source_data"]["os_version"].remove("\"")) %>

                      <% when "9"%>
                      <br>
                      <%= "-"+strip_tags(value["name"].remove("\""))+" : "+strip_tags(value["source_data"]["name"].remove("\"")) %>
                      <br>
                      Link : <%= strip_tags(value["source_data"]["link"].remove("\"")) %>


                      <% when "15"%>
                      <br>
                      <%= "-"+strip_tags(value["name"].remove("\""))+" : "+strip_tags(value["source_data"]["name"].remove("\"")) %>
                      <br>
                      Description : <%= strip_tags(value["source_data"]["description"].remove("\"")) %>
                      <br>
                      OS name , OS version : <%= strip_tags(value["source_data"]["os_name"].remove("\""))+" , "+strip_tags(value["source_data"]["os_version"].remove("\"")) %>

                      <% when "18"%>
                      <br>
                      -This protocol also contains an attached sub-protocol: <%= strip_tags(value["source_data"]["protocol_name"].remove("\"")) %>
                      <br>
                      Author: <%= strip_tags(value["source_data"]["full_name"].remove("\"")) %>

                      <% if value["source_data"]["link"]&&value["source_data"]["link"]!="" %>
                      <br>
                      Link: <%= strip_tags(value["source_data"]["link"].remove("\"")) %>
                      <% end %>
                      <% when "19"%>
                      <br>
                      <%= "-"+strip_tags(value["name"])+" : "+strip_tags(value["source_data"]["body"].remove("\"")) %>
                      <br>
                      Link : <%= strip_tags(value["source_data"]["link"].remove("\"")) %>


                      <% when "20"%>

                      <% else %>

                      <% end %>

                      <% end #notranji if št 2%>

                  <% end #zunanji if %>


              <% end #komponente koraka %>

                    </td>

                  </tr>

            <% end  #posamezni koraki%>
          <tr><td><br><br><div style="border-bottom-style:solid">
          </div></td></tr>

            <% if @json_object["manuscript_citation"]&&@json_object["manuscript_citation"]!="" %>

              <tr>
                <td>
                  <h4>Manuscript citation</h4>
                  <%= strip_tags(@json_object["manuscript_citation"].remove("\"")) %>

              </td>
            </tr>

            <% end %>

            <% if @json_object["publish_date"]&&@json_object["publish_date"]!="" %>

              <tr>
                <td>
                  <h4>Publish date</h4>
                  <%= strip_tags(@json_object["publish_date"].remove("\"")) %>

              </td>
            </tr>

            <% end %>

            <% if @json_object["vendor_name"]&&@json_object["vendor_name"]!="" %>

              <tr>
                <td>
                  <h4>Vendor name</h4>
                  <%= strip_tags(@json_object["vendor_name"].remove("\"")) %>

              </td>
            </tr>

            <% end %>
            <% if @json_object["vendor_link"]&&@json_object["vendor_link"]!="" %>

              <tr>
                <td>
                  <h4>Vendor link</h4>
                  <%= strip_tags(@json_object["vendor_link"].remove("\"")) %>

              </td>
            </tr>

            <% end %>
            <% if @json_object["keywords"]&&@json_object["keywords"]!="" %>

              <tr>
                <td>
                  <h4>Keywords</h4>
                  <%= strip_tags(@json_object["keywords"].remove("\"")) %>

              </td>
            </tr>

            <% end %>
            <% if @json_object["tags"]&&@json_object["tags"]!="" %>

              <tr>
                <td>
                  <h4>Tags</h4>
                  <%  @json_object["tags"].each do |tag| %>
                 <%= strip_tags(tag["tag_name"].remove("\""))+" , " %>
                 <% end %>
              </td>
            </tr>

            <% end %>
</table>


          </div>
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>






            <%= f.submit t("protocols.import_export.import_modal.import"),class: "btn btn-primary" %>
            <% end %>


      </div>
    </div>
  </div>
</div>

<script>
$('#modal-import-json-protocol-preview').on('hide.bs.modal',function(){
  <%= j render inline: "location.reload();" %>
})
</script>
