<%= form_for(@protocol, :url => url_for(:controller => 'protocols',
  :action=>'protocolsio_import_save'),method: :post,format: :javascript,
  remote: true, :html=> { :id => "protocolsio-import-form" }) do |f| %>

<%= hidden_field_tag :json_object, JSON.generate(@json_object) %>

<% if URI.parse(request.referrer).query %>
<%= hidden_field_tag :type,CGI.parse(URI.parse(request.referrer).query).fetch("type") %>
<% else %>
<%= hidden_field_tag :type,"public" %>
<% end %>
<!--Get the type of protocol to import (private, public) from the url -->
<div
  id="modal-import-json-protocol-preview"
  class="modal fade"
  role="dialog"
  tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" data-role="header-import-into-protocol_protocols_io"><%=
          t("protocols.import_export.import_modal.title_import_into_protocol_protocols_io")
          %></h4>
      </div>
      <div class="modal-body">

        <!-- General protocol info -->
        <div class="form-group">

          <label><%= t("protocols.import_export.import_modal.name_label") %></label>

          <%= f.text_field :name, :value => @json_object['protocol_name'], class:
          "form-control" %>
        </div>
        <div class="form-group">
          <label>
            <span class="glyphicon glyphicon-user"></span>&nbsp;<%= t("protocols.import_export.import_modal.authors_label") %>
          </label>
          <%= f.text_field :authors, :value => @json_object['full_name'], class:
          "form-control" %>

        </div>
        <div class="form-group">
          <label><%= t("protocols.import_export.import_modal.description_label") %></label>

          <%= f.text_area :description, :value => @json_object['description'], class:
          "form-control" %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-4">
              <label><%= t("protocols.import_export.import_modal.created_at_label") %></label>

              <% display_created_at=Time.at(@json_object['created_on'].to_i) %>
              <%= f.text_field :created_at, :value => display_created_at.to_s+"(Protocols.io value)",readonly: true, class: "form-control" %>
            </div>
            <div class="col-xs-4">
              <label><%= t("protocols.import_export.import_modal.updated_at_label") %></label>

              <% display_last_modified=Time.at(@json_object['last_modified'].to_i) %>
              <%= f.text_field :last_modified, :value =>
              display_last_modified.to_s+"(Protocols.io value)",readonly: true, class:
              "form-control" %>
            </div>
          </div>
        </div>

        <!-- Preview title -->
        <div>
          <h2 style="display: inline;"><%= t("protocols.import_export.import_modal.preview_title") %></h2>
          <h3 style="display: none;" data-role="title-position"></h3>
        </div>

        <!-- Preview scroller -->

        <div
          class="import-protocols-modal-preview-container-json"
          data-role="preview-container">
          <hr>

          <% if @json_object["before_start"].present? %>

          <strong><%= t("protocols.protocols_io_import.preview.b_s_p") %></strong><br>
          <%= (@json_object["before_start"]) %><br>

          <% end %>
          <% if @json_object["warning"].present? %>

          <strong><%= t("protocols.protocols_io_import.preview.warn") %></strong><br>
          <%= (@json_object["warning"]) %><br>

          <% end %>
          <% if @json_object["guidelines"].present? %>

          <strong><%= t("protocols.protocols_io_import.preview.guideln") %></strong><br>
          <%= (@json_object["guidelines"]) %><br>

          <% end %>

          <% if @json_object["link"].present? %>

          <br><strong><%= t("protocols.protocols_io_import.preview.p_link") %></strong><br>
          <%= (@json_object["link"]) %>

          <% end %>

          <%  whitelist_simple=["1","6","17"] %>
          <%  whitelist_complex=["8","9","15","18","19","20"]%>
          <% @json_object["steps"].each_with_index do |step,counter| %>
          <div style="display: block;">
            <hr>
            <td>
              <div class="badge-num">
                <span class="badge-preview bg-primary size-digit-1">
                  <b data-val="position"><%= (counter+1) %></b>
                </span>
                &nbsp; &nbsp;
                <span class="step-panel-collapse-link" data-toggle="collapse">
                  <span class="glyphicon collapse-step-icon glyphicon-collapse-up"></span>

                  <% title=nil %>
                  <% step["components"].each do |key1,value1| #finding section (title of step) %>
                  <% key1 = value1 if value1.class == Hash %>

                  <%  if(key1["component_type_id"]=="6") %>
                  <% title = key1["data"] if key1["data"].present? %>
                  <% end %>

                  <% end %>
                  <% if title.nil? %>
                  <% title =t('protocols.protocols_io_import.comp_append.missing_step') %>
                  <% end %>
                  <strong data-val="name"><%= title %></strong>
                </span>
              </div>
              <br>

              <div class="tab-content">
                <div class="tab-pane active" role="tabpanel">
                  <div data-val="description" class="ql-editor">

                    <% step["components"].each do |key,value|  %>
                  <%#here i made an if to distinguish the first step from the
                    others, because the first step #sometimes has index values as keys instead of
                    hashes, you might see this elsewhere %>
                    <% key = value if value.class == Hash %>

                    <% if whitelist_simple.include?(key["component_type_id"]) &&
                      key["data"].present? %>
                      <br>
                      <% case key["component_type_id"]
                      when "1" %>
                        <br><strong><%= t("protocols.protocols_io_import.preview.strng_s_desc") %></strong>
                        <%=key["data"]%><br>
                      <% when "17" %>
                        <br><strong><%= t("protocols.protocols_io_import.preview.s_exp_res") %></strong>
                        <%=key["data"]%>
                        <br>
                      <% end %>
                    <% elsif key && whitelist_complex.include?(key["component_type_id"]) %>

                      <% case key["component_type_id"]
                      when "8"%>
                        <br>
                        <strong><%= key["name"]+": " %></strong>
                        <%= (key["source_data"]["name"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.dev") %>
                        <%= (key["source_data"]["developer"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.vers") %>
                        <%= (key["source_data"]["version"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.s_link") %>
                        <%= (key["source_data"]["link"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.repo") %>
                        <%= (key["source_data"]["repository"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.os") %>
                        <%= (key["source_data"]["os_name"])+" , "+(key["source_data"]["os_version"]) %>

                      <% when "9"%>
                        <br>
                        <strong><%= key["name"]+": " %></strong>
                        <%= key["source_data"]["name"] %>
                        <br><%= t("protocols.protocols_io_import.preview.s_link") %>
                        <%= (key["source_data"]["link"]) %>

                      <% when "15"%>
                        <br>
                        <strong><%= key["name"]+": " %></strong>
                        <%=  key["source_data"]["name"] %>
                        <br><%= t("protocols.protocols_io_import.preview.s_desc") %>
                        <%= (key["source_data"]["description"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.os") %>
                        <%= (key["source_data"]["os_name"])+" , "+(key["source_data"]["os_version"]) %>

                      <% when "18"%>
                        <br><strong><%= t("protocols.protocols_io_import.preview.sub_prot") %></strong>
                        <%= (key["source_data"]["protocol_name"]) %>
                        <br><%= t("protocols.protocols_io_import.preview.auth") %>
                        <%= (key["source_data"]["full_name"]) %>
                        <br>
                        <% if key["source_data"]["link"].present? %>
                          <%= t("protocols.protocols_io_import.preview.s_nobr_link") %>
                          <%= (key["source_data"]["link"]) %>
                        <% end %>
                      <% when "19"%>
                        <br>
                        <strong><%= key["name"]+": " %></strong>
                        <%= key["source_data"]["body"] %>
                        <br><%= t("protocols.protocols_io_import.preview.s_link") %>
                        <%= (key["source_data"]["link"]) %>

                      <% when "20"%>

                      <% else %>

                      <% end #case if%>

                    <% end #inner if%>

                    <% end #step component loop %>

                  </div>
                  <hr>
                  <!-- This could be implemented later maybe,i believe this is different styling
                  for scinotes own rich text format tables

                     <div class="row">
              <div data-toggle="tables" class="col-xs-12" style="display: none;">
                <div data-hold="tables"> </div>
              </div>
              <div data-toggle="assets" class="col-xs-12" style="display: none;">
                <strong>Files</strong>
                <ul data-hold="assets">
                </ul>
              </div>
              <div class="col-xs-12">
                <div data-hold="checklists"></div>
              </div>
            </div> -->
                </div>
              </div>

            </div>

            <% end  #step loop%>

            <% if
            @json_object["manuscript_citation"].present? %>

            <br><strong><%= t("protocols.protocols_io_import.preview.manu_cit") %></strong><br>
            <%= (@json_object["manuscript_citation"]) %>

            <% end %>
            <% if @json_object["publish_date"].present? %>

            <br><strong><%= t("protocols.protocols_io_import.preview.pbl_date") %></strong><br>
            <%= (@json_object["publish_date"]) %>

            <% end %>
            <% if @json_object["vendor_name"].present? %>

            <br><strong><%= t("protocols.protocols_io_import.preview.vnd_name") %></strong><br>
            <%= (@json_object["vendor_name"]) %>

            <% end %>
            <% if @json_object["vendor_link"].present? %>

            <br><strong><%= t("protocols.protocols_io_import.preview.vnd_link") %></strong><br>
            <%= (@json_object["vendor_link"]) %>

            <% end %>
            <% if @json_object["keywords"].present? %>

            <br><strong><%= t("protocols.protocols_io_import.preview.key_wrd") %></strong><br>
            <%= (@json_object["keywords"]) %>

            <% end %>
            <% if @json_object["tags"].present? %>

            <br><strong><%= t("protocols.protocols_io_import.preview.tags") %></strong><br>
            <%  @json_object["tags"].each do |tag| %>
            <%= (tag["tag_name"])+" , " %>
            <% end %>

            <% end %>
            <hr>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>

          <%= f.submit t("protocols.import_export.import_modal.import"),class: "btn
          btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <%# the below script resets all the fields after you decide not to import the
  file (cancel (modal hide)) %>
  <script>
    $('#modal-import-json-protocol-preview').on('hide.bs.modal', function () {
      $('#protocols_io_form').trigger("reset");
    })
  </script>
