<div id="modal-import-json-protocol-preview" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" data-role="header-import-into-protocol_protocols_io"><%= t("protocols.import_export.import_modal.title_import_into_protocol_protocols_io") %></h4>
      </div>
      <div class="modal-body">
        <!-- Warning message -->
        <div data-role="import-message" style="margin-bottom: 15px;">
          <b><%= t("protocols.import_export.import_modal.import_into_protocol_message") %></b>
          <br />
        </div>
        <% #puts json_object %>
        <% #byebug %>

        <!-- General protocol info -->
        <div class="form-group">
          <label for="import_protocol_name"><%= t("protocols.import_export.import_modal.name_label") %></label>
          <input type="text" class="form-control" id="import_protocol_name">
        </div>
        <div class="form-group">
          <label for="protocol_authors">
            <span class="glyphicon glyphicon-user"></span>&nbsp;<%= t("protocols.import_export.import_modal.authors_label") %>
          </label>
          <input type="text" class="form-control" id="protocol_authors">
        </div>
        <div class="form-group">
          <label for="import_protocol_description"><%= t("protocols.import_export.import_modal.description_label") %></label>
          <textarea class="form-control" id="import_protocol_description" rows="2"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-4">
              <label for="protocol_created_at"><%= t("protocols.import_export.import_modal.created_at_label") %></label>
              <input type="text" class="form-control" id="protocol_created_at" disabled>
            </div>
            <div class="col-xs-4">
              <label for="protocol_updated_at"><%= t("protocols.import_export.import_modal.updated_at_label") %></label>
              <input type="text" class="form-control" id="protocol_updated_at" disabled>
            </div>
          </div>
        </div>

        <!-- Preview title -->
        <div>
          <h2 style="display: inline;"><%= t("protocols.import_export.import_modal.preview_title") %></h2>
          <h3 style="display: none;" data-role="title-position"></h3>
        </div>

        <!-- Preview scroller -->
        <div>
          <div class="import-protocols-modal-preview-container" data-role="preview-container">
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <div data-role="single-protocol-buttons">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("general.cancel") %></button>
          <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary" data-action="import-current"><%= t("protocols.import_export.import_modal.import") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
