<div class="modal" id="create-task-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="sn-icon sn-icon-close"></i></button>
          <h2 class="modal-title">
            <%= t("dashboard.create_task_modal.title") %>
          </h2>
        </div>
        <div class="modal-body !pb-0">
          <div id="DashboardNewTask">
            <dashboard-new-task
              projects-url="<%= dashboard_quick_start_project_filter_path  %>"
              experiments-url="<%= dashboard_quick_start_experiment_filter_path %>"
              create-url="<%= dashboard_quick_start_create_task_path %>"
              roles-url="<%= user_roles_projects_path %>"
            ></dashboard-new-task>
          </div>
        </div>
      </div>
    </div>
</div>

<%= javascript_include_tag 'vue_dashboard_new_task' %>
