<div class="quick-start-buttons" data-e2e="e2e-CO-dashboard-quickStartButtons" >
  <div class="new-task btn btn-secondary"><i class="sn-icon sn-icon-new-task"></i><%= t("dashboard.quick_start.new_task") %></div>
  <% if can_create_protocols_in_repository?(current_team) %>
    <button data-toggle="modal" data-target="#newProtocolModal" class="btn btn-secondary">
      <i class="sn-icon sn-icon-protocols-templates"></i><%= t("dashboard.quick_start.new_protocol") %>
    </button>
  <% end %>
  <% if can_create_reports?(current_team) %>
    <%= link_to new_report_path, {class: "new-report btn btn-secondary"} do %>
      <i class="sn-icon sn-icon-reports"></i><%= t("dashboard.quick_start.new_report") %>
    <% end %>
  <% end %>
</div>
<%= render "create_task_modal" %>

<%= render partial: "protocols/index/new_protocol_modal", locals: {type: 'new'} %>
<%= javascript_include_tag "protocols/new_protocol" %>
