<div class="recent-work-widget basic-widget <%= widget[:size] %>" style="order: <%= widget[:position] %>">
  <div class="widget-header">
    <div class="widget-title">
      <%= t('dashboard.recent_work.title') %>
    </div>
    <div class="sci-secondary-navbar recent-work-navbar">
      <span class="navbar-link active" data-mode="all"><%= t('dashboard.recent_work.modes.all') %></span>
      <span class="navbar-link" data-mode="projects"><%= t('dashboard.recent_work.modes.projects') %></span>
      <span class="navbar-link" data-mode="repositories"><%= t('dashboard.recent_work.modes.repositories') %></span>
      <span class="navbar-link" data-mode="protocols"><%= t('dashboard.recent_work.modes.protocols') %></span>
      <span class="navbar-link" data-mode="reports"><%= t('dashboard.recent_work.modes.reports') %></span>
    </div>
  </div>
  <div class="widget-body">
    <div class="recent-work-container perfect-scrollbar" data-url="<%= dashboard_recent_works_path %>" data-e2e="e2e-CO-dashboard-recentWork"></div>
  </div>
</div>

<template id="recent-work-item-template">
  <a href="" class="recent-work-item">
    <div class="object-name"></div>
    <div class="object-type"><span data-placement="bottom"></span></div>
    <div class="object-changed"></div>
  </a>
</template>

<template id="recent-work-no-results-template">
  <div class="widget-placeholder">
    <p class="widget-placeholder-title"><%= t('dashboard.recent_work.no_results.title') %></p>
    <p class="widget-placeholder-description"><%= t('dashboard.recent_work.no_results.description') %></p>
   </div>
</template>
