<% provide(:head_title, t("devise.passwords.edit.head_title")) %>

<div class="center-block center-block-narrow">
  <h2><%=t "devise.passwords.edit.title" %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: 'forgot-password-form' }) do |f| %>

    <% if resource.errors.present? %>
      <div class="alert alert-danger" id="alert-flash">
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <%= f.hidden_field :reset_password_token %>

    <p class="sci-input-container">
      <%= f.label :password, t("devise.passwords.edit.password") %>
      <% if @minimum_password_length %>
        <em><%= t("devise.passwords.edit.password_length", min_length: @minimum_password_length) %></em>
      <% end %>
      <br>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "sci-input-field" %>
    </p>

    <p class="sci-input-container">
      <%= f.label :password_confirmation, t("devise.passwords.edit.password_confirm") %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "sci-input-field" %>
    </p>

    <div class="form-group">
      <%= f.button t("devise.passwords.edit.submit"), class: "btn btn-primary forgot-password-submit" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

<%= render partial: 'users/sessions/login_disclaimer'%>
