<% provide(:head_title, t("devise.passwords.edit.head_title")) %>

<div class="center-block center-block-narrow">
  <h2><%=t "devise.passwords.edit.title" %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

    <% if not resource.errors.empty? %>
    <div class="alert alert-danger" id="alert-flash">
    <%= devise_error_messages! %>
    </div>
    <% end %>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, t("devise.passwords.edit.password") %>
      <% if @minimum_password_length %>
      <em><%= t("devise.passwords.edit.password_length", min_length: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, t("devise.passwords.edit.password_confirm") %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit t("devise.passwords.edit.submit"), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
