<% provide(:head_title, t("devise.passwords.new.head_title")) %>
<% content_for(:body_class, 'forgot-password-layout') %>
<div class="forgot-password-container">
  <div class="forgot-password-form-wrapper">
    <div class="center-block center-block-narrow">
      <% if Rails.application.config.x.disable_local_passwords %>
        <h1 class="forgot-password-title"><%=t "devise.passwords.new.head_admin_title" %></h1>
        <p><%=t "devise.passwords.new.description_admin" %></p>
      <% else %>
        <h1 class="forgot-password-title"><%=t "devise.passwords.new.title" %></h1>
      <% end %>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group sci-input-container">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control sci-input-field" %>
        </div>

        <div class="form-group">
          <%= f.button t("devise.passwords.new.submit"), class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render partial: 'users/shared/links', locals: {linkedin_skip: true} %>
    </div>
  </div>
</div>

<%= render partial: 'users/sessions/login_disclaimer'%>
