<% provide(:head_title, t("devise.passwords.new.head_title")) %>
<% content_for(:body_class, 'forgot-password-layout') %>
<div class="forgot-password-container">
  <div class="forgot-password-form-wrapper">
    <div class="center-block center-block-narrow">
      <h1 class="forgot-password-title"><%=t "devise.passwords.new.title" %></h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <% if resource.errors.present? %>
          <div class="alert alert-danger" id="alert-flash">
            <%= devise_error_messages! %>
          </div>
        <% end %>

        <div class="form-group sci-input-container">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control sci-input-field" %>
        </div>

        <div class="form-group">
          <%= f.button t("devise.passwords.new.submit"), class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render partial: 'users/shared/links', locals: {linkedin_skip: true} %>
    </div>
  </div>
</div>

<%= render partial: 'users/sessions/login_disclaimer'%>
