<div class="modal fade" id="modal-edit-module" tabindex="-1" role="dialog" aria-labelledby="modal-edit-module-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-edit-module-label"><%=t "experiments.canvas.edit.modal_edit_module.title" %></h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag do |f| %>
          <%= f.text_field t("experiments.canvas.edit.modal_edit_module.name"), id: "edit-module-name-input" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t "general.cancel" %></button>
        <button type="button" class="btn btn-primary" data-action="confirm"><%=t "experiments.canvas.edit.modal_edit_module.confirm" %></button>
      </div>
    </div>
  </div>
</div>
