<div class="modal fade" id="modal-move-module" tabindex="-1" role="dialog" aria-labelledby="modal-move-module-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-move-module-label"><%=t "experiments.canvas.edit.modal_move_module.title" %></h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag do |f| %>
          <%= f.select :experiment_id, @experiment.project.experiments
                                      .select { |e| e != @experiment }
                                      .collect { |e| [ e.name, e.id ] }, {},
              {class: "form-control selectpicker", "data-role" => "clear"} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t "general.cancel" %></button>
        <button type="button" class="btn btn-primary" data-action="confirm"><%=t "experiments.canvas.edit.modal_move_module.confirm" %></button>
      </div>
    </div>
  </div>
</div>
