<div class="modal" id="templateReportWarningModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-sm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('general.close') %>"><i class="sn-icon sn-icon-close"></i></button>
        <h4 class="modal-title" id="regenerate-report-modal-label">
          <%= t('projects.reports.new.template_warning_modal.title') %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= t('projects.reports.new.template_warning_modal.description') %>
            <h4>
              <b><%= t('projects.reports.new.template_warning_modal.confirmation') %></b>
            </h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancelTemplateChange"><%= t('general.no') %></button>
        <button type="button" id="loadSelectedTemplate" class="btn btn-primary btn-confirm"><%= t('general.yes') %></button>
      </div>
    </div>
  </div>
</div>
