<% query ||= nil %>
<% text = query.present? ? highlight(asset.file_file_name, query.strip.split(/\s+/)) : asset.file_file_name %>

<% if asset.step and can_view_or_download_step_assets(asset.step.protocol) %>
  <a href="<%= download_asset_path asset %>" target="_blank">
    <%= text %>
  </a>
<% elsif asset.result and can_view_or_download_result_assets(asset.result.my_module) %>
  <a href="<%= download_asset_path asset %>" target="_blank">
    <%= text %>
  </a>
<% else %>
  <%= text %>
<% end %>