<% if content.asset.step and can_download_step_assets(content.asset.step.my_module) %>
  <a href="<%= download_asset_path content.asset %>" target="_blank">
    <%= content.asset.file_file_name %>
  </a>
<% elsif content.asset.result and can_download_result_assets(content.asset.result.my_module) %>
  <a href="<%= download_asset_path content.asset %>" target="_blank">
    <%= content.asset.file_file_name %>
  </a>
<% else %>
<%= t'search.index.file', {filename: content.asset.file_file_name} %>
<% end %>
<br><br>

<blockquote>
<p><%= raw content.headline %></p>
</blockquote>
