<% link_to_page = :canvas if local_assigns[:link_to_page].nil? %>
<% query ||= nil %>
<% text = query.present? ? highlight(project.name, query.strip.split(/\s+/)) : project.name %>

<% if project.archived? %>
  <span class="label label-warning"><%=t 'search.index.archived' %></span>
  <%= text %>
<% else %>
  <% if can_read_project?(project) %>
    <% if link_to_page == :show %>
      <%= route_to_other_team experiments_path(project_id: project),
                              project.team,
                              text %>
    <%  else %>
      <%= route_to_other_team root_path,
                              project.team,
                              text %>
    <% end %>
  <% else %>
    <%= text %>
  <% end %>
<% end %>
