<div class="content-header sticky-header">
  <div class="title-row">
    <h1 data-e2e="e2e-TX-protocolTemplates-protocol-title">
      <% if @inline_editable_title_config.present? %>
        <%= render partial: "shared/inline_editing",
                    locals: {
                      initial_value: @protocol.name,
                      config: @inline_editable_title_config
                    } %>
      <% else %>
        <div class="name-readonly-placeholder">
          <% if @protocol.archived %>
            <span class="w-12"><%= t('labels.archived')%></span>&nbsp;
          <% end %>
          <% if @protocol.in_repository_draft? %>
            <span title="<%= t('protocols.draft_name', name: @protocol.name ) %>"><%= t('protocols.draft_name', name: @protocol.name ) %></span>
          <% else %>
            <span title="<%= @protocol.name %>"><%= @protocol.name %></span>
          <% end %>
        </div>
      <% end %>
    </h1>
  </div>
</div>
<div class="flex items-center gap-4 p-2 mb-4 bg-white rounded-lg">
  <%= link_to t('protocols.header.protocol'), protocol_path(@protocol), class: "p-2.5 hover:no-underline #{ @active_tab == :protocol ? "text-sn-blue" : "text-sn-grey" }"%>
  <%= link_to t('protocols.header.results', count: @protocol.results.count), protocol_result_templates_path(@protocol), class: "p-2.5 hover:no-underline #{ @active_tab == :results ? "text-sn-blue" : "text-sn-grey" }"%>
  <%= link_to t('protocols.header.repository_rows', count: @protocol.protocol_repository_rows.count), protocol_repository_rows_path(@protocol), class: "p-2.5 hover:no-underline #{ @active_tab == :repository_rows ? "text-sn-blue" : "text-sn-grey" }"%>
  <div class="ml-auto" id="protocolVersionsBlock">
    <protocol-versions protocol-url="<%= protocol_path(@protocol) %>"></protocol-versions>
  </div>
  <%= javascript_include_tag 'vue_protocol_versions' %>
</div>
