<div class="row">
  <div class="expand-all-steps" style="display: <%= 'none' if @protocol.steps.empty? %>">
    <a class="btn btn-light" data-action="collapse-steps">
      <span class="fas fa-caret-up"></span>
      <span><%= t("protocols.steps.collapse_label") %></a></span>
    <a class="btn btn-light" data-action="expand-steps">
      <span class="fas fa-caret-down"></span>
      <span><%= t("protocols.steps.expand_label") %></a></span>
  </div>
</div>
<div id="steps">
  <% @protocol.steps.order(:position).each do |step| %>
    <%= render partial: "steps/step.html.erb", locals: { step: step } %>
  <% end %>
</div>
<% if can_manage_protocol_in_module?(@protocol) || can_manage_protocol_in_repository?(@protocol) %>
  <div class="row">
    <div class="pull-left" style="margin: 0 0 20px 15px;">
      <a href="#"
         class="btn btn-primary"
         data-action="new-step"
         data-href="<%= new_protocol_step_path(protocol_id: @protocol.id, format: :json) %>">
        <span class="fas fa-plus" aria-hidden="true"></span>
        <span class="hidden-xs"><%=t "protocols.steps.new_step" %></span>
      </a>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "handsontable.full" %>

<!-- Libraries for formulas -->
<%= render partial: "shared/formulas_libraries.html.erb" %>

<%= javascript_include_tag "assets/wopi/create_wopi_file" %>
<%= javascript_include_tag "protocols/steps" %>

<%= render partial: "shared/bio_eddie_modal.html.erb" %>
