<% provide(:head_title, t("protocols.edit.head_title")) %>

<%= render partial: "protocols/breadcrumbs.html.erb",
            locals: { teams: @teams,
               current_team: @protocol.team,
                                type: @type } %>

<%= render partial: "protocols/header.html.erb" %>

<%= render partial: "protocols/steps.html.erb" %>

<%= render partial: "shared/image_preview_modal.html.erb" %>

<div class="hidden" data-role="updated-at-label-url" data-url="<%= updated_at_label_protocol_path(@protocol) %>"></div>

<%= javascript_include_tag "protocols/edit" %>
