<% provide(:head_title, t("protocols.edit.head_title")) %>

<%= render partial: 'shared/drag_n_drop_overlay' %>

<div class="content-pane protocols-repository-edit-view">
  <%= render partial: "protocols/header.html.erb", locals: {preview: false} %>
  <%= render partial: "protocols/steps.html.erb" %>

  <div class="hidden" data-role="updated-at-label-url" data-url="<%= updated_at_label_protocol_path(@protocol) %>"></div>
</div>

<%= javascript_include_tag "protocols/edit" %>
<!-- Create new office file modal -->
<%= render partial: 'assets/wopi/create_wopi_file_modal.html.erb' %>