<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% provide(:head_title, t("protocols.index.head_title")) %>

<% if current_team %>
  <% provide(:sidebar_title, t('sidebar.templates.sidebar_title')) %>
  <%= content_for :sidebar do %>
   <%= render partial: "/shared/sidebar/templates_sidebar", locals: {active: :protocol} %>
  <% end %>
  <% provide(:container_class, 'no-second-nav-container') %>

  <div class="content-pane flexible protocols-index <%= @type %>">
    <div class="content-header sticky-header">
      <div class="title-row">
        <% if @type == :archived %>
          <h1>
            <i class="fas fa-archive"></i>
            <%= t('protocols.index.head_title_archived') %>
          </h1>
        <% else %>
          <h1><%= t('protocols.index.head_title') %></h1>
        <% end %>
      </div>
    </div>
    <div class="protocols-container">
      <%= render partial: "protocols/index/protocols_datatable.html.erb" %>
    </div>
  </div>
<% end %>

<div id="protocolsio-preview-modal-target"></div>
<%= render partial: "protocols/import_export/import_json_protocol_modal.html.erb" %>
<%= render partial: "protocols/index/general_toolbar.html.erb" %>
<%= render partial: "protocols/index/action_toolbar.html.erb" %>
<%= render partial: "protocols/index/protocol_filters.html.erb" %>
<%= render partial: "protocols/index/make_private_results_modal.html.erb" %>
<%= render partial: "protocols/index/publish_results_modal.html.erb" %>
<%= render partial: "protocols/index/confirm_archive_modal.html.erb" %>
<%= render partial: "protocols/index/archive_results_modal.html.erb" %>
<%= render partial: "protocols/index/delete_draft_modal.html.erb" %>
<%= render partial: "protocols/index/import_results_modal.html.erb" %>
<%= render partial: "protocols/index/linked_children_modal.html.erb" %>

<%= render partial: "protocols/import_export/import_elements.html.erb" %>

<%= javascript_include_tag "handsontable.full" %>

<!-- Libraries for formulas -->
<%= render partial: "shared/formulas_libraries.html.erb" %>

<%= stylesheet_link_tag 'datatables' %>
<%= javascript_include_tag "assets/wopi/create_wopi_file" %>
<%= javascript_include_tag "protocols/index" %>
<%= javascript_pack_tag 'pdfjs/pdf_js' %>
<%= stylesheet_pack_tag 'pdfjs/pdf_js_styles' %>
