<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% provide(:head_title, t("protocols.index.head_title")) %>

<% if current_team %>
  <% provide(:sidebar_title, t('sidebar.templates.sidebar_title')) %>
  <%= content_for :sidebar do %>
   <%= render partial: "/shared/sidebar/templates_sidebar", locals: {active: :protocol} %>
  <% end %>
  <% provide(:container_class, 'no-second-nav-container') %>

  <div class="content-pane flexible protocols-index <%= @type %>">
    <div class="content-header sticky-header">
      <div class="title-row">
        <% if templates_view_mode_archived?(type: @type) %>
          <h1>
            <i class="fas fa-archive"></i>
            <%= t('protocols.index.head_title_archived') %>
          </h1>
        <% else %>
          <h1><%= t('protocols.index.head_title') %></h1>
        <% end %>
      </div>
    </div>
    <div class="protocols-container">
      <%= render partial: "protocols/index/protocols_datatable.html.erb" %>

      <div id="actionToolbar" data-behaviour="vue">
        <action-toolbar actions-url="<%= actions_toolbar_protocols_url %>" />
      </div>
    </div>
  </div>
<% end %>

<div id="protocolsio-preview-modal-target"></div>
<%= render partial: "protocols/index/general_toolbar.html.erb" %>
<%= render partial: "protocols/index/protocol_filters.html.erb" %>
<%= render partial: "protocols/index/delete_draft_modal.html.erb" %>
<%= render partial: "protocols/index/linked_children_modal.html.erb" %>
<%= render partial: "protocols/index/protocol_preview_modal.html.erb" %>
<%= render partial: "protocols/index/protocolsio_modal.html.erb" %>
<%= render partial: "protocols/index/new_protocol_modal.html.erb", locals: {type: 'new'} %>

<%= render partial: "protocols/import_export/import_elements.html.erb" %>
<%= javascript_include_tag "vue_components_action_toolbar" %>
<%= javascript_include_tag "handsontable.full" %>

<!-- Libraries for formulas -->
<%= render partial: "shared/formulas_libraries.html.erb" %>

<%= stylesheet_link_tag 'datatables' %>
<%= javascript_include_tag "assets/wopi/create_wopi_file" %>
<%= javascript_include_tag "protocols/index" %>
<%= javascript_include_tag "protocols/new_protocol" %>
<%= javascript_include_tag 'pdf_js' %>
<%= stylesheet_link_tag 'pdf_js_styles' %>
