<% provide(:sidebar_title, t('sidebar.templates.sidebar_title')) %>
<%= content_for :sidebar do %>
  <%= render partial: "/shared/sidebar/templates_sidebar", locals: {active: :protocol} %>
<% end %>
 <% provide(:container_class, 'no-second-nav-container') %>
<div class="content-pane protocols-show flexible with-grey-background pb-4" >
  <%= render partial: "protocols/header" %>
  <div
    id="protocolContainer"
    data-protocol-url="<%= protocol_path(@protocol) %>"
    data-date-format="<%= datetime_picker_format_date_only %>"
    data-user-utc-offset="<%= ActiveSupport::TimeZone.find_tzinfo(current_user.time_zone).utc_offset %>"
    data-e2e="e2e-CO-protocolTemplates-protocol"
  >
    <protocol-container
    :protocol-url="protocolUrl"
    />
  </div>
</div>

<!-- Create new office file modal -->
<%= render partial: 'assets/wopi/create_wopi_file_modal' %>
<%= render partial: "my_modules/protocols/print_protocol_modal", locals: { protocol: @protocol, comments_enabled: true} %>


<%= javascript_include_tag "handsontable.full" %>
<%= render partial: "shared/formulas_libraries" %>
<%= javascript_include_tag 'pdf_js' %>
<%= stylesheet_link_tag 'pdf_js_styles' %>

<%= render 'shared/tiny_mce_packs' %>
<%= javascript_include_tag 'vue_protocol' %>
