<div class="content-pane protocols-show" >
  <div class="protocol-position-container">
    <div
      id="protocolContainer"
      data-protocol-url="<%= protocol_path(@protocol) %>"
      data-add-step-url="<%= protocol_steps_path(protocol_id: @protocol.id) %>"
      data-steps-url="<%= steps_path(protocol_id: @protocol) %>"
      data-editable="<%= can_manage_protocol_in_module?(@protocol) %>"
      data-date-format="<%= datetime_picker_format_date_only %>"
      data-user-utc-offset="<%= ActiveSupport::TimeZone.find_tzinfo(current_user.time_zone).utc_offset %>"
    >
      <protocol-container
      :protocol-url="protocolUrl"
      :steps-url="stepsUrl"
      :add-step-url="addStepUrl"
      :editable="editable"
      />
    </div>
  </div>
</div>

<!-- Create new office file modal -->
<%= render partial: 'assets/wopi/create_wopi_file_modal.html.erb' %>


<%= javascript_include_tag "handsontable.full" %>
<%= render partial: "shared/formulas_libraries.html.erb" %>
<%= javascript_pack_tag 'pdfjs/pdf_js' %>
<%= stylesheet_pack_tag 'pdfjs/pdf_js_styles' %>

<%= javascript_pack_tag 'vue/protocol' %>