<!DOCTYPE html>
<html>
  <head>
    <title><%= t("protocols.print.title") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= javascript_include_tag 'jquery_bundle' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "handsontable.full" %>
    <%= render 'shared/formulas_libraries' %>
    <%= stylesheet_link_tag 'print_protocol', media: 'print, screen' %>
    <body>
      <%= yield %>
      <div id="handson"
        data-init-rows-cnt="<%= Constants::HANDSONTABLE_INIT_ROWS_CNT %>"
        data-init-cols-cnt="<%= Constants::HANDSONTABLE_INIT_COLS_CNT %>"
      ></div>
      <%= javascript_include_tag 'protocols/handson' %>
    </body>
</html>
