<div class="panel panel-default module"
  id="<%= my_module.id %>"
  data-module-id="<%= my_module.id %>"
  data-module-name="<%= my_module.name %>"
  data-module-x="<%= my_module.x %>"
  data-module-y="<%= my_module.y %>"
  data-module-conns="<%= construct_module_connections(my_module) %>">

  <div class="panel-heading">

    <h3 class="panel-title", title="<%= my_module.name %>"><%= my_module.name %></h3>

    <div class="dropdown module-options-dropdown pull-right module-options" data-dropdown-menu-path="<%= canvas_dropdown_menu_my_module_path(my_module) %>">
      <a class="dropdown-toggle" id="<%= my_module.id %>_options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="sn-icon sn-icon-down" aria-hidden="true"></span>
      </a>
      <ul class="dropdown-menu custom-dropdown-menu no-scale" aria-labelledby="<%= my_module.id %>_options">
      </ul>
    </div>

  </div>

  <div class="panel-body ep">
    <div class="task-card-code">
        <%=t "experiments.canvas.edit.id" %> <%= my_module.code %>
    </div>
    <%= t('experiments.canvas.edit.drag_connections') %>
  </div>

  <div class="overlay"></div>

</div>
