<% if can_manage_my_module?(my_module) %>
  <li>
    <a class="edit-module" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.edit_module') %></a>
  </li>
<% end %>
<% if @experiment_managable %>
  <li>
    <a class="clone-module" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.clone_module') %></a>
  </li>
<% end %>
<% if can_move_my_module?(my_module) %>
  <li>
    <a class="move-module" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.move_module') %></a>
  </li>
<% end %>
<li>
  <%= link_to t('experiments.canvas.edit.task_access'), nil,
      class: "openAccessModal",
      data: {
        url: my_module_path(@my_module, format: :json),
        roles_url: user_roles_projects_path
      }
   %>

</li>
<% if can_archive_my_module?(my_module) %>
  <li>
    <a class="delete-module" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.delete_module') %></a>
  </li>
<% end %>
<% if @experiment_managable %>
  <li <%= 'style=display:none;' if my_module.my_module_group.blank? %>>
    <a class="clone-module-group" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.clone_module_group') %></a>
  </li>
<% end %>
<% if @group_my_modules&.all? { |my_module| can_move_my_module?(my_module) } %>
  <li>
    <a class="move-module-group" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.move_module_group') %></a>
  </li>
<% end %>

<% if @group_my_modules&.all? { |my_module| can_archive_my_module?(my_module) } %>
  <li data-hook="archive-module-group">
    <a class="delete-module-group" href="" data-module-id="<%= my_module.id %>"><%= t('experiments.canvas.edit.delete_module_group') %></a>
  </li>
<% end %>
