<% if @editing %>
  <div class="sci-input-container">
    <%= label_tag @name, @label %>
    <div class="datetime-picker-container">
      <span class="sn-icon sn-icon-calendar"></span>
      <input type="datetime"
             name="<%= @name %>"
             data-toggle='date-time-picker'
             class="sci-input-field"
             placeholder="<%= @placeholder %>"
             data-date-format="<%= datetime_picker_format_date_only %>"
             data-date-locale="<%= I18n.locale %>"
             data-date-use-current="false"
             data-type="DateInputComponent"
             value="<%= @value.present? ? l(Date.parse(@value), format: :full) : '' %>"/>
    </div>
  </div>
<% else %>
  <%= @value.present? ? l(Date.parse(@value), format: :full) : '' %>
<% end %>
