<span class="text-muted pull-right"><%= l comment.created_at, format: '%H:%M' %></span>
<strong><%= comment.user.full_name %>:</strong>
<span class="input-group">
  <input type="hidden" class="form-control" id="edit_comment_<%= comment.id %>" value="<%= comment.message %>" onkeydown="if (event.keyCode==13) project_update_comment(<%= comment.id %>)" >
  <span id="span_comment_<%= comment.id %>" style="display:block;width:200px;word-wrap:break-word;"><%= comment.message %></span>
  <div class="input-group-btn">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu pull-right">
        <li><a href="#" onclick='return project_comment_edit(<%= comment.id %>)'>Edit</a></li>
        <li><a href="#" onclick='return project_comment_delete(<%= comment.id %>)'>Delete</a></li>
      </ul>
    </div>
</span>
