<template id="labelTemplatesToolbar">
  <% if can_manage_label_templates?(current_team) %>
    <button data-url="<%= label_templates_path %>" title="<%= t('label_templates.index.toolbar.new') %>"
      class="btn btn-primary  auto-shrink-button" id="newLabelTemplate">
      <i class="fas fa-plus"></i>
      <span class="button-text"><%= t('label_templates.index.toolbar.new') %></span>
    </button>
    <button title="<%= t('label_templates.index.toolbar.update_fluics_labels') %>"
            class="btn btn-light" id="syncFluicsTemplates" data-url="<%= sync_fluics_templates_label_templates_path %>">
      <i class="fas fa-sync"></i>
      <span class="button-text"><%= t('label_templates.index.toolbar.update_fluics_labels') %></span>
    </button>
  <% end %>
</template>
