<% if current_team %>
  <% provide(:sidebar_title, t('sidebar.templates.sidebar_title')) %>
  <% provide(:container_class, "no-second-nav-container") %>
  <div class="content-pane flexible label-templates-index">
    <div class="content-header sticky-header">
      <div class="title-row">
        <h1>
          <%= t('label_templates.index.head_title') %>
        </h1>
      </div>
    </div>
    <div id="labelTemplatesTable" class="fixed-content-body"
    >
      <label-templates-table
        :actions-url="'<%= actions_toolbar_label_templates_url %>'"
        :data-source="'<%= label_templates_path(format: :json) %>'"
        :create-url="'<%= label_templates_path if can_manage_label_templates?(current_team) %>'"
        :sync-fluics-url="'<%= sync_fluics_templates_label_templates_path if can_manage_label_templates?(current_team) %>'"
      />
    </div>
  </div>
  <%= javascript_include_tag 'vue_label_templates_table' %>
<% end %>
