<li class="activity-item">
  <span class="activity-item-date">
    <%= l activity.created_at, format: '%H:%M' %>
  </span>
  <span class="activity-item-text">
    <%= activity_truncate( activity.message ) %>
    <% if activity.my_module %>
      [<%=t 'Project' %>:
      <% if activity.my_module.project.name.length > 20 %>
        <div class="modal-tooltip">
          <%= truncate(activity.my_module.project.name, lenght: 20).strip %>
          <span class="modal-tooltiptext"><%= activity.my_module.project.name %></span>
        </div>
      <% else %>
        <%= activity.my_module.project.name %>
      <% end %>, <%=t 'Module' %>:
      <% if activity.my_module.name.length > 20 %>
        <div class="modal-tooltip"><%= truncate(activity.my_module.name, lenght: 20) %>
          <span class="modal-tooltiptext"><%= activity.my_module.name %></span>
        </div>
      <% else %>
        <%= activity.my_module.name %>
      <% end %>
      ]
    <% end %>
  </span>
</li>