<% provide :head_title, t('nav.label.activities') %>

<div class="content-pane">
  <div class="container" id="global-activity-page">
    <div>
      <ul id="list-activities" class="no-style content-activities">
        <% if @vars[:activities].empty? %>
          <li><em><%= t'activities.index.no_activities' %></em></li>
        <% else %>
          <% @vars[:activities].each do |activity| %>
            <%= render 'activity.html.erb', activity: activity %>
          <% end %>
        <% end %>
      </ul>
      <% if @vars[:more_activities_url].present? && @vars[:page] == 1 %>
      <div class="text-center">
        <a class="btn btn-default btn-more-activities"
           href="<%= @vars[:more_activities_url] %>"
           data-remote="true">
          <%= t'activities.index.more_activities' %></a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'activities/index.js' %>
