<div class="modal" id="load-from-repository-warning-modal" tabindex="-1" role="dialog" aria-labelledby="load-from-repository-modal-warning-label" data-url="<%= load_from_repository_protocol_path(@protocol) %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          data-e2e="e2e-BT-task-protocol-loadTemplateWarningModal-close"
        >
          <i class="sn-icon sn-icon-close"></i>
        </button>
        <h2
          class="modal-title"
          id="load-from-repository-modal-warning-label"
          data-e2e="e2e-TX-task-protocol-loadTemplateWarningModal-title"
        >
          <%= t("my_modules.protocols.load_from_repository_modal.title") %>
        </h2>
      </div>
      <div class="modal-body">
        <p><%= t("my_modules.protocols.load_from_repository_modal.confirm_modal.description_p1") %></p>
        <p><%= t("my_modules.protocols.load_from_repository_modal.confirm_modal.description_p2") %></p>
        <p><%= t("my_modules.protocols.load_from_repository_modal.confirm_modal.description_p3_html") %></p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          data-e2e="e2e-BT-task-protocol-loadTemplateWarningModal-cancel"
        >
          <%= t("general.cancel") %>
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-action="submit"
          data-e2e="e2e-BT-task-protocol-loadTemplateWarningModal-load"
        >
          <%= t("my_modules.protocols.load_from_repository_modal.confirm_modal.load") %>
        </button>
      </div>
    </div>
  </div>
</div>
