<div class="load-warning-message">
  <p style="font-weight: bold;"><%= t("my_modules.protocols.load_from_repository_modal.text") %></p>
</div>

  <!-- Tab panes -->
<div id="load-protocols-datatable">
  <div class="load-protocols-datatable tab-pane active">
    <table id="protocols-table" class="table datatable"
           data-role="datatable"
           data-source="<%= load_from_repository_datatable_protocol_path(@protocol) %>">
      <thead>
          <tr>
            <th class="all" id="protocol-name"><%= t("my_modules.protocols.load_from_repository_modal.thead_name") %></th>
            <th class="min-tablet-p" id="protocol-versions"><%= t("my_modules.protocols.load_from_repository_modal.thead_version") %></th>
            <th class="min-tablet-l" id="protocol-id"><%= t("my_modules.protocols.load_from_repository_modal.thead_id") %></th>
            <th class="min-tablet-l" id="protocol-keywords"><%= t("my_modules.protocols.load_from_repository_modal.thead_keywords") %></th>
            <th class="min-desktop" id="protocol-published-by"><%= t("my_modules.protocols.load_from_repository_modal.thead_published_by") %></th>
            <th class="min-desktop" id="protocol-published-on"><%= t("my_modules.protocols.load_from_repository_modal.thead_published_on") %></th>
          </tr>
        </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
