<div class="btn-group" role="group" aria-label="" style="margin-left: 15px;">
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><span class="glyphicon glyphicon-import"></span><span class="hidden-xs-custom">&nbsp;<%= t("my_modules.protocols.buttons.load_protocol") %></span></a>
    <ul class="dropdown-menu">
      <% if can_load_protocol_into_module(@my_module) %>
        <li>
          <%= link_to load_from_repository_modal_protocol_path(@protocol, format: :json), remote: true, data: { action: "load-from-repository" } do %>
            <span class="glyphicon glyphicon-book"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_repository") %>
          <% end %>
        </li>
      <% else %>
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-book"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_repository") %></a></li>
      <% end %>
      <% if can_load_protocol_into_module(@my_module) %>
        <li>
          <a class="btn-open-file" href="#" data-action="load-from-file" data-import-url="<%= load_from_file_protocol_path(@protocol, format: :json) %>">
            <span class="glyphicon glyphicon-file"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_file") %>
            <input type="file" value="" accept=".eln">
          </a>
        </li>
      <% else %>
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-file"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_file") %></a></li>
      <% end %>
    </ul>
  </div>
  <% if can_export_protocol_from_module(@my_module) %>
    <a href="#" class="btn btn-default" data-action="export" data-id="<%= @protocol.id %>"><span class="glyphicon glyphicon-export"></span><span class="hidden-xs-custom">&nbsp;<%= t("my_modules.protocols.buttons.export") %></span></a>
  <% else %>
    <a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-export"></span><span class="hidden-xs-custom">&nbsp;<%= t("my_modules.protocols.buttons.export") %></span></a>
  <% end %>
  <% if can_copy_protocol_to_repository(@my_module) %>
    <%= link_to copy_to_repository_modal_protocol_path(@protocol, format: :json), class: "btn btn-default", remote: true, data: { action: "copy-to-repository" } do %>
      <span class="glyphicon glyphicon-saved"></span><span class="hidden-xs-custom">&nbsp;<%= t("my_modules.protocols.buttons.copy_to_repository") %></span>
      <% end %>
  <% else %>
    <a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-saved"></span><span class="hidden-xs-custom">&nbsp;<%= t("my_modules.protocols.buttons.copy_to_repository") %></span></a>
  <% end %>
</div>