<%= bootstrap_form_for protocol, url: update_url, remote: :true, html: {class: 'tiny-mce-editor'} do |f| %>
  <%= render partial: 'shared/tiny_mce_extra_buttons.html.erb' %>
  <% if protocol.description.present? %>
    <div id="protocol_description_view"
         class="ql-editor tinymce-view"
         data-placeholder="<%= t('my_modules.protocols.protocol_status_bar.empty_description_edit_label') %>">
      <%= custom_auto_link(protocol.tinymce_render(:description),
                           simple_format: false,
                           tags: %w(img),
                           team: current_team) %>
    </div>
  <% else %>
    <div id="protocol_description_view"
         class="ql-editor tinymce-view"
         data-placeholder="<%= t('my_modules.protocols.protocol_status_bar.empty_description_edit_label') %>"></div>
  <% end %>
  <%= f.tiny_mce_editor(:description,
                        id: :protocol_description_textarea,
                        class: 'hidden',
                        placeholder: t('my_modules.protocols.protocol_status_bar.empty_description_edit_label'),
                        hide_label: true,
                        value: sanitize_input(protocol.tinymce_render(:description)),
                        autocomplete: 'off',
                        data: {
                          object_type: 'protocol',
                          object_id: protocol.id,
                          highlightjs_path: asset_path('highlightjs-github-theme.css'),
                          last_updated: protocol.updated_at.to_i * 1000 } ) %>
<% end %>
