<div class="btn-group" role="group" aria-label="" style="margin-left: 15px;">
  <div class="btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
      <span class="fas fa-download"></span>
      <span class="hidden-xs-custom">&nbsp;<%= t("my_modules.protocols.buttons.load_protocol") %></span>
    </a>
    <ul class="dropdown-menu">
      <% if can_manage_protocol_in_module?(@protocol) %>
        <li>
          <%= link_to load_from_repository_modal_protocol_path(@protocol, format: :json), remote: true, data: { action: "load-from-repository" } do %>
            <span class="fas fa-book"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_repository") %>
          <% end %>
        </li>
      <% else %>
        <li class="disabled"><a href="#"><span class="fas fa-book"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_repository") %></a></li>
      <% end %>
      <% if can_manage_protocol_in_module?(@protocol) %>
        <li>
          <a class="btn-open-file" href="#" data-action="load-from-file" data-import-url="<%= load_from_file_protocol_path(@protocol, format: :json) %>">
            <span class="fas fa-paperclip"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_file") %>
            <input type="file" value="" accept=".eln" data-turbolinks="false">
          </a>
        </li>
      <% else %>
        <li class="disabled"><a href="#"><span class="fas fa-paperclip"></span>&nbsp;<%= t("my_modules.protocols.buttons.load_protocol_from_file") %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<% if @show_recent_protocols %>
  <div class="pull-right">
    <div class="dropdown recent-repositories-dropdown">
      <a href="#" title="<%=t "my_modules.protocols.buttons.load_protocol_from_recent_repository" %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="hidden-sm hidden-md"><%=t "my_modules.protocols.buttons.load_protocol_from_recent_repository" %></span>
        <span class="hidden-xs hidden-lg fas fa-list-alt"></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu pull-right">
        <% @recent_protocols.each do |repo_protocol| %>
          <li>
            <%= link_to load_from_repository_protocol_path(@protocol, source_id: repo_protocol.id, format: :json), method: :post, remote: true, data: { action: "load-recent-from-repository" }, title: t('my_modules.protocols.buttons.load_protocol_from_recent_repository_title', protocol_name: repo_protocol.name) do %>
              <i class="fas fa-file-alt"></i><%= truncate(repo_protocol.name) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
