<% results.each do |experiment| %>
  <h5>
    <i class="fas fa-flask"></i>
    <%= render partial: "search/results/partials/experiment_text.html.erb",
               locals: { experiment: experiment, query: search_query } %>
  </h5>

  <p>
    <span>
      <%=t "search.index.created_at" %>
      <%=l experiment.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t "search.index.project" %>
      <%= render partial: "search/results/partials/project_text.html.erb",
                  locals: { project: experiment.project, link_to_page: :show } %>
    </span>
    <br>
    <span>
      <%=t "search.index.team" %>
      <%= render partial: "search/results/partials/team_text.html.erb",
                 locals: { team: experiment.project.team } %>
    </span>
    <span data-hook="search-result-experiment"></span>
  </p>

  <hr>
<% end %>
