<% results.each do |mod| %>
  <h5>
    <span class="fas fa-credit-card"></span>
    <%= render partial: "search/results/partials/my_module_text.html.erb", locals: { my_module: mod, query: search_query } %>
  </h5>

  <% if mod.description.present? && !mod.description.empty? %>
    <p>
      <span>
        <%=t "search.index.description" %>
        <%= highlight custom_auto_link(mod.tinymce_render(:description),
                             simple_format: false,
                             tags: %w(img),
                             team: current_team), search_query.strip.split(/\s+/) %>
      </span>
    <p>
  <% end %>

  <p>
    <span>
      <%=t "search.index.created_at" %>
      <%=l mod.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t "search.index.experiment" %>
      <%= render partial: "search/results/partials/experiment_text.html.erb",
                 locals: { experiment: mod.experiment } %>
    </span>
    <br>
    <span>
      <%=t "search.index.project" %>
      <%= render partial: "search/results/partials/project_text.html.erb",
                 locals: { project: mod.experiment.project, link_to_page: :show } %>
    </span>
    <br>
    <span>
      <%=t "search.index.team" %>
      <%= render partial: "search/results/partials/team_text.html.erb",
                 locals: { team: mod.experiment.project.team } %>
    </span>
  </p>

  <hr>
<% end %>
