<% results.each do |project| %>
  <h5>
    <span class="fas fa-folder"></span>
    <%= render partial: 'search/results/partials/project_text.html.erb',
               locals: { project: project, query: search_query, link_to_page: :show } %>
  </h5>

  <p>
    <span>
      <%=t 'search.index.created_at' %>
      <%=l project.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t 'search.index.team' %>
      <%= render partial: 'search/results/partials/team_text.html.erb',
                 locals: { team: project.team } %>
    </span>
    <span data-hook="search-result-project"></span>
  </p>

  <hr>
<% end %>
