<% results.each do |project_folder| %>
  <h5>
    <span class="sn-icon sn-icon-folder"></span>
    <%= render partial: 'search/results/partials/project_folder_text',
               locals: { project_folder: project_folder, query: search_query, link_to_page: :show } %>
  </h5>

  <p>
    <span>
      <%= t('search.index.created_at') %>
      <%= l(project_folder.created_at, format: :full) %>
    </span>
    <br>
    <% if project_folder.parent_folder %>
      <span>
        <%=t "search.index.folder" %>
        <%= render partial: "search/results/partials/project_folders_text",
                   locals: { folder: project_folder.parent_folder } %>
      </span>
      <br>
    <% end %>
    <span>
      <%= t('search.index.team') %>
      <%= render partial: 'search/results/partials/team_text', locals: { team: project_folder.team } %>
    </span>
    <span data-hook="search-result-project-folder"></span>
  </p>

  <hr>
<% end %>
