<% results.each do |report| %>
  <h5>
    <span class="sn-icon sn-icon-reports"></span>
    <%= render partial: "search/results/partials/report_text", locals: { report: report, query: search_query } %>
  </h5>

  <p>
    <span>
      <%=t 'search.object_id' %>
      <%= highlight report.code, @search_query.strip.split(/\s+/)  %>
    </span>
    <br>
    <span>
      <%=t "search.index.description" %>
      <% if report.description.present? %>
        <%= highlight report.description, @search_query.strip.split(/\s+/)  %>
      <% else %>
        <em><%=t "search.index.no_description" %></em>
      <% end %>
    </span>
    <br>
    <span>
      <%=t "search.index.created_by" %>
      <%= highlight report.user.full_name, @search_query.strip.split(/\s+/) %>
    </span>
    <br>
    <span>
      <%=t "search.index.created_at" %>
      <%=l report.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t "search.index.last_modified_by" %>
      <%= highlight report.last_modified_by.full_name, @search_query.strip.split(/\s+/) %>
    </span>
    <br>
    <span>
      <%=t "search.index.last_modified_at" %>
      <%=l report.updated_at, format: :full %>
    </span>
  </p>

  <p>
    <span>
      <%=t "search.index.project" %>
      <%= render partial: "search/results/partials/project_text",
                 locals: { project: report.project, link_to_page: :show } %>
    </span>
    <br>
    <span>
      <%=t "search.index.team" %>
      <%= render partial: "search/results/partials/team_text",
                 locals: { team: report.project.team } %>
    </span>
  </p>

  <hr>
<% end %>
