<% results.each do |result| %>
  <h5>
    <span class="sn-icon sn-icon-files"></span>

    <%= render partial: "search/results/partials/result_text", locals: { result: result, query: search_query, target: nil } %>
  </h5>

  <% result.result_texts.each do |result_text| %>
    <blockquote class="search-asset-text-data">
      <p>
        <%= highlight custom_auto_link(result_text.tinymce_render(:text),
                             simple_format: false,
                             tags: %w(img),
                             team: current_team), search_query.strip.split(/\s+/) %>
      </p>
    </blockquote>
  <% end %>

  <p>
    <span>
      <%=t "search.index.created_at" %>
      <%=l result.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t "search.index.module" %>
      <%= render partial: "search/results/partials/my_module_text",
                 locals: { my_module: result.my_module } %>
    </span>
    <br>
    <span>
      <%=t "search.index.experiment" %>
      <%= render partial: "search/results/partials/experiment_text",
                 locals: { experiment: result.my_module.experiment } %>
    </span>
    <br>
    <span>
      <%=t "search.index.project" %>
      <%= render partial: "search/results/partials/project_text",
                 locals: { project: result.my_module.experiment.project, link_to_page: :show } %>
    </span>
    <br>
    <% if result.my_module.experiment.project.project_folder %>
      <span>
        <%=t "search.index.folder" %>
        <%= render partial: "search/results/partials/project_folders_text",
                   locals: { folder: result.my_module.experiment.project.project_folder } %>
      </span>
      <br>
    <% end %>
    <span>
      <%=t "search.index.team" %>
      <%= render partial: "search/results/partials/team_text",
                 locals: { team: result.my_module.experiment.project.team } %>
    </span>
  </p>

  <hr>
<% end %>
