<% @markdown ||= nil %>
<% results.each do |result| %>
  <h5>
    <% if result.is_text %>
      <span class="glyphicon glyphicon-asterisk"></span>
    <% elsif result.is_table %>
      <span class="glyphicon glyphicon-th"></span>
    <% else %>
      <% if result.asset.is_image? %>
        <span class="glyphicon glyphicon-picture"></span>
      <% else %>
        <span class="glyphicon glyphicon-file"></span>
      <% end %>
    <% end %>
    <%= render partial: "search/results/partials/result_text.html.erb", locals: { result: result, query: search_query, target: nil } %>
  </h5>

  <% if result.is_text && result.result_text.text.present? && !result.result_text.text.empty? && @markdown.present? %>
    <blockquote class="search-asset-text-data">
      <p>
        <%= highlight(@markdown.render(result.result_text.text).html_safe, search_query.strip.split(/\s+/)) %>
      </p>
    </blockquote>
  <% end %>

  <p>
    <span>
      <%=t "search.index.created_at" %>
      <%=l result.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t "search.index.module" %>
      <%= render partial: "search/results/partials/my_module_text.html.erb",
                 locals: { my_module: result.my_module } %>
    </span>
    <br>
    <span>
      <%=t "search.index.experiment" %>
      <%= render partial: "search/results/partials/experiment_text.html.erb",
                 locals: { experiment: result.my_module.experiment } %>
    </span>
    <br>
    <span>
      <%=t "search.index.project" %>
      <%= render partial: "search/results/partials/project_text.html.erb",
                 locals: { project: result.my_module.experiment.project, link_to_page: :show } %>
    </span>
    <br>
    <span>
      <%=t "search.index.organization" %>
      <%= render partial: "search/results/partials/organization_text.html.erb",
                 locals: { organization: result.my_module.experiment.project.organization } %>
    </span>
  </p>

  <hr>
<% end %>
