<% results.each do |result| %>
  <h5>
    <% if result.is_text %>
      <span class="fas fa-asterisk"></span>
    <% elsif result.is_table %>
      <span class="fas fa-table"></span>
    <% else %>
      <% if result.asset.image? %>
        <span class="fas fa-paperclip"></span>
      <% else %>
        <span class="fas fa-paperclip"></span>
      <% end %>
    <% end %>
    <%= render partial: "search/results/partials/result_text.html.erb", locals: { result: result, query: search_query, target: nil } %>
  </h5>

  <% if result.is_text && result.result_text.text.present? && !result.result_text.text.empty? %>
    <blockquote class="search-asset-text-data">
      <p>
        <%= highlight custom_auto_link(result.result_text.tinymce_render(:text),
                             simple_format: false,
                             tags: %w(img),
                             team: current_team), search_query.strip.split(/\s+/) %>
      </p>
    </blockquote>
  <% end %>

  <p>
    <span>
      <%=t "search.index.created_at" %>
      <%=l result.created_at, format: :full %>
    </span>
    <br>
    <span>
      <%=t "search.index.module" %>
      <%= render partial: "search/results/partials/my_module_text.html.erb",
                 locals: { my_module: result.my_module } %>
    </span>
    <br>
    <span>
      <%=t "search.index.experiment" %>
      <%= render partial: "search/results/partials/experiment_text.html.erb",
                 locals: { experiment: result.my_module.experiment } %>
    </span>
    <br>
    <span>
      <%=t "search.index.project" %>
      <%= render partial: "search/results/partials/project_text.html.erb",
                 locals: { project: result.my_module.experiment.project, link_to_page: :show } %>
    </span>
    <br>
    <span>
      <%=t "search.index.team" %>
      <%= render partial: "search/results/partials/team_text.html.erb",
                 locals: { team: result.my_module.experiment.project.team } %>
    </span>
  </p>

  <hr>
<% end %>
