<% results.each do |step| %>
  <h5>
    <span class="fas fa-arrow-circle-right"></span>
    <%= render partial: "search/results/partials/step_text.html.erb", locals: { step: step, query: search_query, target: nil } %>
  </h5>

  <% if step.description.present? && !step.description.empty? %>
    <p>
      <span>
        <%=t "search.index.description" %>
        <%= highlight custom_auto_link(step.tinymce_render(:description),
                             simple_format: false,
                             tags: %w(img),
                             team: current_team), search_query.strip.split(/\s+/) %>
      </span>
    <p>
  <% end %>

  <p>
    <span>
      <%=t "search.index.created_at" %>
      <%=l step.created_at, format: :full %>
    </span>
    <br>
    <% if step.protocol.in_module? %>
      <span>
        <%=t "search.index.module" %>
        <%= render partial: "search/results/partials/my_module_text.html.erb",
                    locals: { my_module: step.protocol.my_module, link_to_page: :protocols } %>
      </span>
      <br>
      <span>
        <%=t "search.index.experiment" %>
        <%= render partial: "search/results/partials/experiment_text.html.erb",
                   locals: { experiment: step.protocol.my_module.experiment } %>
      </span>
      <br>
      <span>
        <%=t "search.index.project" %>
        <%= render partial: "search/results/partials/project_text.html.erb",
                   locals: { project: step.protocol.my_module.experiment.project, link_to_page: :show } %>
      </span>
    <% else %>
      <span>
        <%=t "search.index.protocol" %>
        <%= render partial: "search/results/partials/protocol_text.html.erb",
                   locals: { protocol: step.protocol, query: search_query } %>
      </span>
    <% end %>
    <br>
    <span>
      <%=t "search.index.team" %>
      <%= render partial: "search/results/partials/team_text.html.erb",
                 locals: { team: step.protocol.team } %>
    </span>
  </p>

  <hr>
<% end %>
