<% if my_module.blank? and @my_module.present? then my_module = @my_module end %>
<% timestamp = my_module.created_at %>
<% name = my_module.name %>
<% for_export_all = defined?(export_all) && export_all %>
<div class="report-element report-module-element" data-ts="<%= timestamp.to_i %>" data-type="my_module" data-id='{ "my_module_id": <%= my_module.id %> }' data-scroll-id="<%= my_module.id %>" data-modal-title="<%=t "projects.reports.elements.modals.module_contents.head_title", module: my_module.name %>" data-name="<%= name %>" data-icon-class="fas fa-credit-card">
  <div class="report-element-header">
    <div class="row">
      <div class="pull-left user-time">
        <%=t "projects.reports.elements.module.user_time", timestamp: l(timestamp, format: :full) %>
      </div>
      <div class="pull-right controls">
        <%= render partial: "reports/elements/element_controls.html.erb", locals: { show_sort: true } %>
      </div>
    </div>
  </div>
  <div class="report-element-body">
    <div class="row">
      <div class="pull-left module-name">
        <h4>
          <span class="fas fa-credit-card"></span>
          <%= name %>
          <% if my_module.archived? %>
            <span class="label label-warning"><%=t 'search.index.archived' %></span>
          <% end %>
        </h4>
      </div>
      <div class="pull-right module-due-date">
        <% if my_module.due_date.present? %>
          <%=t "projects.reports.elements.module.due_date", due_date: l(my_module.due_date, format: :full) %>
        <% else %>
          <em><%=t "projects.reports.elements.module.no_due_date" %></em>
        <% end %>
        <% if my_module.completed? %>
          <%= t("my_modules.states.completed") %>
          <%= l(my_module.completed_on, format: :full) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <% if my_module.description.present? %>
          <%= custom_auto_link(my_module.prepare_for_report(:description, for_export_all),
                               team: current_team,
                               base64_encoded_imgs: for_export_all) %>
        <% else %>
           <em><%=t "projects.reports.elements.module.no_description" %></em>
        <% end %>
      </div>
    </div>
    <div class="row module-tags">
      <div class="pull-left">
        <%=t "projects.reports.elements.module.tags_header" %>
      </div>
      <% if my_module.tags.any? %>
        <% my_module.tags.each do |tag| %>
          <div class="pull-left module-tag" style="background-color: <%= tag.color %>;">
            <%= tag.name %>
          </div>
        <% end %>
      <% else %>
        <div class="pull-left module-no-tag">
          <em><%=t "projects.reports.elements.module.no_tags" %></em>
        </div>
      <% end %>
    </div>
  </div>
  <div class="report-element-children">
    <%= children if (defined? children and children.present?) %>
  </div>
</div>
