<% if result.blank? and @result.present? then result = @result end %>
<% result_text = result.result_text %>
<% comments = result.result_comments %>
<% timestamp = result.created_at %>
<% name = result.name %>
<% for_export_all = defined?(export_all) && export_all %>
<div class="report-element report-result-element report-result-text-element" data-ts="<%= timestamp.to_i %>" data-type="result_text" data-id='{ "result_id": <%= result.id %> }' data-scroll-id="<%= result.id %>" data-modal-title="<%=t "projects.reports.elements.modals.result_contents.head_title", result: result.name %>" data-name="<%= name %>" data-icon-class="fas fa-asterisk">
  <div class="report-element-header">
    <div class="row">
      <div class="pull-left result-icon">
          <span class="fas fa-asterisk"></span>
      </div>
      <div class="pull-left result-name">
        <%= name %>
        <% if result.archived? %>
          <span class="label label-warning"><%=t 'search.index.archived' %></span>
        <% end %>
      </div>
      <div class="pull-left user-time">
        <%=t "projects.reports.elements.result_text.user_time", user: result.user.full_name, timestamp: l(timestamp, format: :full) %>
      </div>
      <div class="pull-right controls">
        <%= render partial: "reports/elements/element_controls.html.erb" %>
      </div>
    </div>
  </div>
  <div class="report-element-body">
    <div class="row">
      <div class="col-xs-12 text-container ql-editor">
        <%= custom_auto_link(result_text.prepare_for_report(:text, for_export_all),
                             team: current_team,
                             simple_format: false,
                             tags: %w(img),
                             base64_encoded_imgs: for_export_all) %>
      </div>
    </div>
  </div>
  <div class="report-element-children">
    <%= children if (defined? children and children.present?) %>
  </div>
</div>
