<% result ||= report_element.result %>
<% table = element.orderable.table %>
<% timestamp = table.created_at %>
<% name = result.name %>
<% export_all = defined?(export_all) && export_all %>
<div class="report-element report-result-element report-result-table-element">
  <div class="report-element-header">
   <div class="table-name">
    <% if defined? export_all and export_all %>
      <div class="table-name">
        <% file_link = @obj_filenames.dig(:tables, table.id, :file) %>
        <a href="<%= file_link %>">
          <em><%= file_link&.split('/')&.last %></em>
        </a>
      </div>
    <% else %>
      <% if table.name.present? %>
        <em>
          <%= truncate(table.name, length: Constants::FILENAME_TRUNCATION_LENGTH) %>
        </em>
      <% end %>
    <% end %>
   </div>
    <div class="user-time">
      <%= t('projects.reports.elements.result_table.user_time', timestamp: l(timestamp, format: :full)) %>
    </div>
  </div>
  <div class="report-element-body">
    <input type="hidden" class="hot-table-contents" value="<%= table.contents_utf_8.gsub(/\</, '&lt;').gsub(/\>/, '&gt;') %>" />
    <input type="hidden" class="hot-table-metadata" value="<%= table.metadata.to_json.gsub(/\</, '&lt;').gsub(/\>/, '&gt;') %>" />
    <div class="hot-table-container"></div>
    <table class="report-common-table-format"></table>
  </div>
  <% if defined?(children) %>
    <div class="report-element-children">
      <%= children %>
    </div>
  <% end %>
</div>
