<% if result.blank? and @result.present? then result = @result end %>
<% table = result.table %>
<% comments = result.comments %>
<% timestamp = table.created_at %>
<% name = result.name %>
<div class="report-element report-result-element report-result-table-element" data-ts="<%= timestamp.to_i %>" data-type="result_table" data-id="<%= result.id %>" data-modal-title="<%=t "projects.reports.elements.modals.result_contents.head_title", result: result.name %>" data-name="<%= name %>" data-icon-class="glyphicon-th">
  <div class="report-element-header">
    <div class="row">
      <div class="pull-left result-name-container">
        <div class="result-icon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
        <div class="result-name">
          <%= name %>
        </div>
        <div class="user-time">
          <%=t "projects.reports.elements.result_table.user_time", user: result.user.full_name , timestamp: l(timestamp, format: :full) %>
        </div>
      </div>
      <div class="pull-right controls">
        <%= render partial: "reports/elements/element_controls.html.erb" %>
      </div>
    </div>
  </div>
  <div class="report-element-body">
    <input type="hidden" class="hot-table-contents" value="<%= table.contents_utf_8 %>" />
    <div class="hot-table-container"></div>
  </div>
  <div class="report-element-children">
    <%= children if (defined? children and children.present?) %>
  </div>
</div>
