<% asset ||= report_element.asset %>
<% timestamp = asset.created_at %>
<div class="report-element report-step-attachment-element report-step-asset-element">
  <div class="report-element-header">
    <span class="pull-left attachment-icon">
      <%= file_extension_icon_html(asset, true) %>
    </span>
    <span class="pull-left file-name">
      <% if defined? export_all and export_all %>
          <% file_link = @obj_filenames.dig(:assets, asset.id, :file) %>
        <a href="<%= file_link %>" class="export-all-link">
          <em><%= file_link&.split('/')&.last %></em>
        </a>
      <% else %>
        <em>
        <%= truncate(asset.file_name, length: Constants::FILENAME_TRUNCATION_LENGTH) %>
        <%= link_to t('projects.reports.elements.download'), asset_download_url(asset, disposition: 'attachment'), class: 'download-link', target: :_blank %>
        </em>
      <% end %>
    </span>
    <div class="user-time">
      &nbsp;<%= t('projects.reports.elements.step_asset.user_time', timestamp: l(timestamp, format: :full)) %>
    </div>
  </div>
  <div class="report-element-body">
    <% if asset.previewable? && !asset.list? %>
      <div class="row">
        <div class="col-xs-12 file-image">
          <% if defined?(export_all) && export_all %>
            <img class="report-export-img" src="<%= @obj_filenames.dig(:assets, asset.id, :preview) %>">
          <% else %>
            <%= report_image_asset_url(asset) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if defined?(children) %>
    <div class="report-element-children">
      <%= children %>
    </div>
  <% end %>
</div>
