<% provide(:head_title, t("users.settings.account.connected_accounts.head_title")) %>
<% provide(:container_class, "no-second-nav-container") %>

<%= render partial: "users/settings/sidebar" %>
<div class="tab-content user-account-connected-accounts">
  <div class="tab-pane tab-pane-settings active" role="tabpanel">

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1 class="connected-accounts-title"><%= t('users.settings.account.connected_accounts.title') %></h1>
        <% if @linked_accounts.present? %>
          <% @linked_accounts.each do |provider| %>
            <% if lookup_context.exists?(provider, 'users/settings/account/connected_accounts', true) %>
              <%= render partial: provider, locals: { provider: provider } %>
            <% elsif ApplicationSettings.instance.values['azure_ad_apps']&.find { |v| v['provider_name'] == provider } %>
              <%= render partial: 'azure_ad', locals: { provider: provider } %>
            <% end %>
          <% end %>
        <% else %>
          <h5>
            <i><%= t('users.settings.account.connected_accounts.not_connected') %></i>
          </h5>
        <% end %>

      </div>
    </div>
  </div>
  <div class="tab-pane tab-pane-settings" role="tabpanel"></div>
</div>
