<div class="col-md-6">
  <div class="panel panel-default experiment-panel"
       data-id="<%= experiment.id %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to experiment.name, canvas_experiment_path(experiment) %></h3>

      <span class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle"
                type="button"
                id="exActionsMenu-<%= experiment.id %>"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
          <span class="visible-xs-inline"><i class="glyphicon glyphicon-sort"></i></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"
            aria-labelledby="exActionsMenu-<%= experiment.id %>">
          <% if can_create_experiment(@project) %>
          <li><%= link_to t('experiments.edit.panel_label'),
                        edit_project_experiment_url(@project, experiment),
                        remote: true,
                        type: 'button' %></li>
          <% end %>
          <% if can_archive_experiment(experiment) %>
          <li><%= link_to t('experiments.archive.label_title'),
                        archive_experiment_url(experiment),
                        type: 'button',
                        data: { confirm: t('experiments.canvas.archive_confirm') } %></li>
          <% end %>
        </ul>
      </span>
    </div>
    <div class="panel-body">
      <% if experiment.workflowimg? %>
        <%= image_tag experiment.workflowimg, class: 'img-responsive center-block' %>
      <% end %>
      <span>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <%= localize(experiment.created_at, format: t('time.formats.full_date')) %>
      </span>
      <p><%= experiment.description %></p>
    </div>
  </div>
</div>
