<div id="projectShowToolbar" class="project-show-toolbar">
  <!-- new experiment button -->
  <% if can_create_project_experiments?(@project) %>
    <%= button_to new_project_experiment_url(@project),
                  remote: true,
                  form_class: 'new-experiment-form',
                  data: {view_mode: :active},
                  id: 'new-experiment',
                  title: 'new experiment',
                  method: :get,
                  class: 'btn btn-primary' do %>
      <span class="fas fa-plus" aria-hidden="true"></span>
      <span class="hidden-xs"><%= t('experiments.toolbar.new_button') %></span>
    <% end %>
  <% end %>

  <%= button_to edit_experiments_path(),
                class: 'btn btn-light edit-experiment-btn single-object-action hidden',
                form_class: 'edit-experiments-form',
                data: { for: :editable, view_mode: 'active' },
                remote: true,
                title: 'edit experiment details',
                method: :get do %>
    <span class="fas fa-pencil-alt" aria-hidden="true"></span>
    <span class="hidden-xs"><%= t('experiments.toolbar.edit_button') %></span>
  <% end %>

  <%= button_to clone_modal_experiments_path(),
                class: 'btn btn-light clone-experiment-btn single-object-action hidden',
                form_class: 'clone-experiments-form',
                data: { for: :duplicable, view_mode: 'active' },
                remote: true,
                title: 'duplicate experiment',
                method: :get do %>
    <span class="fas fa-copy" aria-hidden="true"></span>
    <span class="hidden-xs"><%= t('experiments.toolbar.duplicate_button') %></span>
  <% end %>

  <%= button_to move_modal_experiments_path(),
                class: 'btn btn-light move-experiment-btn single-object-action hidden',
                form_class: 'move-experiments-form',
                data: { for: :moveable },
                remote: true,
                title: 'move experiment',
                method: :get do %>
    <span class="fas fa-arrow-right" aria-hidden="true"></span>
    <span class="hidden-xs"><%= t('experiments.toolbar.move_button') %></span>
  <% end %>

  <%= button_to archive_group_project_experiments_path(@project),
                class: 'btn btn-light archive-experiments-btn multiple-object-action hidden',
                form_class: 'archive-experiments-form',
                data: { for: :archivable, view_mode: 'active' },
                remote: true,
                title: 'archive experiment',
                method: :post do %>
    <span class="fas fa-archive" aria-hidden="true"></span>
    <span class="hidden-xs"><%= t('projects.index.archive_button') %></span>
  <% end %>

  <%= button_to restore_group_project_experiments_path(@project),
                class: 'btn btn-light restore-experiments-btn multiple-object-action hidden',
                title: 'restore experiment button',
                form_class: 'restore-experiments-form',
                data: { for: :restorable, view_mode: 'archived' },
                remote: true,
                method: :post do %>
    <span class="fas fa-undo" aria-hidden="true"></span>
    <span class="hidden-xs"><%= t('experiments.toolbar.restore_button') %></span>
  <% end %>
</div>
