<% if BioEddieService.enabled?(current_user) %>
  <li>
    <a
      class="new-bio-eddie-upload-button"
      data-object-id="<%= element_id %>"
      data-object-type="<%= element_type %>"
      data-assets-container="<%= assets_container %>"
    >
      <%= image_tag 'icon_small/bio_eddie.png' %>
      <%= t('bio_eddie.new_button') %>
    </a>
  </li>
<% end %>
