<h1>
  <%= t('projects.reports.wizard.first_step.values_editor.title') %>
</h1>
<h3>
  <%= t('projects.reports.wizard.first_step.values_editor.description') %>
</h3>

<h1>
  <%= t('projects.reports.wizard.first_step.values_editor.header') %>
</h1>
<%= yield :header %>

<h1>
  <%= t('projects.reports.wizard.first_step.values_editor.cover') %>
</h1>
<%= yield :cover %>

<h1>
  <%= t('projects.reports.wizard.first_step.values_editor.footer') %>
</h1>
<%= yield :footer %>
