<div class="template-editor-header">
  <h1 class="title">
    <%= t('projects.reports.wizard.first_step.values_editor.title') %>
  </h1>
  <div class="collapse-buttons sci-btn-group pull-right">
     <button class="btn btn-light collapse-all">
        <i class="sn-icon sn-icon-up"></i>
        <%= t("projects.reports.wizard.second_step.collapse_all") %>
     </button>
     <button class="btn btn-light expand-all">
        <i class="sn-icon sn-icon-down"></i>
        <%= t("projects.reports.wizard.second_step.expand_all") %>
     </button>
  </div>
</div>
<div class="template-editor-description">
  <%= t('projects.reports.wizard.first_step.values_editor.description') %>
</div>

<div class="section">
  <h1>
    <i class="sn-icon sn-icon-down " data-toggle="collapse" href="#headerContainer" aria-expanded="false"></i>
    <%= t('projects.reports.wizard.first_step.values_editor.header') %>
  </h1>
  <div class="values-container collapse in" id="headerContainer">
    <%= yield :header %>
  </div>
</div>

<div class="section">
  <h1>
    <i class="sn-icon sn-icon-down " data-toggle="collapse" href="#coverContainer" aria-expanded="false"></i>
    <%= t('projects.reports.wizard.first_step.values_editor.cover') %>
  </h1>
  <div class="values-container collapse in" id="coverContainer">
    <%= yield :cover %>
  </div>
</div>

<div class="section">
  <h1>
    <i class="sn-icon sn-icon-down " data-toggle="collapse" href="#footerContainer" aria-expanded="false"></i>
    <%= t('projects.reports.wizard.first_step.values_editor.footer') %>
  </h1>
  <div class="values-container collapse in" id="footerContainer">
    <%= yield :footer %>
  </div>
</div>
