<% provide(:head_title, t("users.invitations.edit.head_title")) %>

<div class="center-block center-block-narrow">

<h2><%= t 'devise.invitations.edit.header' %></h2>

<%= form_for (resource or :user), as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>

  <%= f.hidden_field :invitation_token %>

  <div class="form-group">
    <%= f.label :full_name %>
    <%= f.text_field :full_name,
                     value: (params[:user] ? params[:user][:full_name] : ''),
                     autofocus: true,
                     class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <% if Rails.configuration.x.new_team_on_signup %>
  <div class="form-group"
       data-hook="confirm-invitation-team-name">
    <%= label :team, :name, t('users.registrations.new.team_name_label') %>
    <% if @team %>
    <%= text_field :team, :name, class: 'form-control', value: @team.name %>
    <% else %>
    <%= text_field :team,
                   :name,
                   class: 'form-control',
                   value: (params[:team] ? params[:team][:name] : '') %>
    <% end %>
    <span><small><%= t 'users.registrations.new.team_name_help' %></small></span>
  </div>
  <% end %>
  <%= recaptcha_input_tag %>

  <div class="form-group" data-hook="confirm-invitation-form-submit">
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>

<% end %>
</div>

<% if resource and not resource.errors.empty? %>
<script>
(function () {
  var formErrors = {};

  <% resource.errors.each do |err, m| %>
  formErrors["<%= err %>"] =["<%= m %>"];
  <% end %>

  $("form").renderFormErrors("user", formErrors, false);
}());
</script>
<% end %>

<% if @team and not @team.errors.empty? %>
<script>
(function () {
  var formErrors = {};

  <% @team.errors.each do |err, m| %>
  formErrors["<%= err %>"] =["<%= m %>"];
  <% end %>

  $("form").renderFormErrors("team", formErrors, false);
}());
</script>
<% end %>
