  <div class="form-group">
    <%= label_tag :grouped_by, t("projects.reports.index.modal_new.grouped_by") %><br />
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <%= radio_button_tag :grouped_by, :by_module, :checked => true %>
        <span class="glyphicon glyphicon-book"></span>
        <%=t "projects.reports.index.modal_new.grouped_by_module" %>
      </label>
      <label class="btn btn-primary">
        <%= radio_button_tag :grouped_by, :by_timestamp %>
        <span class="glyphicon glyphicon-list"></span>
        <%=t "projects.reports.index.modal_new.grouped_by_timestamp" %>
      </label>
    </div>
  </div>