<% provide(:head_title,
           raw(t('projects.reports.index.head_title',
                 organization: @organization.name))) %>

<%= render partial: 'reports/breadcrumbs.html.erb',
           locals: { current_organization: @current_organization } %>

<ul class="nav nav-tabs nav-settings">
  <li role="presentation" class="active">
    <%= link_to t('org_reports.tab'), '#' %>
  </li>
</ul>
<div id="content"
  class="tab-content"
  data-reports-click-new-report-step-text="<%=t 'tutorial.reports_index_click_new_report_html' %>">

    <div class="tab-pane tab-pane-settings tab-pane-protocols active"
         role="tabpanel">
      <div class="btn-group"
           role="group"
           id="reports-datatable-buttons">
          <%= link_to('#', class: 'btn btn-default', id: 'new-report-btn') do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="hidden-xs"><%=t 'projects.reports.index.new' %></span>
          <% end %>

          <%= link_to('#', remote: true, class: 'btn btn-default', id: 'edit-report-btn') do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="hidden-xs"><%=t 'projects.reports.index.edit' %></span>
          <% end %>

          <%= link_to('#', remote: true, class: 'btn btn-default', id: 'delete-reports-btn') do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span class="hidden-xs"><%=t 'projects.reports.index.delete' %></span>
          <% end %>
      </div>

      <div class="reports-datatable">
        <table id="reportsDataTable"
               class="table"
               data-source="<%= datatable_reports_path(format: :json) %>">
          <thead>
            <tr>
              <th id="select-all"><input name="select_all" value="1" type="checkbox"></th>
              <th id="report-name"><%=t 'projects.reports.index.thead_name' %></th>
              <th id="report-created_by"><%=t 'projects.reports.index.thead_created_by' %></th>
              <th id="report-last_modified_by"><%=t 'projects.reports.index.thead_last_modified_by' %></th>
              <th id="report-created_at"><%=t 'projects.reports.index.thead_created_at' %></th>
              <th id="report-updated_at"><%=t 'projects.reports.index.thead_updated_at' %></th>
              <th id="report-project"><%=t 'projects.reports.index.thead_project' %></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </div>
</div>

<!-- Save report modal -->
<div class="modal" id="delete-reports-modal" tabindex="-1" role="dialog" aria-labelledby="delete-reports-modal-label">
  <%= bootstrap_form_tag(url: destroy_reports_path, method: :post, id: 'delete-reports-form') do |f| %>
    <input type="hidden" name="report_ids" id="report-ids">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delete-reports-modal-label"><%=t "projects.reports.index.modal_delete.head_title" %></h4>
        </div>
        <div class="modal-body">
          <%=t "projects.reports.index.modal_delete.message" %>
        </div>
        <div class="modal-footer">
          <%= f.button t("projects.reports.index.modal_delete.delete"), class: "btn btn-primary", id: "confirm-delete-reports-btn", name: nil %>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%=t "general.cancel" %></button>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Save report modal -->
<div class="modal"
     id="new-report-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="new-report-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><%= t('org_reports.new_report.title') %></h4>
        </div>
        <div class="modal-body">
          <% if current_user_projects.length > 0 %>
            <p><%=t 'org_reports.new_report.select_project'%></p>
            <%= collection_select(:project,
                                  :project_id,
                                  current_user_projects,
                                  :id,
                                  :name,
                                  {},
                                  { class: 'form-control' }) %>
          <% else %>
            <%=t 'org_reports.new_report.no_projects' %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= link_to t('org_reports.new_report.go'),
                      '#',
                      data: { href: new_report_path },
                      class: 'btn btn-primary',
                      id: 'create-new-report-btn',
                      name: nil %>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <%=t 'general.cancel' %>
          </button>
        </div>
      </div>
    </div>
</div>

<%= javascript_include_tag('reports/index') %>
