<div class="content-pane flexible reports-new">
  <div class="reports-new-header">
    <div class="sci-input-container report-name-container">
      <input type="text" class="sci-input-field report-name" placeholder="<%= t("projects.reports.new.report_name_placeholder") %>"></input>

    </div>
    <button class="btn btn-secondary cancel-button">
      <%= t("general.cancel") %>
    </button>
  </div>
  <div class="reports-new-body">
    <ul class="nav nav-tabs hidden">
      <li role="presentation"><a href="#new-report-step-1" data-toggle="tab" data-no-turbolink="true"></a></li>
      <li role="presentation"><a href="#new-report-step-2" data-toggle="tab" data-no-turbolink="true"></a></li>
      <li role="presentation"><a href="#new-report-step-3" data-toggle="tab" data-no-turbolink="true"></a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="new-report-step-1">
        Step 1
      </div>
      <div role="tabpanel" class="tab-pane" id="new-report-step-2">
        Step 2
      </div>
      <div role="tabpanel" class="tab-pane" id="new-report-step-3">
        Step 3
      </div>
    </div>
  </div>
  <div class="reports-new-footer" data-step="1">
    <div class="back-container">
      <button class="btn btn-secondary back-button">
        <%= t("general.back") %>
      </button>
    </div>
    <div class="wizard-status">
      <div class="progress-line progress-step-1"></div>
      <div class="progress-line progress-step-2"></div>
      <% 3.times do |i| %>
        <div class="wizard-steps wizard-step-<%= i + 1 %>">
          <div class="step-id">
            <%= i + 1 %>
          </div><br>
          <div class="step-dot"></div><br>
          <div class="step-name">
            <span class=name-wrapper>
              <%= t("projects.reports.new.wizard_statuses.step_#{i + 1}") %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="next-button-container">
      <button class="btn btn-primary continue-button">
        <%= t("projects.reports.new.continue_button") %>
      </button>
      <button class="btn btn-primary generate-button">
        <%= t("projects.reports.new.generate_button") %>
      </button>
    </div>
  </div>
</div>

<%= javascript_include_tag("reports/new") %>
