<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "reports_pdf" %>
    <%= bootstrap_cdn_link_tag %>
    <%= font_awesome_cdn_link_tag %>
  </head>
  <body class="print-report-body">
    <div class="print-report">
      <% # Also whitelist <img> and <input type="checkbox"> tags %>
      <%= sanitize_input(fix_smart_annotation_image(content),
                         %w(img input),
                         %w(type disabled checked)) %>
    </div>
  </body>
</html>
