<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <%= wicked_pdf_stylesheet_link_tag "reports_pdf" %>
    <%= font_awesome_cdn_link_tag %>
    <%= wicked_pdf_javascript_include_tag "jquery_bundle" %>
    <%= wicked_pdf_javascript_include_tag "handsontable.full" %>
    <!-- Libraries for formulas -->
    <%= wicked_pdf_javascript_include_tag "lodash" %>
    <%= wicked_pdf_javascript_include_tag "numeral" %>
    <%= wicked_pdf_javascript_include_tag "numeric" %>
    <%= wicked_pdf_javascript_include_tag "md5" %>
    <%= wicked_pdf_javascript_include_tag "jstat" %>
    <%= wicked_pdf_javascript_include_tag "formula" %>
    <%= wicked_pdf_javascript_include_tag "parser" %>
    <%= wicked_pdf_javascript_include_tag "ruleJS" %>
    <%= wicked_pdf_javascript_include_tag "big.min" %>
    <%= wicked_pdf_javascript_include_tag "handsontable.formula" %>
    <%= wicked_pdf_stylesheet_link_tag "handsontable.formula" %>
  </head>
  <body class="print-report-body">
    <div class="print-report">
      <% report.root_elements.each do |el| %>
        <%= render_report_element(el, local_assigns) %>
      <% end %>
    </div>

    <%= wicked_pdf_javascript_include_tag "reports/content" %>
  </body>
</html>
