<% limit_reached = experiments.length == Constants::ATWHO_SEARCH_LIMIT + 1 %>
<div class="atwho-scroll-container">
  <% grouped_by_prj(experiments.limit(Constants::ATWHO_SEARCH_LIMIT)).each do |experiment_group| %>
  <div class="item-group">
    <div class="atwho-breadcrumbs">
      <span class="atwho-breadcrumb" title="<%= experiment_group[:project_name] %>"><%= experiment_group[:project_name] %></span>
    </div>
    <div class="items">
      <% experiment_group[:experiments].each do |experiment| %>
        <li class="item" data-name="<%= sanitize_input(experiment.name) %>" data-id="<%= experiment.id.base62_encode %>" data-type="exp">
          <span class='sa-type'><%= experiment.code %></span>
          <span class="dot">&middot;</span>
          <span class="item-text"><%= sanitize_input(experiment.name) %></span>
          <%= render partial: 'shared/smart_annotation/atwho_control_buttons' %>
        </li>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if limit_reached %>
    <div class="more-results"><%= t('atwho.more_results') %></div>
  <% end %>
  <% if experiments.blank? %>
    <%= render partial: 'shared/smart_annotation/no_results', locals: { object_type: 'experiments' } %>
  <% end %>
</div>
<%= render partial: 'shared/smart_annotation/footer' %>
