<% at_who_key = SecureRandom.hex %>
<div class="atwho-header-res" data-team-id="<%= current_team.id %>" data-at-who-key="<%= SecureRandom.hex %>">
  <div class="nav nav-tabs sci-nav-tabs">
    <a class="tab-button sa-projects" href="#prj-tab-<%= at_who_key %>" role="tab" data-toggle="tab"><%= t('atwho.projects') %></a>
    <a class="tab-button sa-experiments" href="#exp-tab-<%= at_who_key %>" data-toggle="tab"><%= t('atwho.experiments') %></a>
    <a class="tab-button sa-tasks" href="#tsk-tab-<%= at_who_key %>" data-toggle="tab"><%= t('atwho.tasks') %></a>
    <a class="tab-button sa-repositories" href="#rep-tab-<%= at_who_key %>" data-toggle="tab"><%= t('atwho.inventories') %></a>
    <div class="dismiss"><span class="sn-icon sn-icon-close"></span></div>
  </div>
  <div class="tab-content">
    <div class="tab-pane" role="tabpanel" id="prj-tab-<%= at_who_key %>" data-object-type="PROJECT"></div>
    <div class="tab-pane" role="tabpanel" id="exp-tab-<%= at_who_key %>" data-object-type="EXPERIMENT"></div>
    <div class="tab-pane" role="tabpanel" id="tsk-tab-<%= at_who_key %>" data-object-type="TASK"></div>
    <div class="tab-pane rep-tab" role="tabpanel" id="rep-tab-<%= at_who_key %>" data-object-type="REPOSITORY"><% if repositories.length > 1 %>
      <div class="sci-btn-group flex-wrap">
      <% repositories.each do |repository| %>
        <button class="btn btn-light repository-object" data-object-id="<%= repository.id %>">
          <% if repository.shared_with?(current_team) %>
            <i class="sn-icon sn-icon-user-menu-friends"></i>
          <% end %>
          <div class="max-w-[150px] -ml-2.5 text-left truncate">
            <%= repository.name %>
          </div>
        </button>
      <% end %>
      </div>
    <% end %></div>
  </div>
</div>
