<% repository_rows.each do |row| %>
  <li data-name="<%= row[:name] %>" data-id="<%= row[:id] %>" data-type="rep_item">
    [<%= row[:repository_tag] %>] <%= row[:name] %>
  </li>
<% end %>
<% if repository_rows.empty? %>
  <%= render partial: 'shared/smart_annotation/no_results.html.erb' %>
<% end %>
<%= render partial: 'shared/smart_annotation/footer.html.erb' %>
