<div class="atwho-scroll-container">
  <% repository_rows.each do |row| %>
    <li class="item" data-name="<%= row[:name] %>" data-id="<%= row[:id] %>" data-type="rep_item">
      <span class='sa-type'><%= row[:repository_tag] %></span>
      <span class="item-text"><%= row[:name] %></span>
    </li>
  <% end %>
  <% if repository_rows.empty? %>
    <%= render partial: 'shared/smart_annotation/no_results.html.erb' %>
  <% end %>
</div>
<%= render partial: 'shared/smart_annotation/footer.html.erb' %>
