<!DOCTYPE html>
<html>
  <head>
    <%= csp_meta_tag %>
    <meta data-hook="head-js">
    <title><%=t "head.title", title: (yield :head_title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="max-file-size" content="<%= Rails.configuration.x.file_max_size_mb %>">
    <meta name="tiny-mce-assets-url" content="<%= tiny_mce_assets_path %>">
    <% if user_signed_in? %>
      <meta name="expiration-url" content="<%= users_expire_in_path %>">
      <meta name="revive-url" content="<%= users_revive_session_path %>">
      <meta name="user-settings-url" content="<%= users_settings_user_settings_path %>">
    <% end %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap_pack', media: 'all' %>
    <%= stylesheet_link_tag 'application_pack_styles', media: 'all' %>
    <% if ::NewRelic::Agent.instance.started? %>
      <%= ::NewRelic::Agent.browser_timing_header(controller.request.content_security_policy_nonce) %>
    <% end %>
    <%= javascript_include_tag 'jquery_bundle' %>
    <%= javascript_include_tag 'application_pack' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'session_end' %>
    <%= javascript_include_tag 'sidebar_toggle' %>
    <%= stylesheet_link_tag 'application_pack', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>


    <% if MarvinJsService.enabled? && ENV['MARVINJS_API_KEY'] %>
      <%= javascript_include_tag "https://marvinjs.chemicalize.com/v1/#{ ENV['MARVINJS_API_KEY'] }/client-settings.js", nonce: true, async: true %>
      <%= javascript_include_tag 'https://marvinjs.chemicalize.com/v1/client.js', nonce: true, async: true %>
    <% end %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon-57x57.png", type: "image/png", size: "57x57" %>
    <%= favicon_link_tag "favicon-72x72.png", type: "image/png", size: "72x72" %>
    <%= favicon_link_tag "favicon-76x76.png", type: "image/png", size: "76x76" %>
    <%= favicon_link_tag "favicon-114x114.png", type: "image/png", size: "114x114" %>
    <%= favicon_link_tag "favicon-120x120.png", type: "image/png", size: "120x120" %>
    <%= favicon_link_tag "favicon-144x144.png", type: "image/png", size: "144x144" %>
    <%= favicon_link_tag "favicon-152x152.png", type: "image/png", size: "152x152" %>
    <%= favicon_link_tag "favicon-180x180.png", type: "image/png", size: "180x180" %>

    <%= stylesheet_link_tag 'fontawesome' %>

    <%= stylesheet_link_tag 'prism' %>

    <%= csrf_meta_tags %>

    <meta id="preview-directive" name="turbolinks-cache-control" content="no-preview">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>


    <%= javascript_include_tag 'tui_image_editor' %>
    <%= stylesheet_link_tag 'tui_image_editor_styles' %>
    <%= javascript_include_tag 'vue_navigation_navigator' %>
    <%= javascript_include_tag 'vue_navigation_top_menu' %>
    <%= javascript_include_tag 'vue_legacy_datetime_picker' %>

    <style> :root { --navigator-navigation-width: <%= session[:navigator_width] || Constants::DEFAULT_NAV_WIDTH %>px; } </style>
  </head>
  <body
    class="<%= yield :body_class %> <%= 'navigator-collapsed' if !@navigator || session[:navigator_collapsed] %> <%= 'w-[98%]' if params[:controller] == 'label_templates' && params[:action] == 'show'%>"
    <% if user_signed_in? && current_team.present? %>
    data-current-team-id="<%= current_team.id %>"
    data-atwho-users-url="<%= atwho_users_team_path(current_team) %>"
    data-atwho-task-url="<%= atwho_my_modules_team_path(current_team) %>"
    data-atwho-project-url="<%= atwho_projects_team_path(current_team) %>"
    data-atwho-experiment-url="<%= atwho_experiments_team_path(current_team) %>"
    data-atwho-repositories-url="<%= atwho_menu_team_path(current_team) %>"
    data-atwho-rep-items-url="<%= atwho_rep_items_team_path(current_team) %>"
    data-atwho-menu-items="<%= atwho_menu_items_team_path(current_team) %>"
    data-datetime-picker-format="<%= datetime_picker_format_date_only %>"
    data-datetime-picker-format-vue="<%= datetime_picker_format_date_only_vue %>"
    <% end %>
  >

    <span style="display: none;" data-hook="body-js"></span>
    <span style="display: none;" data-hook="application-body-html"></span>

    <div class="sci--layout"
         data-grey-background="<%= show_grey_background? %>"
         data-breadcrumbs-collapsed="<%= !@breadcrumbs_items.present? %>"
         data-navigator-collapsed="<%= !@navigator || session[:navigator_collapsed] %>"
         data-left-navigation-collapsed=<%= !user_signed_in? %>
    >
      <div class="sci--layout-navigation-top" >
        <%= render "shared/navigation/top" %>
      </div>
      <div class="sci--layout-navigation-left">
        <%= render "shared/navigation/left" if user_signed_in? %>
      </div>
      <div class="sci--layout-navigation-navigator overflow-hidden relative" data-e2e="e2e-CO-projects-navigator">
        <%= render "shared/navigation/navigator" %>
      </div>
      <div class="sci--layout-navigation-breadcrumbs">
        <%= render "shared/navigation/breadcrumbs" %>
      </div>
      <div class="sci--layout-content">
        <% if user_signed_in? && current_user.teams.blank? && !(activities_are_selected? || settings_are_selected?) %>
          <!-- If member of no teams -->
          <div id="no-teams-jumbotron" class="jumbotron">
            <%= image_tag "/images/not-part-of-any-team.png" %>
            <h2><%=t 'general.no_teams.title' %></h2>
            <p class="no-teams-info"><%=t 'general.no_teams.text' %></p>
          </div>
        <% else %>
          <%= yield :content %>
        <% end %>
      </div>

      <%= render "shared/comments/comments_sidebar" %>
      <%= render "shared/repository_item_relationships_modal" %>
      <%= render "shared/repository_row_sidebar" %>
    </div>

    <%= render partial: 'shared/flash_alerts',
                 locals: { flash: flash, notice: notice, alert: alert } %>

    <% if user_signed_in? %>
      <%= render "shared/about_modal" %>
      <%= render "shared/file_preview/modal" %>
      <%= render "shared/file_edit_modal" %>
      <%= render "shared/marvinjs_modal" %>
      <%= render "shared/iframe_modal" %>
      <%= render "users/sessions/session_expire_modal" %>
      <%= render "users/sessions/session_end_modal" %>
      <%= render "label_printers/label_printer_modal" %>
      <%= render "shared/export_stock_consumption_modal" %>
      <!-- Manage Stock Modal -->
      <%= render partial: 'shared/manage_stock_value_modal' %>
    <% end %>

    <span style="display: none;" data-hook="application-body-end-html"></span>

    <%= javascript_include_tag 'prism' %>
    <%= javascript_include_tag "vue_components_repository_item_sidebar" %>

  </body>
</html>
