<!DOCTYPE html>
<html>
  <head>
    <meta data-hook="head-js">
    <title><%= t('nav.title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'styles' %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon-16.png", type: "image/png", size: "16x16" %>
    <%= favicon_link_tag "favicon-32.png", type: "image/png", size: "32x32" %>
    <%= favicon_link_tag "favicon-48.png", type: "image/png", size: "48x48" %>
  </head>
  <body>
    <noscript>
      <%= t('body.notice') %>
    </noscript>
    <div id="root"></div>
    <%= yield %>
    
    <script>
      // GLOBALS
      window.IN_REQUEST = false;
    </script>
  </body>
</html>
