<% content_for :content do %>
    <div class="container-fluid" id="wrapper">
      <div id="sidebar-wrapper" class="sidebar-container <%= yield :sidebar_wrapper_class %>">

        <div class="sidebar-header">
          <div class="sidebar-title">
            <%= yield :sidebar_title %>
          </div>
          <i class="fas fa-times close-sidebar"></i>
        </div>
        <div class="fas fa-angle-double-right show-sidebar"></div>
        <div class="sidebar-body">
          <%= yield :sidebar %>
        </div>
        <div class="sidebar-footer">
          <%= yield :sidebar_footer %>
        </div>
      </div>
      <div id="breadcrumbs-wrapper">
        <%= yield :breadcrumbs %>
      </div>
      <%= yield :secondary_navigation %>
      <div class="container-fluid <%= yield :container_class %>" id="fluid-content">
        <%= yield %>
      </div>
    </div>
<% end %>
<%= render template: 'layouts/application' %>
