<% content_for :content do %>
    <div class="container-fluid" id="wrapper">

      <div id="nav-top-sticky" class="nav-top-el">
        <div id="sidebar-wrapper-custom" class="<%= yield :sidebar_wrapper_class %>">
          <%= yield :sidebar %>
        </div>
        <%= yield :secondary_navigation %>
        <div class="container-fluid <%= yield :container_class %>" id="fluid-content">
          <%= yield %>
        </div>
      </div>

    </div>
<% end %>
<%= render template: 'layouts/application' %>
