<!DOCTYPE html>
<html>
  <head>
    <%= csp_meta_tag %>
    <meta data-hook="head-js">
    <title><%=t "head.title", title: (yield :head_title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap_pack', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'jquery_bundle' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'application_pack' %>
    <%= stylesheet_link_tag 'datatables' %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon-57x57.png", type: "image/png", size: "57x57" %>
    <%= favicon_link_tag "favicon-72x72.png", type: "image/png", size: "72x72" %>
    <%= favicon_link_tag "favicon-76x76.png", type: "image/png", size: "76x76" %>
    <%= favicon_link_tag "favicon-114x114.png", type: "image/png", size: "114x114" %>
    <%= favicon_link_tag "favicon-120x120.png", type: "image/png", size: "120x120" %>
    <%= favicon_link_tag "favicon-144x144.png", type: "image/png", size: "144x144" %>
    <%= favicon_link_tag "favicon-152x152.png", type: "image/png", size: "152x152" %>
    <%= favicon_link_tag "favicon-180x180.png", type: "image/png", size: "180x180" %>
    <%= stylesheet_link_tag 'fontawesome' %>

    <%= stylesheet_link_tag 'prism' %>

    <%= csrf_meta_tags %>
  </head>
  <body id="sci-shareable-links" data-datetime-picker-format="YYYY-MM-DD">
    <div class="flex shareable-links">
      <div class="sticky top-0 h-screen px-6 py-6 flex flex-col
                  border-0 border-r border-solid border-sn-sleepy-grey w-[15vw]">
        <%= render "shareable_links/my_modules/left_navigation" %>
      </div>
      <div class="flex flex-col flex-1 min-h-screen p-4 bg-sn-super-light-grey w-[85vw]">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'prism' %>
    <%= javascript_include_tag 'shareable_links/date_formatting' %>
    <%= javascript_include_tag 'shareable_links/handson_table_wraping' %>
  </body>
</html>
