<% # This layout should be used when sign in flow is halted (due to e.g. password expiry, %>
<% # or some similar halt in sign-in chain) %>
<!DOCTYPE html>
<html>
  <head>
    <meta data-hook="head-js">
    <title><%=t "head.title", title: (yield :head_title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style media="all">
      html, body { height: 100%; min-height: 100%; }
    </style>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon-16.png", type: "image/png", size: "16x16" %>
    <%= favicon_link_tag "favicon-32.png", type: "image/png", size: "32x32" %>
    <%= favicon_link_tag "favicon-48.png", type: "image/png", size: "48x48" %>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= yield :body_class %>">
    <nav class="navbar navbar-default navbar-fixed-top navbar-sign-in-halt" id="main-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand" title="<% t('nav.label.scinote') %>">
            <%= image_tag('/images/scinote_icon.svg', id: 'logo') %>
          </span>
        </div>
        <% if user_signed_in? %>
          <div class="pull-right sign-in-halt-logout-button">
            <%= link_to main_app.destroy_user_session_path, class: 'btn btn-default', method: :delete do %>
              <%= t('nav.user.logout') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </nav>

    <%= render partial: 'shared/flash_alerts', locals: { flash: flash, notice: notice, alert: alert } %>

    <div class="container sign-in-halt-container">
      <%= yield %>
    </div>
  </body>
</html>
