<p>Hello <%= @user.name %>!</p>

<p><%= I18n.t("notifications.email_title") %></p>

<p>Type: <%= I18n.t("notifications.types.#{@notification.type_of}") %></p>

<p><%= sanitize_input(prepend_server_url_to_links(@notification.title)) %></p>

<p><%= sanitize_input(prepend_server_url_to_links(@notification.message)) %></p>
