<div class="modal two-factor-modal" id="twoFactorAuthenticationModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <% if current_user.two_factor_auth_enabled? %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="sn-icon sn-icon-close"></i></button>
          <h2 class="modal-title"><%= t("users.registrations.edit.2fa_modal.disable.title") %></h2>
        </div>
        <%= form_with(url: main_app.users_2fa_disable_path, method: "post", class: "2fa-disable-form", html: { data: { remote: true } }) do %>
          <div class="modal-body">
            <p><%= t("users.registrations.edit.2fa_modal.disable.description") %></p>
            <%= label_tag :password, t("users.registrations.edit.2fa_modal.disable.password_label") %>
            <div class="sci-input-container password-field password-input-container">
              <div class="password-icon-wrapper">
                <%= password_field_tag :password, '', class: "sci-input-field" %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= button_tag t("users.registrations.edit.2fa_modal.disable.disable_2fa"), type: 'submit', class: "btn btn-danger" %>
          </div>
        <% end %>
      <% else %>
        <%= render partial: 'users/registrations/2fa_wizard' %>
      <% end %>
    </div>
  </div>
</div>

