<div role="tabpanel" class="tab-pane" id="2fa-step-3">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="sn-icon sn-icon-close"></i></button>
    <h2 class="modal-title"><%= t("users.registrations.edit.2fa_modal.step_3.title") %></h2>
  </div>
  <%= form_with(url: main_app.users_2fa_enable_path, method: "post", class: "2fa-enable-form", html: { data: { remote: true } }) do %>
    <div class="modal-body">
      <p><%= t("users.registrations.edit.2fa_modal.step_3.description") %></p>
      <p class="sci-input-container submit-code-field">
        <%= label_tag :submit_code, t("users.registrations.edit.2fa_modal.step_3.enter_code") %>
        <%= text_field_tag :submit_code, '', class: "sci-input-field", autofocus: true %>
      </p>
    </div>
    <div class="modal-footer">
      <%= button_tag t("users.registrations.edit.2fa_modal.step_3.verify"), class: 'btn btn-primary', type: :submit %>
    </div>
  <% end %>
</div>
